<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>category-data</title>

    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../bower_components/web-component-tester/browser.js"></script>

    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script src="helper/firebaseApp.js"></script>

    <!-- Import the element to test -->
    <link rel="import" href="../src/_data/goodiefy-category-data.html">
  </head>
  <body>

    <test-fixture id="category-data-fixture">
      <template>
        <goodiefy-category-data
          categories="{{categories}}"></goodiefy-category-data>
      </template>
    </test-fixture>

    <script>
      suite('<goodiefy-category-data>', function() {

        var myEl;
        var nodeName = 'homeTeaser';

        setup(function() {
          myEl = fixture('category-data-fixture');
          myEl.set('categoryNodeName', nodeName);
          myEl.set('firebaseApp', firebaseApp);
        });

        test('categories not empty', function(done) {
          var testFunc = function(e) {
            myEl.removeEventListener('categories-changed', testFunc);
            assert.isArray(e.detail.value);
            done();
          }

          myEl.addEventListener('categories-changed', testFunc);
        });

        test('categories not writeable', function(done) {
          firebaseApp.database().ref(nodeName).set({
            xxx: 'XxX'
          }).then(function() {
            assert.isOk(false);
          }).catch(function(error) {
            done();
          });
        });

      });
    </script>
  </body>
</html>
