<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../_data/goodiefy-list-data.html">
<link rel="import" href="goodiefy-list-filter.html">
<link rel="import" href="../_list/list-item.html">

<dom-module id="background-filter">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>


    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{allDataLoaded}}" list-type="requests" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>
      
    <goodiefy-list-filter list-type="backgroundFilter" filter="{{filter}}" filter-node="backgroundFilter" products="[[products]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>

  </template>
  <script>

    Polymer({
      is: 'background-filter',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        app:{
          type: Object
        },

        pageSize: {
          type: Number,
          value: 1000
        },

        page: {
          type: Number,
          value: 0
        },

        minResults:{
          type: Number,
          value: 10
        },

        itemLimit:{
          type: Number,
          computed: 'setItemLimit(page, pageSize)'
        },

        noData: {
          value: false
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        updateTimeout: {
          type: Number,
          value: 1000
        },

        nearbyProducts: {
          type: Array,
          notify: true
        },

        filter: {
          type: Object,
          observer: '_filterChanged'
        }
      },

      listeners: {
        'list-data-filtered': 'updateListData',
        'list-data-loaded': 'updateFilterInput'
      },

      observers: [
        'notifyUser(nearbyProducts, filter, localize)', '_userChanged(app.firebaseUser, app.firebaseApp, app.user.*)'
      ],

      _filterChanged: function(filter){
        if(filter && filter.currentLocation == false){
          this.set('nearbyProducts', []);
        }
      },

      updateListData: function(e){
        var detail = e.detail;
        var data = [];
        if(detail.type == 'backgroundFilter'){
          data = detail.products;
        } else {
          return;
        }
        // check if results are there. if not try to increase the page variable
        if(data.length == 0){
          if(this.allDataLoaded){
            this.set('noData', true);
          } else {
            this.set('noData', false);
            this.set('page', this.page + 1);
          }
        } else {
          this.set('noData', false);
        }
        if(this.filter.currentLocation){
          this.set('nearbyProducts', data);
          if(!this.allDataLoaded && data.length < this.minResults){
            this.set('page', this.page + 1);
          }
        }
      },

      updateFilterInput: function(e){
        var detail = e.detail;
        if(detail.type == 'requests'){
          this.set('products', detail.products);
        }
      },

      setItemLimit: function(page, pageSize){
        return (page + 1) * pageSize;
      },

      notifyUser: function(items, filter, localize){
        if(filter && filter.currentLocation == false){
          return;
        }
        var counter = items.length; 
        this.set('numberOfNearbyItems', counter);
        if(this.notificationTimeout){
          return;
        }
        if(counter){
          var timeout =  this.app.config.nearbyNotificationTimeout * 60000;
          setTimeout(function() {this.set('notificationTimeout', false)}.bind(this), timeout);
          this.set('notificationTimeout', true);
          this.app.pushNotification({
            duration : 3000,
            action: {
              icon: 'goodiefy-icons:chevron-right',
              text: localize('JustForyouNearbyMessage'),
              handler: function(){
                this.set('route.path', 'list/just-for-you');
              }
            }
          });
        }
      },

      _userChanged: function(user, firebaseApp){
        if(user && firebaseApp){
          var uid = user.uid;
          var ref = firebaseApp.database().ref();

          //offers
          ref.child('offers/published').orderByChild('createdBy').equalTo(uid).on('value', function(snapshot){
            var offerItems = [];
            var searchString = "";
            if(snapshot.exists()){
              offerItems = this.convertToArray(snapshot.val());

              //compute search string
              searchString = this.getSearchString(offerItems);
            }

            //include interests
            searchString = this.includeInterests(searchString);

            //set new search string
            this.set('offerSearchString', searchString);

            //set new value
            this.setNewValue('offerSearchStringTimeout', ref, uid, 'offerSearchString');
          }, this);

          //requests
          ref.child('requests/published').orderByChild('createdBy').equalTo(uid).on('value', function(snapshot){
            var requestItems = [];
            var citySearchString = "";
            var searchString = "";

            if(snapshot.exists()){
              requestItems = this.convertToArray(snapshot.val());

              //city search string
              citySearchString = this.getCitySearchString(requestItems, 'salelocation');

              //search string
              searchString = this.getSearchString(requestItems);
            }

            //include interests
            searchString = this.includeInterests(searchString);

            //update search string                      
            this.set('requestOfferSearchString', searchString);
            this.set('requestRouteSearchString', citySearchString);

            //set new value
            this.setNewValue('requestOfferSearchStringTimeout', ref, uid, 'requestOfferSearchString');
            this.setNewValue('requestRouteSearchStringTimeout', ref, uid, 'requestRouteSearchString');

          }, this);

          //routes
          ref.child('routes/published').orderByChild('createdBy').equalTo(uid).on('value', function(snapshot){
            var routeItems = [];
            var citySearchString = "";

            if(snapshot.exists()){
              routeItems = this.convertToArray(snapshot.val());

              //city search string
              citySearchString = this.getCitySearchString(routeItems, 'salelocation');
            }

            //update search string                      
            this.set('routeSearchString', citySearchString);

            //set new value
            this.setNewValue('routeSearchStringTimeout', ref, uid, 'routeSearchString');

          }, this);

        } else {
          this.set('offerItems', {});
          this.set('requestItems', {});
          this.set('routeItems', {});
        }
      },

      convertToArray: function(objectToArray){
        var convertedToArray = Object.keys(objectToArray).map(function(key){
          var help = objectToArray[key];
          help['__key__'] = key;
          return help;
        });
        return convertedToArray;
      },

      includeInterests: function(searchString){
        if(this.app){
          if(this.app.user){
            if(this.app.user.userInfo){
              if(this.app.user.userInfo.interests){
                searchString += this.app.user.userInfo.interests;
              }
            }
          }
        }
        return searchString;
      },

      getSearchString: function(itemArray){
        var searchString = "";
        for (var k =itemArray.length - 1; k >= 0; k--) {
          var data = itemArray[k];
          if(searchString.indexOf(data.title) < 0){
            searchString += data.title + " ";
          }
          if(data.tags){
            for (var i = data.tags.length - 1; i >= 0; i--) {
              if(searchString.indexOf(data.tags[i]) < 0){
                searchString += data.tags[i] + " ";
              }
            }
          }
        }
        return searchString;
      },

      getCitySearchString: function(itemArray, keyName){
        var citySearchString = "";
        for (var k = itemArray.length - 1; k >= 0; k--) {
          var data = itemArray[k];
          if(data[keyName]){
            for (var i = Object.keys(data[keyName]).length - 1; i >= 0; i--) {
              if(citySearchString.indexOf(data[keyName][Object.keys(data[keyName])[i]].city) < 0){
                citySearchString += data[keyName][Object.keys(data[keyName])[i]].city;
                citySearchString += ",";
              }                      
            }
          }
        }
        return citySearchString;
      },

      setNewValue: function(timeoutKey, ref, uid, newValueKey){
        if(!this[timeoutKey]){ 
          this.set(timeoutKey, true);
          setTimeout(function(){
            if(ref && uid){
              ref.child('users').child(uid).child('filters/backgroundFilter/' + newValueKey).set(this[newValueKey]);
            }
            this.set(timeoutKey, false);
          }.bind(this),this.updateTimeout);
        }
      },
    });
  </script>
</dom-module>
