<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">

<dom-module id="filter-bonus">
  <template>
    <style>
        :host {
            padding: 10px 20px;
            display: block;
            background: var(--primary-background-color);
            border-bottom: 1px solid var(--primary-text-color)
        }
        .input-holder{
            text-align: center;
        }
        paper-slider{
            width: 100%;
            --paper-slider-knob-color: white;
            --paper-slider-active-color: var(--secondary-color);
            --paper-slider-height: 4px;
            --paper-slider-knob-start-color: white;
            --paper-slider-pin-color: var(--secondary-color);
        }
    </style>
    <div class="filter-bonus-label">[[localize('FilterBonusLabel')]]</div>
    <div class="filter-price-label">[[localize('FilterPriceRange', 'selectedValue', immediateValue)]]</div>
    <div class="input-holder">
        <paper-slider id="priceSlider" min="0" max="[[maximum]]" immediate-value="{{immediateValue}}" value="{{value}}"></paper-slider>
    </div>

  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-bonus',

            behaviors: [Polymer.AppLocalizeBehavior],

            ready: function() {
            },

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                },

                maximum: {
                    type: Number
                },

                value: {
                    type: Number
                },
            },

            observers: ['computeMaximum(filterType, app.firebaseApp)', 'setFilter(value)', 'loadValue(filter)'],

            ready: function(){
                Polymer.dom(this.$.priceSlider.root).querySelector('#sliderContainer').style.marginLeft = '0px';
                Polymer.dom(this.$.priceSlider.root).querySelector('#sliderContainer').style.marginRight = '0px';
                Polymer.dom(this.$.priceSlider.root).querySelector('#sliderKnobInner').style.border = ' 1px solid gray';
                Polymer.dom(this.$.priceSlider.root).querySelector('#sliderKnobInner').style.margin = '5px';
                Polymer.dom(this.$.priceSlider.root).querySelector('#sliderKnobInner').style.height = 'calc(100% - 10px)';
                Polymer.dom(this.$.priceSlider.root).querySelector('#sliderKnobInner').style.width = 'calc(100% - 10px)';
            },

            loadValue: function(filter){
                if(this.filter && this.filter.bonus >= 0){
                    this.set('value', this.filter.bonus);
                } else {
                    this.set('value', this.maximum);
                }
            },

            setFilter: function(value){
                if(this.maximum){
                    if(value < this.maximum){
                        this.set('filter.bonus', value);
                    } else {
                        if(this.filter && this.filter.bonus >= 0){
                            delete this.filter.bonus;
                        }
                    } 
                }
            },

            computeMaximum: function(filterType, app){
                if(filterType){
                    var maximumRef = app.database().ref();
                    maximumRef.child(filterType + '/published').orderByChild('bonus').limitToLast(1).on('value', function(snapshot){
                        if(snapshot.exists() && snapshot.val()[Object.keys(snapshot.val())[0]]['bonus']){
                            this.set('maximum', Math.ceil(snapshot.val()[Object.keys(snapshot.val())[0]]['bonus']));
                        } else {
                             this.set('maximum', 1);
                        }
                        if(this.filter && this.filter.bonus){
                            this.set('value', this.filter.bonus >= 0);
                        } else {
                            this.set('value', this.maximum);
                        }
                    }.bind(this))
                }
            },
        });
    })();
  </script>
</dom-module>
