<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../helper/app-dropdown-listing.html">

<dom-module id="filter-category">
  <template>
    <style>
        :host {
            padding: 20px;
            padding-top: 0px;
            display: block;
            background: var(--primary-background-color);
            border-bottom: 1px solid var(--primary-text-color);
        }
    </style>
    <app-dropdown-listing icon="goodiefy-icons:expand-more" id="categoryDropDown" placeholder="[[localize('EditCreateCategoriePlaceholder')]]" specific-list="categories" language="{{language}}" resources="[[resources]]" app="{{app}}" selected-index="{{selectedIndex}}" selected="{{filter.category}}"></app-dropdown-listing>

  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-category',

            behaviors: [Polymer.AppLocalizeBehavior],

            ready: function() {
            },

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                app: {
                    type: Object
                },

                filter: {
                    type: Object,
                    notify: true
                },
            }
        });
    })();
  </script>
</dom-module>
