<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../helper/country-select.html">

<dom-module id="filter-location-country">
  <template>
    <style>
        :host {
            padding: 20px;
            padding-top: 0px;
            display: block;
            background: var(--primary-background-color);
            border-bottom: 1px solid var(--primary-text-color);
        }
    </style>
    <country-select app="{{app}}" language="{{language}}" resources="[[resources]]" value="{{filter.country}}"></country-select>

  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-location-country',

            behaviors: [Polymer.AppLocalizeBehavior],

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                }
            }
        });
    })();
  </script>
</dom-module>
