<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">

<dom-module id="filter-order-routes">
  <template>
    <style>
        :host {
            display: block;
            background: var(--primary-background-color);
        }
        .dropdown-content{
            padding: 8px;
        }
        .orderByContainer{
            padding: 20px;
            width: calc(100% - 40px);
            border-bottom: 1px solid var(--primary-text-color);
            border-top: 1px solid var(--primary-text-color);
        }
        paper-dropdown-menu{
            width: 100%;
            --paper-input-container-focus-color: var(--primary-color);
            --paper-dropdown-menu-icon: {
                color: var(--dark-text-color);
            };
            --paper-dropdown-menu-input: {
                --paper-input-container-color: black !important;
            };
            --paper-input-container-label:{
                /*color: gray !important;*/
            };
            
        }
    </style>
    <div class="orderByContainer clearfix">
        <div class="orderByLable">
            [[localize('OrderByLabel')]]
        </div>
        <div class="orderByDropdown">
            <paper-dropdown-menu id="dropDownField" no-label-float label="[[localize('OrderByActiveDate')]]" selected-item="{{orderByObject}}">
                <paper-menu class="dropdown-content" selected="{{selectedOrder}}">
                    <paper-item order="negActiveDate">[[localize('OrderByActiveDate')]]</paper-item>
                    <paper-item order="endDate">[[localize('OrderByEndDate')]]</paper-item>
                    <paper-item order="minDeliveryCosts">[[localize('OrderByMinDelivery')]]</paper-item>
                    <paper-item order="maxDeliveryCosts">[[localize('OrderByMaxDelivery')]]</paper-item>
                </paper-menu>
            </paper-dropdown-menu>
        </div>
    </div>
  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-order-routes',

            behaviors: [Polymer.AppLocalizeBehavior],

            ready: function() {
                this.set('selectedOrder', 0);
            },

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                icon: {
                    type: String,
                    value: 'goodiefy-icons:expand-more',
                    observer: "_onChangeIcon"
                },

                oldOrder: {
                    type: String,
                    notify: true
                }
            },

            observers: [
                'setNewOrder(orderByObject)', 'loadOrder(filter)'
            ],

            loadOrder: function(filter){
                if(filter.orderBy && filter.orderBy != this.oldOrder){
                    this.set('oldOrder', this.filter.orderBy);
                    switch (filter.orderBy){
                        case 'negActiveDate':
                            this.set('selectedOrder', 0);
                            break;
                        case 'startDate':
                            this.set('selectedOrder', 1);
                            break;
                        case 'endDate':
                            this.set('selectedOrder', 2);
                            break;
                        case 'minDeliveryCosts':
                            this.set('selectedOrder', 3);
                            break;
                        case 'maxDeliveryCosts':
                            this.set('selectedOrder', 4);
                            break;
                    }
                } else {
                    // this.set('selectedOrder', 0);
                }
            },

            setNewOrder: function(orderByObject){
                if(orderByObject){
                    this.set('filter.orderBy', orderByObject.attributes.order.nodeValue);
                }
            },

            _onChangeIcon: function(newIcon){
                Polymer.dom(this.$.dropDownField.root).querySelector('iron-icon').set('icon', this.icon);
            }
        });
    })();
  </script>
</dom-module>
