<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="filter-search-field">
  <template>
    <style>
        :host {
            padding: 10px 20px;
            display: block;
            background: var(--primary-background-color);
            --paper-input-container-label-floating: {
                color: black;
            };
            --paper-input{
                --paper-input-container-focus-color: var(--primary-color);
            };
        }
    </style>
    <paper-input value="{{filter.searchInput}}" label="[[localize('FilterSearchFieldLabel')]]" placeholder="[[localize('FilterSearchFieldPlaceholder')]]"></paper-input>

  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-search-field',

            behaviors: [Polymer.AppLocalizeBehavior],


            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                }
            }
        });
    })();
  </script>
</dom-module>
