<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="filter-datatype-selection">
  <template>
    <style>
        :host {
            padding: 10px 20px;
            display: block;
            background: var(--primary-background-color);
            border-bottom: 1px solid var(--primary-text-color);
        }
        paper-checkbox{
            width: 100%;
            --paper-checkbox-checked-color: var(--secondary-color);
            --paper-checkbox-unchecked-color: var(--dark-text-color);
            --paper-checkbox-label-color: var(--dark-text-color);
        }
    </style>
    <div class="filter-datatype-selection-label">[[localize('FilterDataTypeLabel')]]</div>
    <paper-checkbox checked="{{!filter.requests}}">[[localize('FilterCheckboxDataTypeRequestLabel')]]</paper-checkbox>
    <paper-checkbox checked="{{!filter.offers}}">[[localize('FilterCheckboxDataTypeOfferLabel')]]</paper-checkbox>
    <paper-checkbox checked="{{!filter.routes}}">[[localize('FilterCheckboxDataTypeRouteLabel')]]</paper-checkbox>
   
  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-datatype-selection',

            behaviors: [Polymer.AppLocalizeBehavior],

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                },
                request: {
                    type: Object,
                    value: true
                },
                offer: {
                    type: Object,
                    value: true
                },
                route: {
                    type: Object,
                    value: true
                }
            }
        });
    })();
  </script>
</dom-module>
