<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">

<dom-module id="filter-nearby">
  <template>
    <style>
        :host {
            padding: 10px 20px;
            display: block;
            background: var(--primary-background-color);
            border-bottom: 1px solid var(--primary-text-color);
        }
        paper-checkbox{
            width: 100%;
            --paper-checkbox-checked-color: var(--secondary-color);
            --paper-checkbox-unchecked-color: var(--dark-text-color);
            --paper-checkbox-label-color: var(--dark-text-color);
        }
        paper-slider{
            width: 100%;
            --paper-slider-knob-color: white;
            --paper-slider-active-color: var(--secondary-color);
            --paper-slider-height: 4px;
            --paper-slider-knob-start-color: white;
            --paper-slider-pin-color: var(--secondary-color);
        }
    </style>
    <div class="filter-nearby-label">[[localize('FilterNearbyLabel')]]</div>
    <paper-checkbox checked="{{filter.currentLocation}}">[[localize('FilterCheckboxNearbyLabel')]]</paper-checkbox>
    <div>[[localize('FilterNearbyRadius', 'radius', immediateValue)]]</div>
    <paper-slider id="nearbySlider" min="0" max="[[maximum]]" immediate-value="{{immediateValue}}" value="{{filter.currentLocationRadius}}" checked="{{currentLocation}}"></paper-slider>
  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-nearby',

            behaviors: [Polymer.AppLocalizeBehavior],

            ready: function(){
                Polymer.dom(this.$.nearbySlider.root).querySelector('#sliderContainer').style.marginLeft = '0px';
                Polymer.dom(this.$.nearbySlider.root).querySelector('#sliderContainer').style.marginRight = '0px';
                Polymer.dom(this.$.nearbySlider.root).querySelector('#sliderKnobInner').style.border = ' 1px solid gray';
                Polymer.dom(this.$.nearbySlider.root).querySelector('#sliderKnobInner').style.margin = '5px';
                Polymer.dom(this.$.nearbySlider.root).querySelector('#sliderKnobInner').style.height = 'calc(100% - 10px)';
                Polymer.dom(this.$.nearbySlider.root).querySelector('#sliderKnobInner').style.width = 'calc(100% - 10px)';
            },

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                },

                maximum: {
                    type: Number,
                    value: 100
                },
            },

            observers: ['filterChanged(filter)'],

            filterChanged: function(filter){
                if(!filter.currentLocationRadius){
                    this.set('filter.currentLocationRadius', this.maximum);
                }
            }

        });
    })();
  </script>
</dom-module>
