<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="filter-location-city">
  <template>
    <style>
        :host {
            padding: 10px 20px;
            display: block;
            background: var(--primary-background-color);
        }
        paper-input {
            --paper-input-container-focus-color: var(--primary-color);;
        }
    </style>
    <div class="filter-location-city-label">[[localize('FilterLocationCityLabel')]]</div>
    <paper-input value="{{filter.city}}" placeholder="[[localize('FilterLocationCityPlaceholder')]]"></paper-input>

  </template>
  <script>
    (function() {
        'use strict';

        Polymer({
            is: 'filter-location-city',

            behaviors: [Polymer.AppLocalizeBehavior],

            ready: function() {
            },

            properties: {
                language: {
                    type: String
                },

                resources: {
                    type: Object,
                    notify: true
                },

                filter: {
                    type: Object,
                    notify: true
                },
            }
        });
    })();
  </script>
</dom-module>
