<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-filter-data.html">
<link rel="import" href="stop-words-helper.html">

<dom-module id="goodiefy-list-filter">
  <template>
    <goodiefy-filter-data user="[[app.user]]" filter-node="[[filterNode]]" filter="{{loadedFilter}}" app="{{app}}" ></goodiefy-filter-data>

  </template>
  <script>

    Polymer({

      is: 'goodiefy-list-filter',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        listType: {
          type: String
        },

        products: {
          type: Object
        },

        filteredProducts: {
          type: Object,
          notify: true
        },

        filter: {
          type: Object,
          notify: true
        },

        orderBy: {
          type: String,
          notify: true
        },

        defaultOrder: {
          type: String,
          value: 'negActiveDate'
        },

        coords: {
          type: Object
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        doNotLoad: {
          type: Boolean,
          value: false,
        },

        filterCurrentUser: {
          type: Boolean,
          value: false
        }
      },

      observers: ['_filterProducts(listType, products, filter)', 'getGeolocation(filter)', 'setOrder(filter)', 'setFilter(loadedFilter, doNotLoad)'],

      setFilter: function(filter, doNotLoad){
        if(doNotLoad){
          return;
        }
        this.set('filter', filter);
      },

      getGeolocation: function(filter){
        if(filter.currentLocation){
          if (navigator.geolocation) {
            if(this.navigatorIndex){
                navigator.geolocation.clearWatch(this.navigatorIndex);
                this.navigatorIndex = undefined;
            }
            navigator.geolocation.getCurrentPosition(this._positionChanged.bind(this), this._errorHandler.bind(this), {maximumAge: Infinity});
            this.navigatorIndex =  navigator.geolocation.watchPosition(this._positionChanged.bind(this), this._errorHandler.bind(this));
          } else {
            this.set('filter.currentLocation', false);
            if(!this.noMessage){
              this.app.pushNotification({
                  message: this.localize('FilterNearbyGeolocationNotAvailable')
              });
            }
          }
        } else {
          if (navigator.geolocation && this.navigatorIndex) {
            navigator.geolocation.clearWatch(this.navigatorIndex);
            this.navigatorIndex = undefined;
          }
        }
      },

      _positionChanged: function(position) {
        this.set('coords', position.coords);
        this._filterProducts(this.listType, this.products, this.filter);
      },

      _errorHandler: function(error){
        switch(error.code) {
          case error.PERMISSION_DENIED:
            if(!this.noMessage){
              this.app.pushNotification({
                message: this.localize('FilterNearbyGeolocationNoPermission')
              });
            }
            this.set('filter.currentLocation', false);
            break;
          case error.POSITION_UNAVAILABLE:
            if(!this.noMessage){
              this.app.pushNotification({
                message: this.localize('FilterNearbyGeolocationPositionUnavailable')
              });
            }
            break;
          case error.TIMEOUT:
            if(!this.noMessage){
              this.app.pushNotification({
                message: this.localize('FilterNearbyGeolocationTimeout')
              });
            }
            break;
          case error.UNKNOWN_ERROR:
            if(!this.noMessage){
              this.app.pushNotification({
                message: this.localize('FilterNearbyGeolocationUnknownError')
              });
            }
            break;
        }
      },

      setOrder: function(filter){
        if(filter.orderBy){
          this.set('orderBy', filter.orderBy);
        } else {
         this.set('orderBy', this.defaultOrder);
        }
      },


      _filterProducts: function(listType, products, filter) {
        if (!listType || !products) {
          return;
        }

        if(!filter){
          filter = {};
        }
        this.set('filteredProducts', []);


        // Active Filter
        if(products.length > 0 && products[0].itemType == 'routes'){
          var today = new Date();
          var todayTimestamp = today.getTime();
          products = products.filter(function(item){
            if(!(item.endDate > todayTimestamp) && this.app && this.app.firebaseApp && this.app.firebaseUser){
              var cleanUpObject = {};
              cleanUpObject['published/'+ item.__key__] = null;
              cleanUpObject['past/' + item.__key__] = item;
              cleanUpObject['past/' + item.__key__]['lifecycle'] = 'past';
              this.app.firebaseApp.database().ref().child('routes').update(cleanUpObject, function(error){
                //catch error silent
              });
            }
            return item.endDate > todayTimestamp
          }.bind(this));
        }

        // User Filter
        if((listType == 'backgroundFilter' || this.filterCurrentUser) && this.app.firebaseUser){
          products = products.filter(function(item){return item.createdBy != this.app.firebaseUser.uid}.bind(this));
        }

        // No Price Filter
        if(filter.noPrice >= 0){
          products = products.filter(function(item){return !item.price});
        }

        // Price Filter
        if(filter.price >= 0){
          products = products.filter(function(item){return item.price <= filter.price});
        }

        // Bonus Filter
        if(filter.bonus >= 0){
          products = products.filter(function(item){return !item.bonus || item.bonus <= filter.bonus});
        }

        if(this.category){
          filter.category = this.category;
        }
        // Category Filter
        if(filter.category){
          products = products.filter(function(item){return item.category && item.category == filter.category});
        }

        // Delivery Cost Filter
        if(filter.maxDeliveryCosts >= 0){
          products = products.filter(function(item){
            if(item.delivery && item.delivery.shipping){
              return item.delivery.shipping.costs <= filter.maxDeliveryCosts;
            }
            return true;
          });
        }

        // Location - City Filter
        if(filter.city){
          var cities = this.filter.city.toLowerCase().split(',');
          cities = cities.filter(function(city){return city.trim().length > 1});
          products = products.filter(function(item){
            var keep = false;
            var citySearchString = '';
            var locations = {};
            if(item.salelocation) {
              locations = item.salelocation;
            }
            for (var i = Object.keys(locations).length - 1; i >= 0; i--) {
              var locationKey = Object.keys(locations)[i];
              if(locations[locationKey].city){
                citySearchString = citySearchString + locations[locationKey].city.toLowerCase();
              }
              if(locations[locationKey].plz){
                citySearchString = citySearchString + locations[locationKey].plz.toLowerCase();
              }
            }

            for (var i = cities.length - 1; i >= 0; i--) {
              keep = keep || citySearchString.indexOf(cities[i].trim()) >= 0;
            }
            return keep;
          });
        }

        // Location - Country Filter
        if(filter.country){
          products = products.filter(function(item){
            var keep = false;
            var countrySearchString = '';
            var locations = {};
            if(item.salelocation) {
              locations = item.salelocation;
            }
            for (var i = Object.keys(locations).length - 1; i >= 0; i--) {
              var locationKey = Object.keys(locations)[i];
              keep = keep || locations[locationKey].country == filter.country;
            }
            return keep;
          });
        }

        // search input
        if(filter.searchInput){
          var searchParameter = filter.searchInput.toLowerCase().split(' ').filter(function(item){return GMHelpers.StopWords[this.language].indexOf(item) == -1 && item.trim().length > 1}.bind(this));
          products = products.filter(function(item){
            var keep = false;
            var tagSearchString = '';
            if(item.tags){
              for (var i = item.tags.length - 1; i >= 0; i--) {
                tagSearchString = tagSearchString + item.tags[i].toLowerCase() + ' ';
              }
            }
            for (var i = searchParameter.length - 1; i >= 0; i--) {
              keep = keep || (item.title && item.title.toLowerCase().indexOf(searchParameter[i]) >= 0);
              keep = keep || tagSearchString.indexOf(searchParameter[i]) >= 0;
            }
            return keep;
          })
        }

        //Filter nearby
        if(filter.currentLocation && filter.currentLocationRadius){
          if(this.coords){
            // https://github.com/davidwood/node-geopoint/blob/master/geopoint.js
            var DEG2RAD = 0.017453292519943295, // Math.PI / 180 : degrees to radian conversion
            RAD2DEG = 57.29577951308232, //180 / Math.PI : radians to degrees conversion
            EARTH_RADIUS_KM = 6371.01,
            MAX_LAT = 1.5707963267948966 // Math.PI / 2 : 90 degrees
            MIN_LAT = -MAX_LAT, // -90 degrees
            MAX_LON = Math.PI, // 180 degrees
            MIN_LON = -MAX_LON, // -180 degrees
            FULL_CIRCLE_RAD = 6.283185307179586, //Math.PI * 2 : Full cirle (360 degrees) in radians

            lat = this.coords.latitude * DEG2RAD,
            lon = this.coords.longitude * DEG2RAD,
            radius = EARTH_RADIUS_KM,
            radDist = filter.currentLocationRadius / radius,
            minLat = lat - radDist,
            maxLat = lat + radDist;
            var minLon,
            maxLon,
            deltaLon;

            if (minLat > MIN_LAT && maxLat < MAX_LAT) {
              deltaLon = Math.asin(Math.sin(radDist) / Math.cos(lat));
              minLon = lon - deltaLon;
              if (minLon < MIN_LON) {
                minLon += FULL_CIRCLE_RAD;
              }
              maxLon = lon + deltaLon;
              if (maxLon > MAX_LON) {
                maxLon -= FULL_CIRCLE_RAD;
              }
            } else {
              minLat = Math.max(minLat, MIN_LAT);
              maxLat = Math.min(maxLat, MAX_LAT);
              minLon = MIN_LON;
              maxLon = MAX_LON;
            }

            minLat = minLat * RAD2DEG;
            maxLat = maxLat * RAD2DEG;
            minLon = minLon * RAD2DEG;
            maxLon = maxLon * RAD2DEG;
            products = products.filter(function(item){
              var keep = false;
              var countrySearchString = '';
              var locations = {};
              if(item.salelocation) {
                locations = item.salelocation;
              }
              for (var i = Object.keys(locations).length - 1; i >= 0; i--) {
                var locationKey = Object.keys(locations)[i];
                if(locations[locationKey].latitude && locations[locationKey].longitude){
                  keep = keep || (locations[locationKey].latitude > minLat && locations[locationKey].latitude < maxLat && locations[locationKey].longitude > minLon && locations[locationKey].longitude < maxLon);
                }
              }
              return keep;
            });
            this.debounce('list-data-filtered', function() {
              this.fire('list-data-filtered', {type: this.listType, products: products});
            });
          } else {
            products = [];
          }            
        } else {
          this.debounce('list-data-filtered', function() {
            this.fire('list-data-filtered', {type: this.listType, products: products});
          });
        }
        this.set('filteredProducts', products);
      }
    });

  </script>

</dom-module>
