<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-filter-data.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="filter-nearby.html">
<link rel="import" href="filter-datatype-selection.html">

<dom-module id="goodiefy-filter-just-for-you-input">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .actions {
        text-align: center;
        padding:  0 5px;
      }
    </style>
      <goodiefy-filter-data id="filterData" user="[[app.user]]" filter-node="backgroundFilter" filter="{{filter}}" app="{{app}}" ></goodiefy-filter-data>

      <filter-nearby filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-nearby>
      <filter-datatype-selection filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-datatype-selection>
      
      <div class="actions">
        <paper-button class="primary fullwidth" on-tap="applyFilter">
          [[localize('FilterApplyButton')]]
        </paper-button>
        <paper-button class="secondary fullwidth" on-tap="resetFilter">
          [[localize('FilterResetButton')]]
        </paper-button>
      </div>
  </template>
  <script>

    Polymer({
      is: 'goodiefy-filter-just-for-you-input',

      properties: {},

      behaviors: [Polymer.AppLocalizeBehavior],

      applyFilter: function(){
        this.$.filterData.saveFilter();
        this.debounce('toggle-filter-drawer', function() {
          this.fire('toggle-filter-drawer', {});
        });
      },

      resetFilter: function(){
        this.set('filter', {});
        this.applyFilter();
        this.debounce('toggle-filter-drawer', function() {
          this.fire('toggle-filter-drawer', {});
        });
      },

      isRoute: function(type){
        return type === 'routes';
      },
    });
  </script>
</dom-module>
