<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-filter-data.html">
<link rel="import" href="filter-search-field.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="goodiefy-search-filter-input">
  <template>
  <style include="shared-styles">
      :host {
        display: block;
      }

      .actions {
        text-align: center;
        padding:  0 5px;
      }
    </style>

    <goodiefy-filter-data
      id="filterData"
      app="{{app}}"
      user="[[app.user]]"
      filter-node="[[filterNode]]"
      filter="{{filter}}"></goodiefy-filter-data>

    <div class="filter-content-container">
      <filter-search-field filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-search-field>

      <div class="actions">
        <paper-button class="primary fullwidth" on-tap="applyFilter">
          [[localize('FilterApplyButton')]]
        </paper-button>
        <paper-button class="secondary fullwidth" on-tap="resetFilter">
          [[localize('FilterSearchFieldResetButton')]]
        </paper-button>
      </div>
    </div>
  </template>
  <script>

    Polymer({
      is: 'goodiefy-search-filter-input',

      properties: {},

      behaviors: [Polymer.AppLocalizeBehavior],

      applyFilter: function(){
        this.$.filterData.saveFilter();
        this.debounce('toggle-search-drawer', function() {
          this.fire('toggle-search-drawer', {});
        });
      },

      resetFilter: function(){
        this.set('filter', {});
        this.applyFilter();
        this.debounce('toggle-search-drawer', function() {
          this.fire('toggle-search-drawer', {});
        });
      }
    });
  </script>
</dom-module>
