<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-filter-data.html">
<link rel="import" href="filter-order.html">
<link rel="import" href="filter-order-routes.html">
<link rel="import" href="filter-category.html">
<link rel="import" href="filter-no-price.html">
<link rel="import" href="filter-price.html">
<link rel="import" href="filter-bonus.html">
<link rel="import" href="filter-nearby.html">
<link rel="import" href="filter-location-city.html">
<link rel="import" href="filter-location-country.html">
<link rel="import" href="filter-delivery-costs.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="goodiefy-filter-input">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .actions {
        text-align: center;
        padding:  0 5px;
      }
    </style>

    <goodiefy-filter-data id="filterData" user="[[app.user]]" filter-node="[[filterNode]]" filter="{{filter}}" app="{{app}}" ></goodiefy-filter-data>

    <div class="filter-content-container">
      <div hidden$=[[isRoute(filterType)]]>
        <filter-order filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-order>
        <div hidden$="[[category]]">
          <filter-category app="{{app}}" filter-type="{{filterType}}" filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-category>
        </div>
        <filter-no-price filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-no-price>
        <filter-price app="{{app}}" filter-type="{{filterType}}" filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-price>
        <filter-bonus app="{{app}}" filter-type="{{filterType}}" filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-bonus>
        <filter-nearby filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-nearby>
      </div>
      <div hidden$=[[!isRoute(filterType)]]>
        <filter-order-routes filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-order-routes>
      </div>
      <filter-location-city filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-location-city>
      <filter-location-country app="{{app}}" filter="{{filter}}" language="{{language}}" resources="[[resources]]"></filter-location-country>
      <filter-delivery-costs app="{{app}}" filter="{{filter}}" filter-type="{{filterType}}" language="{{language}}" resources="[[resources]]"></filter-delivery-costs>
      
      <div class="actions">
        <paper-button class="primary fullwidth" on-tap="applyFilter">
          [[localize('FilterApplyButton')]]
        </paper-button>
        <paper-button class="secondary fullwidth" on-tap="resetFilter">
          [[localize('FilterResetButton')]]
        </paper-button>
      </div>
    </div>
  </template>
  <script>

    Polymer({
      is: 'goodiefy-filter-input',

      behaviors: [
        Polymer.AppLocalizeBehavior
      ],

      applyFilter: function(){
        this.$.filterData.saveFilter();
        this.debounce('toggle-filter-drawer', function() {
          this.fire('toggle-filter-drawer', {});
        });
      },

      resetFilter: function(){
        this.set('filter', {});
        this.applyFilter();
        this.debounce('toggle-filter-drawer', function() {
          this.fire('toggle-filter-drawer', {});
        });
      },

      isRoute: function(type){
        return type === 'routes';
      },

    });
  </script>
</dom-module>
