<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="goodiefy-search-filter-input.html">


<dom-module id="goodiefy-search-drawer">
  <template>
    <style>
      :host {
        display: block;
        text-align: left;
      }
    </style>

    <app-route
      route="[[route]]"
      pattern="/:category"
      data="{{routeData}}"></app-route>
    <app-route
      route="[[route]]"
      pattern="/category/:filterType/:category"
      data="{{categoryData}}"></app-route>

    <iron-pages
      selected="[[listName]]"
      attr-for-selected="name"
      selected-attribute="visible"
      role="list">
      
      <div name="requests">
        <template is="dom-if" if="[[equal(listName, 'requests')]]">
          <goodiefy-search-filter-input filter-type="requests" filter-node="requests" app="{{app}}" language="{{language}}" resources="[[resources]]" ></goodiefy-search-filter-input>
        </template>
      </div>
      <div name="offers">
        <template is="dom-if" if="[[equal(listName, 'offers')]]">
          <goodiefy-search-filter-input filter-type="offers" filter-node="offers" app="{{app}}" language="{{language}}" resources="[[resources]]"></goodiefy-search-filter-input>
        </template>
      </div>
      <div name="routes">
        <template is="dom-if" if="[[equal(listName, 'routes')]]">
          <goodiefy-search-filter-input filter-type="routes" filter-node="routes" app="{{app}}" language="{{language}}" resources="[[resources]]"></goodiefy-search-filter-input>
        </template>
      </div>

      <div name="category">
        <template is="dom-if" if="[[equal(listName, 'category')]]">
          <goodiefy-search-filter-input filter-type="[[categoryData.filterType]]" filter-node="[[categoryData.filterType]]-[[categoryData.category]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></goodiefy-search-filter-input>
        </template>
      </div>

    </iron-pages>
  </template>
  <script>

    Polymer({
      is: 'goodiefy-search-drawer',

      properties: {
        route: {
          type: Object
        },

        routeData: {
          type: Object
        },

        app:{
          type: Object
        },

        oldCategory: {
          type: String
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        }
      },

      observers: [
        '_categoryChanged(routeData.category)',
      ],

      equal: function(str1, str2){
        return str1 == str2;
      },

      _categoryChanged: function(category) {
        if (category) {
          this.set('listName', category);
        }
      },
    });
  </script>
</dom-module>
