<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="data-privacy-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div class="content-container static-content">
      <h1>Data Privacy</h1>
    </div>

  </template>
  <script>
    Polymer({
      is: 'data-privacy-page',

      properties: {

        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        }

      }
    });
  </script>
</dom-module>
