<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="gm-faq">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div class="content-container static-content">
      <h1>FAQs</h1>
    </div>

  </template>

  <script>

    Polymer({

      is: 'gm-faq',

      properties: {

        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        }

      }
    });

  </script>

</dom-module>
