<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="goodiefy-plus">

  <template>

   <style include="shared-styles">

    :host {
      display: block;
    }

    .header-teaser {
      max-width: 500px;
      margin: 25px auto;
    }

    .description.contact {
      text-align: center;
    }

  </style>

  <div class="content-container static-content">
    <h1 class="title">[[localize("goodiefyPlusTitle")]]</h1>
    <div class="header-description">[[localize("goodiefyPlusSubtitle")]]</div>
      <div class="header-teaser">
        <cloudinary-img
          cloud-name="[[app.config.cloudinary.cloudName]]"
          path="v1480249873/goodiefy-plus/goodiefy-plus.png"
          sizes="(min-width: 500px) 50vw, 100vw"
          transformation-params="w_auto:100:500,dpr_auto"
          alt="Goodiefy+"></cloudinary-img>
      </div>
      <h2 class="descriptionTitle">[[localize("goodiefyPlusDescriptionTitle")]]</h2>
      <div class="description">[[localize("goodiefyPlusDescriptionText1")]]</div>
      <div class="description">[[localize("goodiefyPlusDescriptionText2")]]</div>
      <h2 class="contactTitle">[[localize("goodiefyPlusContactTitle")]]</h2>
      <div class="description contact">
        [[localize("goodiefyPlusContactText")]]<br />
        <a href="mailto:[[app.config.goodiefyPlusContactEmail]]?Subject=Goodiefy+%20Request">
          <paper-button class="primary">[[app.config.goodiefyPlusContactEmail]]</paper-button>
        </a>
      </div>
  </div>


</template>

<script>

  Polymer({

    is: 'goodiefy-plus',

    behaviors: [
      Polymer.AppLocalizeBehavior
    ],

    properties: {

      app: {
        type: Object,
        notify: true
      },

      language: {
        type: String,
        notify: true
      }

    }

  });

</script>

</dom-module>
