<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../_data/goodiefy-tutorial-data.html">
<link rel="import" href="../_list/category-tile.html">

<dom-module id="gm-tutorial">
  <template>

    <style include="shared-styles">

      :host {
        display: block;
        color: var(--app-secondary-text-color);
      }

    </style>

    <goodiefy-tutorial-data
      firebase-app="[[app.firebaseApp]]"
      tutorial-node-name="content/tutorial"
      tutorials="{{tutorials}}"></goodiefy-tutorial-data>

    <section class="content-container static-content">
      <h1 class="title">[[localize("tutorialTitle")]]</h1>
      <div class="subtitle">[[localize("tutorialSubtitle")]]</div>
      <div class="header-description">[[localize("tutorialDescription")]]</div>
      <div class="clearfix">
        <template is="dom-repeat" items="[[tutorials]]" initial-count="4">
          <category-tile category="[[item]]">
            <h2 class="title">[[localize(item.title)]]</h2>
            <div class="description">[[localize(item.text)]]</div>
          </category-tile>
        </template>
      </div>
      <div class="sign-up-button">
        <template is="dom-if" if="[[!app.firebaseUser]]">
          <a href="/account/settings">
            <paper-button class="primary">[[localize("tutorialSignUp")]]</paper-button>
          </a>
        </template>
        <template is="dom-if" if="[[app.firebaseUser]]">
          <a href="/create">
            <paper-button class="primary">[[localize("tutorialCreate")]]</paper-button>
          </a>
        </template>
      </div>
  </section>

  </template>

  <script>

      Polymer({
        is: 'gm-tutorial',

        behaviors: [Polymer.AppLocalizeBehavior],


        properties: {
          app: {
            type: Object,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          tutorials: {
            type: Array,
            value: []
          },

        },

        lastItem: function(text){
          if(text == "tutorialStep4Text")
            return true;
          else
            return false;
        }
      });
  </script>

</dom-module>
