<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../helper/country-select.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="account-styles.html">
<link rel="import" href="../shared-styles.html">


<dom-module id="user-addresses">
  <template>
    <style include="account-styles shared-styles">

    .addresses-content{
      position: relative;
      padding: 16px;
    }
  
    </style>

    <div class="user-data">
      <paper-icon-button id="addAddressDialogButton" class="top-right" on-tap="_openDialog_add" icon="goodiefy-icons:add"></paper-icon-button>
      <div class="subheader">[[localize('AccountAddressAdministration')]]</div>

      <template is="dom-repeat" items="{{userDataAddresses}}">

        <template is="dom-if" if="{{computeMore(userDataAddresses, index)}}">
          <div class="sub-header-addresses">[[localize('AccountMoreAddresses')]]</div>
        </template>
          <div class="addresses-content">
            <paper-icon-button class="top-right" class="top-right" on-tap="_openDialog_edit" icon="goodiefy-icons:create"></paper-icon-button>
            <div class="account-information-label">[[localize('AccountStreetLabel')]]</div>
            <div class="account-information">[[item.street]]</div>
            <div class="account-information-label">[[localize('AccountCityLabel')]]</div>
            <div class="account-information">[[item.city]]</div>
            <div class="account-information-label">[[localize('AccountLandLabel')]]</div>
            <div class="account-information">[[localize('country', 'country', item.land)]]</div>
          </div>
      </template>

      <paper-dialog id="dialog_edit">
          <paper-toolbar>
            <div class="title">[[localize('AccountChangeAddressHeader')]]</div>
            <paper-icon-button class="close" dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
          </paper-toolbar>

          <paper-dialog-scrollable>
            <paper-input label="[[localize('AccountStreetLabel')]]" value="{{editItem.street}}"></paper-input>
            <paper-input label="[[localize('AccountCityLabel')]]" value="{{editItem.city}}"></paper-input>
            <country-select app="{{app}}" language="{{language}}" resources="[[resources]]" value="{{editItem.land}}"></country-select>
            <paper-button class="primary" on-tap="changeAddress" dialog-confirm>[[localize('AccountChangeAddressButton')]]</paper-button>
            <paper-button class="secondary" on-tap="deleteAddress" dialog-confirm>[[localize('AccountDeleteAddress')]]</paper-button>
            <paper-button hidden="{{editItem.standard}}" class="secondary" on-tap="setStandard" dialog-confirm>[[localize('AccountSetStandardAddress')]]</paper-button>
          </paper-dialog-scrollable>
        </paper-dialog>

      <paper-dialog id="dialog_add">
          <paper-toolbar>
            <div class="title">[[localize('AccountNewAddressHeader')]]</div>
            <paper-icon-button class="close" dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
          </paper-toolbar>
          <paper-dialog-scrollable>
            <paper-input id="newStreet" label="[[localize('AccountStreetLabel')]]" value="{{newAddressStreet}}"></paper-input>
            <paper-input id="newCity" label="[[localize('AccountCityLabel')]]" value="{{newAddressCity}}"></paper-input>
            <country-select app="{{app}}" language="{{language}}" resources="[[resources]]" id="newLand" value="{{newAddressLand}}"></country-select>
          </paper-dialog-scrollable>
          <div class="buttons">
            <paper-button class="primary" id="addAddressButton" on-tap="addAddress" dialog-confirm>[[localize('AccountAddAddressButton')]]</paper-button>
          </div>
        </div>
      </paper-dialog>

      
  </div>
  </template>

  <script>
    /*global Firebase */
    (function() {
      'use strict';

      Polymer({
        is: 'user-addresses',

        behaviors: [Polymer.AppLocalizeBehavior],

        properties: {

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          userDataAddresses: {
            type: Object, 
            value: null,
            notify: true
          },

          addresses: {
            type: Object,
            computed: '_setAddresses(app.user)'
          },

          newAddressStreet: {
            type: String, value: ''
          },

          newAddressCity: {
            type: String, value: ''
          },

          newAddressLand: {
            type: String, value: ''
          },

          addressCounter: {
            type: Number, value: 1
          }
        },

        observers: ['_onFirebaseValue(addresses)'],

        _openDialog_add: function(){
          this.$.dialog_add.open();
        },

        _openDialog_edit: function(e){
          this.set('editItem', JSON.parse(JSON.stringify(e.model.__data__.item)));
          this.$.dialog_edit.open();
        },

        _setAddresses: function(user){
          if(user){
            if(user.addresses){
              return user.addresses;
            }
          }
        },

        computeMore: function(array, index) {
          if(array) {
            return index==1 && (array.length >= 2);
          } else {
            return false;
          }
        },

        _onFirebaseValue: function(addresses) {
          this.addressCounter = 1;
          if(addresses) {
              var standard = addresses.standard;
              var noStandard = standard;
              if (addresses.collection) {
                var arr = Object.keys(addresses.collection).map(function (key) {
                  var help = addresses.collection[key];
                  help['key'] = key;
                  if (!standard) {
                    standard = help['key'];
                  }
                  if(key === standard){
                    help['standard'] = true;
                  } else {
                    help['standard'] = false;
                  }
                  return help
                });
                if(!noStandard && standard){
                  this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('addresses').child('standard').set(standard);
                }

                arr  = arr.sort(function(a,b){
                  if(b.standard) {
                    return 1;
                  }
                  return -1;
                });
                this.set('userDataAddresses', null);
                this.set('userDataAddresses', arr);
              } else {
                this.set('userDataAddresses', null);
              }
          } else {
            this.set('userDataAddresses', null);
          }
        },

        setStandard: function(event) {
          var Datakey = this.editItem.key;
          this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('addresses').child('standard').set(Datakey);
        },


        deleteAddress: function(event) {
          var key = this.editItem.key;
          var updateObject = {};
          if(this.editItem.standard) {
            var newKey = ''; 
            for (var i = this.userDataAddresses.length - 1; i >= 0; i--) {
              if (this.userDataAddresses[i].key != key) {
                newKey = this.userDataAddresses[i].key;
                updateObject['standard'] = newKey;
              }
            }
            if (newKey === ''){
              updateObject['standard'] = null;
            }
          }
          var help = this.addresses.collection;
          delete help[key];
          updateObject['collection'] = help;
          this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('addresses').update(updateObject);
          if(Object.keys(help).length == 0){
            this.set('userDataAddresses', null);
          }
        },

        changeAddress: function(event) {
          var Datakey = this.editItem.key;
          var ref = this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('addresses').child('collection').child(Datakey);

          if(this.editItem.street) {
            ref.child('street').set(this.editItem.street);
          }
          if (this.editItem.city) {
            ref.child('city').set(this.editItem.city);
          }
          if (this.editItem.land) {
            ref.child('land').set(this.editItem.land);
          }
        },

        addAddress: function() {
          var newAddress = {
            street: this.newAddressStreet ? this.newAddressStreet : '',
            city: this.newAddressCity ? this.newAddressCity :  '',
            land: this.newAddressLand ? this.newAddressLand : ''
          };
          this.newAddressStreet = '';
          this.newAddressCity = '';
          this.set('newAddressLand', '');
          this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('addresses').child('collection').push(newAddress);
        }

      });
    })();
    </script>
</dom-module>