<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="account-styles.html">
<link rel="import" href="../shared-styles.html">


<dom-module id="user-change-settings">
  <template>
    <style include="account-styles shared-styles">
      .changeContainer{
        position: relative;
      }
    </style>

    <div class="user-data">
      <div class="changeContainer">
        <paper-icon-button class="top-right" on-tap="_openDialog_email" icon="goodiefy-icons:create"></paper-icon-button>
        <div class="account-information-label">[[localize('AccountEmail')]]</div>
        <div class="account-information">[[app.firebaseUser.email]]</div>

        <paper-dialog id="dialog_email">
          <paper-toolbar>
            <div class="title">[[localize('AccountChangeEmail')]]</div>
            <paper-icon-button class="close" dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
          </paper-toolbar>
          <gold-email-input auto-validate invalid="{{invalidEmail}}" label="[[localize('AccountNewEmail')]]" value="{{email}}"></gold-email-input>
          <div class="buttons">
            <paper-button disabled$="{{computeChangeEmailDisabled(email, invalidEmail)}}" class="primary" on-tap="changeEmail" dialog-confirm>[[localize('AccountChangeEmail')]]</paper-button>
          </div>
        </paper-dialog>
      </div>
      <div class="changeContainer">
        <paper-icon-button class="top-right" on-tap="_openDialog_password" icon="goodiefy-icons:create"></paper-icon-button>
        <div class="account-information-label">[[localize('AccountPassword')]]</div>
        <div class="account-information"><paper-input no-label-float type="password" disabled value="password"></paper-input></div>

        <paper-dialog id="dialog_password">
          <paper-toolbar>
            <div class="title">[[localize('AccountChangePassword')]]</div>
            <paper-icon-button class="close" dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
          </paper-toolbar>
          <paper-input type="password" label="[[localize('AccountNewPassword')]]" value="{{newPassword}}"></paper-input>
          <div class="buttons">
            <paper-button class="primary" disabled$="{{computeChangePasswordDisabled(newPassword)}}" on-tap="changePassword" dialog-confirm>[[localize('AccountChangePassword')]]</paper-button>
          </div>
        </paper-dialog>
      </div>
      <!-- bleibt das so? -->
      <!-- <a data-route="deleteAccount" href="/account/delete">[[localize('AccountDeleteButton')]]</a> -->
      <a href="/account/delete">[[localize('AccountDeleteButton')]]</a>
    </div> 

  </template>

  <script> 

    (function() {
      'use strict';

      Polymer({
        is: 'user-change-settings',

        properties: {
          provider: {
            type: String, 
            value: 'password'
          },

          app:{
            type: Object,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          message: {
            type: String,
            value: ''
          },

          email: {
            type: String, 
            notify: true
          },

          newPassword: {
            type: String, value: ''
          },

        },

        behaviors: [Polymer.AppLocalizeBehavior],

        observers: ['_drawerStatusChanged(drawerPassword)'],

        _openDialog_email: function(){
          this.$.dialog_email.open();
        },

        _openDialog_password: function(){
          this.$.dialog_password.open();
        },

        changeEmail: function() {
          firebase.auth().currentUser.updateEmail(this.email).then(
            function(){
              this.app.pushNotification({
                message: this.localize('AccountEmailChangeSuccessMessage')
              });
            }.bind(this), function(err) {
              this.app.pushNotification({
                message: this.localize(err.code.replace(/\//g, '-'))
              });
            }.bind(this));
        },

        computeChangeEmailDisabled: function(email, invalidEmail) {
          return !email || invalidEmail;
        },

        changePassword: function() {
          firebase.auth().currentUser.updatePassword(this.newPassword).then(
            function(){
              this.app.pushNotification({
                message: this.localize('AccountPasswordChangeSuccessMessage')
              });
            }.bind(this), function(err) {
              this.app.pushNotification({
                message: this.localize(err.code.replace(/\//g, '-'))
              });
            }.bind(this));
        },

        computeChangePasswordDisabled: function(newPassword) {
          return !newPassword || newPassword.length < 6;
        },

      });
    })();
  </script>
</dom-module>