<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="actions-behavior.html">
<link rel="import" href="../_behaviors/computing.html">

<link rel="import" href="_const.html">

<link rel="import" href="action-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="match-delivered-goods">

  <template>

    <style include="shared-styles action-styles">

      :host {
        display: block;

        @apply(--action-theme);
      }

      :host([icon]) {
        display: inline-block;

        @apply(--action-theme-icon);
      }

    </style>

    <div class="my-goodiefy action" hidden$="[[disabled]]">
      <paper-button id="deliveredGoodsAction" class="secondary" disabled$="[[disabled]]" on-tap="_action">
        <div class="button-content">
          <div class="button-icon-content" hidden$="[[!icon]]">
            <iron-icon icon="[[icon]]"></iron-icon>
          </div>
          <span hidden$="[[!waitForResponse]]"><paper-spinner active="[[waitForResponse]]"></paper-spinner></span>
          <span hidden$="[[waitForResponse]]">[[localize(buttonTitleKey)]]</span>
        </div>
      </paper-button>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'match-delivered-goods',

        ready: function() {

          this.set('buttonTitleKey', 'MatchArticleGottenButton');
          this.set('successMessageKey', 'MatchChangeStatusSuccessMessage');
          this.set('errorMessageKey', 'MatchSaveErrorMessage');

        },

        behaviors: [
          Polymer.AppLocalizeBehavior,
          GMBehaviors.Actions,
          GMBehaviors.Computing
        ],

        properties: {

          secondCall: {
            type: Boolean,
            value: false
          },

          waitForResponse: {
            type: Boolean,
            value: false
          }
        },

        _myCanRunAction: function(item) {
          return READY_FOR_DELIVERY_STATE === item.matchStatus;
        },

        updateStatus: function(){
          var updateObject = {};
          updateObject['matchItem/' + this.item.__key__ + '/matchStatus'] = COMPLETED_STATE;
          updateObject['matchItem/' + this.item.__key__ + '/completedTimestamp'] = firebase.database.ServerValue.TIMESTAMP;
          updateObject['matches/' + this.item.__key__ + '/matchStatus'] = COMPLETED_STATE;
          updateObject['matches/' + this.item.__key__ + '/completedTimestamp'] = firebase.database.ServerValue.TIMESTAMP;

          this.set('title', this.item.title);
          if(this.item.bringer != this.app.firebaseUser.uid){
            this.set('receiver', this.item.bringer);
          }else{
            this.set('receiver', this.item.searcher);
          }
          var key = this.item.__key__;

          this.ref.child(this.item.type + '/matched/' + key).once('value', function(snapshot){
            var matchedItem = snapshot.val();
            updateObject[this.item.type + '/matched/' + key] = null;
            updateObject[this.item.type + '/completed/' + key] = matchedItem;
            updateObject[this.item.type + '/completed/' + key]['lifecycle'] = 'completed';

            this.ref.update(updateObject, function(error){
              this.set('waitForResponse', false);
              if(error){
                this.app.pushNotification({
                  message: this.localize('MatchSaveError')
                });
              }else{
                if(this.receiver != this.app.firebaseUser.uid){
                  this.app.sendMessage('matchCOMPLETE', 'no message', this.title, this.app.user.userData.name, this.receiver, key, '/account/for-you/'+ key);
                }
              }
            }.bind(this))
          }, this);
        },

        _action: function(key) {
          var childRef;

          if (!this.ref) {
            return;
          }
          this.updateStatus();

          this.set('waitForResponse', true);

          return 0;
        }
      });
})();
</script>

<dom-module>
