<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="listing-match-behavior.html">
<link rel="import" href="../_filter/filter-behavior.html">

<link rel="import" href="_match.html">
<link rel="import" href="_delivered-goods-action.html">
<link rel="import" href="_receipted-goods-action.html">
<link rel="import" href="_match-cancellation-action.html">
<link rel="import" href="_review-action.html">

<link rel="import" href="../helper/convert-data.html">

<link rel="import" href="action-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="listing-for-me">
  <template>

    <style include="shared-styles action-styles">

      :host {
        display: block;
      }

      single-match, .actions{
        max-width: 600px;
        margin: 0 auto;
      }

      @media (min-width: 1024px) {

        .my-goodiefy {
          width: 30%;
          margin: 0 auto;
        }
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/for-me/:itemKey"
      data="{{routeData}}"></app-route>

    <paper-tabs id="stateFilter" attr-for-selected="activeState" selected="{{activeState}}" no-bar noink>
      <paper-tab activeState$="[[deliveryState.0]]">
        <div class="title">
          [[localize('accepted')]]<br>
          <span class="counter">[[cntAcceptedMatches]]</span>
        </div>
      </paper-tab>
      <paper-tab activeState$="[[deliveryState.1]]">
        <div class="title">
          [[localize('paid')]]<br>
          <span class="counter">[[cntPaidMatches]]</span>
        </div>
      </paper-tab>
      <paper-tab activeState$="[[deliveryState.2]]">
        <div class="title">
          [[localize('bought')]]<br>
          <span class="counter">[[cntReadyForDeliveryMatches]]</span>
        </div>
      </paper-tab>
      <paper-tab activeState$="[[deliveryState.3]]">
        <div class="title">
          [[localize('gotArticel')]]<br>
          <span class="counter">[[cntCompletedMatches]]</span>
        </div>
      </paper-tab>
    </paper-tabs>

    <!-- dom-repeat = foreach(item) mit item = matches -->
    <template is="dom-repeat" items="{{matches}}">
      <single-match app="{{app}}" language="{{language}}" resources="[[resources]]" match-item="{{item}}"></single-match>
      <div class="actions">

        <div class="my-goodiefy action" hidden$="[[!_showPaymentOption(item.matchStatus)]]">
          <a href="/detail/pay/[[item.__key__]]" tabindex=="-1">
            <paper-button class="secondary">[[localize('PayPrimaryButton')]]</paper-button>
          </a>
        </div>

        <!-- Button "Artikel erhalten" -->
        <match-delivered-goods id="deliveredGoodsAction[[item.__key__]]" app="{{app}}" language="{{language}}" resources="[[resources]]" item="{{item}}"></match-delivered-goods>

         <!-- Button "Bewertung abgeben" -->
        <match-review id="reviewAction[[item.__key__]]" app="{{app}}" language="{{language}}" resources="[[resources]]" item="{{item}}"></match-review>

        <div class="seconday-actions">

          <!--- Stornobutton -->
          <match-cancellation id="cancellationAction[[item.__key__]]" app="{{app}}" language="{{language}}" resources="[[resources]]" item="{{item}}" icon="goodiefy-icons:cancel"></match-cancellation>

        </div>
      </div>
    </template>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'listing-for-me',

        behaviors: [
          Polymer.AppLocalizeBehavior,
          GMBehaviors.ItemFilter,
          GMBehaviors.ListingMatch
        ],

        properties: {

          path: {
            type: String,
            readOnly: true,
            value: 'matches'
          },

          filterBy: {
            type: String,
            readOnly: true,
            value: 'searcher'
          }

        },

        _showPaymentOption: function(status) {
          return ACCEPTED_STATE === status;
        }

      });
    })();
  </script>

</dom-module>
