<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../_data/goodiefy-category-data.html">
<link rel="import" href="account-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="user-interest-info">
  <template>
    <style include="account-styles shared-styles">

      .account-information{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      paper-icon-button.top-right{
        top: 20px;
      }
      paper-icon-button.remove{
        padding: 3px;
        height: 30px;
        width: 30px;
      }
      paper-textarea{
        margin-bottom: 10px;
        float: none;
      }
      .drawer-content{
        max-height: calc(100% - 80px);
        overflow: scroll;
      }
      .category-list{
        color: lightgray;
        font-size: 14px;
        padding-right: 15px;
        display: inline;
        overflow: auto;
      }
      .clear { clear: both; }
      .categories-dropdown {
        width: 100%;
        --paper-input-container-input: {
          display: none;
        };

        --paper-input-container-content: {
          display: none;
        };

      }
      paper-menu {
        --paper-menu-selected-item:{
          font-weight: normal;
        };
      }
    </style>

    <goodiefy-category-data firebase-app="[[app.firebaseApp]]" categories="{{categories}}"></goodiefy-category-data>

    <div class="user-data">
      <div class="sub-header">[[localize('AccountInterestsHeader')]]</div>
      <div class="card-content">
        <paper-icon-button class="top-right" on-tap="_openDialog" icon="goodiefy-icons:create"></paper-icon-button>
        <div class="account-information-label">[[localize('AccountDescriptionLabel')]]</div>
        <div class="account-information">[[app.user.userInfo.description]]</div>
        <div class="account-information-label">[[localize('AccountCategoriesLabel')]]</div>
        <div class="account-information">[[ _displayCategories(app.user.userInfo.categories)]]</div>
        <div class="account-information-label">[[localize('AccountInterestsLabel')]]</div>
        <div class="account-information">[[app.user.userInfo.interests]]</div>
      </div>

      <paper-dialog id="dialog">
        <paper-toolbar>
          <div class="title">[[localize('AccountInterestsHeader')]]</div>
          <paper-icon-button class="close" dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
        </paper-toolbar>   
        <paper-dialog-scrollable>
          <paper-textarea maxlength="500" max-rows="5" char-counter label="[[localize('AccountDescriptionLabel')]]" value="{{newDescription}}"></paper-textarea>
          <paper-dropdown-menu id="dropDownField" class="categories-dropdown" label="[[localize('AccountCategoriesLabel')]]" opened="{{filterValue}}" always-float-label="true">
           <div class="dropdown-content">
            <paper-menu id="paperMenu"> 
              <template is="dom-repeat" items="{{categoriesArray}}" flex filter="{{filter(filterValue, addedCategories, localize)}}">
                <paper-item id="categoryItem" on-tap="addCategory" data="{{item}}">[[localize('categories', 'item', item)]]</paper-item>
              </template>
            </paper-menu>
          </div>
        </paper-dropdown-menu>
        <div class="clear"></div>
        <template is="dom-repeat" items="{{addedCategories}}">
          <div class="category-list" data="{{item}}">[[localize('categories', 'item', item)]]
            <paper-icon-button class="remove" on-tap="removeCategory" icon="goodiefy-icons:close"></paper-icon-button>
          </div>
        </template>
        <div class="clear"></div>
        <paper-textarea maxlength="200" max-rows="3" char-counter label="[[localize('AccountInterestsLabel')]]" value="{{newInterests}}"></paper-textarea>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button class="primary" on-tap="save" dialog-confirm>[[localize('AccountSaveButton')]]</paper-button>
      </div>
    </paper-dialog>
  </div>
</div>
</template>

<script>
  /*global Firebase */
  (function() {
    'use strict';
    Polymer({
      is: 'user-interest-info',
      behaviors: [Polymer.AppLocalizeBehavior],

      observers: ['changeUserInfo(app.user, localize)', '_setCategories(categories)'],

      properties: {
        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        newDescription: {
          type: String
        },

        newCategories: {
          type: String
        },

        newInterests: {
          type: String
        },

        categories: {
          type: Object
        },

        categoriesArray: {
          type: Array
        },

        addedCategories: {
          type: Array,
          value: []
        }
      },

      save: function(){
        var update = {};
        update["userInfo/description"]=this.newDescription;
        update["userInfo/categories"]=this.addedCategories;
        update["userInfo/interests"]=this.newInterests;
        this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).update(update);
      },

      _setCategories: function(categories){
        if(categories){
          var arr = Object.keys(categories).map(function (key) {
            return key;
          });
          var result = new Array();
          for (var i = arr.length - 1; i >= 0; i--) {
            result.push(arr[i]);
          };
          this.set('categoriesArray', result);
        } else {
          this.set('categoriesArray', '');
        }
      },

      _displayCategories: function(categories){
        if(categories){
          var arr="";
          for (var i = 0; i < categories.length; i++) {
            if(i!=0){
              arr+=", ";
            }
            arr+= categories[i];
          }
          return arr;
        }
      },

      _openDialog: function(){
        this.changeUserInfo(this.app.user, this.localize);
        this.$.dialog.open();
      },

      changeUserInfo: function(newInfo, localize){
        if(!localize){
          return;
        }
        if(newInfo){
          if(newInfo.userInfo){
            this.set("newDescription", newInfo.userInfo.description);
            if(newInfo.userInfo.categories){
              this.set("addedCategories", newInfo.userInfo.categories.slice());
            }else{
              this.set("addedCategories",[]);
            }
            this.set("newInterests", newInfo.userInfo.interests);
            var arr="";
            for (var i = 0; i < this.addedCategories.length; i++) {
              if(i!=0){
                arr+=", ";
              }
              arr+=localize('categories', 'item', this.addedCategories[i]);  
            }
            this.set("newCategories", "");
            this.set("newCategories", arr);
          } else {
            this.set("addedCategories",[]);
            this.set("newCategories", "");
            this.set("newInterests", "");
            this.set("newDescription", "");
          }
        }
      },

      addCategory: function(e){
        var selectedItem = e.model.__data__.item;
        this.push("addedCategories", selectedItem);
        this.set("filterValue", null);
      },

      removeCategory: function(e){
        var selectedItem = e.model.__data__.item;
        var index = this.addedCategories.indexOf(selectedItem);
        this.set("addedCategories", this.addedCategories.slice(0,index).concat(this.addedCategories.slice(index+1)));
      },

      filter: function (val) {
        return function (key) {
          if (!key || this.addedCategories.indexOf(key)>=0) return false;
          var lan = this.localize('categories', 'item', key);
          return lan;
        }.bind(this);
      }
    });
  })();
</script>
</dom-module>