<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">

<link rel="import" href="../shared-styles.html">

<link rel="import" href="../helper/app-slider.html">
<link rel="import" href="../_behaviors/localization-helper.html">
<link rel="import" href="../helper/user-chat.html">
<link rel="import" href="_const.html">

<dom-module id="single-match">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
      }

      ul {
        margin: 0;
      }

      .slider-item {
        border-left: 1px solid white;
        border-right: 1px solid white;
        margin-right: -1px;
        margin-left: -1px;
        text-align: center;
        float: left;
        overflow: hidden;
        background: #fff;
      }

      .item-content h1 {
        font-weight: normal;
        font-size: 20px;
        padding: 0;
        margin: 0;
        padding-right: 25px;
      }

      .item-content h2 {
        font-weight: normal;
        font-size: 22px;
        margin-bottom: 0;
      }

      .item-content strong {
        font-weight: normal;
      }

      .item-content .main-infos strong {
        text-transform: uppercase;
      }

      .item-content .item-details strong {
        font-size: 18px;
      }

      .item-content .main-infos {
        position: relative;
      }

      .item-content .main-infos .toggle-info-icon {
        position: absolute;
        top: 0;
        right: 0;
      }

      .item-content .item-details {
        font-size: 12px;
      }

      .item-content .item-details .order-date {
        font-size: 16px;
      }

      .item-content .item-details .order-date {
        margin-bottom: 1em;
      }

      .item-content .item-details > section > div {
        margin-bottom: 5px;
      }

      .match-chat {
        --user-chat-header: {
          display: none;
        };
      }
      .clearfix:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0px;
      }
      .two-columns > div:nth-child(odd){
        float: left;
        width: 40%;
      }
      .two-columns > div:nth-child(even){
        float: right;
        width: 40%;
      }
      .location-item{
        min-height: 64px;
      }
      .bold{
        font-weight: bold;
      }

      .status-icon{
        background: white;
        margin-top: -22px;
        float: right;
        border-radius: 100px;
        padding: 3px;
        border: 1px solid black;
        margin-right: 10px;
      }

    </style>

    <div class="item">
      <app-slider>
        <template is="dom-repeat" items="[[matchImages]]">
          <cloudinary-img class="slider-item" enable-fallback-img fallback-img="[[app.config.cloudinary.fallbackImg]]" cloud-name="[[app.config.cloudinary.cloudName]]" path="[[getImagePath(item)]]" transformation-params="[[computeTransformationParams(item)]]" sizes="(min-width: 1024px) 50vw, 100vw" alt=""></cloudinary-img>
        </template>
        <template is="dom-if" if="[[!matchImages.0]]">
          <img
            class="slider-item"
            src="[[app.config.cloudinary.fallbackImg]]"
            sizes="(min-width: 1024px) 50vw, 100vw" alt=""></img>
        </template>
      </app-slider>
      <iron-icon class="status-icon" icon="[[selectStatusIcon(matchItem.matchStatus)]]"></iron-icon>
      <div class="item-content">
        <section on-tap="_toggleItemInfos" class="main-infos">
          <h1>[[matchItem.title]]</h1>
          <div class="price">
            [[getFormattedNumber(matchItem.acceptedConditions.price, matchItem.currency)]]
          </div>
          <div class="state"><strong><span class="label">[[localize('status')]]: </span>[[localize(matchItem.matchStatus)]]</strong></div>
          <div class="toggle-info-icon">
            <iron-icon icon="[[icon]]"></iron-icon>
          </div>
        </section>
        <iron-collapse class="item-details" opened="{{itemInfosOpen}}">
          <section class="item-infos">
            <h2>[[localize('MatchItemInfos')]]</h2>
            <div class="order-date">
              <span class="label">[[localize('MatchOrderData')]]:</span>
              [[getFormattedDateFromTimestamp(matchItem.acceptedConditions.timestamp)]]
            </div>
            <div class="item">
              <span class="label">[[localize('MatchItemTitleLabel')]]</span><br>
              <strong>[[matchItem.title]]</strong>
            </div>
            <div class="description">
             [[matchItem.description]]
            </div>
            <div class="amount">
              <span class="label">[[localize('amount')]]:</span><br>
              [[matchItem.acceptedConditions.amount]] [[matchItem.amountUnit]]
            </div>
            <div class="price">
              <span class="label">[[localize('price')]]:</span><br>
              [[getFormattedNumber(matchItem.acceptedConditions.price, matchItem.currency)]]
            </div>
            <div class="bonus">
              <span class="label">[[localize('bonus')]]:</span><br>
              [[getFormattedNumber(matchItem.acceptedConditions.bonus, matchItem.currency)]]
            </div>
            <div class="shipping-costs">
              <span class="label">[[localize('shippingCosts')]]:</span><br>
              [[getFormattedNumber(matchItem.acceptedConditions.deliveryCosts, matchItem.currency)]]
            </div>
            <template is="dom-if" if="[[bringer]]">
              <div class="total">
                <span class="label">[[localize('MatchYouGet')]]:</span><br>
                [[getFormattedNumber(matchItem.acceptedConditions.total, matchItem.currency)]]
              </div>
            </template>
            <template is="dom-if" if="[[!bringer]]">
              <div class="total">
                <span class="label">[[localize('MatchTotalPrice')]]:</span><br>
                [[getFormattedNumber(matchItem.acceptedConditions.total, matchItem.currency)]]
              </div>
            </template>
          </section>
          <section>
            <template is="dom-if" if="[[storeInfo.0]]">
              <span class="label"><strong>[[localize('DetailLocationsLabel')]]:</strong></span><br>
            </template>
            <div class="two-columns clearfix">
              <template is="dom-repeat" items="[[storeInfo]]">
                <div class="detail-content location-item">
                  <div class="detail-info bold"> [[item.store]] </div>
                  <div class="detail-info"> [[item.street]] </div>
                  <div class="detail-info"> [[item.city]] </div>
                  <div class="detail-info"> [[localize('country', 'country', item.country)]] </div>
                </div>
              </template>
            </div>
          </section>
          <section class="item-shipping-infos">
            <h2>[[localize('MatchShippingDelivery', 'selection', matchItem.selectedDelivery)]]</h2>
            <div class="shipping-address">
              <span class="label">[[localize('address')]]:</span><br>
              <strong>
                <template is="dom-if" if="[[matchItem.deliveryAddress.name]]">
                  [[matchItem.deliveryAddress.name]]<br>
                </template>
                [[matchItem.deliveryAddress.street]]<br>
                [[matchItem.deliveryAddress.city]]<br>
                [[localize('country', 'country', matchItem.deliveryAddress.country)]]
              </strong>
            </div>
          </section>
        </iron-collapse>
        <section class="item-match-chat">
        <h2>[[localize('MatchChatLabel')]]</h2>
          <user-chat class="match-chat"
            location="{{location}}"
            app="{{app}}"
            language="{{language}}"
            resources="[[resources]]"
            item-exist="[[matchItem.__key__]]"
            title="[[matchItem.title]]"
            receiver="[[getReceiver(app.firebaseApp, matchItem)]]"
            path="[[path]]"></user-chat>
        </section>
      </div>
    </div>

  </template>

  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'single-match',

      observers: [
        '_matchItemKeyChanged(matchItem.__key__)',
        'computePath(matchItem, app)'
      ],

      behaviors: [
        Polymer.AppLocalizeBehavior,
        GMBehaviors.LocalizationHelper
      ],

      properties: {
        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        matchItem: {
          type: Object,
          notify: true,
          observer: 'setImages'
        },

        icon: {
          type: String,
          computed: '_computeToggleIcon(itemInfosOpen)'
        },

        itemInfosOpen: {
          type: Boolean,
          value: false
        },

        location: {
          type: String,
          value: 'matchChat',
          notify: true
        },
        path: {
          type: String
        }
      },

      selectStatusIcon: function(state){
        switch(state){
          case ACCEPTED_STATE:
            return 'goodiefy-icons:timelapse';
          break;
          case PAID_STATE:
            return 'goodiefy-icons:credit-card';
          break;
          case READY_FOR_DELIVERY_STATE:
            return 'goodiefy-icons:done';
          break;
          case COMPLETED_STATE:
            return 'goodiefy-icons:done-all'
          break;
        }
      },

      computeTransformationParams: function(item) {
        if (item.coordinates) { // custom crop
          var c = item.coordinates.custom[0];

          return 'x_' + c[0] + ',y_' + c[1] + ',w_' + c[2] + ',h_' + c[3] + ',c_crop/w_auto:100:1024,dpr_auto';
        }

        return 'w_auto:100:1024,dpr_auto/ar_2.0,c_fill,g_auto'; // auto crop
      },

      computePath: function(item, app){
        var link = '/account/'
        if(item.bringer != this.app.firebaseUser.uid){
          link = link + 'for-you/' + item.__key__;
        }else{
          link = link + 'for-me/' + item.__key__;
        }
        this.set('path', link);
      },

      _matchItemKeyChanged: function(key) {
        this.set('itemInfosOpen', false);
        this.set('storeInfo', []);
        if(this.matchItem){
          if(this.matchItem.salelocation){
            this.set('storeInfo', this.convertToArray(this.matchItem.salelocation));
          }
        }
      },

      _toggleItemInfos: function() {
        this.itemInfosOpen = !this.itemInfosOpen;
      },

      _computeToggleIcon: function(itemInfosOpen) {
        if (itemInfosOpen) {
          return 'goodiefy-icons:arrow-drop-up';
        }

        return 'goodiefy-icons:info-outline';
      },

      getReceiver: function(firebaseApp, matchItem){
        if(matchItem && this.app.firebaseUser){
          if(matchItem.bringer!=this.app.firebaseUser.uid){
            this.set('bringer', false);
            return matchItem.bringer;
          } else {
            this.set('bringer', true);
            return matchItem.searcher;
          }
        }
      },

      setImages: function(matchItem){
        this.set('matchImages', []);
        if(matchItem.images){
          this.set('matchImages', matchItem.images);
        }
      },

      getImagePath: function(image){
        if(image.path){
          return image.path;
        } else {
          return '';
        }
      },

      convertToArray: function(object) {
        if(object){
          var arr = Object.keys(object).map(function (key) {
            var help = new Array();
            help = object[key];
            help['key'] = key;
            return help;
          });
          return arr;
        } else {
          return new Array();
        }
      }
    });
  })();
  </script>

</dom-module>
