<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="actions-behavior.html">

<link rel="import" href="_const.html">

<link rel="import" href="action-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="match-cancellation">

  <template>

    <style include="shared-styles action-styles">

      :host {
        display: block;

        @apply(--action-theme);
      }

      :host([icon]) {
        display: inline-block;

        @apply(--action-theme-icon);
      }

    </style>

    <div class="my-goodiefy action" hidden$="[[disabled]]">
      <paper-button id="matchCancellationAction" class="secondary" disabled$="[[disabled]]" on-tap="_action">
        <div class="button-content">
          <div class="button-icon-content" hidden$="[[!icon]]">
            <iron-icon icon="[[icon]]"></iron-icon>
          </div>
          [[localize(buttonTitleKey)]]
        </div>
      </paper-button>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'match-cancellation',

        ready: function() {

          this.set('buttonTitleKey', 'MatchCancelButton');
          this.set('successMessageKey', 'MatchCancelSuccessMessage');
          this.set('errorMessageKey', 'MatchCancelErrorMessage');

        },

        behaviors: [
          Polymer.AppLocalizeBehavior,
          GMBehaviors.Actions
        ],

        _myCanRunAction: function(item) {
          return ACCEPTED_STATE === item.matchStatus;
        },

        _action: function() {
          var childRef;

          if (!this.ref) {
            return;
          }

          childRef = this.ref.child(this.item['type'] + '/matched/' + this.item.__key__);

          childRef.once('value', function(snapshot) {

            var rollbackObject = {};

            //publish item again
            rollbackObject[this.item['type'] + '/matched/' + this.item.__key__] = null;
            rollbackObject[this.item['type'] + '/published/' + this.item.__key__] = snapshot.val();
            rollbackObject[this.item['type'] + '/published/' + this.item.__key__]['lifecycle'] = 'published';

            // remove match
            rollbackObject['matches/' + this.item.__key__] = null;
            rollbackObject['matchItem/' + this.item.__key__] = null;

            //clear match chat
            rollbackObject['matchChat/' + this.item.__key__] = null;

            this.set('title', this.item.title);
            if(this.item.bringer != this.app.firebaseUser.uid){
              this.set('receiver', this.item.bringer);
            }else{
              this.set('receiver', this.item.searcher);
            }
            this.ref.update(rollbackObject, function(error) {
              var message;

              if (!error) {
                message = this.localize(this.successMessageKey);
                if(this.receiver != this.app.firebaseUser.uid){
                  this.app.sendMessage('matchSTORNO', 'no message', this.title, this.app.user.userData.name, this.receiver, this.item.__key__, '/account/my-goodiefy');
                }
              } else {
                message = this.localize(this.errorMessageKey);
              }

              this.fire('matchCancel', {
                success: !error,
                key: this.item.__key__,
                message: message
              });

              this.app.pushNotification({
                message: message
              });
            }.bind(this));

          }.bind(this));

        }
      });
    })();
  </script>

<dom-module>
