
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="_addresses.html">
<link rel="import" href="account-styles.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../helper/paypal-tutorial.html">
<link rel="import" href="../helper/app-dropdown-listing.html">


<dom-module id="app-missing-user-data">
  <template>
    <style include="shared-styles account-styles">
      .pageTitle{
        font-size: 22px;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <div class="user-data">
      <div class="pageTitle">[[localize('AccountMissingDataTitle')]]</div>
      <div class="pageDescription">[[localize('AccountMissingDataDescription')]]</div>
      <paper-input id="accountName" label="[[localize('AccountNameLabel')]]" value="{{userDataName}}"></paper-input>
      <paper-input id="accountPayPal" label="[[localize('AccountPaypalMail')]]" value="{{userDataPayPal}}">
        <paypal-tutorial suffix resources="[[resources]]" language="[[language]]" vertical-offset="120"></paypal-tutorial>
      </paper-input>
      <app-dropdown-listing id="dropDownField" label="[[localize('AccountCurrency')]]" specific-list="currencies" app="{{app}}" language="{{language}}" resources="[[resources]]" selected="{{userDataCurrency}}"></app-dropdown-listing>
    </div>
    <user-addresses language="{{language}}" resources="[[resources]]" app="{{app}}"></user-addresses>
    <div class="user-data">
      <paper-button id="accountSaveButton" class="save-changes primary" on-tap="save">[[localize('AccountSaveButton')]]</paper-button>
    </div>
  </template>

  <script>
    /*global Firebase */
    (function() {
      'use strict';
      Polymer({
        is: 'app-missing-user-data',
        properties: {
          language: {
            type: String,
            notify: true
          },
          resources: {
            type: Object,
            notify: true
          },
          app: {
            type: Object,
            notify: true
          },
          userName: {
            type: String,
            computed: 'setWhenExisting(app.user.userData.name, "userDataName")'
          },
          userPayPal: {
            type: String,
            computed: 'setWhenExisting(app.user.userData.paypalMail, "userDataPayPal")'
          },
          userCurrency: {
            type: String,
            computed: 'setWhenExisting(app.user.userData.currency, "userDataCurrency")'
          }
        },

        behaviors: [Polymer.AppLocalizeBehavior],

        setWhenExisting: function(value, key){
          if(!this[key]){
            this.set(key, value);
            return value;
          } else {
            return this[key];
          }
        },

        _userDataChanged: function(user){
          if(!user){
            this.app.pushNotification({
              message: this.localize('AccountMissingDataMessage')
            });
            return;
          }
          if(!user.userData || !user.addresses){
             this.app.pushNotification({
              message: this.localize('AccountMissingDataMessage')
            });
            return;
          }
          if(!user.userData.name || !user.userData.paypalMail || !user.addresses.collection || !user.userData.currency){
             this.app.pushNotification({
              message: this.localize('AccountMissingDataMessage')
            });
            return;
          }
          if(this.app.conditionalLink){
            this.set('route.path', this.app.conditionalLink);
          } else {
            this.set('route.path', '/account/my-goodiefy');
          }

        },

        save: function(){
          var Data = {
            name: this.userDataName,
            paypalMail: this.userDataPayPal,
            currency: this.userDataCurrency ? this.userDataCurrency : 'EUR'
          }
          this.set('userData', Data);
          this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('userData').update(this.userData, function(error){
            if(!error){
              this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).once('value', function(snapshot){
                this._userDataChanged(snapshot.val());
              }.bind(this));
            }
          }.bind(this));
        },
      });
    })();
    </script>
</dom-module>
