<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="my-message-item.html">

<dom-module id="list-my-messages">
  <template>
    <style>
      :host {
        display: block;
      }
      .pagination{
        text-align: center;
        border-bottom: 1px solid var(--primary-text-color);
      }
      paper-button{
        color: var(--secondary-color);
        text-decoration: underline;
        text-transform: none;
      }
      .messages-headline{
        text-align: center;
        font-size: 20px;
        padding: 20px 0px;
        border-bottom: 1px solid var(--primary-text-color);
      }

    </style>
      <div class="messages-headline">[[localize('MessagingListingNewMessage', 'num', newMessagesCount)]]</div>
      <template id="repeater" is="dom-repeat" items="{{newMessageArray}}">
        <my-message-item new message="[[item]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></my-message-item>
      </template>
      <div  class="pagination">
        <div><paper-button hidden$="[[allNewMessagesLoaded]]" on-click="nextNewMessagePage">[[localize('MessagingLisingtMore')]]</paper-button></div>
        <div><paper-button hidden$="[[!newMessageArray.length]]" on-click="markAllAsRead">[[localize('MessagingMarkAllAsRead')]]</paper-button></div>
      </div>

      <div class="messages-headline">[[localize('MessagingListingOldMessage')]]</div>
      <template id="oldMessagesRepeater" is="dom-repeat" items="{{oldMessageArray}}">
        <my-message-item message="[[item]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></my-message-item>
      </template>
      <div hidden$="[[allOldMessagesLoaded]]" class="pagination">
        <paper-button on-click="nextOldMessagePage">[[localize('MessagingLisingtMore')]]</paper-button>
      </div>

 </template>
   <script>
    (function() {
      'use strict';

      Polymer({
        is: 'list-my-messages',

        behaviors: [Polymer.AppLocalizeBehavior],
        properties: {
          app: {
            type: Object,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          user: {
            type: Object
          },

          statusRead: {
            type: String,
            value: 'read'
          },

          newMessageArray: {
            type: Array
          },

          newMessages: {
            type: Object
          },

          newMessagesPerPage: {
            type: Number,
            value: 25
          },

          initialLimitNewMessages: {
            type: Number,
            value: 3
          },

          currentNewMessagesPage: {
            type: Number,
            value: 0
          },

          allNewMessagesLoaded: {
            type: Boolean,
            notify: true
          },

          oldMessageArray: {
            type: Array
          },

          oldMessages: {
            type: Object
          },

          oldMessagesPerPage: {
            type: Number,
            value: 25
          },

          initialLimitOldMessages: {
            type: Number,
            value: 5
          },

          currentOldMessagesPage: {
            type: Number,
            value: 0
          },

          allOldMessagesLoaded: {
            type: Boolean,
            notify: true
          },

          cntMessages: {
            type: Number,
            notify: true,
            computed: '_setMessagesCount(newMessages)'
          }
        },

        observers:[
          '_onFirebaseLoaded(app.firebaseApp)', '_onNewMessagesChange(newMessages.*)', '_onOldMessagesChange(oldMessages.*)', 'computeItemLocation(app.firebaseUser, app.firebaseApp)'
        ],

        _setMessagesCount: function(newMessages){
          if(newMessages){
            return Object.keys(newMessages).length;
          } else {
            return 0;
          }
        },

        markAllAsRead: function(){
          var updateObject = {};
          for (var i = Object.keys(this.newMessages).length - 1; i >= 0; i--) {
            updateObject[Object.keys(this.newMessages)[i] + '/status'] = this.statusRead;
          }
          this.ref.child('messages').child(this.app.firebaseUser.uid).update(updateObject);
        },

        nextNewMessagePage: function(){
          if(!this.allNewMessagesLoaded){
            this.set('currentNewMessagesPage', this.currentNewMessagesPage + 1);
            this._onNewMessagesChange();
          }
        },

        nextOldMessagePage: function(){
          if(!this.allOldMessagesLoaded){
            this.set('currentOldMessagesPage', this.currentOldMessagesPage + 1);
            var limit = this.currentOldMessagesPage * this.oldMessagesPerPage + this.initialLimitOldMessages;
            this._getOldMessages(this.app.firebaseUser, this.app.firebaseApp, limit);
          }
        },

        computeItemLocation: function(user, app) {
          if(user && app) {
            var newID = user.uid;
            this.set('newMessages', {});
            if(newID && newID != ''){
              this.ref.child('messages/' + newID).orderByChild('status').equalTo('new').on('value', function(snap){
                this.set('newMessageArray', []);
                this.set('newMessages', {});
                if(!snap.exists()){
                  this.set('newMessagesCount', 0);
                  this.set('allNewMessagesLoaded', true);
                }
                this.set('newMessages', {});
                this.set('newMessages', snap.val());
                this._onNewMessagesChange(this.newMessages);
              }.bind(this));

              this.ref.child('messages/' + newID).orderByChild('status').equalTo('read').limitToFirst(1).on('child_added', function(snap){
                if(snap.exists()){
                  this.set('lastOldMessageKey', snap.key);
                  this.set('allOldMessagesLoaded', true);
                } else {
                  this.set('allOldMessagesLoaded', true);
                }
              }.bind(this));

              this._getOldMessages(user, app, this.initialLimitOldMessages);
            }
          } else {
            this.set('newMessageArray', new Array());
            this.set('oldMessageArray', new Array());
          }
        },

        _getOldMessages: function(user, app, limit){
           if(user && app && limit) {
            var newID = user.uid;
            this.set('newMessages', {});
            if(newID && newID != ''){
              this.ref.child('messages/' + newID).orderByChild('status').equalTo('read').limitToLast(limit).on('value', function(snap){
                this.set('oldMessageArray', []);
                this.set('oldMessages', {});
                this.set('oldMessages', snap.val());
                this._onOldMessagesChange(this.oldMessages);
              }.bind(this));
            }
          } else {
            this.set('oldMessageArray', new Array());
          }
        },

        _onFirebaseLoaded: function(app){
          if(!app){
            return;
          }
          this.set('ref', app.database().ref());
        },

        _onNewMessagesChange: function() {
          if(this.newMessages){
            var arr = Object.keys(this.newMessages).map(function (key) {
              var help = new Array();
              help = this.newMessages[key];
              help['__key__'] = key;
              return help;
            }.bind(this));
            var limit = this.currentNewMessagesPage * this.newMessagesPerPage + this.initialLimitNewMessages;
            arr = arr.filter(function(element){return !element.hidden});
            this.set('newMessagesCount', arr.length);
            this.set('newMessageArray', arr.sort(function(a,b){return a.timestamp - b.timestamp}).splice(0, limit));
            if(this.newMessageArray.length == this.newMessagesCount) {
              this.set('allNewMessagesLoaded', true);
            } else {
              this.set('allNewMessagesLoaded', false);
            }
          }
        },

        _onOldMessagesChange: function() {
          if(this.oldMessages){
            var arr = Object.keys(this.oldMessages).map(function (key) {
              var help = new Array();
              help = this.oldMessages[key];
              help['__key__'] = key;
              return help;
            }.bind(this));
            arr = arr.filter(function(element){return !element.hidden});
            this.set('oldMessageArray', arr.sort(function(a,b){return a.timestamp - b.timestamp}));
            if(this.oldMessages[this.lastOldMessageKey]) {
              this.set('allOldMessagesLoaded', true);
            } else {
              this.set('allOldMessagesLoaded', false);
            }
          }
        },
      });
    })();
  </script>
</dom-module>
