<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="account-styles.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../helper/app-dropdown-listing.html">
<link rel="import" href="../helper/paypal-tutorial.html">

<dom-module id="user-personal-info">
  <template>

    <style include="account-styles shared-styles">

      :host {
        display: block;
      }
      paper-toggle-button{
        display: inline-flex;
        margin-left: 10px;
      }
      paper-icon-button.top-right{
        top: 20px;
      }

      paper-menu {
        max-height: 100px;
      }

    </style>

    <div class="user-data">

      <paper-icon-button class="top-right" on-tap="_openDialog" icon="goodiefy-icons:create"></paper-icon-button>
        <div class="sub-header">[[localize('AccountPersonalInformations')]]</div>

        <div class="user-data-detail">
          <template is="dom-if" if="[[userData.company]]">
            <div class="account-information-label">[[localize('AccountCompanyLabel')]]</div>
            <div class="account-information">[[userData.company]]</div>
          </template>
          <div class="account-information-label">[[localize('AccountNameLabel')]]</div>
          <div class="account-information">[[userData.name]]</div>
          <div class="account-information-label">[[localize('AccountBirthdayLabel')]]</div>
          <div class="account-information">[[getFormattedBirthday(userData.birthdayDay, userData.birthdayMonth, userData.birthdayYear)]]</div>
          <div class="account-information-label">[[localize('AccountGenderLabel')]]</div>
          <paper-radio-group id="accountGender" class="account-information" selected="{{userDataGender}}">
            <paper-radio-button name="male">[[localize('male')]]</paper-radio-button>
            <paper-radio-button name="female">[[localize('female')]]</paper-radio-button>
          </paper-radio-group>
          <div class="account-information-label">
            [[localize('AccountPaypalMail')]]
            <paypal-tutorial resources="[[resources]]" language="[[language]]"></paypal-tutorial>
          </div>
          <div class="account-information">[[userData.paypalMail]]</div>
          <div class="account-information-label">[[localize('AccountCurrency')]]</div>
          <div class="account-information">[[userData.currency]]</div>

        <div class="account-information">[[localize('AccountNotificationsToggleLable')]]<paper-toggle-button id="accountNotifications" checked="{{userDataNotifications}}"></paper-toggle-button></div>

        <paper-dialog id="dialog">
            <paper-toolbar>
              <div class="title">[[localize('AccountChangeUserDataLabel')]]</div>
              <paper-icon-button class="close" dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
            </paper-toolbar>
            <paper-dialog-scrollable>
                <paper-input id="accountCompany" label="[[localize('AccountCompanyLabel')]]" value="{{userDataCompany}}"></paper-input>
                <paper-input id="accountName" label="[[localize('AccountNameLabel')]]" value="{{userDataName}}"></paper-input>
                <paper-dropdown-menu id="accountBirthdayDay" value="{{userDataBirthdayDay}}" placeholder="[[userDataBirthdayDay]]" label="[[localize('day')]]">
                  <paper-menu class="dropdown-content">
                  <template is="dom-repeat" items="{{days}}">
                    <paper-item>{{item}}</paper-item>
                  </template>
                  </paper-menu>
                </paper-dropdown-menu>
                <paper-dropdown-menu id="accountBirthdayMonth" value="{{userDataBirthdayMonth}}" placeholder="[[userDataBirthdayMonth]]" label="[[localize('month')]]">
                  <paper-menu class="dropdown-content">
                  <template is="dom-repeat" items="{{month}}">
                    <paper-item>{{item}}</paper-item>
                  </template>
                  </paper-menu>
                </paper-dropdown-menu>
                <paper-dropdown-menu id="accountBirthdayYear" value="{{userDataBirthdayYear}}" placeholder="[[userDataBirthdayYear]]" label="[[localize('year')]]">
                  <paper-menu class="dropdown-content">
                  <template is="dom-repeat" items="{{years}}">
                    <paper-item>{{item}}</paper-item>
                  </template>
                  </paper-menu>
                </paper-dropdown-menu>
                <div class="paypal-merchant-input paypal-merchant-tutorial">
                  <paper-input id="accountPayPal" label="[[localize('AccountPaypalMail')]]" value="{{userDataPayPal}}">
                    <paypal-tutorial suffix resources="[[resources]]" language="[[language]]"></paypal-tutorial>
                  </paper-input>
                </div>

              <app-dropdown-listing id="dropDownField" label="[[localize('AccountCurrency')]]" specific-list="currencies" app="{{app}}" language="{{language}}" resources="[[resources]]" selected="{{userDataCurrency}}"></app-dropdown-listing>

            </paper-dialog-scrollable>
          <div class="buttons">
            <paper-button id="accountSaveButton" class="primary" on-tap="save" dialog-confirm>[[localize('AccountSaveButton')]]</paper-button>
          </div>
        </paper-dialog>
      </div>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'user-personal-info',

        behaviors: [Polymer.AppLocalizeBehavior],

        properties: {
          app: {
            type: Object,
            notify: true
          },

          language:{
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          userData: {
            type: Object,
            value: {},
            computed: '_setUserData(app.user)'
          },

          userDataName: {
            type: String,
            value: ''
          },

          userDataCompany: {
            type: String,
            value: ''
          },

          userDataBirthdayDay: {
            type: String,
            value: '',
            notify: true
          },

          userDataBirthdayMonth: {
            type: String,
            value: '',
            notify: true
          },

          userDataBirthdayYear: {
            type: String,
            value: '',
            notify: true
          },

          userDataGender: {
            type: String,
            value: '',
            observer: '_onChange'
          },

          userDataNotifications: {
            type: Boolean,
            observer: '_onChange'
          },

          userDataPayPal: {
            type: String,
            value: ''
          }

        },

        observers: ['_onUserChanged(userData)'],

        ready: function() {
          this.set('days', [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]);
          this.set('month', [1,2,3,4,5,6,7,8,9,10,11,12]);
          var years = new Array();
          var today = new Date();
          var thisYear = today.getFullYear();
          for (var i = thisYear ; i >= 1900; i--) {
            years.push(i);
          };
          this.set('years', years);
        },

        _onChange: function(){
          if(!this.app || !this.app.user || !this.app.firebaseUser){
            return
          }
          if((this.userDataGender && this.app.user.userData.gender != this.userDataGender)|| (this.app.user.userData.notifications != this.userDataNotifications)){
            var update = {};
            update["userData/gender"]=this.userDataGender;
            update["userData/notifications"]=this.userDataNotifications;
            this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).update(update);
          }
        },

        _setUserData: function(user){
          if(user && user.userData){
            return user.userData;
          } else {
            return {};
          }
        },

        _openDialog: function(){
          this._onUserChanged(this.userData);
          this.$.dialog.open();
        },

        getFormattedBirthday: function(day, month, year){
          var birthday = new Date();
          birthday.setFullYear(year);
          birthday.setMonth(month - 1);
          birthday.setDate(day);
          return this.app.getFormattedDate(birthday);
        },

        _onUserChanged: function(userData) {
          var val = userData;
          var defaultUserName = '';
            if(val){
              (val.name) ? this.set('userDataName' , val.name) : this.set('userDataName' , defaultUserName);
              (val.company) ? this.set('userDataCompany' , val.company) : this.set('userDataCompany' , '');
              (val.paypalMail) ? this.set('userDataPayPal', val.paypalMail) : this.set('userDataPayPal', defaultUserName);
              (val.currency) ? this.set('userDataCurrency', val.currency) : this.set('userDataCurrency', 'EUR');
              (val.birthdayDay) ? this.set('userDataBirthdayDay', val.birthdayDay) : this.set('userDataBirthdayDay', '');
              (val.birthdayMonth) ? this.set('userDataBirthdayMonth', val.birthdayMonth) : this.set('userDataBirthdayMonth', '');
              (val.birthdayYear) ? this.set('userDataBirthdayYear', val.birthdayYear) : this.set('userDataBirthdayYear', '');
              (val.birthdayDay && val.birthdayMonth && val.birthdayYear) ? this.set('userDataBirthday', val.birthdayDay + '.' + val.birthdayMonth + '.' + val.birthdayYear) : this.set('userDataBirthday', '..');
              (val.gender) ? this.set('userDataGender', val.gender) : this.set('userDataGender', '');
              (val.notifications) ? this.set('userDataNotifications', val.notifications) : this.set('userDataNotifications', false);
            }

        },

        save: function(event){
          if(this.userData){
            this.set('userData.name' , this.userDataName);
            this.set('userData.company' , this.userDataCompany);
            this.set('userData.birthdayDay' , this.userDataBirthdayDay);
            this.set('userData.birthdayMonth' , this.userDataBirthdayMonth);
            this.set('userData.birthdayYear' , this.userDataBirthdayYear);
            this.set('userData.gender' , this.userDataGender);
            this.set('userData.notifications' , this.userDataNotifications);
            this.set('userData.paypalMail' , this.userDataPayPal);
            this.set('userData.currency' , this.userDataCurrency ? this.userDataCurrency : 'EUR');
          } else {
            var Data = {
              name: this.userDataName,
              company: this.userDataCompany,
              birthdayDay: this.userDataBirthdayDay,
              birthdayMonth: this.userDataBirthdayMonth,
              birthdayYear: this.userDataBirthdayYear,
              notifications: this.userDataNotifications,
              gender: this.userDataGender,
              paypalMail: this.userDataPayPal,
              currency: this.userDataCurrency ? this.userDataCurrency : 'EUR'
            }
            this.set('userData', Data);
          }
          this.app.firebaseApp.database().ref().child('users').child(this.app.firebaseUser.uid).child('userData').update(this.userData);
        },

      });
    })();
  </script>

</dom-module>
