<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="actions-behavior.html">

<link rel="import" href="_const.html">

<link rel="import" href="action-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="match-receipted-goods">

  <template>

    <style include="shared-styles action-styles">

      :host {
        display: block;

        @apply(--action-theme);
      }

      :host([icon]) {
        display: inline-block;

        @apply(--action-theme-icon);
      }

    </style>

    <div class="my-goodiefy action" hidden$="[[disabled]]">
      <paper-button id="receiptedGoodsAction" class="secondary" disabled$="[[disabled]]" on-tap="_action">
        <div class="button-content">
          <div class="button-icon-content" hidden$="[[!icon]]">
            <iron-icon icon="[[icon]]"></iron-icon>
          </div>
          [[localize(buttonTitleKey)]]
        </div>
      </paper-button>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'match-receipted-goods',

        ready: function() {

          this.set('buttonTitleKey', 'MatchArticleBoughtButton');
          this.set('successMessageKey', 'MatchChangeStatusSuccessMessage');
          this.set('errorMessageKey', 'MatchSaveErrorMessage');

        },

        behaviors: [
          Polymer.AppLocalizeBehavior,
          GMBehaviors.Actions
        ],

        _myCanRunAction: function(item) {
          return PAID_STATE === item.matchStatus;
        },

        _action: function() {
          if (!this.ref) {
            return;
          }

          var updateTable;
          var childRef;

          updateTable = {};
          updateTable['matchItem/' + this.item.__key__ +'/matchStatus'] = READY_FOR_DELIVERY_STATE;
          updateTable['matchItem/' + this.item.__key__ + '/boughtTimestamp'] = firebase.database.ServerValue.TIMESTAMP;

          updateTable['matches/' + this.item.__key__ +'/matchStatus'] = READY_FOR_DELIVERY_STATE;
          updateTable['matches/' + this.item.__key__ + '/boughtTimestamp'] = firebase.database.ServerValue.TIMESTAMP;

          childRef = this.ref;

          this.set('title', this.item.title);
          if(this.item.bringer != this.app.firebaseUser.uid){
            this.set('receiver', this.item.bringer);
          }else{
            this.set('receiver', this.item.searcher);
          }
          var key = this.item.__key__;

          childRef.update(updateTable, function(error) {

            var message;

            if (!error) {
              message = this.localize(this.successMessageKey);
              if(this.receiver != this.app.firebaseUser.uid){
                this.app.sendMessage('matchBOUGHT', 'no message', this.title, this.app.user.userData.name, this.receiver, key, '/account/for-me/'+ key);
              }
            } else {
              message = this.localize(this.errorMessageKey);
            }

            this.fire('matchStatusChange', {
              success: !error,
              key: key,
              message: message
            });

            this.app.pushNotification({
              message: message
            });
          }.bind(this));

        }
      });
    })();
  </script>

<dom-module>
