<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="actions-behavior.html">

<link rel="import" href="_const.html">

<link rel="import" href="action-styles.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="match-review">

  <template>

    <style include="shared-styles action-styles">

      :host {
        display: block;

        @apply(--action-theme);
      }
      a {
        text-decoration: none;
      }

    </style>

    <div class="my-goodiefy action" hidden$="[[disabled]]">
      <a href$="/account/review/[[setReviewTarget(item, app)]]/[[item.__key__]]">
        <paper-button id="reviewAction" class="secondary" disabled$="[[disabled]]">
          <div class="button-content">
            [[localize(buttonTitleKey)]]
          </div>
        </paper-button>
      </a>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({

        is: 'match-review',

        ready: function() {
          this.set('buttonTitleKey', 'MatchReview');
        },

        behaviors: [
          Polymer.AppLocalizeBehavior,
          GMBehaviors.Actions
        ],

        properties: {
          app: {
            type: Object,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          checkable: {
            type: Boolean,
            value: true
          }
        },

        observers: ['checkReviewStatus(item, app.firebaseApp, app)', '_canRunAction(item, app)'],

        checkReviewStatus: function(item, firebaseApp, app){
           if(!firebaseApp || !item || !app || !this.checkable){
            return;
          }

          if(item.reviewers){
            if(item.reviewers[app.firebaseUser.uid]){
              // return;
            }
          }

          this.set('checkable', false);
          firebaseApp.database().ref('reviews').child(this.setReviewTarget(item, app)).child(item.__key__).on('value',
            function(snapshot){
              this.set('checkable', true);
              if(snapshot.exists()){
                var updateObject = {}
                updateObject[app.firebaseUser.uid] = app.firebaseUser.uid;
                firebaseApp.database().ref().child('matchItem').child(item.__key__).child('reviewers').update(updateObject);
                this.set('disabled', true)
              } else {
                this.set('disabled', COMPLETED_STATE != item.matchStatus);
              }
            }.bind(this)
          );
        },

        _myCanRunAction: function(item) {
          if(!item || !this.app){
            return false;
          }
          if(COMPLETED_STATE != item.matchStatus){
            return false;
          }
          if(item.reviewers){
            if(item.reviewers[this.app.firebaseUser.uid]){
              return false;
            }
          } return true;
        },

        setReviewTarget: function(item, app){
          if(item && app){
            if(item.searcher == app.firebaseUser.uid){
              return item.bringer;
            } else {
              return item.searcher;
            }
          }
        }

      });
    })();
  </script>

<dom-module>
