<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="account-styles">

  <template>

    <style>
    :host {
        display: block;
      }
      .user-data{
        padding: 20px;
        position: relative;
        border-bottom: 1px solid var(--primary-text-color);
      }
      .title{
        text-align: center;
      }
      .account-information-label{
        color: lightgray;
        font-size: 14px;
      }
      .account-information{
        padding-top:10px;
        padding-bottom:10px;
      }
      paper-button{
        width: 100%;
        margin-left: 0px;
      }
      paper-button.secondary{
        background: white;
        color: black;
        border: 1px solid black;
        margin-top: 10px;
      }
      paper-icon-button.top-right{
        position: absolute;
        right: 0px;
        top: 12px;
      }
      paper-icon-button.close{
        float: right;
      }
      .sub-header{
        font-weight: bold;
      }
      .sub-header-addresses{
        font-weight: bold;
        font-size: 14px;
      }
      paper-dropdown-menu{
        width: 32%;
        --paper-dropdown-menu-icon:{
          color: var(--primary-color);
        };
      }
      paper-toolbar{
        margin: 0 !important;
        padding: 0 !important;
      }
      paper-input, paper-input-container, gold-email-input, paper-textarea{
        --paper-input-container-focus-color: var(--primary-color);;
      }
      @media (min-width: 1024px){
        .user-data{
            left: 20%;
            width: 60%;
        }
      }
    </style>
  </template>

</dom-module>