<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="action-styles">

  <template>

    <style>

      paper-button:not([disabled]) {
        color: var(--secondary-color);
        border: solid 1px var(--secondary-color);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
      }

      :host([icon]) paper-button {
        background: var(--primary-background-color);
        color: var(--secondary-color);
        border: 0;
        text-decoration: underline;
        font-size: 12px;
        text-align: center;
        padding-top: 0;
      }

      a {
        text-decoration: none;
      }

      .actions {
        padding: 20px;
      }

      .seconday-actions {
        margin-top: 20px;
        text-align: center;
      }

    </style>

  </template>

</dom-module>
