<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      paper-button.facebook-login {
        background-color: #3B5998
      }

      paper-button.google-login {
        background-color: #d3d3d3;
      }

      paper-button img {
        padding-right: 10px;
        width:30px;
        height: auto;
        vertical-align: middle;
      }

      .brand {
        background: var(--app-primary-color);
        padding: 40px 50px;
        text-align: center;
      }

      .brand img {
        max-width: 350px;
        width: 100%;
      }

      .login-form,
      .logout-form {
        padding: 20px;
      }

      .login-oder {
        text-align: center;
        margin: 10px;
      }
      a{
        text-decoration: none;
        color: var(--app-secondary-color);
      }

    </style>

    <iron-a11y-keys
      id="a11yPassword"
      target="[[passwordForm]]"
      keys="enter"
      on-keys-pressed="_onEnterPasswordForm"></iron-a11y-keys>

    <iron-a11y-keys
      id="a11yFacebook"
      target="[[facebookForm]]"
      keys="enter"
      on-keys-pressed="_onEnterFacebookForm"></iron-a11y-keys>

    <iron-a11y-keys
      id="a11yGoogle"
      target="[[googleForm]]"
      keys="enter"
      on-keys-pressed="_onEnterGoogleForm"></iron-a11y-keys>

    <firebase-auth
      id="firebaseLogin"
      app="[[app.firebaseApp]]"
      user="{{app.firebaseUser}}"
      provider="[[provider]]"></firebase-auth>

    <app-location route="{{route}}"></app-location>

    <div class="content-container">
      <div class="brand">
        <img  src="../../images/goodiefy-logo-white.png">
      </div>
      <div class="login-form" hidden$="[[authenticated]]">
        <form is="iron-form" id="passwordLogin" method="post" action="">
          <gold-email-input required id="emailInput" label="[[localize('loginEmail')]]" value="{{email}}"></gold-email-input>
          <paper-input required id="passwordInput" type="password" label="[[localize('loginPasswort')]]" value="{{password}}"></paper-input>
          <a href="/account/reset-password">[[localize('loginPwdVergessen')]]</a>
          <paper-button id="passwordLoginButton" class="primary fullwidth" on-tap="_submitPasswordFormAction">[[localize('loginButton')]]</paper-button>
        </form>
        <div class="login-oder">[[localize('loginOder')]]</div>
        <div class="social-login">
          <form is="iron-form" id="facebookLogin" method="post" action="">
            <paper-button id="facebookLoginButton" class="facebook-login fullwidth" on-tap="_submitFacebookFormAction">
              <img src="../../images/facebook.png" alt="">
              [[localize('loginWithFacebook')]]
            </paper-button>
          </form>

          <form is="iron-form" id="googleLogin" method="post" action="">
            <paper-button id="googleLoginButton" class="google-login fullwidth" on-tap="_submitGoogleFormAction">
              <img src="../../images/google.png" alt="">
              [[localize('loginWithGoogle')]]
            </paper-button>
          </form>
        </div>
        [[localize('loginNoAccountQuestion')]]<a href="/account/register">[[localize('loginRegister')]]</a>
      </div>
      <div class="logout-form" hidden$="[[!authenticated]]">
        <paper-button class="secondary fullwidth" on-tap="_logoutAction">[[localize('logout')]]</paper-button>
      </div>
    </div>

  </template>
  <script>
    Polymer({

      is: 'app-login',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {

        app: {
          type: Object,
          notify: true
        },

        authenticated: {
          type: Boolean,
          computed: '_computeAuthenticated(app.firebaseUser)'
        },

        email: {
          type: String,
          notify: true
        },

        password: {
          type: String
        },

        passwordForm: {
          type: Object,
          value: function() {
            return this.$.passwordLogin;
          }
        },

        facebookForm: {
          type: Object,
          value: function() {
            return this.$.facebookLogin;
          }
        },

        googleForm: {
          type: Object,
          value: function() {
            return this.$.googleLogin;
          }
        }

      },

      _submitPasswordFormAction: function() {
        this.loginPassword();
      },

      _submitFacebookFormAction: function() {
        this.loginFacebook();
      },

      _submitGoogleFormAction: function() {
        this.loginGoogle();
      },

      _onEnterPasswordForm: function() {
        this.loginPassword();
      },

      _onEnterFacebookForm: function() {
        this.loginFacebook();
      },

      _onEnterGoogleForm: function() {
        this.loginGoogle();
      },

      _loginSuccessful: function() {
        this.fire('login-successful');
        this.set('route.path', '/');
      },

      _logoutAction: function() {
        this.logout();
      },

      _computeAuthenticated: function(user) {
        return Boolean(user);
      },

      loginPassword: function() {
        this.set('provider' ,'password');
        this.$.firebaseLogin.signInWithEmailAndPassword(this.email, this.password).then(function(success){
          this.resetPasswordForm();
          this._loginSuccessful();
        }.bind(this), function(e){
          this.app.pushNotification({
            message: this.localize(e.code.replace(/\//g, '-'))
            }
          );
          this.fire('login_failed', {});
        }.bind(this));
      },

      loginFacebook: function() {
        this.set('provider' ,'facebook');
        this.$.firebaseLogin.signInWithRedirect().then(function(e) {
          this._loginSuccessful();
        }.bind(this));
      },

      loginGoogle: function() {
        this.set('provider' ,'google');
        this.$.firebaseLogin.signInWithRedirect().then(function(e) {
          this._loginSuccessful();
        }.bind(this));
      },

      resetPasswordForm: function() {
        this.set('email', null);
        this.set('password', null);
      },

      logout: function() {
        this.$.firebaseLogin.signOut();
      }

    });
  </script>
</dom-module>
