<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-register">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 20px;
      }
      paper-button{
        width: 100%;
        margin-left: 0px;
      }
      img.success{
        width: 80%;
      }
      .register-success-container{
        font-size: 12px;
        background: var(--app-primary-color);
        padding: 20px;
        text-align: center;
        color: white;
      }
      .reigister-success-caption{
        text-transform: uppercase;
        font-size: 30px;
      }
    </style>

    <firebase-auth id="firebaseLogin" app="[[app.firebaseApp]]" provider="password" signed-in="{{signedIn}}"></firebase-auth>
    <div class="register-form" hidden$="[[signedIn]]">
      <gold-email-input auto-validate invalid="{{invalidEmail}}" label="Email-Adresse" value="{{email}}"></gold-email-input>
      <paper-input type="password" on-keydown="checkForEnter" label="[[localize('loginPasswort')]]" value="{{app.password}}"></paper-input>
      </br>

      </br>
      <paper-button class="primary" id="regElemRegisterButton" disabled noink on-tap="createUserHandler" disabled$="[[_computeDisabled(invalidEmail, email, app.password)]]" >[[localize('loginRegister')]]</paper-button>
    </div>
    <div class="register-success-container" hidden$="[[!signedIn]]">
      <img class="success" src="../../images/bestaetigung.png">
      <div class="reigister-success-caption">
        [[localize('RegisterSuccessCaption')]]
      </div>
      <p>[[localize('RegisterSuccessMessage')]]</p>
      <p>[[localize('RegisterSuccessTipp')]]</p>
      <paper-button class="primary" id="regElemGoToLoginButton" on-tap="back" noink>[[localize('back')]]</paper-button>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'app-register',

        behaviors: [Polymer.AppLocalizeBehavior],

        properties: {
          app: {
            type: Object,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          error: {
            type: Boolean,
            value: true
          },

          emailHidden: {
            type: Boolean,
            value: true
          },

          emailInUseHidden: {
            type: Boolean,
            value: true
          },

          weakPasswordHidden: {
            type: Boolean,
            value: true
          }
        },

        _computeDisabled: function(invalidEmail, email, password){
          if(!invalidEmail && password.length >= 6 && password){
            return false;
          } else {
           return true;
          }
        },

        _computeHidden: function(signedIn, hidden){
          if(!signedIn){
            return hidden;
          } else {
            return true;
          }
        },

        checkForEnter: function(e){
          if (e.keyCode === 13) {
            if(!this._computeDisabled(this.invalidEmail, this.email, this.app.password)){
              this.createUserHandler();
            }
          }
        },

        createUserHandler: function() {
          this.$.firebaseLogin.createUserWithEmailAndPassword(this.email, this.app.password).then(function(success){}, function(e){
            this.app.pushNotification({
              message: this.localize(e.code.replace(/\//g, '-'))
            });
          }.bind(this));
        },

        back: function(){
          var location = window.location.href;
          window.history.go(-1);
          this.goBack(location);

        },

        goBack: function(oldLocation){
          setTimeout(function(){
            if(oldLocation == window.location){
              this.back();
            }
          }.bind(this), 30);
        }
      });
    })();
  </script>
</dom-module>
