<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="_const.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-delete-account">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      paper-button{
        width: 100%;
        background-color: var(--app-primary-color);
        color: white;
        margin-left: 0px;
        margin-bottom: 10px;
      }
      a{
        text-decoration: none;
        color: white;
      }
      .delete-account-description{
        text-align: center;
        padding: 20px;
      }
      .delete-account-button{
        padding: 10px 20px;
      }
    </style>
    <firebase-auth id="firebaseDB" app="[[app.firebaseApp]]"></firebase-auth>

    <div class="delete-account-description">

    [[localize('DeleteAccountHeader')]]
    </div>

    <div class="delete-account-button">
      <paper-button id="deleteAccountButton" hidden$="[[!app.firebaseUser]]" noink on-tap="removeUserHandler">[[localize('DeleteAccountButtonLabel')]]</paper-button>

      <paper-button id="delAccountGoToHomeButton" class="primary" noink><a href="/">[[localize('DeleteAccountBackToHomeButton')]]</a></paper-button>
    </div>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'app-delete-account',

        ready: function() {
        },

        behaviors:[Polymer.AppLocalizeBehavior],

        removeUserHandler: function() {
          var ref = this.app.firebaseApp.database().ref();

          ref.child('matches').orderByChild('bringer').equalTo(this.app.firebaseUser.uid).once('value', function(snapshot){
            var data = snapshot.val();
            var allCompleted = true;
            if(snapshot.exists()){
              for (var i = Object.keys(data).length - 1; i >= 0; i--) {
                var key = Object.keys(data)[i];
                if(data[key]['matchStatus'] != COMPLETED_STATE){
                  this.app.pushNotification({
                    message: this.localize('DelteAccountOpenMatchesMessage')
                  });
                  allCompleted = false;
                  break;
                }
              }
            }
            if(allCompleted){
              ref.child('matches').orderByChild('bringer').equalTo(this.app.firebaseUser.uid).once('value', function(snap){
                data = snap.val();
                if(snapshot.exists()){
                  for (var i = Object.keys(data).length - 1; i >= 0; i--) {
                    var key = Object.keys(data)[i];
                    if(data[key]['matchStatus'] != COMPLETED_STATE){
                      this.app.pushNotification({
                        message: this.localize('DelteAccountOpenMatchesMessage')
                      });
                      allCompleted = false;
                      break;
                    }
                  }
                }
                if(allCompleted){
                  this.$.firebaseDB.user.delete().then(
                  function(){
                    this.app.pushNotification({
                      message: this.localize('DelteAccountSuccessMessage')
                    });
                  }.bind(this), function(err) {
                    this.app.pushNotification({
                      message: this.localize(err.code)
                    });
                  }.bind(this));
                }
              }.bind(this))
            }
          }.bind(this))
        }
      });
    })();
  </script>
</dom-module>
