<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-reset-password">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 20px;
      }
      paper-button{
        width: 100%;
        margin-left: 0px;
      }
    </style>

    <gold-email-input auto-validate on-keydown="checkForEnter" invalid="{{invalidEmail}}" label="[[localize('loginEmail')]]" hidden$="[[emailWasSent]]" value="{{email}}"></gold-email-input>

    <div hidden$="[[!emailWasSent]]">[[localize('PasswordResetSuccess')]]</div>

    </br>
    <paper-button class="primary" noink on-tap="resetPasswordHandler" hidden$="[[emailWasSent]]" disabled$="[[_computeResetPasswordDisabled(invalidEmail, email)]]">[[localize('PasswordResetButton')]]</paper-button>

    <paper-button class="primary" noink on-tap="back" hidden$="[[!emailWasSent]]">[[localize('back')]]</paper-button>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'app-reset-password',
        behaviors : [Polymer.AppLocalizeBehavior],

        properties: {
          emailWasSent: {
            type: Boolean, value: false
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          error:{
            type: Boolean,
            value: true
          },

          invalidEmailHidden:{
            type: Boolean,
            value: true
          },

          userNotFoundHidden:{
            type: Boolean,
            value: true
          }
        },

        _computeHidden: function(emailWasSent, hidden){
          if(!emailWasSent){
            return hidden;
          } else {
            return true;
          }
        },

        checkForEnter: function(e){
          if (e.keyCode === 13) {
            if(!this._computeResetPasswordDisabled(this.invalidEmail, this.email)){
              this.resetPasswordHandler();
            }
          }
        },

        resetPasswordHandler: function() {
        this.app.firebaseApp.auth().sendPasswordResetEmail(this.email).then(function(){
          this.set('emailWasSent' , true);
          this.sleep(1000*30).then(function(){
            this.set('emailWasSent' , false);      
          }.bind(this));
        }.bind(this), function(e){
          this.app.pushNotification({
            message: this.localize(e.code.replace(/\//g, '-'))
          });
        }.bind(this));
      },

        _computeResetPasswordDisabled: function(invalid, email) {
          return (invalid || !email);
        },

        back: function(){
          var location = window.location.href;
          window.history.go(-1);
          this.goBack(location);

        },

        goBack: function(oldLocation){
          setTimeout(function(){
            if(oldLocation == window.location){
              this.back();
            }
          }.bind(this), 30);
        },

        sleep: function (time) {
        return new Promise(function(resolve) {
          setTimeout(resolve, time)
        });
      }

      });
    })();
  </script>
</dom-module>
