<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_account/user-avatar.html">
<link rel="import" href="../_detail/formatted-user-name.html">

<dom-module id="my-message-item">
  <template>
    <style>
      :host {
        display: block;
      }
      a{
        text-decoration: none;
        color: black;
      }
      .secondary-line{
        font-size: 12px;
        line-height: 14px;
        color: var(--primary-text-color);
      }
      .primary-line{
        font-size: 20px;
      }
      .profile-image{
        float: left;
        padding: 25px 15px;
      }

      .profile-image user-avatar {
        --user-avatar-dimensions: 45px;
      }

      .message-content{
        width: calc(100% - 115px);
        float: left;
        padding: 10px 20px;
        padding-left: 0px;
        position: relative;
        min-height: 55px;
      }
      .secondary-line.subject{
        color: var(--dark-text-color);
        margin-bottom: 10px;
      }
      .message{
        position: relative;
      }
      .new{
        background: var(--tertiary-color);
      }
      .pagination{
        text-align: center;
        border-bottom: 1px solid var(--primary-text-color);
      }
      .clearfix:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0px;
      }
      .date{
        font-size: 14px;
        float: right;
        padding-top: 5px;
      }
      paper-button{
        color: var(--secondary-color);
        text-decoration: underline;
        text-transform: none;
      }
      .messages-headline{
        text-align: center;
        font-size: 20px;
        padding: 20px 0px;
        border-bottom: 1px solid var(--primary-text-color);
      }
      .red-dot{
        width: 10px;
        background: var(--app-secondary-color);
        height: 10px;
        border-radius: 5px;
        position: absolute;
        right: 15px;
        top: calc(50% - 5px);
      }
      :host[old] .red-dot{
        display: none;
      }
      .mark-as-read-button{
        text-align: center;
        border-bottom: 1px solid var(--primary-text-color);
      }
      .mark-as-read-button paper-button{
        text-decoration: none;
        border: 1px solid var(--app-secondary-color);
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px
      }
    </style>

    <div id="messageHolder" on-touchstart="touchstart" on-touchend="touchend" class="message clearfix">
      <template is="dom-if" if="[[new]]">
        <div class="red-dot"></div>
      </template>
      <div class="profile-image">
        <user-avatar
          cloud-name="[[app.config.cloudinary.cloudName]]"
          user-name="[[message.sender]]"
          user-image="[[message.senderId]]">
        </user-avatar>
      </div>
      <a href$="[[message.link]]">
        <div class="message-content">
          <div class="primary-line">
            <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[message.sender]]"></formatted-user-name>
            <span class="date">[[getTime(message.timestamp, localize, app)]]</span>
          </div>
          <div class="secondary-line subject" secondary>
            [[localize(message.messageType, 'dataType', 'subject', 'value', message.subject)]]
          </div>
          <div class="secondary-line" secondary>[[localize(message.messageType, 'dataType', 'message', 'value', message.message)]]</div>
        </div>
      </a>
    </div>
    <template is="dom-if" if="[[new]]">
      <div class="mark-as-read-button">
        <paper-button on-click="markAsRead">[[localize('MessagingMarkAsRead')]]</paper-button>
      </div>
    </template>

 </template>
   <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-message-item',

        behaviors: [Polymer.AppLocalizeBehavior],
        properties: {
          app: {
            type: Object,
            notify: true
          },

          language: {
            type: String,
            notify: true
          },

          resources: {
            type: Object,
            notify: true
          },

          message: {
            type: Object
          },

          user: {
            type: Object
          },

          statusRead: {
            type: String,
            value: 'read'
          },

          new: {
            type: Boolean,
            value: false
          }
        },

        markAsRead: function(){
          var messageKey = this.message.__key__;
          this.app.firebaseApp.database().ref().child('messages').child(this.app.firebaseUser.uid).child(messageKey).child('status').set(this.statusRead);
        },

        getTime: function(timestamp, localize, app) {
          if(timestamp){
            var d = new Date();
            d.setTime(-timestamp);
            return app.getFormattedDate(d);
          } else {
            return '';
          }
        },

        touchstart: function(e){
          if(!this.new){
            return;
          }
          var messageHolder = this.$.messageHolder;

          if (!messageHolder) {
            return;
          }
          this.movex = 0;
          this.touchstartx = e.touches[0].pageX;

          messageHolder.addEventListener('touchmove', function(e){

            this.touchmovex =  e.touches[0].pageX;

            // Calculate distance to translate holder.
            this.set('itemWidth', parseInt(window.innerWidth));
            this.movex = (this.touchstartx - this.touchmovex);

            messageHolder.style.transform =' translateX(-' + this.movex + 'px)';
          }.bind(this));
        },

        touchend: function(e){
          if(!this.new){
            return;
          }
          var messageHolder = this.$.messageHolder;
          var absMove = Math.abs(this.movex);

          if (!messageHolder) {
            return;
          }
          if(absMove > 100){
            this.markAsRead();
          }
          messageHolder.style.transform =' translateX(0px)';
        },
      });
    })();
  </script>
</dom-module>
