<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../_data/goodiefy-user-data.html">
<link rel="import" href="../_detail/review-stars.html">
<link rel="import" href="../_detail/formatted-user-name.html">
<link rel="import" href="../_account/user-avatar.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="review-input">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        background: white;
        padding-bottom: 30px;
        @apply(--review-input);
      }
      review-stars{
        --review-stars-prefix:{
          display: none;
        };
        --review-stars-suffix:{
          display: none;
        };
      }
      .profile-info formatted-user-name{
        font-size: 28px;
      }
      .content-margin{
        margin: 0 30px;
      }
      .profile-info{
        padding-bottom: 20px;
        padding-top: 10px;
        text-align: center;
      }
      .review{
        padding-bottom: 20px;
        margin-top: 20px;
        border-bottom: 1px solid var(--primary-text-color);
        color: var(--primary-text-color);
        font-size: 14px;
      }
      .comment{
        margin-bottom: 10px;
        margin-top: 5px;
      }
      paper-input{
        padding-top: 10px;
        --paper-input-container-color:{
          color: var(--dark-text-color);
        };
        --paper-input-container-underline:{
          background: var(--dark-text-color);
        };
      }
      paper-button{
        margin: 20px auto;
        display: block;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        margin-top: 50px;
      }
      paper-button.abortButton{
        text-decoration: underline;
        font-size: 12px;
        margin-top: -10px;
      }
      .review-headline{
        text-align: left;
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .review-description{
        text-align: left;
        font-size: 14px;
      }
    </style>
    <app-location route="{{currentRoute}}"></app-location>

    <app-route
    route="{{route}}"
    pattern="/:uid/:matchKey"
    data="{{routeData}}"></app-route>

    <div class="profile-info content-margin">
      <div class="review-headline">[[localize('ReviewHeader')]]</div>
      <div class="review-description">[[localize('ReviewDescription')]]</div>
      <goodiefy-user-data firebase-app="[[app.firebaseApp]]" uid="[[routeData.uid]]" user="{{userInfo}}"></goodiefy-user-data>
      <user-avatar class="large"
        cloud-name="[[app.config.cloudinary.cloudName]]"
        user-name="[[userInfo.name]]"
        user-image="[[userInfo.imgMeta]]">
      </user-avatar>
      <div class="avatar-info avatar-name avatar-reviews">
        <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[userInfo.name]]" short-name></formatted-user-name>
      </div>
      <div class="member-since">[[localize('ProfileInfoMemberSince', 'year', memberSinceYear)]]</div>
    </div>
    <div class="content-margin">
      <review-stars editable score="{{stars}}"></review-stars>
      <paper-input label="[[localize('ReviewCommentLabel')]]" on-keydown="checkForEnter" value="{{comment}}" placeholder="[[localize('ReviewCommentPlaceholder')]]" char-counter maxlength="750" auto-validate></paper-input>
      <paper-button class="primary" disabled$="[[checkReview(stars)]]" on-click="sendReview">[[localize('ReviewSendButton')]]</paper-button>
      <paper-button class="abortButton" on-click="back">[[localize('ReviewAbortButton')]]</paper-button>
    </div>


  </template>
  <script>
    (function() {
      'use strict'

      Polymer({

        is: "review-input",

        behaviors: [Polymer.AppLocalizeBehavior],

        ready: function() {
          this.set('loaded', true);
        },

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },
          resource: {
            type: Object,
            notify: true
          },
          loaded: {
            type: Boolean,
            value: false,
            notify: true
          },
          routeData: {
            type: Object,
            observer: '_routeChanged'
          },
          uid: {
            type: String
          },
          userInfo: {
            type: Object
          },
          stars: {
            type: Number
          },
          comment: {
            type: String
          },
          memberSinceYear:{
            type: Number,
            value: new Date().getFullYear(),
            computed: 'setMemberSinceYear(userInfo)'
          },
        },

        _routeChanged: function(routeData){
          this.set('page', 0);
          this.set('reviewCount', 0);
        },

        nextPage: function(){
          this.set('page', this.page + 1);
        },

        checkReview: function(stars){
          return !(parseInt(stars) > 0 && parseInt(stars) <= 5);
        },

        checkForEnter: function(e){
          if (e.keyCode === 13) {
            this.sendReview();
          }
        },

        sendReview: function(){
          if(!this.routeData.matchKey || !this.app.firebaseUser || !this.routeData.uid || !this.app.firebaseApp){
            return;
          }
          var matchKey = this.routeData.matchKey;
          var uid = this.routeData.uid;
          var newReview = {};
          var newReviewLocation;

          newReview['comment'] = this.comment;
          newReview['stars'] = this.stars;
          newReview['timestamp'] = firebase.database.ServerValue.TIMESTAMP;
          newReview['user'] = {};
          newReview['user'][this.app.firebaseUser.uid] = this.app.firebaseUser.uid;

          this.set('stars', 0);
          this.set('comment', '');

          newReviewLocation = this.app.firebaseApp.database().ref('reviews/' + uid + '/' + matchKey);

          newReviewLocation.update(newReview, function(error){
            if(error){
              this.app.pushNotification({
                message: this.localize('ReviewSaveErrorMessage')
              });
            } else {
              newReviewLocation.child('timestamp').once('value', function(snapshot){
                newReviewLocation.child('timestamp').set(- snapshot.val());
              })
              this.set('currentRoute.path', 'account/user-info/' + uid);
              if(uid != this.app.firebaseUser.uid){
                this.app.sendMessage('reviewADD', newReview, matchKey, this.app.user.userData.name, uid, matchKey, '/account/user-info/'+ uid);
              }
            }
          }.bind(this));
        },

        setMemberSinceYear: function(userInfo) {
          if(userInfo){
            if(userInfo.registeredTimestamp){
              return new Date(userInfo.registeredTimestamp).getFullYear();
            }
          }
          return new Date().getFullYear();
        },

        back: function(){
          var location = window.location.href;
          window.history.go(-1);
          this.goBack(location);

        },

        goBack: function(oldLocation){
          setTimeout(function(){
            if(oldLocation == window.location){
              this.back();
            }
          }.bind(this), 30);
        }
      });
    })();
  </script>
</dom-module>
