<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/cloudinary-upload/behaviors/upload.html">

<link rel="import" href="user-avatar.html">

<link rel="import" href="_personal-info.html">
<link rel="import" href="_addresses.html">
<link rel="import" href="_interests.html">
<link rel="import" href="_change-settings.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="user-account">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
      }

      .profile-image-container {
        background: var(--app-primary-color);
      }

      .profile-image-container .content-container {
        position: relative;
      }

      .profile-image-container user-avatar {
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        --user-avatar-dimensions: 80px;
      }

      .profile-image-container .actions {
        width: 30px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
      }

      .profile-image-container .actions .set-action,
      .profile-image-container .actions .remove-action {
        position: absolute;
        right: 10px;
        color: #fff;
      }

      .profile-image-container .actions .set-action {
        height: 35px;
        width: 35px;
        bottom: 0;
        margin-bottom: -15px;
        border-radius: 100%;
        background-color: var(--app-accent-color);
      }

      .profile-image-container .actions .remove-action {
        top: 50%;
        margin-top: -20px;
      }

    </style>

     <app-route
      route="{{route}}"
      pattern="/my-account/:itemKey"
      data="{{routeData}}"></app-route>

      <section class="profile-image-container">
        <div class="content-container">
          <user-avatar
            cloud-name="[[app.config.cloudinary.cloudName]]"
            user-name="[[app.user.userData.name]]"
            user-image="[[app.user.userData.imgMeta]]"></user-avatar>
          <div class="actions profile-image-actions">
            <paper-icon-button
              id="pictureAction"
              hidden$="[[_userHasProfileImage(app.user.userData.imgMeta)]]"
              class="set-action"
              on-tap="_setProfileImageAction"
              icon="goodiefy-icons:add-a-photo"></paper-icon-button>

            <paper-icon-button
              id="removePictureAction"
              hidden$="[[!_userHasProfileImage(app.user.userData.imgMeta)]]"
              class="remove-action"
              on-tap="_removeProfileImageAction"
              icon="goodiefy-icons:delete"></paper-icon-button>
          </div>
        </div>
      </section>

      <section class="content-container">
        <user-personal-info language="{{language}}" resources="[[resources]]" app="{{app}}"></user-personal-info>
        <user-addresses language="{{language}}" resources="[[resources]]" app="{{app}}"></user-addresses>
        <user-interest-info language="{{language}}" resources="[[resources]]" app="{{app}}"></user-interest-info>
        <user-change-settings language="{{language}}" resources="[[resources]]" app="{{app}}"></user-change-settings>
      <section>

  </template>

  <script>

    Polymer({

      is: 'user-account',

      behaviors: [
        Polymer.AppLocalizeBehavior,
        CloudinaryBehavior.Upload
      ],

      observers: [
        '_resultChanged(result)', // cloudinary behavior result array
        '_uploadConfig(app.config.cloudinary.cloudName, app.config.cloudinary.uploadPreset)'
      ],

      properties: {
        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        route: {
          type: String
        }

      },

      _uploadConfig: function(cloudName, uploadPreset) {
        if (!cloudName || !uploadPreset) {
          return;
        }

        this.set('cloudName', cloudName);
        this.set('uploadPreset', uploadPreset);
      },

      _setProfileImageAction: function() {
        this.openUploadWidget();
      },

      _removeProfileImageAction: function() {
        this.app.firebaseApp.database().ref('users/' + this.app.firebaseUser.uid + '/userData/imgMeta').remove();
      },

      _resultChanged: function(images) {
        if (!images || images.length === 0) {
          return;
        }

        this.app.firebaseApp.database().ref('users/' + this.app.firebaseUser.uid + '/userData/imgMeta').set(images[0]);
      },

      _userHasProfileImage: function(img) {
        return (Boolean)(img);
      }


    });

  </script>

</dom-module>
