<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<link rel="import" href="../_detail/review-stars.html">
<link rel="import" href="../_data/goodiefy-user-data.html">
<link rel="import" href="../_detail/formatted-user-name.html">
<link rel="import" href="user-avatar.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="user-review-item">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      background: white;
      @apply(--user-review-item);
    }
    review-stars{
      --review-stars-icons: {
        width: 19px;
        height: 19px;
      };
      --review-stars-prefix:{
        display: none;
      };
      --review-stars-suffix:{
        display: none;
      };
    }
    .content-margin{
      margin: 0 30px;
    }
    .review{
      padding-bottom: 20px;
      margin-top: 20px;
      border-bottom: 1px solid var(--primary-text-color);
      color: var(--primary-text-color);
      font-size: 14px;
    }
    .comment{
      margin-bottom: 10px;
      margin-top: 5px;
    }
    .edit-holder{
      display: none;
    }
    .can-edit .edit-holder{
      display: block;
    }
    iron-collapse{
      padding-top: 10px;
    }
    iron-collapse paper-input{
      padding-top: 10px;
    }
    iron-collapse paper-button{
      margin: 20px auto;
      display: block;
      width: 80%;
      border-radius: 2px;
      text-align: center;
      padding: 5px 10px;
    }
    paper-button{
      text-transform: none;
      padding-bottom: 0;
    }
    user-avatar .avatar-info{
      padding-top: 13px;
    }
  </style>

  <app-location route="{{currentRoute}}"></app-location>
  <goodiefy-user-data
      firebase-app="[[app.firebaseApp]]"
      uid="[[getUid(review.user)]]"
      user="{{user}}"></goodiefy-user-data>

    <div class$="review content-margin [[computeEditable(review.user, app.firebaseUser)]]">
      <review-stars score="[[review.stars]]"></review-stars>
      <div class="comment">
        [[review.comment]]
        <div class="edit-holder">
          <paper-button class="tertiary" on-click="openEditCollpase">[[localize('DetailHelpingHandEditComment')]]</paper-button>
        </div>
        <iron-collapse id="collapse">
          <div class="clearfix">
            <review-stars editable score="{{review.stars}}"></review-stars>
            <paper-input no-label-float on-keydown="checkForEnterEdit" value="{{review.comment}}" placeholder="[[localize('ReviewCommentPlaceholder')]]" char-counter maxlength="751" auto-validate></paper-input>
            <paper-button class="primary" on-click="editComment" icon="icons:sent-message">[[localize('ProfileInfoEditReviewButton')]]</paper-button>
          </div>
        </iron-collapse>
      </div>
        <user-avatar
        cloud-name="[[app.config.cloudinary.cloudName]]"
        user-name="[[user.name]]"
        user-image="[[user.imgMeta]]">
        <div class="avatar-info avatar-name">
          <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[user.name]]" short-name></formatted-user-name>
          <div class="review-date">[[getDate(review.timestamp)]]</div>
        </div>
      </user-avatar>
        
    </div>

  </template>
  <script>
    (function() {
      'use strict'

      Polymer({

        is: "user-review-item",

        behaviors: [Polymer.AppLocalizeBehavior],

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },
          resources: {
            type: Object,
            notify: true
          },
          uid: {
            type: String
          },
          userInfo: {
            type: Object
          },
          editableComment: {
            type: String,
            value: 'can-edit'
          },
        },
  
        openEditCollpase: function(e) {
          this.$.collapse.toggle();
          this.$.collapse.querySelector('paper-input').focus();
        },

        checkForEnterEdit: function(e){
          if (e.keyCode === 13) {
            this.editComment(e);
          }
        },

        editComment: function(e){
          var editKey = this.review.key;
          var editedComment = {};
          var editedCommentLocation;

          editedComment['comment'] = this.review.comment;
          editedComment['stars'] = this.review.stars;
          editedCommentLocation = this.app.firebaseApp.database().ref().child('reviews/' + this.uid + '/' + editKey);

          editedCommentLocation.update(editedComment);
          this.$.collapse.toggle();

          if(this.uid != this.app.firebaseUser.uid){
            this.app.sendMessage('reviewEDIT', editedComment, editKey, this.app.user.userData.name, this.uid, editKey, this.currentRoute.path);
          }
        },

        computeEditable: function(user, currentUser){
          var uid = this.getUid(user);
          if(!currentUser){
            return;
          }
          if(currentUser.uid == uid){
            return this.editableComment;
          }
        },

        getUid: function(user) {
          return Object.keys(user)[0];
        },

        getDate: function(timestamp){
          if(timestamp){
            return new Date(-timestamp).toLocaleString('de',{month: 'long', year: 'numeric'})
          }
        },
      });
    })();
  </script>
</dom-module>