<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">


<dom-module id="user-avatar">
  <template>
    <style>

      :host {
        display: block;
        position: relative;
        width: var(--user-avatar-dimensions, 80px);
        height: var(--user-avatar-dimensions, 80px);
        padding-top: 10px;
        padding-bottom: 10px;
      }

      figure {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
      }

      cloudinary-img {
        --cloudinary-host-display: block;
      }

      .user-initials {
        height: 100%;
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 100%;
        color: #000;
        background: #ccc;
        line-height: var(--user-avatar-dimensions, 80px);
      }
      figure[hidden]{
        display: none;
      }

    </style>

    <figure hidden$="[[imageHidden]]" class="user-image">
      <cloudinary-img
        cloud-name="[[cloudName]]"
        path="[[userImagePath]]"
        transformation-params="w_200,h_200,c_thumb,g_face,r_max"
        file-format="png"
        alt="[[userName]]"></cloudinary-img>
    </figure>
    <template is="dom-if" if="[[imageHidden]]">
      <div hidden$="[[initialsHidden]]" class="user-initials">
        [[userInitials]]
      </div>
    </template>

    <div class="info">
      <content></content>
    </div>

  </template>
  <script>
    Polymer({
      is: 'user-avatar',

      properties: {

        userName: {
          type: String
        },

        userInitials: {
          type: String,
          computed: '_computeUserInitials(userName)'
        },

        userImage: {
          type: Object,
          value: {}
        },

        userImagePath: {
          type: String,
          computed: '_setUserImagePath(userImage)'
        },

        imageHidden:{
          type: Boolean,
          value: true,
          computed: '_hideUserImage(userImage)'
        },

        initialsHidden: {
          type: Boolean,
          value: true,
          computed: '_hideInitials(userInitials)'
        }

      },

      _computeUserInitials: function(name) {
        if (!name) {
          return '';
        }

        var nameArray = name.trim().split(' ');
        var initials = nameArray[0][0];

        if (nameArray.length > 1) {
          initials = initials + nameArray[nameArray.length-1][0];
        }
        return initials;
      },

      _setUserImagePath: function(userImage){
        if(userImage){
          if(userImage.path){
            return userImage.path;
          }
        }
      },

      _hideUserImage: function(userImage) {
        if(userImage && userImage.path){
          return (Boolean)(!userImage.path);
        } else {
          return true;
        }
      },

      _hideInitials: function(initials) {
        return !(Boolean)(initials);
      }

    });
  </script>
</dom-module>
