<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../_data/goodiefy-user-info-data.html">

<dom-module id="user-interests">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
      }
      .info-container{
        text-align: left;
        border-top: 1px solid var(--primary-text-color);
        padding-top: 20px;
        margin-top: 20px;
      }
      .sub-header{
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 15px;
      }
    </style>

    <goodiefy-user-info-data firebase-app="[[app.firebaseApp]]" uid="[[uid]]" user-info="{{userInfo}}"></goodiefy-user-info-data>

    <div id="infoButton" class="tertiary" on-tap="show" hidden$="[[!showInfo]]">[[localize('ProfileInfoShowInfo')]]</div>
    <div id="infoButton" class="tertiary" on-tap="show" hidden$="[[showInfo]]">[[localize('ProfileInfoHideInfo')]]</div>
    <iron-collapse id="collapse">
      <div id="infoContainer" class="info-container" hidden$="[[showInfo]]">
        <template is= "dom-if" if="[[check(userData.company)]]">
          <div class="sub-header"> [[localize('ProfileInfoCompany')]] </div>
          <div id="descriptionContainer" class="description-container">[[userData.company]]</div>
        </template>
        <template is= "dom-if" if="[[check(userInfo.description)]]">
          <div class="sub-header"> [[localize('ProfileInfoDescription')]] </div>
          <div id="descriptionContainer" class="description-container">[[userInfo.description]]</div>
        </template>

        <template is= "dom-if" if="[[check(userInfo.categories)]]">
          <div class="sub-header"> [[localize('ProfileInfoCategories')]]</div>
          <div id="categoriesContainer" class="categories-container">[[getCategories(userInfo.categories)]]</div>
        </template>

        <template is= "dom-if" if="[[check(userInfo.interests)]]">
          <div class="sub-header"> [[localize('ProfileInfoInterests')]]</div>
          <div id="interestsContainer" class="interests-container">[[userInfo.interests]]</div>
        </template>

        <template is= "dom-if" if="{{checkBirthday(userData.birthdayDay, userData.birthdayMonth, userData.birthdayYear)}}">
          <div class="sub-header"> [[localize('ProfileInfoBirthday')]]</div>
          <div id="locationContainer" class="location-container">[[getFormattedBirthday(userData.birthdayDay, userData.birthdayMonth, userData.birthdayYear)]]</div>
        </template>   
      </div>
    </iron-collapse>
  </template>
      
  <script>
        
        Polymer({
          is: "user-interests",

          behaviors: [Polymer.AppLocalizeBehavior],

          properties: {

            userInfo: {
              type: Object
            },

            showInfo: {
              type: Boolean,
              value: true
            },

            language: {
              type: String,
              notify: true
            },

            resources: {
              type: Object,
              notify: true
            }
          },

          show: function(){
            if(this.showInfo){
               this.set("showInfo", false);
               this.$.collapse.toggle();
             }else{
                this.set("showInfo", true);
                this.$.collapse.toggle();
             } 
          },

          getCategories: function(categories){
            if(categories){
              var cat="";
              for (var i = 0; i < categories.length; i++) {
                if(i!=0){
                  cat+=", ";
                }
                cat+=categories[i];       
              }
              return cat;
            }
          },

          getFormattedBirthday: function(day, month, year){
              var birthday = new Date();
              birthday.setFullYear(year);
              birthday.setMonth(month - 1);
              birthday.setDate(day);
              return this.app.getFormattedDate(birthday);
          },

          checkBirthday: function(day, month, year){
              if(day && month && year)
                return true;
              else
                return false
          },

          check: function(data){
              if(data)
                return true;
              else
                return false;
          },
        });
  </script>
</dom-module>