<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../_detail/formatted-user-name.html">
<link rel="import" href="../_detail/formatted-user-reviews.html">
<link rel="import" href="user-avatar.html">
<link rel="import" href="user-interests.html">
<link rel="import" href="user-review-item.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="user-info-page">
  <template>
  <style include="shared-styles">
    :host {
      display: block;
      background: white;
      @apply(--user-info-page);
    }
    .content-margin{
      margin: 0 30px;
    }
    .profile-info{
      padding-bottom: 20px;
      padding-top: 10px;
      border-bottom: 1px solid var(--primary-text-color);
      text-align: center;
    }
    .review-count{
      text-align: center;
      font-size: 20px;
      margin: 20px;
    }
    .next-page-button{
      margin: auto;
      display: block;
      border: 1px solid var(--secondary-color);
      width: 200px;
      text-align: center;
      color: var(--secondary-color);
      padding: 5px 0px;
      margin-top: 30px;
    }
    .review-listing{
      margin-bottom: 30px;
    }
    formatted-user-reviews {
      --review-stars-size: {
        width: 19px;
        height: 19px;
      };
    }
    paper-button{
      text-transform: none;
    }
    @media (min-width: 1024px){
        .profile-info{
            margin: 0 auto;
            width: 60%;
        }
      }
  </style>

  <app-location route="{{currentRoute}}"></app-location>

  <app-route
    route="{{route}}"
    pattern="/:uid"
    data="{{routeData}}"></app-route>

    <div class="profile-info content-margin">
      <goodiefy-user-data firebase-app="[[app.firebaseApp]]" uid="[[routeData.uid]]" user="{{userInfo}}"></goodiefy-user-data>
      <user-avatar class="large"
        cloud-name="[[app.config.cloudinary.cloudName]]"
        user-name="[[userInfo.name]]"
        user-image="[[userInfo.imgMeta]]">
        
      </user-avatar>
      <div class="avatar-info avatar-name avatar-reviews">
          <formatted-user-reviews firebase-app="[[app.firebaseApp]]" uid="[[routeData.uid]]"></formatted-user-reviews>
          <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[userInfo.name]]" short-name></formatted-user-name>
        </div>

      <div class="member-since">[[localize('ProfileInfoMemberSince', 'year', memberSinceYear)]]</div>
      <div><user-interests app="{{app}}" user-data="[[userInfo]]" language="{{language}}" resources="[[resources]]" uid="[[routeData.uid]]"></user-interests></div>
    </div>

    <div class="review-listing">
      <div class="review-count">
        [[localize('ProfileInfoReviewCount', 'count', reviewCount)]]
      </div>

      <template is="dom-repeat" items="[[reviewArray]]">
        <user-review-item review="[[item]]" uid="[[routeData.uid]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></user-review-item>
      </template>

      <template is="dom-if" if="[[!allReviewsLoaded]]">
        <paper-button class="next-page-button" on-click="nextPage">[[localize('ProfileInfoLoadMore')]]</paper-button>
      </template>
    </div>

  </template>
  <script>
    (function() {
      'use strict'

      Polymer({

        is: "user-info-page",

        behaviors: [Polymer.AppLocalizeBehavior],

        ready: function() {
          this.set('loaded', true);
        },

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },
          resources: {
            type: Object,
            notify: true
          },
          loaded: {
            type: Boolean,
            value: false,
            notify: true
          },
          routeData: {
            type: Object,
            observer: '_routeChanged'
          },
          userInfo: {
            type: Object
          },
          memberSinceYear:{
            type: Number,
            value: new Date().getFullYear(),
            computed: 'setMemberSinceYear(userInfo)'
          },
          reviews: {
            type: Object,
            observer: 'computeReviews'
          },
          initialLimit: {
            type: Number,
            value: 2
          },
          itemsPerLoad: {
            type: Number,
            value: 15
          },
          page: {
            type: Number,
            value: 0
          },
          allReviewsLoaded: {
            type: Boolean,
            value: true
          },
          reviewCount: {
            type: Number,
            value: 0
          },
          hiddenKey: {
            type: String,
            value: 'hidden'
          }
        },

        observers: ['computeReviewLocation(app.firebaseApp, routeData.uid, page)'],

        _routeChanged: function(routeData){
          this.set('page', 0);
          this.set('reviewCount', 0);
        },

        nextPage: function(){
          this.set('page', this.page + 1);
        },

        computeReviewLocation: function(app, newID, page) {
          this.set('reviews', {});
          var limit = this.page * this.itemsPerLoad + this.initialLimit;
          if(app && newID && newID != ''){
            app.database().ref().child('reviews/' + newID).on('value', function(snap){
              this.set('reviewArray', []);
              this.set('reviews', {});
              this.set('allReviews', {});
              if(snap.exists()){
                this.set('allReviews', snap.val());
                this.set('reviewCount', this.convertToArray(snap.val()).length);
                if(Object.keys(snap.val()).length <= limit) {
                  this.set('allReviewsLoaded', true);
                } else {
                  this.set('allReviewsLoaded', false);
                }
              } else {
                this.set('reviewCount', 0);
                this.set('allReviewsLoaded', true);
              }

              app.database().ref().child('reviews/' + newID).orderByChild('timestamp').limitToFirst(limit).on('value', function(snapshot){
                if(snapshot.exists()){
                  var keys = Object.keys(snapshot.val());
                  for (var i = keys.length - 1; i >= 0; i--) {
                    var key = keys[i];
                    this.set('reviews.' + key, snapshot.val()[key]);
                  }
                  if(keys[keys.length -1] == this.lastElement){
                    this.set('allReviewsLoaded', true);
                  }
                  var helper = this.reviews;
                  this.set('reviews', {});
                  this.set('reviews', helper);
                  this.computeReviews(this.reviews);
                }                
              }.bind(this));
            }.bind(this));
          }
        },

        computeReviews: function(reviewObject){
          this.set('reviewArray', []);
          this.set('reviewArray', this.convertToArray(reviewObject));
        },

        convertToArray: function(object) {
          if(object){
            var arr = Object.keys(object).map(function (key) {
              var help = new Array();
              help = object[key];
              help['key'] = key;
              help['opened'] = false;
              help['name'] = '';
              return help;
            });
            arr = arr.filter(function(element){return !element[this.hiddenKey]}.bind(this))
            return arr.sort(function(a,b){return a.timestamp - b.timestamp});
          } else {
            return new Array();
          }
        },

        setMemberSinceYear: function() {
          if(this.userInfo){
            if(this.userInfo.registeredTimestamp){
              return new Date(this.userInfo.registeredTimestamp).getFullYear();
            }
          } 
          return new Date().getFullYear();
        }
      });
    })();
  </script>
</dom-module>