<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">

<link rel="import" href="../helper/app-slider.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="category-tile">
  <template>

    <style include="shared-styles">

      :host {
        display: block;
      }

      .tile {
        padding: var(--category-tile-padding, 0);
      }

      :host([fullsize]) .tile {
        width: 100%;
        border: 0;
        float: none;
      }

      .info {
        padding: 20px 10px;
        text-align: center;
        color: white;
      }

      cloudinary-img {
        --cloudinary-host-display: block;
      }

      @media (min-width: 768px) { /* want another breakpoint -> change 768px - please dont mix */

        :host([fullsize]) .tile,
        :host([fullsize]) .image,
        :host([fullsize]) .info {
          box-sizing: border-box;
        }

        :host([fullsize]) .image {
          width: 60%;
          border-right: solid 10px #fff;
          float: left;
        }

        :host([fullsize]) .info {
          width: 40%;
          float: left;
          padding-top: 140px;
        }

      }

      @media (min-width: 768px) {

        .tile {
          width: 50%;
          border: solid 10px #fff;
          box-sizing: border-box;
          float: left;
        }

      }

    </style>

    <div class="tile clearfix" style$="[[inlineStyle]]">
      <div class="image">
        <app-slider>
          <template is="dom-repeat" items="[[images]]">
            <cloudinary-img
              cloud-name="goodiefy-me" class="slider-item"
              path="[[getImagePath(item)]]" transformation-params="w_auto:100:750,dpr_auto"
              sizes="(min-width: 768px) 50vw, 100vw"
              alt=""></cloudinary-img>
          </template>
        </app-slider>
      </div>
      <div class="info">
        <content></content>
      </div>
    </div>

  </template>
  <script>

    Polymer({

      is: 'category-tile',

      properties: {

        category: {
          type: Object,
          observer: 'setImages'
        },

        inlineStyle: {
          type: String,
          computed: '_computeStyling(category.color)'
        }

      },

      _computeStyling: function(color) {
        if (!color) {
          return '';
        }

        return 'background-color: ' + color;
      },

      setImages: function(categoryItem){
        this.set('images', []);
        if(categoryItem.images){
          this.set('images', categoryItem.images);
        }
      },

      getImagePath: function(image){
        if(image.path){
          return image.path;
        } else {
          return '';
        }
      },

    });

  </script>
</dom-module>
