<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../_behaviors/localization-helper.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-item-request">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
      }

    </style>

    <div class="list-item">
      <div class="image-container">
        <cloudinary-img
          cloud-name="goodiefy-me"
          path="[[setPath(item.images.0.path)]]" transformation-params="w_auto:100:750,dpr_auto"
          sizes="(min-width: 768px) 50vw, 100vw"
          alt=""></cloudinary-img>
        <template is="dom-if" if="[[!item.images.0.path]]">
          <img
            src="/images/img-not-loaded-fallback.jpg"
            alt=""></img>
        </template>
      </div>
      <div class="details">
        <h2 class="item-title">[[item.title]]</h2>
        <ul class="item-properties">
          <template is="dom-if" if="[[item.price]]">
            <li><span>[[localize('price')]]: </span>[[getFormattedNumber(item.price, item.currency)]]</li>
          </template>
          <template is="dom-if" if="[[item.bonus]]">
            <li><span>[[localize('DetailBonusLabel')]]: </span>[[getFormattedNumber(item.bonus, item.currency)]]</li>
          </template>
        </ul>
      </div>
    </div>
  </template>
  <script>

    Polymer({
      is: 'list-item-request',

      behaviors: [
        Polymer.AppLocalizeBehavior,
        GMBehaviors.LocalizationHelper
      ],

      setPath: function(path){
        if(path){
          return path;
        } else {
          return '';
        }
      },

    });
  </script>
</dom-module>
