<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-list-data.html">
<link rel="import" href="../_filter/goodiefy-list-filter.html">
<link rel="import" href="../_data/goodiefy-filter-data.html">
<link rel="import" href="list-basic.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-just-for-you">
  <template>

    <style include="shared-styles">
      :host {
        display: block;
      }

      list-basic {
        max-width: 700px;
        margin: auto;
      }

      .intro {
        text-align: center;
      }

      .intro .just-for-you-headline {
        margin-top: 30px;
        margin-bottom: 10px;
      }

      .intro .just-for-you-description {
        color: var(--app-secondary-text-color);
        font-size: 14px;
        margin-bottom: 30px;
      }

      .content-container.last {
        padding-bottom: 50px;
      }

      .sub-headline {
        text-align: center;
        font-size: 14px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: solid 1px var(--app-secondary-text-color);
      }

    </style>

    <!-- load filter -->
    <goodiefy-filter-data user="[[app.user]]" filter-node="backgroundFilter" filter="{{filter}}" app="{{app}}" ></goodiefy-filter-data>

    <!-- load data -->
    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{justForYouRequestsCityAllDataLoaded}}" list-type="requests" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{justForYouRequestsSearchAllDataLoaded}}" list-type="requests" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{justForYouOffersAllDataLoaded}}" list-type="offers" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{justForYouRoutesAllDataLoaded}}" list-type="routes" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <!-- filter data -->
    <goodiefy-list-filter filter-current-user products="[[requestsProducts]]" do-not-load filter="[[requestFilterCity]]" app="{{app}}" list-type="justForYouRequestsCity" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>
    
    <goodiefy-list-filter filter-current-user products="[[requestsProducts]]" do-not-load filter="[[requestFilterSearch]]" app="{{app}}" list-type="justForYouRequestsSearch" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>

    <goodiefy-list-filter filter-current-user products="[[offersProducts]]" do-not-load filter="[[offerFilter]]" app="{{app}}" list-type="justForYouOffers" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>

    <goodiefy-list-filter filter-current-user products="[[routesProducts]]" do-not-load filter="[[routeFilter]]" app="{{app}}" list-type="justForYouRoutes" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>

    <section class="content-container intro">
      <h1 class="just-for-you-headline">[[localize('JustForYouHeadLine')]]</h1>
      <div class="just-for-you-description">[[localize('JustForYouDescription')]]</div>
    </section>

    <section class="content-container" hidden$=[[!nearbyProductsExist(nearbyProducts)]]>
      <div class="sub-headline just-for-you-nearby-headline">[[localize('JustForYouNearbyHeadline')]]</div>
      <list-basic items="[[nearbyProducts]]" loading="false" columns="[[columns]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-basic>
    </section>

    <section class="content-container last">
      <div class="sub-headline just-for-you-nearby-headline">[[localize('JustForYouDescriptionLower')]]</div>
      <list-basic id="listBasic" loading="[[loading]]" items="[[mergedProducts]]" page="{{page}}" columns="[[columns]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-basic>
    </section>
  </template>
  <script>

    Polymer({
      is: 'list-just-for-you',

      behaviors: [
        Polymer.AppLocalizeBehavior
      ],

      properties: {
        app:{
          type: Object
        },

        columns: {
          type: Number,
          value: 1
        },

        pageSize: {
          type: Number,
          value: 10
        },

        page: {
          type: Number,
          value: 0
        },

        minResults:{
          type: Number,
          value: 10
        },

        itemLimit:{
          type: Number,
          computed: 'setItemLimit(page, pageSize)'
        },

        loading: {
          value: true
        },

        nearbyProducts: {
          type: Array,
          value: []
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        }
      },

      observers: [
        'convertFilter(filter)',
        'mergeLists(justForYouRequestsSearch, justForYouRequestsCity, justForYouRoutes, justForYouOffers, filter)'
      ],

      listeners: {
        'list-data-filtered': 'updateListData',
        'list-data-loaded': 'updateFilterInput'
      },

      nearbyProductsExist: function(items){
        return items && items.length > 0;
      },

      convertFilter: function(filter){
        if(filter.offerSearchString){
          this.set('requestFilterSearch', {searchInput: filter.offerSearchString});
        } else {
          this.set('justForYouRequestsSearch', []);
        }
        if(filter.routeSearchString){
          this.set('requestFilterCity', {city: filter.routeSearchString});
        } else {
          this.set('justForYouRequestsCity', []);
        }
        if(filter.requestOfferSearchString){
          this.set('offerFilter', {searchInput: filter.requestOfferSearchString});
        } else {
          this.set('justForYouOffers', []);
        }
        if(filter.requestRouteSearchString){
          this.set('routeFilter', {city: filter.requestRouteSearchString});
        } else {
          this.set('justForYouRoutes', []);
        }
      },

      mergeLists: function(requestsSearch, requestsCity, routes, offers, filter){
        var mergedList = [];
        if(offers && !filter.offers){
          mergedList = mergedList.concat(offers);
        }
        if(routes && !filter.routes){
          mergedList = mergedList.concat(routes);
        }
        if(requestsSearch && !filter.requests){
          mergedList = mergedList.concat(requestsSearch);
        }
        if(requestsCity && !filter.requests){
          mergedList = mergedList.concat(requestsCity);
        }
        mergedList.sort(function(a,b){
          var aTimestamp = a.activeDate;
          var bTimestamp = b.activeDate;
          if(aTimestamp < 0){
            aTimestamp = - aTimestamp;
          }
          if(bTimestamp < 0){
            bTimestamp = - bTimestamp;
          }
          return bTimestamp - aTimestamp;
        });
        this.set('mergedProducts', mergedList);
      },

      updateListData: function(e){
        var detail = e.detail;
        var data = [];
        data = detail.products;
        // check if results are there. if not try to increase the page variable
        if(data.length == 0){
          if(this[detail.type  + 'AllDataLoaded']){
          } else {
            this.set('page', this.page + 1);
            this.$.listBasic.clearThreshold();
          }
        } else {
          if(!this[detail.type  + 'AllDataLoaded']){
            this.$.listBasic.clearThreshold();
          }
        }
        this.set(detail.type, data);
        this.set('loading', false);
        if(!this[detail.type  + 'AllDataLoaded'] && data.length < this.minResults){
          this.set('page', this.page + 1);
        }
      },

      updateFilterInput: function(e){
        var detail = e.detail;
        this.set(detail.type + 'Products', detail.products);
      },

      setItemLimit: function(page, pageSize){
        this.set('loading', true);
        return (page + 1) * pageSize;
      },

      loadMoreData: function(e){
        this.set('page', this.page + 1);
      },

      reset: function(){
        this.$.listBasic.reset();
      },
    });
  </script>
</dom-module>
