<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-list-data.html">
<link rel="import" href="../_filter/goodiefy-list-filter.html">
<link rel="import" href="list-basic.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="list-requests-offers-routes">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .item-detail-header h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }

      .item-detail-header .sub-title {
        font-size: 12px;
      }

      .item-detail-header .sub-title strong {
        font-weight: normal;
      }

    </style>

    <goodiefy-list-data
      firebase-app="[[app.firebaseApp]]"
      all-Loaded="{{allDataLoaded}}"
      list-type="[[listType]]"
      order-by="[[listOrder]]"
      limit={{itemLimit}}></goodiefy-list-data>

    <goodiefy-list-filter
      app="{{app}}"
      category="[[category]]"
      list-type="[[listType]]"
      filter-node="[[filterNode]]"
      products="[[products]]"
      order-by="{{listOrder}}"
      language="{{language}}"
      resources="[[resources]]"></goodiefy-list-filter>

      <header hidden$="[[category]]" class="item-detail-header"  style$="background: [[localize('ListColor', 'listType', listType)]];">
        <h1>[[localize('ListHeadline', 'listType', listType)]]</h1>
        <div class="sub-title"><strong>[[localize('ListSubHeadline', 'listType', listType)]]</strong></div>
      </header>

    <list-basic
      id="listBasic"
      no-data="[[noData]]"
      loading="[[loading]]"
      items="[[filteredProducts]]"
      page="{{page}}"
      columns="[[columns]]"
      app="{{app}}"
      language="{{language}}"
      resources="[[resources]]"></list-basic>

  </template>
  <script>

    Polymer({
      is: 'list-requests-offers-routes',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        app:{
          type: Object
        },

        columns: {
          type: Number,
          value: 2
        },

        pageSize: {
          type: Number,
          value: 1000
        },

        page: {
          type: Number,
          value: 0
        },

        minResults:{
          type: Number,
          value: 10
        },

        itemLimit:{
          type: Number,
          computed: 'setItemLimit(page, pageSize)'
        },

        loading: {
          value: true
        },

        noData: {
          value: false
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        visible: {
          type: Boolean
        }
      },

      observers: ['listTypeChanged(listType, visible)'],

      listeners: {
        'list-data-filtered': 'updateListData',
        'list-data-loaded': 'updateFilterInput'
      },

      listTypeChanged: function(listType, visible){
        if(!visible){
          return;
        }
        if(this.oldListType != listType){
          this.oldListType = listType;
          if(listType == 'routes'){
            this.set('columns', 1);
          } else {
            this.set('columns', 2);
          }
          this.reset();
        }
      },

      updateListData: function(e){
        var detail = e.detail;
        var data = [];
        if(detail.type == this.listType){
          data = detail.products;
        } else {
          return;
        }
        // check if results are there. if not try to increase the page variable
        if(data.length == 0){
          if(this.allDataLoaded){
            this.set('noData', true);
          } else {
            this.set('noData', false);
            this.set('page', this.page + 1);
            this.$.listBasic.clearThreshold();
          }
        } else {
          this.set('noData', false);
          if(!this.allDataLoaded){
            this.$.listBasic.clearThreshold();
          }
          // incr. page if to few results
        }
        this.set('filteredProducts', data);
        this.set('loading', false);
        if(!this.allDataLoaded && data.length < this.minResults){
          this.set('page', this.page + 1);
        }
      },

      updateFilterInput: function(e){
        var detail = e.detail;
        if(detail.type == this.listType){
          this.set('products', detail.products);
        }
      },

      setItemLimit: function(page, pageSize){
        this.set('loading', true);
        return (page + 1) * pageSize;
      },

      loadMoreData: function(e){
        this.set('page', this.page + 1);
      },

      reset: function(){
        this.$.listBasic.reset();
      },
    });
  </script>
</dom-module>
