<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-list-data.html">
<link rel="import" href="../_filter/goodiefy-list-filter.html">
<link rel="import" href="../_data/goodiefy-detail-data.html">
<link rel="import" href="list-basic.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-request-success">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
      }

      .content-container {
        max-width: 900px;
      }

      .content-container header {
        margin-top: 35px;
        margin-bottom: 35px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .content-container .description {
        font-size: 14px;
      }

      .empty-list {
        margin-top: 35px;
        padding-bottom: 35px;
        text-align: center;
      }
      .empty-list .actions {
        margin-top: 35px;
      }     
    </style>

    <app-route
      route="[[route]]"
      pattern="/:key"
      data="{{routeData}}"></app-route>

    <!-- load created detail object -->
    <goodiefy-detail-data firebase-app="[[app.firebaseApp]]" data-type="requests" key="[[requestKey]]" detail-item="{{detailItem}}"></goodiefy-detail-data>

    <!-- load data -->
    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{justForYouOffersAllDataLoaded}}" list-type="offers" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{justForYouRoutesAllDataLoaded}}" list-type="routes" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <!-- filter data -->
    <goodiefy-list-filter filter-current-user products="[[offersProducts]]" do-not-load filter="[[offerFilter]]" app="{{app}}" list-type="justForYouOffers" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>

    <goodiefy-list-filter filter-current-user products="[[routesProducts]]" do-not-load filter="[[routeFilter]]" app="{{app}}" list-type="justForYouRoutes" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>

    <div class="content-container">
      <header>
        <h1 class="headline">[[localize('CreateSuccessHeadlineRequests')]]</h1>
        <div class="description">[[localize('CreateSuccessDescriptionRequests')]]</div>
      </header>

      <list-basic 
        id="listBasic" 
        loading="[[loading]]" 
        no-data="[[noData]]" 
        listing-no-match-headline="CreateSuccessNoDataHeadline" 
        listing-no-match-description="CreateSuccesNoDataDescription"
        items="[[mergedProducts]]" 
        page="{{page}}" 
        columns="[[columns]]" 
        app="{{app}}" 
        language="{{language}}" 
        resources="[[resources]]"></list-basic>
    </div>
  </template>
  <script>

    Polymer({
      is: 'list-request-success',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        app:{
          type: Object
        },

        columns: {
          type: Number,
          value: 1
        },

        pageSize: {
          type: Number,
          value: 10
        },

        page: {
          type: Number,
          value: 0
        },

        minResults:{
          type: Number,
          value: 10
        },

        itemLimit:{
          type: Number,
          computed: 'setItemLimit(page, pageSize)'
        },

        loading: {
          value: true
        },

        nearbyProducts: {
          type: Array,
          value: []
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        visible: {
          type: Boolean
        }
      },

      observers: ['convertFilter(detailItem)', 'mergeLists(justForYouRoutes, justForYouOffers)', 'keyChanged(routeData, visible)', 'setNoData(noDatajustForYouRoutes, noDatajustForYouOffers)'],

      listeners: {
        'list-data-filtered': 'updateListData',
        'list-data-loaded': 'updateFilterInput'
      },

      keyChanged: function(routeData, visible){
        if(!visible){
          return;
        }
        this.set('requestKey', routeData.key);
        this.reset();
      },

      setNoData: function(noRoutes, noOffers){
        if(noRoutes && noOffers){
          this.set('noData', true);
        } else {
          this.set('noDate', false);
        }
      },

      convertFilter: function(data){
        var citySearchString = "";
        if(data.salelocation){
          for (var i = Object.keys(data.salelocation).length - 1; i >= 0; i--) {
            if(citySearchString.indexOf(data.salelocation[Object.keys(data.salelocation)[i]].city) < 0){
              citySearchString += data.salelocation[Object.keys(data.salelocation)[i]].city;
              citySearchString += ",";
            }
          }
        }
        var routeFilter = {};
        routeFilter.city = citySearchString;
        this.set('routeFilter', routeFilter);


        var searchString = "";
        searchString += data.title + " ";

        if(data.tags){
          for (var i = Object.keys(data.tags).length - 1; i >= 0; i--) {
            if(searchString.indexOf(Object.keys(data.tags)[i]) < 0){
              searchString += Object.keys(data.tags)[i] + " ";
            }
          }
        }
        var offerFilter = {};
        offerFilter.searchInput = searchString;
        this.set('offerFilter', offerFilter);
      },

      mergeLists: function(routes, offers){
        var mergedList = [];
        if(offers){
          mergedList = mergedList.concat(offers);
        }
        if(routes && this.routeFilter.city){
          mergedList = mergedList.concat(routes);
        }
        if(!this.routeFilter.city){
          this.set('noDatajustForYouRoutes', true);
        }
        mergedList.sort(function(a,b){
          var aTimestamp = a.activeDate;
          var bTimestamp = b.activeDate;
          if(aTimestamp < 0){
            aTimestamp = - aTimestamp;
          }
          if(bTimestamp < 0){
            bTimestamp = - bTimestamp;
          }
          return bTimestamp - aTimestamp;
        });
        this.set('mergedProducts', mergedList);
      },

      updateListData: function(e){
        var detail = e.detail;
        var data = [];
        data = detail.products;
        // check if results are there. if not try to increase the page variable
        if(data.length == 0){
          if(this[detail.type  + 'AllDataLoaded']){
            this.set('noData' + detail.type, true);
          } else {
            this.set('noData' + detail.type, false);
            this.set('page', this.page + 1);
            this.$.listBasic.clearThreshold();
          }
        } else {
          this.set('noData' + detail.type, false);
          if(!this[detail.type  + 'AllDataLoaded']){
            this.$.listBasic.clearThreshold();
          }
        }
        this.set(detail.type, data);
        this.set('loading', false);
        if(!this[detail.type  + 'AllDataLoaded'] && data.length < this.minResults){
          this.set('page', this.page + 1);
        }
      },

      updateFilterInput: function(e){
        var detail = e.detail;
        this.set(detail.type + 'Products', detail.products);
      },

      setItemLimit: function(page, pageSize){
        this.set('loading', true);
        return (page + 1) * pageSize;
      },

      loadMoreData: function(e){
        this.set('page', this.page + 1);
      },

      reset: function(){
        this.$.listBasic.reset();
      },
    });
  </script>
</dom-module>
