<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="list-basic.html">
<link rel="import" href="../_data/goodiefy-detail-data.html">

<dom-module id="list-favorites">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <template class="column-repeater" is="dom-repeat" items="[[favoritesKeys]]">
      <goodiefy-detail-data firebase-app="[[app.firebaseApp]]" data-type="requests" key="[[item]]"></goodiefy-detail-data>
      <goodiefy-detail-data firebase-app="[[app.firebaseApp]]" data-type="routes" key="[[item]]"></goodiefy-detail-data>
      <goodiefy-detail-data firebase-app="[[app.firebaseApp]]" data-type="offers" key="[[item]]"></goodiefy-detail-data>
    </template>
    
    <list-basic items="[[favorites]]" loading="[[loading]]" no-data="[[noData]]" columns="[[columns]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-basic>


  </template>
  <script>

    Polymer({
      is: 'list-favorites',

      properties: {
        app:{
          type: Object
        },

        columns: {
          type: Number,
          value: 2
        },

        loading: {
          value: false
        },

        noData: {
          value: false
        },

        page: {
          type: Number,
          notify: true
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        favorites: {
          type: Array,
          value: []
        }
      },

      listeners: {
        'detail-data-loaded': 'newData'
      },

      observers: ['updateFavoritesArray(app.user.favorites)'],

      newData: function(e){
        if(e.detail.itemType == 'routes'){
          var today = new Date();
          var todayTimestamp = today.getTime();
          if(!(e.detail.endDate > todayTimestamp)){
              return;
            }
        }

        var exitingItem = this.favorites.filter(function(item){return item.__key__ == e.detail.__key__});
        if(exitingItem.length == 0){
          this.push('favorites', e.detail);
        } else {
          var currentIndex = this.favorites.indexOf(exitingItem[0]);
          this.splice('favorites', currentIndex, 1, e.detail);
        }

        this.set('favorites', this.favorites.sort(function(a,b){
          var aTimestamp = a.activeDate;
          var bTimestamp = b.activeDate;
          if(aTimestamp < 0){
            aTimestamp = - aTimestamp;
          }
          if(bTimestamp < 0){
            bTimestamp = - bTimestamp;
          }
          return bTimestamp - aTimestamp;
        }));
        this.set('loading', false);
      },

      updateFavoritesArray: function(favorites){
        if(!favorites){
          return;
        }
        this.set('favoritesKeys', Object.keys(favorites));
        if(this.favorites){
          this.set('favorites', this.favorites.filter(function(item){return this.favoritesKeys.indexOf(item.__key__) >= 0}.bind(this)));
        }
      },
    });
  </script>
</dom-module>
