<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="list-item-request.html">
<link rel="import" href="list-item-offer.html">
<link rel="import" href="list-item-route.html">

<dom-module id="list-item">
  <template>
    <style>
      :host {
        display: block;
      }

      a {
        text-decoration: none;
      }
    </style>

    <template is="dom-if" if="[[equal(item.itemType, 'requests')]]">
      <a href$="/detail/requests/[[item.__key__]]">
        <list-item-request item="[[item]]" language="{{language}}" resources="[[resources]]"></list-item-request>
      </a>
    </template>
    <template is="dom-if" if="[[equal(item.itemType, 'offers')]]">
      <a href$="/detail/offers/[[item.__key__]]">
        <list-item-offer item="[[item]]" language="{{language}}" resources="[[resources]]"></list-item-offer>
      </a>
    </template>
    <template is="dom-if" if="[[equal(item.itemType, 'routes')]]">
      <a href$="/detail/routes/[[item.__key__]]">
        <list-item-route app="{{app}}" item="[[item]]" language="{{language}}" resources="[[resources]]"></list-item-route>
      </a>
    </template>

  </template>
  <script>

    Polymer({
      is: 'list-item',

      properties: {
        itemType: {
          type: String
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        }
      },

      equal: function(str1, str2){
        return str1 == str2;
      },
    });
  </script>
</dom-module>
