<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="list-item.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-basic">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
      }

      .loadingIndicator{
        text-align: center;
        margin: 20px;
      }

      .column {
        float:left;
        box-sizing: border-box;
      }

      .column-0 {
        padding-right: 2px;
        padding-left: 0;
      }

      .column-1 {
        padding-left: 2px;
        padding-right: 0;
      }

      .content-container {
        max-width: 900px;
      }

      .empty-list {
        margin-top: 35px;
        padding-bottom: 35px;
        text-align: center;
      }

      .empty-list .actions {
        margin-top: 35px;
      }

      .clearfix:before,
      .clearfix:after {
        content:"";
        display:table;
      }
      .clearfix:after {
        clear:both;
      }

      @media (min-width: 768px) {
        .column-0 {
          padding-right: 5px;
          padding-left: 0;
        }

        .column-1 {
          padding-left: 5px;
          padding-right: 0;
        }
      }

    </style>

    <div class="content-container clearfix">
      <template is="dom-repeat" items="[[columnData]]" as="listColumns" index-as="outerIndex">
        <div class$="column column-[[outerIndex]]" style$="width: calc(100% / [[columns]]);">
          <template class="column-repeater" is="dom-repeat" items="[[items]]" index-as="innerIndex" filter="[[filterFunction(outerIndex, columns, items)]]"  on-dom-change="updateThreshold">
            <list-item app="{{app}}" item="[[item]]" item-type="[[listType]]" language="{{language}}" resources="[[resources]]"></list-item>
          </template>
        </div>
      </template>

      <div class="empty-list" hidden$=[[!noData]]>
        <h1>[[localize(listingNoMatchHeadline)]]</h1>
        <div class="description">[[localize(listingNoMatchDescription)]]</div>
        <div class="actions">
          <a href="/account/my-goodiefy">
            <paper-button class="primary">[[localize('ListingNoMatchButton')]]</paper-button>
          </a>
        </div>
      </div>
    </div>

    <div class="loadingIndicator" hidden$=[[loadingHidden(loading)]]>
      <paper-spinner active="[[loading]]"></paper-spinner>
    </div>

    <iron-scroll-threshold
      id="listScrollThreshold"
      on-lower-trigger="loadMoreData"
      lower-threshold="[[lowerThreshold]]"
      scroll-target="[[scrollTarget]]"></iron-scroll-threshold>

  </template>
  <script>

    Polymer({
      is: 'list-basic',

      behaviors: [
        Polymer.AppLocalizeBehavior
      ],

      properties: {
        app:{
          type: Object
        },

        columns: {
          type: Number,
          value: 2
        },

        columnData: {
          type: Array,
          computed: 'setColumnData(columns)'
        },

        thresholdBuffer: {
          type: Number,
          value: 300
        },

        loading: {
          value: true
        },

        noData: {
          value: false
        },

        page: {
          type: Number,
          notify: true
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        listingNoMatchHeadline: {
          type: String,
          value: 'ListingNoMatchHeadline'
        },

        listingNoMatchDescription: {
          type: String,
          value: 'ListingNoMatchDescription'
        }
      },

      ready: function(){
        //set scroll target for the iron-scroll-treshold
        this.set('scrollTarget', this.app.getScrollTarget());
      },

      loadingHidden: function(loading){
        return !(loading == true);
      },

      updateThreshold: function(){
        // set the threshold to the smalest column
        var columns = Polymer.dom(this.root).querySelectorAll('.column');
        var min = Infinity;
        for (var i = columns.length - 1; i >= 0; i--) {
          if(columns[i].clientHeight < min){
            min = columns[i].clientHeight;
          }
        }
        if(this.allDataLoaded){
          this.set('lowerThreshold', null);
        } else {
          this.set('lowerThreshold', this.scrollTarget.scrollHeight - min + this.thresholdBuffer);
        }
      },

      setColumnData: function(columns){
        // needed for dom-repeat to work
        var columnArray = [];
        for (var i = columns-1; i >= 0; i--) {
          columnArray.push(i);
        }
        return columnArray;
      },

      loadMoreData: function(e){
        this.set('page', this.page + 1);
      },

      filterFunction: function(index, columns, products){
        // split the items among the columns
        if(columns == 1){
          return;
        }

        return function(item) {
          return (products.indexOf(item) + index) % columns == 0
        };
      },

      reset: function(){
        this.set('items', []);
        this.set('page', 0);
        this.set('loading', true);
        this.set('noData', false);
        this.$.listScrollThreshold.clearLower();
      },

      clearThreshold: function(){
        this.$.listScrollThreshold.clearLower();
      },
    });
  </script>
</dom-module>
