<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">


<link rel="import" href="../_data/goodiefy-detail-data.html">
<link rel="import" href="../_filter/goodiefy-list-filter.html">
<link rel="import" href="../_data/goodiefy-filter-data.html">
<link rel="import" href="list-basic.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-route-success">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
      }

      .content-container {
        max-width: 900px;
      }

      .content-container header {
        margin-top: 35px;
        margin-bottom: 35px;
        padding-left: 10px;
        padding-right: 10px;
      }

      .content-container .description {
        font-size: 14px;
      }
      
    </style>

    <app-route
      route="[[route]]"
      pattern="/:key"
      data="{{routeData}}"></app-route>

    <!-- load created detail object -->
    <goodiefy-detail-data firebase-app="[[app.firebaseApp]]" data-type="routes" key="[[routeKey]]" detail-item="{{detailItem}}"></goodiefy-detail-data>

    <!-- load data -->
    <goodiefy-list-data firebase-app="[[app.firebaseApp]]" all-Loaded="{{allDataLoaded}}" list-type="requests" order-by="negActiveDate" limit={{itemLimit}}></goodiefy-list-data>

    <!-- filter data -->
    <goodiefy-list-filter filter-current-user products="[[products]]" do-not-load="true" filter="[[filter]]" app="{{app}}" list-type="requests" language="{{language}}" resources="[[resources]]"></goodiefy-list-filter>


    <div class="content-container">
      <header>
        <h1 class="headline">[[localize('CreateSuccessHeadlineRoutes')]]</h1>
        <div class="description">[[localize('CreateSuccessDescriptionRoutes')]]</div>
      </header>

      <list-basic 
        id="listBasic" 
        loading="[[loading]]" 
        no-data="[[noData]]" 
        listing-no-match-headline="CreateSuccessNoDataHeadline"
        listing-no-match-description="CreateSuccesNoDataDescription"
        items="[[filteredProducts]]" 
        page="{{page}}" 
        columns="[[columns]]" 
        app="{{app}}" 
        language="{{language}}" 
        resources="[[resources]]"></list-basic>
    </div>
  </template>
  <script>

    Polymer({
      is: 'list-route-success',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        app:{
          type: Object
        },

        columns: {
          type: Number,
          value: 1
        },

        pageSize: {
          type: Number,
          value: 10
        },

        page: {
          type: Number,
          value: 0
        },

        minResults:{
          type: Number,
          value: 10
        },

        itemLimit:{
          type: Number,
          computed: 'setItemLimit(page, pageSize)'
        },

        loading: {
          value: true
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        visible: {
          type: Boolean
        }
      },

      observers: ['convertFilter(detailItem)', 'keyChanged(routeData, visible)'],

      listeners: {
        'list-data-filtered': 'updateListData',
        'list-data-loaded': 'updateFilterInput'
      },

      keyChanged: function(routeData, visible){
        if(!visible){
          return;
        }
        this.set('routeKey', routeData.key);
        this.reset();
      },

      convertFilter: function(data){
        var citySearchString = "";
        if(data.salelocation){
          for (var i = Object.keys(data.salelocation).length - 1; i >= 0; i--) {
            if(citySearchString.indexOf(data.salelocation[Object.keys(data.salelocation)[i]].city) < 0){
              citySearchString += data.salelocation[Object.keys(data.salelocation)[i]].city;
              citySearchString += ",";
            }
          }
        }
        var filter = {};
        filter.city = citySearchString;
        this.set('filter', filter);
      },

      updateListData: function(e){
        var detail = e.detail;
        var data = [];
        data = detail.products;

        // check if results are there. if not try to increase the page variable
        if(data.length == 0){
          if(this.allDataLoaded){
            this.set('noData', true);
          } else {
            this.set('noData', false);
            this.set('page', this.page + 1);
            this.$.listBasic.clearThreshold();
          }
        } else {
          this.set('noData', false);
          if(!this.allDataLoaded){
            this.$.listBasic.clearThreshold();

          }
          // incr. page if to few results
        }
        this.set('filteredProducts', data);
        this.set('loading', false);
        if(!this.allDataLoaded && data.length < this.minResults){
          this.set('page', this.page + 1);
        }
      },

      updateFilterInput: function(e){
        var detail = e.detail;
        this.set('products', detail.products);
      },

      setItemLimit: function(page, pageSize){
        this.set('loading', true);
        return (page + 1) * pageSize;
      },

      loadMoreData: function(e){
        this.set('page', this.page + 1);
      },

      reset: function(){
        this.$.listBasic.reset();
      },
    });
  </script>
</dom-module>
