<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-list-data.html">
<link rel="import" href="../_data/goodiefy-category-data.html">
<link rel="import" href="category-tile.html">
<link rel="import" href="list-requests-offers-routes.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-category">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .content-container {
        max-width: 900px;
        margin-bottom: 25px;
      }

    </style>

    <app-route
      route="[[route]]"
      pattern="/:listType/:category"
      data="{{routeData}}"></app-route>

    <goodiefy-category-data firebase-app="[[app.firebaseApp]]" categories="{{categories}}"></goodiefy-category-data>
    <div class="content-container">
      <category-tile fullsize category="[[setCategorieData(category, categories, visible)]]">
        <h3 class="teaser-headline">[[localize(category, 'type', 'headline')]]</h3>
        <p class="teaser-description"><strong>[[localize(category, 'type', 'description')]]</strong></p>
      </category-tile>
    </div>
    <list-requests-offers-routes name="default" list-type="[[listType]]" filter-node="[[listType]]-[[category]]" category="[[category]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-requests-offers-routes>

  </template>
  <script>

    Polymer({
      is: 'list-category',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        app:{
          type: Object
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        },

        visible: {
          type: Boolean
        },

        categories: {
          type: Object
        },

        routeData: {
          type: Object,
          observer: 'routeChanged'
        }
      },


      routeChanged: function(newRouteData){
        if(!newRouteData.listType || !newRouteData.category){
          return;
        }
        this.set('listType', newRouteData.listType);
        this.set('category', newRouteData.category);
      },

      setCategorieData: function(category, categories, visible){
        if(!visible){
          return {};
        }
        var help = categories[category];
        if(!help){
          return {};
        }
        help.images = [];
        help.images.push(help.image);
        return help;
      },
    });
  </script>
</dom-module>
