<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">


<link rel="import" href="../shared-styles.html">
<link rel="import" href="list-item-request.html">
<link rel="import" href="list-item-offer.html">
<link rel="import" href="list-item-route.html">

<dom-module id="list-my-items">
  <template>

    <style include="shared-styles">

      :host {
        display: block;
      }

      .content-container {
        max-width: 600px;
      }

      .draft-placeholder{
        text-align: center;
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:itemType"
      data="{{routeData}}"></app-route>

    <paper-tabs id="stateFilter" attr-for-selected="activeState" selected="{{activeState}}" no-bar noink>
      <paper-tab activeState$="[[itemState.0]]">
        <div class="title">
          [[localize('ListingOpen')]]<br>
          <span class="counter">[[activeArray.length]]</span>
        </div>
      </paper-tab>
      <paper-tab activeState$="[[itemState.1]]">
        <div class="title">
          [[localize('ListingDraft')]]<br>
          <span class="counter">[[draftArray.length]]</span>
        </div>
      </paper-tab>
    </paper-tabs>

    <div class="content-container">
      <template is="dom-repeat" items="[[selectList(activeState, activeArray, draftArray)]]">
        <template is="dom-if" if="[[_selectListItem(item.itemType, 'requests')]]">
          <a href$="[[getLink(item)]]">
            <div class="draft-placeholder">[[getDraftPlaceHolder(item)]]</div>
            <list-item-request item="[[item]]" language="{{language}}" resources="[[resources]]"></list-item-request>
          </a>
        </template>
        <template is="dom-if" if="[[_selectListItem(item.itemType, 'offers')]]">
          <a href$="[[getLink(item)]]">
            <div class="draft-placeholder">[[getDraftPlaceHolder(item)]]</div>
            <list-item-offer item="[[item]]" language="{{language}}" resources="[[resources]]"></list-item-offer>
          </a>
        </template>
        <template is="dom-if" if="[[_selectListItem(item.itemType, 'routes')]]">
          <a href$="[[getLink(item)]]">
            <div class="draft-placeholder">[[getDraftPlaceHolder(item)]]</div>
            <list-item-route app="{{app}}" item="[[item]]" language="{{language}}" resources="[[resources]]"></list-item-route>
          </a>
        </template>
      </template>
    </div>

  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'list-my-items',

        behaviors: [
          Polymer.AppLocalizeBehavior,
        ],

        properties: {

          itemState:{
            type: Array,
            value: [
              'open',
              'draft'
            ]
          },

          activeState: {
            type: String,
            value: 'open'
          },

          routeData: {
            type: Object,
            observer: 'routeChanged'
          },

          itemType: {
            type: String
          },

          activeArray: {
            type: Array,
            value: []
          },

          draftArray: {
            type: Array,
            value: []
          }
        },

        observers: ['itemTypeChanged(itemType, app.firebaseApp, app.firebaseUser)'],

        routeChanged: function(newRouteData){
          switch(newRouteData.itemType){
            case 'requests':
              this.set('itemType', 'requests');
              break;
            case 'offers':
              this.set('itemType', 'offers');
              break;
            case 'routes':
              this.set('itemType', 'routes');
              break;
          }
          this.set('activeState', this.itemState[0]);
        },

        selectList: function(state, activeArray, draftArray){
          if(state == this.itemState[0]){
            return activeArray;
          } else {
            return draftArray;
          }
        },

        getDraftPlaceHolder: function(item){
          if(item.itemState == this.itemState[1]){
            return this.localize('ListingDraft');
          } else {
            return null;
          }
        },

        getLink: function(item){
          return '/create/' + item.itemType.slice(0, -1) + '/title/' + item.__key__ + '/' + item.lifecycle;
        },

        itemTypeChanged: function(newItemType, firebaseApp, user){
          if(!newItemType || !firebaseApp || !user){
            return;
          }
          var ref = firebaseApp.database().ref();

          // get items in status open
          ref.child(newItemType + '/published').orderByChild('createdBy').equalTo(user.uid).on('value', function(snapshot){
            if(snapshot.exists()){
              var data = snapshot.val();
              var activeArray = Object.keys(data).map(function(key){
                var help = data[key];
                help['__key__'] = key;
                help['itemType'] = newItemType;
                help['itemState'] = this.itemState[0];
                return help;
              }.bind(this));
              if(activeArray.length > 0 && newItemType == 'routes'){
                var today = new Date();
                var todayTimestamp = today.getTime();
                activeArray = activeArray.filter(function(item){return item.endDate > todayTimestamp});
              }
              activeArray = activeArray.sort(function(a,b){
                var aTimestamp = a.activeDate;
                var bTimestamp = b.activeDate;
                if(aTimestamp < 0){
                  aTimestamp = - aTimestamp;
                }
                if(bTimestamp < 0){
                  bTimestamp = - bTimestamp;
                }
                return bTimestamp - aTimestamp;
              });
              this.set('activeArray', activeArray);
            } else {
              this.set('activeArray', []);
            }
          }, this);

          // get items in status draft
           ref.child('users/' + user.uid + '/' + newItemType + '/draft').orderByChild('createdBy').equalTo(user.uid).on('value', function(snapshot){
            if(snapshot.exists()){
              var data = snapshot.val();
              var draftArray = Object.keys(data).map(function(key){
                var help = data[key];
                help['__key__'] = key;
                help['itemType'] = newItemType;
                help['itemState'] = this.itemState[1];
                return help;
              }.bind(this));
              this.set('draftArray', draftArray);
            } else {
              this.set('draftArray', []);
            }
          }, this);
        },

         _selectListItem: function(currentType, itemType){
          return currentType == itemType;
        },
      });
    })();
  </script>

</dom-module>
