<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../_behaviors/localization-helper.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="list-item-route">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }
      .static-map{
        max-width: 100%;
      }
    </style>

    <div class="list-item">
      <div class="image-container">
        <img class="static-map" src$="[[computeMapUrl(item, app.config.googleApiKey)]]">
      </div>
      <div class="details">
        <h2 class="item-title">[[item.title]]</h2>
        <ul class="item-properties">
          <li>[[getStartEndLocation(item.salelocation)]]</li>
          <li>[[getRealDate('startDate', item.startDate)]][[getRealDate('endDate', item.endDate)]]</li>
        </ul>
      </div>
    </div>

  </template>
  <script>

    Polymer({
      is: 'list-item-route',

      behaviors: [
          Polymer.AppLocalizeBehavior, GMBehaviors.LocalizationHelper
      ],

      getStartDate: function(date) {
        return this.getRealDate('startDate', date);
      },

      getEndDate: function(date){
        return this.getRealDate('endDate', date);
      },

      computeMapUrl: function(item, apiKey){
        var salelocation = item.salelocation;
        var mapUrl = 'https://maps.googleapis.com/maps/api/staticmap?&size=640x400&scale=2&language=' + this.language + '&path=weight:3|color:blue';
        var markerString = '';
        if(!salelocation){
          return '../../images/img-not-loaded-fallback.jpg';
        }
        for (var i = salelocation.length - 1; i >= 0; i--) {
          if(!salelocation[i].city){
            continue;
          }
          var location = salelocation[i].city.replace(' ', '+') + ',' + salelocation[i].country;
          mapUrl += '|' + location;
          markerString += '&markers='
          if(i == salelocation.length-1){
            markerString += 'color:red|label:B|';
          } else {
            markerString += 'color:green|';
          }
          if(i == 0){
            markerString += 'label:A|';
          }
          markerString +=  location;
        }
        return (mapUrl + markerString + '&key=' + apiKey);
      },


      getRealDate: function(infoKey, date){
        if(date < 0){
          date = - date;
        }
        if(date){
          if(infoKey == 'endDate'){
            return ' - ' + this.getFormattedDate(new Date(date));
          }
          return this.getFormattedDate(new Date(date));
        }
        return '';
      },

      getLocation: function(routeInfo, position){
        if(position<0 && routeInfo){
          position=routeInfo.length-1;
        }
        if(routeInfo){
          if(routeInfo[position]){
          return routeInfo[position].city;
          }
        }
        return null;
      },

      getStartEndLocation: function(routeInfo){
        var startPoint = this.getLocation(routeInfo, 0);
        var endPoint = this.getLocation(routeInfo, -1);
        if(startPoint != endPoint){
          return startPoint + ' - ' + endPoint;
        } else {
          return startPoint;
        }
      }

    });
  </script>
</dom-module>
