<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="animated-button">

  <template>

   <style include="shared-styles">
      .get-button{
        -webkit-transform: translateZ(0);
        position: fixed;
        width: 98%;
        margin-right: 0px;
        margin-left: 0px;
        bottom: 5px;
        left: 1%;
        right: 1%;
        padding: 10px;
      }
      .animate-button {
        position: fixed;
        width: 100%;
        bottom: 0px;
      }
      .start-animation-button{
        transition: 0.5s ease-out;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        transform: translateX(88%);
        -webkit-transform: translateX(88%);
        -moz-transform: translateX(88%);
      }
      .reset-animation-button{
        transition: 0.5s ease-out;
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
      }
      .small-get-button{
        -webkit-transform: translateZ(0);
        border-radius: 3px;
        height: 44px;
        width: 44px;
        position: fixed;
        bottom: 5px;
        right: 1%;
        color: white;
        background: var(--app-secondary-color);
      }
      iron-icon{
        width: 30px;
        height: 30px;
        float: right;
        bottom: -7px;
        right: 7px;
      }      
      @media (min-width: 1024px) {
        .get-button {
          width:17%;
          left: 80%;
          margin-bottom: 20px;
          transform: none;
        }
        .small-get-button{
          display: none;
        }
      }
    </style>

    <div class$="[[myClass]] animate-button">
      <paper-button hidden$="[[showButton]]" class="get-button primary"><content id="sourceText"></content></paper-button>
    </div>
    <div hidden$="[[!showButton]]" class="small-get-button"><iron-icon icon="{{myIcon}}"></iron-icon></div>

  </template>

  <script>

    Polymer({

      is: 'animated-button',

      properties: {
        myClass: {
          type: String,
          value: ""
        },
        lastScrollMoment: {
          type: Number,
          value: 0
        },

        showButton:{
          type: Boolean,
          value: false,
          notify:true
        },
        scroll: {
          type: Boolean,
          value: false,
        },
        myIcon: {
          type: String
        },
        scrollTarget:{
          type: String,
          observer: 'scrollListener'
        }
      },

      ready: function(){
        this.scrollListener(this.app.getScrollTarget());
      },

      scrollListener: function(scrollTarget){
        var mq = window.matchMedia( "(min-width: 1024px)" );
          if(!mq.matches){
            
            scrollTarget.addEventListener('scroll', function(e){
              if(this.myClass.indexOf('start-animation-button')<0){
                this.set("myClass", 'start-animation-button');
              }
              this.set("lastScrollMoment", new Date().getTime());
              if(!this.showButton){
                  setTimeout(function(){
                    this.set("showButton", true);
                  }.bind(this), 500);
              }
              setTimeout(function(){
                if((new Date().getTime()-this.lastScrollMoment)>1000){
                  this.set("showButton", false);
                  if(this.myClass.indexOf('reset-animation-button')<0){
                    this.set("myClass", 'reset-animation-button');
                  }
                }
              }.bind(this), 1500);
            }.bind(this));
          }  
      }

    });

  </script>

</dom-module>