<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="app-slider">
  <template>
    <style include="shared-styles">
      :host{
        display: block;
      }
      .slider-content{
        height: 100%;
      }
      .slider{
        position: relative;
        width: 100%;
        overflow: hidden;
        transition-duration: 1s;
        -moz-transition-duration: 1s;
        -webkit-transition-duration: 1s;
      }
      .prev-slide{
        background: white;
        position: absolute;
        top: 40%;
        left: 18px;
        opacity: 0.6;
        border-radius: 50%;
        padding: 15px;
        width: 3px;
        height: 3px;
      }
      .next-slide{
        background: white;
        position: absolute;
        top: 40%;
        right: 18px;
        opacity: 0.6;
        border-radius: 50%;
        padding: 15px;
        width: 3px;
        height: 3px;
      }
      .chevron{
        opacity: 1;
        color: var(--primary-color);
        left: -11px;
        top: -11px;
      }
      .bullet{
        position: absolute;
        bottom: 5px;
        right: 30px;
        background: white;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        opacity: 0.6;
      }
      .bullet.active{
        opacity: 1;
      }
      .animate {
        /*transition: transform 0.3s ease-out;*/
        transition-duration: 1s;
      }
    </style>

    <div class="slider">
      <div id="sliderContent" class$="slider-content [[animate]]">
        <content id="contentContainer" class="clearfix"></content>
      </div>
       <template is="dom-repeat" items="{{bullets}}">
        <div style$="right: [[computeRightDistance(index, numberOfItems)]]px; display: [[checkifVisible(index, numberOfItems)]];" id="slideNumber[[index]]" class$="bullet [[computeActive(index, sliderIndex)]]"></div>
      </template>
      <div id="prev" hidden$=[[firstSlide]] on-tap="prevSlide" class="prev-slide"><iron-icon class="chevron" icon="goodiefy-icons:chevron-left"></iron-icon></div>
      <div id="next" hidden$=[[lastSlide]] on-tap="nextSlide" class="next-slide"><iron-icon class="chevron" icon="goodiefy-icons:chevron-right"></iron-icon></div>
    </div>

  </template>
  <script>
      /*global Firebase */
      (function() {
        'use strict';

        Polymer({
          is: 'app-slider',

          ready: function() {

            this.observer = Polymer.dom(this).observeNodes(function(info){this._childNodesChanged(info);}.bind(this));
            this.$.sliderContent.addEventListener('touchstart', function(event){
              var sliderItems = this.queryAllEffectiveChildren('.slider-item');

              this.longTouch = false;
              setTimeout(function() {
                this.longTouch = true;
              }.bind(this), 250);

              // Get the original touch position.
              this.touchstartx =  event.touches[0].pageX;

              // The movement gets all janky if there's a transition on the elements
              this.set("animate", '');

              this.set('numberOfItems', sliderItems.length);
            }.bind(this));

            this.$.sliderContent.addEventListener('touchmove', function(event) {

              // Continuously return touch position.
              this.touchmovex =  event.touches[0].pageX;

              // Calculate distance to translate holder.
              this.set('slideWidth', this.clientWidth);

              this.movex = this.sliderIndex*this.slideWidth + (this.touchstartx - this.touchmovex);
                // Defines the speed the images should move at.
              var panx = 100-this.movex;

              if (this.movex < (this.numberOfItems-1)*this.slideWidth) { // Makes the holder stop moving when there is no more content.
                    this.$.sliderContent.style.transform =' translateX(-' + this.movex + 'px)'
              }
              // if (panx < 100) { // Corrects an edge-case problem where the background image moves without the container moving.
              //  this.el.imgSlide.css('transform','translate3d(-' + panx + 'px,0,0)');
             //    }
            }.bind(this));

            this.$.sliderContent.addEventListener('touchend', function(event){
              // Calculate the distance swiped.
              var absMove = Math.abs(this.sliderIndex * this.slideWidth - this.movex);
              // Move and animate the elements.
              this.set("animate", 'animate');
              // Calculate the index. All other calculations are based on the index.
              if (absMove > this.slideWidth/2 || this.longTouch === false) {
                if (this.movex > this.sliderIndex*this.slideWidth && this.sliderIndex < this.numberOfItems-1) {
                    this.sliderIndex++;
                } else if (this.movex < this.sliderIndex*this.slideWidth && this.sliderIndex > 0) {
                    this.sliderIndex--;
                }
              }
              this.$.sliderContent.style.transform =' translateX(-' + parseInt(this.sliderIndex)/ this.numberOfItems *100 +'%)'

            }.bind(this))
          },

          properties: {

            sliderIndex: {
              type: Number,
              value: 0
            },

            numberOfItems: {
              type: Number, value: 0,
              observer: 'changeWidth'
            },

            itemIndex: {
              type: Number,
              value: 1
            },

            bullets: {
              type: Array,
              value: []
            },

            firstSlide: {
              type: Boolean,
              value: true
            },

            lastSlide: {
              type: Boolean,
              value: true
            }
          },

          observers: [
            'updateVisibility(sliderIndex, numberOfItems)'
          ],

          _childNodesChanged: function(info){
            var numberOfItems;
            var sliderItems = this.queryAllEffectiveChildren('.slider-item');

            if (sliderItems.length === 0) {
              return;
            }

            numberOfItems = sliderItems.length;

            this.set('numberOfItems', numberOfItems);

            this.changeWidth();
            this.set('sliderIndex', 0);

            var newCssClassesArray = this.$.sliderContent.className.split('animate');
            var newCssClasses = newCssClassesArray.join('');

            this.$.sliderContent.className = newCssClasses;
            this.$.sliderContent.style.transform =' translateX(-' + parseInt(this.sliderIndex) / this.numberOfItems  *100 +'%)'
            this.$.sliderContent.className = this.$.sliderContent.className + ' animate';
          },

          computeRightDistance: function(itemIndex, numberOfItems){
            var absoluteSpace = numberOfItems * 20 + 10;
            return absoluteSpace - (itemIndex * 20);
          },

          computeActive: function(itemIndex, currentIndex){
            if(itemIndex == currentIndex){
              return 'active';
            } else {
              return '';
            }
          },

          checkifVisible: function(itemIndex, numberOfItems){
            if(itemIndex<1){
              itemIndex=1;
            }
            if(numberOfItems > itemIndex){
              return 'block';
            } else {
              return 'none';
            }
          },

          changeWidth: function(){
            var width = 0;
            var sliderItems = this.queryAllEffectiveChildren('.slider-item');

            for (var i = sliderItems.length - 1; i >= 0; i--) {
              sliderItems[i].style.display = "inline-block";
              sliderItems[i].style.maxWidth = (100 / sliderItems.length) + "%";
              sliderItems[i].style.float = "left";
            }

            if (sliderItems.length === 0) {
              this.set("lastSlide", true);
              this.set("firstSlide", true);
              return;
            }
            width = sliderItems.length;
            this.$.sliderContent.style.width = width + "00%";
            var bulletArray= [];
            this.$.sliderContent.style.transform ='translateX(0%)';
            if(sliderItems.length<=1){
              this.set("lastSlide", true);
            }else{
              this.set("lastSlide", false);
            }
            this.set("bullets", bulletArray);
          },

          nextSlide: function(){
            var sliderItems = this.queryAllEffectiveChildren('.slider-item');
            this.sliderIndex++;
            this.set("animate", 'animate');
            this.$.sliderContent.style.transform =' translateX(-'+ parseInt(this.sliderIndex)/ this.numberOfItems *100 +'%)';
          },

          prevSlide: function(){
            var sliderItems = this.queryAllEffectiveChildren('.slider-item');
            this.sliderIndex--;
            this.set("animate", 'animate');
            this.$.sliderContent.style.transform =' translateX(-' + parseInt(this.sliderIndex)/ this.numberOfItems *100 + '%)'
          },

          updateVisibility: function(sliderIndex, numberOfItems){
              if(sliderIndex==0){
                this.set("firstSlide", true);
              } else if(sliderIndex>0){
                this.set("firstSlide", false);
              }
              if(sliderIndex==this.numberOfItems-1){
                this.set("lastSlide", true);
              }else{
                this.set("lastSlide", false);
              }
              if(numberOfItems < 2){
                this.set("lastSlide", true);
                this.set("firstSlide", true);
              }
          }
        });
      })();
    </script>
</dom-module>
