<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="app-filter-button">
  <template>
    <style>

      :host {
        display: inline-block;
      }

      paper-icon-button {
        --paper-icon-button-ink-color: #fff;
      }

      @media (min-width: 1024px) {
        paper-icon-button{
          height: 50px;
          width: 50px;
        }
      }
    </style>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{pageData}}"></app-route>

    <app-route
      route="{{route}}"
      pattern="/list/:type"
      data="{{detailData}}"></app-route>

    <span hidden$="[[computeHidden(pageData, detailData)]]">
      <paper-icon-button icon="goodiefy-icons:filter-list"  on-click="toggleFilter"></paper-icon-button>
    </span>

  </template>

  <script>



    (function() {
      'use strict';

      Polymer({
        is: 'app-filter-button',

        properties: {
          app: {
            type: Object,
            notify: true
          },
          detailData:{
            type: Object,
            value: {}
          },
          pageData: {
            type: Object,
            value: {}
          },
          filterablePages: {
            type: Array,
            value: ['offers', 'requests', 'routes', 'category', 'just-for-you']
          }
        },

        computeHidden: function(pageData, detailData){
          if(pageData.page == 'list' &&  this.filterablePages.indexOf(detailData.type) >= 0){
            return false;
          } else {
            return true;
          }
        },

        toggleFilter: function(){
          this.debounce('toggle-filter-drawer', function() {
            this.fire('toggle-filter-drawer', {});
          });
        },
      });
    })();
  </script>
</dom-module>
