<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">


<dom-module id="app-dropdown-listing">
	<template>
		<style>
			:host{
				display: block;
			}
			.overlay{
				position: fixed;
				background: black;
				min-width: 100vw;
				min-height: 100vh;
				top: 0;
				right: 0;
				bottom: 0;
				opacity: 0.5;
				z-index: 12;
			}
			div.dropdown-content paper-input{
				--paper-input-container-focus-color: var(--primary-color);
				padding: 0 10px;
			}
			paper-dropdown-menu {
				width: 100%;
				--paper-input-container-focus-color: var(--primary-color);
				--paper-dropdown-menu:{
					width: 100%;
				};
				--paper-dropdown-menu-icon:{
					color:black;
				};
				--paper-dropdown-menu-input: {
					--paper-input-container-label{
						color: var(--primary-text-color);
					};
					--paper-input-container-label-floating: {
						color: var(--dark-text-color);
					};
					--paper-input-container-label-focus:{
						color: var(--dark-text-color);
					};
					--paper-input-container-color: var(--primary-text-color);
				};
			}
		</style>
		<template is="dom-if" if="[[dialog]]">
			<template is="dom-if" if="[[dialogOpen]]">
				<div class="overlay"></div>
			</template>
			<paper-dialog opened="{{dialogOpen}}" horizontal-offset="1" vertical-offset="150" id="dialog">
	      <paper-dialog-scrollable>
	        <paper-input autofocus label="[[localize('FilterSearchFieldLabel')]]" id="searchInput" value="{{searchValue}}"  on-change="_onChangeSearch" on-keydown="_onChangeSearch"></paper-input>
					<paper-item id="reset" on-tap="reset" class="dropDownItem"></paper-item>
					<paper-menu  selected="{{selectedIndex}}">
						<template is="dom-repeat" items="{{dropdownData}}">
							<paper-item id="[[item.name]]" data-key="[[item.key]]" data-name="[[item.name]]" class="dropDownItem">[[localize(specificList, 'item', item.name)]]</paper-item>
						</template>
					</paper-menu>
	      </paper-dialog-scrollable>
	    </paper-dialog>
	    <template is="dom-if" if="[[selected]]">
	    	<paper-input label="[[label]]" placeholder="[[localize(specificList, 'item', selected)]]" readonly on-click="openedDialog">
		    	<div suffix>
		    		<iron-icon icon="[[icon]]"></iron-icon>
		    	</div>
		    </paper-input>
	    </template>
	    <paper-input hidden$="[[selected]]" label="[[label]]" placeholder="[[placeholder]]" readonly on-click="openedDialog">
	    	<div suffix>
	    		<iron-icon icon="[[icon]]"></iron-icon>
	    	</div>
	    </paper-input>
    </template>
    <template is="dom-if" if="[[!dialog]]">
			<paper-dropdown-menu invalid="{{invalid}}" content-element="{{t}}" id="dropDownField" label="[[label]]" placeholder="[[placeholder]]" read-only="false" selected-item-label="{{selectedLabel}}" opened="{{dropDownOpen}}">
				<label for="dropDownField">[[title]]</label>
				<div class="dropdown-content">
					<paper-input autofocus label="[[localize('FilterSearchFieldLabel')]]" id="searchInput" value="{{searchValue}}"  on-change="_onChangeSearch" on-keydown="_onChangeSearch"></paper-input>
					<paper-item id="reset" on-tap="reset" class="dropDownItem"></paper-item>
					<paper-menu  selected="{{selectedIndex}}">
						<template is="dom-repeat" items="{{dropdownData}}">
							<paper-item id="[[item.name]]" data-key="[[item.key]]" data-name="[[item.name]]" class="dropDownItem">[[localize(specificList, 'item', item.name)]]</paper-item>
						</template>
					</paper-menu>
				</div>
			</paper-dropdown-menu>
		</template>
	</template>
	<script>
		/*global Firebase */
		(function() {
			'use strict';

			Polymer({
				is: 'app-dropdown-listing',

				ready: function() {
					if(this.preSelection){
						this.set('selectedIndex',this.preSelection);
					}
				}, 

				behaviors: [Polymer.AppLocalizeBehavior],

				properties: {
					app:{
						type: Object,
						notify: true
					},
					language:{
						type: String,
						notify: true
					},
					resources: {
						type: Object,
						notify: true
					},
					preSelection:{
						type:String,
						notify:true
					},
					oldSelected:{
						type: String,
						notify:true
					},
					selected: {
						type: String,
						notify: true,
						observer: "_onValueChange",
						reflectToAttribute: true
					},
					selectedLabel: {
						type: String,
						notify: true,
						observer: "_labelChanged"
					},
					remoteData:{
						type: Array,
						notify: true,
						observer: '_onValue'
					},
					dropdownData: {
						type: Array,
						value: []
					},
					specificList: {
						type: String,
						value: null,
					},
					selectedIndex: {
						type: Number,
						value: null,
						observer: "_onIndex"
					},
					searchValue: {
						type: String,
						value: "",
						observer: "_onChangeSearch"
					},
					icon: {
						type: String,
						value: 'goodiefy-icons:expand-more',
						observer: "_onChangeIcon"
					},
					invalid: {
						type: Boolean,
						value: false,
						notify: true
					},
					dialog: {
						type: Boolean,
						value: true
					},
					placeholder: {
						value: ''
					}
				},

				observers: ['_onChangeSelection(selected, dropdownData, localize)', '_onChangeLocation(specificList, app.firebaseApp)', 'resetInput(dropDownOpen)'],


				reset: function(){
					if(this.$$('#dropDownField')){
						this.$$('#dropDownField').close();
					}
					if(this.$$('#dialog')){
						this.$$('#dialog').close();
					}
					this.set('selected', null);
				},

				openedDialog: function(){
					if(this.$$('#dialog')){
						this.$$('#dialog').open();
					}
				},

				resetInput: function(){
					this.set('searchValue', '');
					if(this.$$('#reset')){
						this.$$('#reset').set('hidden', false);
					}
				},

				validate: function(){
					if(this.$$('#dropDownField')){
						this.$$('#dropDownField').validate();
					}
				},

				_labelChanged: function(newValue){
					if(this.dropdownData[this.selectedIndex]){
						this.set('selected', this.dropdownData[this.selectedIndex].name);
					} else {
						this.set('selected', null);
					}
				},

				_onChangeIcon: function(newIcon){
					if(this.$$('#dropDownField')){
						Polymer.dom(this.$$('#dropDownField').root).querySelector('iron-icon').set('icon', this.icon);
					}
				},

				_onIndex:function(){
					var dropDownItem;
					if(this.dropdownData && this.dropdownData.length > 0){
						this.dropdownData.forEach(function(item){
							dropDownItem = Polymer.dom(this.root).querySelector('paper-item#'+item.name);
							if(dropDownItem)
								dropDownItem.hidden = false;
						}.bind(this));  	
					}
					if(this.$$('#dialog')){
						this._labelChanged(this.selectedIndex);
						this.$$('#dialog').close();
					}
				},

				_onChangeLocation:function(specificList, app){
					if(specificList && app){
						if(!this.ref){
							this.set('ref', app.database().ref());
						}
						this.ref.child(specificList).on('value', function(snapshot){
							this.set('remoteData', snapshot.val());
						}.bind(this));
					}
				},

				_onChangeSearch: function(e) {
					if(e)
						var keyVal = e.which;
					var dropDownItemVisible = Polymer.dom(this.root).querySelectorAll('paper-item:not([hidden])');
					
					this.dropdownData.forEach(function(item,index){
						var dropDownItem = Polymer.dom(this.root).querySelector('paper-item#'+item.name);
						if(item.name.toLowerCase().includes(this.searchValue.toLowerCase()) || this.localize(this.specificList, 'item', item.name).toLowerCase().includes(this.searchValue.toLowerCase())){
							dropDownItem.hidden = false;
						}else{
							dropDownItem.hidden = true;
						}
					}.bind(this));
					dropDownItemVisible = Polymer.dom(this.root).querySelectorAll('paper-item:not([hidden])');
					if(this.$$('#reset')){
						if(dropDownItemVisible.length < this.dropdownData.length){
							this.$$('#reset').set('hidden', true);
						} else {
							this.$$('#reset').set('hidden', false);
						}
					}
				},

				_onValue: function(){
					if(this.remoteData){
						var helperArray = [];
						var counter = 0;
						Object.keys(this.remoteData).forEach(function(key,index,value){
							var arr = [];
							arr['name'] = key,
							arr['key'] = index
							helperArray.forEach(function(item){
								if(item.name == key){
									counter++;
								}
							}.bind(this));

							if(counter == 0){
								helperArray.push(arr);						
							}
						}.bind(this));				
						helperArray = Object.keys(helperArray).map(function(key){
							var help = helperArray[key];
							help['key'] = key; 
							return help
						}.bind(this));
						this.set('dropdownData',[]);
						this.set('dropdownData',helperArray);
						this._onValueChange();
					}
				},

				_onChangeSelection: function(newValue, dropdownData, localize){
					if(newValue && dropdownData && localize){
						dropdownData.forEach(function(item){
							if(newValue == item.name){
								this.set('selectedIndex', item.key);
								if(this.$$('#dropDownField')){
									Polymer.dom(this.$$('#dropDownField').root).querySelector('paper-input').set('value', localize(this.specificList, 'item', newValue));
								}
							}
						}.bind(this));
					}else{
						this.set('selectedIndex', null);
					}
				},

				_onValueChange: function(newValue,oldValue){
					if(!this.oldSelected || (oldValue && oldValue != this.oldSelected)){
						this.set('oldSelected', oldValue);
					}
					if(!newValue){
						this.set('selectedIndex', null);
					}
				}
			});
		})();
	</script>
</dom-module>