<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="app-favorites-button">
  <template>
    <style>
      :host {
        display: block;
        position: absolute;
        top: 14px;
        right: 14px;
      }
      paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      @media (min-width: 1024px){
        paper-icon-button{
          height: 50px;
          width: 50px;
        }
      }
    </style>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{pageData}}">
    </app-route>

    <app-route
      route="{{route}}"
      pattern="/detail/:type/:key"
      data="{{detailData}}">
    </app-route>


    <span hidden$="[[computeHidden(pageData.page, detailData, 1, isFavorite)]]">
      <paper-icon-button icon="goodiefy-icons:favorite"  on-click="defavoritize"></paper-icon-button>
    </span>
    <span hidden$="[[computeHidden(pageData.page, detailData, 0, isFavorite)]]">
      <paper-icon-button icon="goodiefy-icons:favorite-border" on-click="favoritize"></paper-icon-button>
    </span>
    
  </template>

  <script>
    
    

    (function() {
      'use strict';

      Polymer({
        is: 'app-favorites-button',

        properties: {
          app: {
            type: Object,
            notify: true
          },

          isFavorite: {
            type: Boolean,
            value: false  
          }
        },

          observers: ['checkIfFavorite(app.user.*, detailData)'],

          checkIfFavorite: function(app, detailData){
            if(this.app.user){
              if(this.app.user.favorites && (detailData.type == 'routes' || detailData.type == 'requests' || detailData.type == 'offers')){
                  if(detailData.key){
                    if(this.app.user.favorites[detailData.key]){
                      this.set('isFavorite', null);
                      this.set('isFavorite', true);
                    } else {
                      this.set('isFavorite', null);
                      this.set('isFavorite', false);
                    }
                  } else {
                    this.set('isFavorite', null);
                    this.set('isFavorite', false);
                  }
              } else {
                this.set('isFavorite', null);
                this.set('isFavorite', false);
              }
            }
          },


        computeHidden: function(route, detailData, filledHeart, isFavorite){
          if(route == 'detail' && this.app.firebaseUser && (detailData.type == 'routes' || detailData.type == 'requests' || detailData.type == 'offers')){
            if(isFavorite){
              if(filledHeart) {
                return false;
              } else {
                return true;
              }
            } else {
              if(filledHeart) {
                return true;
              } else {
                return false;
              }
            }
            
          } else {
            return true;
          }
        },

        defavoritize: function(){
          if(this.detailData.key){
            this.app.firebaseApp.database().ref('users/' + this.app.firebaseUser.uid + '/favorites/' + this.detailData.key).set(null);
            this.set('app.user.favorites.' + this.detailData.key, null);
          }
        },

        favoritize: function(){
          if(this.detailData.key){
            var updateObject = {};
            updateObject['/favorites/' + this.detailData.key] = this.detailData.key;
            this.app.firebaseApp.database().ref('users/' + this.app.firebaseUser.uid).update(updateObject);
            this.set('app.user.favorites.' + this.detailData.key, this.detailData.key);
          }
        }
      });
    })();
  </script>
</dom-module>
