
<dom-module id="conditional-link">
  <template>
    <app-location route="{{route}}"></app-location>
    <a on-tap="forward">
      <content></content>
    </a>
  </template>

  <script>
    /*global Firebase */
    (function() {
      'use strict';
      Polymer({
        is: 'conditional-link',
        properties: {
          app: {
            type: Object,
            notify: true
          },

          link: {
            type: String
          }
        },

        forward: function(){
          if(!this.app){
            return;
          }
          if(!this.app.firebaseUser){
            this.redirect();
            return;
          }
          if(!this.app.user){
            this.redirect();
            return;
          }
          if(!this.app.user.userData || !this.app.user.addresses){
            this.redirect();
            return;
          }
          if(!this.app.user.userData.name || !this.app.user.userData.paypalMail || !this.app.user.userData.currency || !this.app.user.addresses.collection){
            this.redirect();
            return;
          }
          this.set('route.path', this.link);
        },

        redirect: function(){
          this.set('app.conditionalLink', this.link);
          this.set('route.path', '/account/missing-data');
        },
      });
    })();
    </script>
</dom-module>
