<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="app-dropdown-listing.html">

<dom-module id="country-select">
  <template>
    <style>
        :host{
            display: block;
        }
    </style>

    <app-dropdown-listing
      id="dropDownField"
      icon="[[icon]]"
      label="[[localize('CountrySelectLabel', 'label', label)]]"
      specific-list="countries" app="{{app}}"
      language="{{language}}"
      resources="[[resources]]"
      selected="{{value}}"
      invalid="{{invalid}}"></app-dropdown-listing>


  </template>
  <script>
      /*global Firebase */
      (function() {
        'use strict';

        Polymer({
            is: 'country-select',

            behaviors: [Polymer.AppLocalizeBehavior],

            observers: ['_onChange(value, localize)'],

            properties: {

                label:{
                  type: String,
                  value: 'land'
                },

                countryLong: {
                  type: String,
                  notify: true
                },

                value: {
                  type: String,
                  notify: true,
                  observer: 't'
                },

                icon: {
                  type: String,
                  value: 'goodiefy-icons:expand-more',
                },

                invalid: {
                  type: Boolean,
                  value: false,
                  notify: true
                },

                resources: {
                  type: Object,
                  notify: true
                }
            },

            t: function(r){
               if(!r){
                this.$.dropDownField.set('selected', undefined);
               }
            },

            validate: function(){
                this.$.dropDownField.validate();
            },


            _onChange: function(newVal, localize){
                if(newVal && localize){
                    this.set('countryLong', localize('countries', 'item', newVal));
                } else {
                    this.set('countryLong', undefined);
                }
            }
        });
      })();
    </script>
</dom-module>
