<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<dom-module id="firebase-env">
  <template>
    <firebase-app
      name="envLoader"
      auth-domain="[[env.authDomain]]"
      database-url="[[env.databaseUrl]]"
      api-key="[[env.apiKey]]"></firebase-app>

    <firebase-app
      name="goodiefyMeAppDatabase"
      auth-domain="[[database.authDomain]]"
      database-url="[[database.databaseUrl]]"
      api-key="[[database.apiKey]]"
      app="{{firebaseApp}}"></firebase-app>

    <firebase-document app-name="envLoader" data="{{data}}" path="[[src]]"></firebase-document>

  </template>
  <script>
  (function() {
    'use strict';

    Polymer({
      is: 'firebase-env',

      ready: function() {
        this.set('src', '/_admin/env/' + window.location.hostname.replace(/\./g,','));
      },

      properties: {
        src: {
          type: String
        },

        data:{
          type: Object,
          observer:'_loadFirebaseEnv'
        },

        env:{
          type: Object,
          value: {
            authDomain: 'goodiefy-prod.firebaseapp.com',
            databaseUrl: 'https://goodiefy-prod.firebaseio.com',
            apiKey: 'AIzaSyBCiKrwR2oMW60qOKOPGuVdCPrEgRDMX6s'
          }
        },

        firebaseApp: {
          type: Object,
          notify: true
        },

        envLoaded:{
          type: Boolean,
          value: false,
          notify: true
        },

        database:{
          type: Object,
          notify: true
        }
      },

      _loadFirebaseEnv: function(data) {
        if(data.api_key){
          var database = {};
          database['apiKey'] = data.api_key;
          database['databaseUrl'] = data.firebase_origin;
          database['authDomain'] = data.firebase_auth_domain;
          this.set('database', database);
          this.set('envLoaded', true);
        }
      }
    });
  })();
  </script>
</dom-module>
