<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../_behaviors/ajax-request.html">

<link rel="import" href="../goodiefy-icons.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="google-translate">

  <template>

    <style include="shared-styles">
      .actions {
        @apply(--translate-actions)
      }

      .translate-button,
      .reset-button {
        background-color: var(--app-secondary-color);
        color: #fff;
        border-radius: 100%;
        padding: 6px;
        width: 30px;
        height: 30px;
      }

      paper-dropdown-menu.language-dropdown {
        --paper-input-container-underline: {
          display: none;
        };

        --paper-input-container-input: {
          display: none;
        };

        --paper-input-container-content: {
          display: none;
        };

        --iron-icon: {
          opacity: 0;
          width: 0px;
          height: 0px;
        };

      }

    </style>

    <template is= "dom-if" if="{{dropDownOn}}">
      <div class="actions">
        <paper-icon-button id="translate" class="translate-button" alt="[[localize('GoogleTranslateInto')]]" title="[[localize('GoogleTranslateInto')]]" on-tap="open" icon="goodiefy-icons:g-translate" hidden$="[[!resetOn]]"></paper-icon-button>
        <paper-dropdown-menu id="languageDropdown" class="language-dropdown" selected-item="{{selectedLanguage}}" no-label-float="true">
          <div class="dropdown-content">
            <paper-input class="input-field" value="{{filterValue}}" label="[[localize('GoogleTranslateSearch')]]" floatingLabel></paper-input>
            <paper-menu id="paperMenu">
              <template is="dom-repeat" items="{{chosenLanguages}}" flex filter="{{filter(filterValue)}}">
                <paper-item data="{{item}}">[[localize('Language', 'languageKey', item)]]</paper-item>
              </template>
            </paper-menu>
          </div>
        </paper-dropdown-menu>
        <paper-icon-button id="reset" class="reset-button" alt="[[localize('GoogleTranslateReset')]]" title="[[localize('GoogleTranslateReset')]]" on-tap="reset" icon="goodiefy-icons:clear" hidden$="[[resetOn]]"></paper-icon-button>
      </div>
    </template>
    <template is="dom-if" if="[[sourceShown]]" restamp>
      <content id="sourceText"></content>
    </template>
    <div id="scriptContainer"></div>

  </template>

  <script>

    Polymer ({

      observers: ['detect(sourceText, languageInto, detectLanguageOn, app)', 'changeEventHandler(selectedLanguage)','translate(sourceText, languageFrom,languageInto)', 'computeSelectedLanguages(app.config.googleTranslateLanguages, localize)'],

      behaviors: [Polymer.AppLocalizeBehavior, GMBehaviors.AjaxRequest],

      is: "google-translate",

      properties: {

        app: {
          type: Object,
          notify: true
        },

        filterValue: {
          type: String,
          notify: true
        },

        sourceText: {
          type: String,
          observer: 'printSourceText'
        },

        languageInto: {
          type: String,
          notify: true
        },

        languageFrom: {
          type: String,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        dropDownOn: {
          type: Boolean,
          value: false
        },

        resetOn:{
          type: Boolean,
          value: true
        },

        detectLanguageOn: {
          type: Boolean,
          value: false
        },

        chosenLanguages: {
          type: Array,
          value: []
        },

        selectedLanguage: {
          type: String,
          value: null
        },

        sourceShown:{
          type: Boolean,
          value: false
        },

        resources:{
          type: Object,
          notify: true
        },

        supportedLanguages: {
          value:['af', 'sq', 'ar', 'hy', 'az', 'eu', 'be', 'bn', 'bs', 'bg','ca','ceb','ny','zh-CN', 'zh-TW', 'hr', 'cs', 'da','nl','en', 'eo', 'et', 'tl', 'fi', 'fr', 'gl', 'ka', 'de', 'el', 'gu', 'ht', 'ha', 'iw', 'hi', 'hmn', 'hu', 'is', 'ig', 'id', 'ga', 'it', 'ja', 'jw', 'kn', 'kk', 'kk', 'km', 'ko', 'lo', 'la', 'lv', 'lt', 'mk', 'mg', 'ms', 'ml', 'mt', 'mi', 'mr', 'mn', 'my', 'ne', 'no', 'fa', 'pl', 'pt', 'ma', 'ro', 'ru', 'sr', 'st', 'si', 'sk', 'sl', 'so', 'es', 'su', 'sw', 'sv', 'tg', 'ta', 'te', 'th', 'tr', 'uk', 'ur', 'uz', 'vi', 'cy', 'yi', 'yo', 'zu']
        }

      },

      ready: function(){
        this.observer= new MutationObserver(function(mutations) {
          for (var i = mutations.length - 1; i >= 0; i--) {
            if(mutations[i].target.data){
              if(mutations[i].target.data == Polymer.dom(this).innerHTML){
                // this.set("sourceText", mutations[i].target.data);
                this.set('sourceShown', false);
              }
            }
          }
        }.bind(this));

        var config = {characterData: true, subtree: true};
        this.observer.observe(this, config);
      },

      changeEventHandler: function(selectedLanguage) {
        if(Polymer.dom(selectedLanguage).node.data){
          this.set("languageInto", Polymer.dom(selectedLanguage).node.data);
        }
      },

      detect: function(sourceText, languageInto, detectLanguageOn, app){
        if(languageInto && detectLanguageOn && app && sourceText){
          var request = this.createRequest();
          var sourceText = encodeURI(sourceText);
          var url = app.config.googleTranslateURL+'/detect?key='+app.config.googleApiKey+'&q='+sourceText;
          var callback = function(event) {
            if (request.status >= 200 && request.status < 300) {
              var detectlan = JSON.parse(request.responseText);
              detectlan = detectlan.data.detections[0][0].language;
              this.set("languageFrom", detectlan);
            } else {
              console.warn(request.statusText, request.responseText);
            }
          }.bind(this);
          this.ajaxRequest(url, callback, request);
        }
      },

      translate: function(sourceText, from, to){
        if(from && to && from!=to && this.app){
          var request = this.createRequest();
          var sourceText = encodeURI(this.sourceText);
          var url = this.app.config.googleTranslateURL+'?key='+this.app.config.googleApiKey+'&source='+from+'&target='+to+'&q=' + sourceText;
          var callback = function(event) {
            if (request.status >= 200 && request.status < 300) {
              var translated = JSON.parse(request.responseText);
              translated = translated.data.translations[0].translatedText;
              this.$.scriptContainer.innerHTML = translated;
            } else {
              console.warn(request.statusText, request.responseText);
            }
          }.bind(this);
          this.ajaxRequest(url, callback, request);
          this.set("resetOn", false);
        }else{
          this.$.scriptContainer.innerHTML = this.sourceText;
          this.set("resetOn", true);
        }
      },

      printSourceText: function(sourceText){
        this.$.scriptContainer.innerHTML = this.sourceText;
      },

      reset: function(){
        this.set("languageInto", null);
        this.set("resetOn", true);
        this.set("selectedLanguage", null);
        this.$$('#paperMenu').set("selected", null);
      },

      open: function(){
        this.$$('#languageDropdown').open();
      },

      //optional: a selection of common languages from app.config.googleTranslateLanguages
      computeSelectedLanguages: function(lan){
        this.set("chosenLanguages",[]);
        if(lan){
          for (var i = Object.keys(lan).length - 1; i >= 0; i--) {
            if(this.supportedLanguages.indexOf(Object.keys(lan)[i])>=0){
              this.push("chosenLanguages", Object.keys(lan)[i]);
            }
          }
        }
      },

      filter: function (val) {
        return function (lan) {
          if (!lan) return false;
          lan = this.localize('Language', 'languageKey', lan);
          if (val != null || val != undefined) {
            return (lan && ~lan.toLowerCase().indexOf(val.toLowerCase()));
          }else{
            return true;
          }
        }.bind(this);
      }
    });

  </script>
</dom-module>
