<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="list-counter">

  <template>

    <style>
      :host {
        display: inline-block;
      }
      .counter-wrapper{
        position: relative;
      }
      .counter-number{
        background: var(--app-secondary-color);
        border-radius: 100px;
        color: white;
        min-width: 17px;
        min-height: 17px;
        line-height: 17px;
        position: absolute;
        text-align: center;
        font-size: 10px;
        bottom: -7px;
        right: -7px
      }
      iron-icon{
        width: 27px;
        height: 27px;
      }
    </style>

    <div class="counter-wrapper" hidden$="[[hide]]">
      <iron-icon icon="[[icon]]"></iron-icon>
      <div class="counter-number">[[cnt]]</div>
    </div>
  </template>

  <script>
   (function() {
    'use strict';

    Polymer({

      is: 'list-counter',

      ready: function() {

      },

      properties: {
        cnt: {
          type: Number,
          observer: '_cntChanged'
        },

        hide: {
          type: Boolean,
          value: true
        }
      },

      _cntChanged: function(cnt) {
        this.hide = !cnt || cnt < 0;
      }

    });
  })();
 </script>

</dom-module>
