<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<dom-module id="message-notifier">

  <template>
    <app-location route="{{route}}"></app-location>
  </template>

  <script>

    Polymer({

      is: 'message-notifier',

      behaviors: [Polymer.AppLocalizeBehavior],

      properties: {
        app: {
          type: Object,
          notify: true
        },
        language: {
          type: String,
          notify: true
        },
        user: {
          type: String
        },
        route: {
          type: Object,
          notify: true
        },
        resources:{
          type: Object,
          notify: true
        }
      },

      observers: ['_userChanged(app.firebaseUser.uid)', '_changeRef(user, localize, firebaseApp)'],

      _userChanged: function(uid){
        if(uid){
          this.set('user', uid);
        }
      },

      _changeRef: function(uid, localize, firebaseApp){
        if(uid && localize) {
          if(this.oldUser){
            firebaseApp.database().ref().child('messages').child(this.oldUser).off();
            this.oldUser = uid
          }
          firebaseApp.database().ref().child('messages').child(uid).orderByChild("timestamp").endAt(- new Date().getTime()).on('child_added', function(message){
            if(this.app.user && this.app.user.userData && this.app.user.userData.notifications){
              this.app.pushNotification({
                duration : 3000,
                action: {
                  icon: 'goodiefy-icons:chevron-right',
                  text: this.localize('MessagingNewMessage', 'num', 1),
                  handler: function(){
                    this.set('route.path', '/account/messages');
                  }.bind(this)
                }
              });
            }
          }.bind(this));
          firebaseApp.database().ref().child('messages').child(uid).orderByChild("status").equalTo('new').once('value', function(messages){
            if(messages.exists()){
              if(this.app.user && this.app.user.userData && this.app.user.userData.notifications){
                this.app.pushNotification({
                  duration : 3000,
                  action: {
                    icon: 'goodiefy-icons:chevron-right',
                    text: this.localize('MessagingNewMessage', 'num', messages.numChildren()),
                    handler: function(){
                      this.set('route.path', '/account/messages');
                    }.bind(this)
                  }
                });
              }
            }
          }.bind(this));
        }
      },

    
    });
  </script>

</dom-module>

