<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="paypal-tutorial">
  <template>
    <style include="shared-styles">
      :host {
        display: inline-block;
        vertical-align: middle;
      }

      p {
        margin: 0;
      }

      svg {
        cursor: pointer;
        fill: var(--fill-color, lightgray);
      }

      paper-dialog {
        right: 0;
        left: 0;
        max-height: 70vh;
        overflow: auto;
      }

      paper-toolbar {
        margin: 0 !important;
        padding: 0 !important;
      }

      .tutorial-image {
        margin-top: 15px;
        text-align: center;
      }

      .actions paper-button {
        width: 100%;
      }

      @media screen and (min-width: 768px) {
        paper-dialog {
          left: auto;
          right: auto;
        }
      }

    </style>

    <svg on-tap="_showTutorial" height$="[[height]]" viewBox$="0 0 [[width]] [[height]]" width$="[[width]]" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"/>
    </svg>
    <paper-dialog opened="{{tutorialOpen}}" vertical-offset="[[verticalOffset]]">
      <paper-toolbar>
        <div class="title">[[localize('paypal-tutorial-headline')]]</div>
        <paper-icon-button dialog-dismiss icon="goodiefy-icons:close"></paper-icon-button>
      </paper-toolbar>
      <paper-dialog-scrollable>
        <p>[[localize('paypalHint')]]</p>
        <p>[[localize('paypalHint2')]]</p>
        <div class="tutorial-image">
          <img src="/images/paypal-example.jpg" title="" alt="">
        </div>
        <div class="actions">
          <a href="https://www.paypal.com/myaccount/settings/" target="_blank">
            <paper-button class="primary">[[localize('jumpToPaypal')]]</paper-button>
          </a>
        </div>
      </paper-dialog-scrollable>
    </paper-dialog>

  </template>
  <script>

    Polymer({

      is: 'paypal-tutorial',

      behaviors: [
        Polymer.AppLocalizeBehavior
      ],

      properties: {
        tutorialOpen: {
          type: Boolean,
          value: false
        },

        verticalOffset: {
          type: Number
        },

        width: {
          type: Number,
          value: 24
        },

        height: {
          type: Number,
          value: 24
        }
      },

      _showTutorial: function(e) {
        this.set('tutorialOpen', true);
      },

      _hideTutorial: function(e) {
        this.set('tutorialOpen', false);
      }

    });

  </script>
</dom-module>
