<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="country-select.html">

<dom-module id="sales-location-item">
  <template>
    <style include="shared-styles">
      :host{
        display: block;
      }
      .location-card{
        margin-bottom: 8px;
        border-radius: 2px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      }

      .location-card.draft {
        box-shadow: none;
      }

      paper-button{
        width: 40%;
        margin: 15px 0 0px 0;
      }
      paper-icon-button{
        width: 49%;
      }

      .save-action {
        display: block;
        margin: auto;
        text-align: center;
      }

      .card-actions {
        border-top: solid 1px #e8e8e8;
      }

      .location-card.draft .card-actions {
        border-top: 0;
      }

      .card-description{
        padding: 20px;
      }

      .card-description h2,
      .card-description h3 {
        font-weight: normal;
        margin: 0;
      }

      .card-description h2 {
        font-size: 24px;
      }

      .card-description h3 {
        margin-top: 1em;
        font-size: 12px;
      }

    </style>
      <div class$="location-card[[lifecycle]]">
        <div class="card-description">
          <h2>[[computeStore(item, item.*)]]</h2>
          <h3>[[computeStoreDescription(item, item.*)]]</h3>
        </div>
        <div class="card-content">
          <iron-collapse id="collapse">
            <paper-button disabled$="[[getingGeolocation]]" class="primary save-action" on-tap="getGeolocation">
              <template is="dom-if" if="[[getingGeolocation]]">
                <paper-spinner active></paper-spinner>
              </template>
              <template is="dom-if" if="[[!getingGeolocation]]">
                [[localize('SalesLocationMyLocation')]]
              </template>
            </paper-button>
            <paper-input id="storeInput" label="[[localize('SaleslocationStoreLabel')]]" value="{{item.store}}"></paper-input>
            <paper-input id="addressInput" label="[[localize('SaleslocationStreetLabel')]]" value="{{item.street}}"></paper-input>
            <paper-input id="plzInput" label="[[localize('SaleslocationPlzLabel')]]" value="{{item.plz}}"></paper-input>
            <paper-input id="cityInput" label="[[localize('SaleslocationCityLabel')]]" value="{{item.city}}"></paper-input>
            <country-select app="{{app}}" language="{{language}}" resources="[[resources]]" country-long="{{item.countryLong}}" id="countryInput" value="{{item.country}}"></country-select>
            <paper-button class="primary save-action" noink raised id="salesLocationChangeBtn" on-tap="changeAddress">[[localize('SaleslocationSaveButtonLabel')]]</paper-button>
          </iron-collapse>
        </div>
        <div class="card-actions">
          <paper-icon-button icon="goodiefy-icons:create" item="{{index}}" id="salesLocationChangeBtn" on-tap="_onChangeAddress"></paper-icon-button>
          <paper-icon-button icon="goodiefy-icons:delete" item="{{index}}" id="salesLocationDeleteBtn" on-click="deleteAdress"></paper-icon-button>
        </div>
      </div>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'sales-location-item',

        attached: function() {
          this._initialize();
        },
        detached: function() {
          this.autocomplete = null;
        },

        behaviors:[Polymer.AppLocalizeBehavior],

        properties: {
          autocomplete:{
            value: null,
            notify: true,
          },
          resources: {
            type: Object,
            notify: true
          },
          item: {
            value: {},
            observer: 'openIfEmpty'
          },
          salesLocations: {
            notify: true
          },
          lifecycle: {
            type: String,
            computed: '_computeDraftStyling(item.lifecycle)'
          },
          getingGeolocation: {
            type: Boolean,
            value: false
          }
        },

        observers: ['_mapsApiLoaded(app.googleApiLoaded)'],

        getGeolocation: function(filter){
          this.set('getingGeolocation', true);
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(this.setAddressToCurrentLocation.bind(this), this._errorHandler.bind(this)
              ,{enableHighAccuracy: false, maximumAge: 600000}
              );
          } else {
            this.app.pushNotification({
                message: this.localize('FilterNearbyGeolocationNotAvailable')
            });
          }
        },

        _errorHandler: function(error){
          switch(error.code) {
            case error.PERMISSION_DENIED:
              if(!this.noMessage){
                this.app.pushNotification({
                  message: this.localize('FilterNearbyGeolocationNoPermission')
                });
              }
              this.set('filter.currentLocation', false);
              break;
            case error.POSITION_UNAVAILABLE:
              if(!this.noMessage){
                this.app.pushNotification({
                  message: this.localize('FilterNearbyGeolocationPositionUnavailable')
                });
              }
              break;
            case error.TIMEOUT:
              if(!this.noMessage){
                this.app.pushNotification({
                  message: this.localize('FilterNearbyGeolocationTimeout')
                });
              }
              break;
            case error.UNKNOWN_ERROR:
              if(!this.noMessage){
                this.app.pushNotification({
                  message: this.localize('FilterNearbyGeolocationUnknownError')
                });
              }
              break;
          }
        },

        setAddressToCurrentLocation: function(position){
          if(!this.geocoder){
            this.geocoder = new google.maps.Geocoder();
          }
          var latlng = {lat: position.coords.latitude, lng: position.coords.longitude};
          this.geocoder.geocode({'location': latlng}, function(results, status){
            if( status == google.maps.GeocoderStatus.OK ) {
              var place = results[0];
              this.$.storeInput.value = '';
              this.$.addressInput.value = '';
              this.$.plzInput.value = this._getAddressComponent(place, 'postal_code', 'short_name');

              if(this._getAddressComponent(place, 'locality', 'long_name') !== ''){
                this.$.cityInput.value = this._getAddressComponent(place, 'locality', 'long_name');
              } else {
                this.$.cityInput.value = this._getAddressComponent(place, 'administrative_area_level_1', 'long_name');
              }

              this.$.countryInput.value = '';
              this.$.countryInput.selected = 0;
              this.$.countryInput.value = this._getAddressComponent(place, 'country', 'short_name');
            }
            this.set('getingGeolocation', false);
          }.bind(this))
        },

        computeStore: function(data){
          var store = '';
          if(data){
            store = data.countryLong ? data.countryLong : store;
            store = data.street ? data.street : store;
            store = data.city ? data.city : store;
            store = data.store ? data.store : store;
          }
          return store;
        },

        computeStoreDescription: function(data){
          var storeDescription = '';
          if(data && data.city){
            if(data.street && data.street != ' '){
              storeDescription = data.street + ', ' + data.city;
            } else {
              storeDescription = data.city;
            }
          }

          if(this.computeStore(data) == storeDescription){
            storeDescription = '';
          }

          return storeDescription;
        },

        openIfEmpty: function(item){
          if(!this.computeStore(item) && !this.computeStoreDescription(item)){
            this.$.collapse.show();
          }
        },

        _computeDraftStyling: function(lifecycle) {
          if (lifecycle === 'draft') {
            return ' draft';
          }

          return '';
        },

        _mapsApiLoaded: function() {
          this._initialize();

        },

        _initialize: function() {
          if (!this.isAttached) {
            return;
          }
          if (this.autocomplete) {
            return;
          }
          if (!(window.google && window.google.maps)) {
            return;
          }
          var input = this.$.storeInput.inputElement;
          var options = { types: ['establishment'] };
          this.set('autocomplete')
          this.set('autocomplete', new google.maps.places.Autocomplete(input));

          var _boundFillInAddress = this._fillInChangeAddress.bind(this);
          window.google.maps.event.addListener(this.autocomplete, 'place_changed', _boundFillInAddress);

        },

        _getAddressComponent: function (place, component, valueType) {
          if (place.address_components) {
            for (var i = 0; i < place.address_components.length; i++) {
              var componentType = place.address_components[i].types[0];
              if (componentType === component) {
                return place.address_components[i][valueType];
              }
            }
          }
          return '';
        },

        deleteAdress: function() {
          this.splice('salesLocations', this.itemIndex, 1);
        },

        _onChangeAddress: function(){
          var collapse = this.$.collapse;
          collapse.toggle();
          var paperInput = this.$.storeInput;
          var input = paperInput.inputElement;
          if(collapse.opened){
            paperInput.focus()
          }
        },

        changeAddress: function() {
          var changedAddress = {};
          changedAddress['store'] = this.item.store ? this.item.store : null;
          changedAddress['street'] = this.item.street ? this.item.street : null;
          changedAddress['city'] = this.item.city ? this.item.city : null;
          changedAddress['plz'] = this.item.plz ? this.item.plz : null;
          changedAddress['country'] = this.item.country ? this.item.country : null;
          changedAddress['countryLong'] = this.item.countryLong ? this.item.countryLong : null;
          changedAddress['latitude'] = this.item.latitude ? this.item.latitude : null;
          changedAddress['longitude'] = this.item.longitude ? this.item.longitude : null;


          // construct address string for geocoding api
          var address = '';
          if(changedAddress.street){
            address += changedAddress.street + ', ';
          }
          if(changedAddress.plz){
            address += changedAddress.plz + ' ';
          }
          if(changedAddress.city){
            address += changedAddress.city;
          }
          if(changedAddress.country){
            address += ', ' + changedAddress.country;
          }
          if(!this.geocoder){
            this.geocoder = new google.maps.Geocoder();
          }

          this.geocoder.geocode({'address': address}, function(results, status){
            if( status == google.maps.GeocoderStatus.OK ) {
              changedAddress.latitude = results[0].geometry.location.lat();
              changedAddress.longitude = results[0].geometry.location.lng();
            }
            this.changeAdressWithGeolocation(changedAddress);
          }.bind(this))
        },

        changeAdressWithGeolocation: function(newAddress){
          newAddress.lifecycle = null;

          this.splice('salesLocations', this.itemIndex, 1, newAddress);
          var collapse = this.$.collapse;
          if(collapse){
            collapse.hide();
          }
        },

        _fillInChangeAddress: function() {
          var place = this.autocomplete.getPlace();
          if (!place) {
            return;
          }
          this.$.storeInput.value = place.name;
          this.$.addressInput.value = (this._getAddressComponent(place, 'route', 'long_name')).trim() + ' ' + this._getAddressComponent(place, 'street_number', 'short_name');
          this.$.plzInput.value = this._getAddressComponent(place, 'postal_code', 'short_name');

          if(this._getAddressComponent(place, 'locality', 'long_name') !== ''){
            this.$.cityInput.value = this._getAddressComponent(place, 'locality', 'long_name');
          } else {
            this.$.cityInput.value = this._getAddressComponent(place, 'administrative_area_level_1', 'long_name');
          }

          this.$.countryInput.value = '';
          this.$.countryInput.selected = 0;
          this.$.countryInput.value = this._getAddressComponent(place, 'country', 'short_name');
        }

      });
    })();
  </script>
</dom-module>
