<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="sales-location-item.html">

<dom-module id="sales-locations">
	<template>
		<style>
			:host{
				display: block;
			}
			paper-icon-button{
				width: 49%;
			}
			paper-icon-button.add-address{
				width: 100%;
				color: var(--app-primary-color);
				height: 60px;
			}
			.add-buttons{
				margin-bottom: 50px;
				text-align: center;
			}
		</style>

		<template is="dom-repeat" id="locationList" items="{{salesLocations}}">
			<sales-location-item item-index="[[index]]" sales-locations="{{salesLocations}}" item="[[item]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></sales-location-item>
		</template>

		<div class="add-buttons">
			<paper-icon-button noink raised icon="goodiefy-icons:add-circle" on-click="addAddress" class="add-address" title=""></paper-icon-button>
		</div>
	</template>
	<script>
		(function() {
			'use strict';

			Polymer({
				is: 'sales-locations',

				properties: {

          app: {
            type: Object,
            notify: true
          },

          language: {
            type: String
          },

          resources: {
            type: Object
          },

					salesLocations: {
						type: Array,
						value: [{}],
						notify: true
					}

				},

				addAddress: function(){
					this.push('salesLocations', {
            lifecycle: 'draft'
          });
				},

			});
})();
</script>
</dom-module>
