<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../_data/goodiefy-user-data.html">
<link rel="import" href="../_detail/review-stars.html">
<link rel="import" href="../_detail/formatted-user-name.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="user-chat-item">
  <template>
    <style include="shared-styles">
      .entry paper-input{
        padding-top: 10px;
        float: right;
        width: 80%;
        --paper-input-container-underline:{
          display: none
        };
      }
      .entry.can-edit .comment{
        float: left;
        width: calc(80% - 37px);
      }
      .entry{
        position: relative;
      }
      .entry .comment{
        float: left;
        position: relative;
        left: 60px;
        margin-top: -28px;
        width: 80%;
        font-size: 14px;
        color: var(--primary-text-color);
        padding-bottom: 10px;
      }
      .underline{
        border-bottom: 1px solid var(--primary-text-color);
      }
      .can-edit .edit-delete-holder{
        width: 100%;
        display: block;
      }
      .edit-delete-holder{
        display: none;
        float: left;
      }
      .edit-delete-holder paper-button{
        width: auto;
        float: left;
        display: block;
        margin-top: 0px;
      }
      .chat-date{
        display: inline-block;
        font-size: 12px;
      }
      .vertical-line{
        display: inline-block;
        /*float: left;*/
        margin: 0px 5px;
        font-size: 12px;
      }
      paper-icon-button{
        color: white;
        background: var(--secondary-color);
        border-radius: 3px;
        float: left;
        margin-top: 10px;
        padding: 5px;
        width: 34px;
        height: 34px
      }
      .clearfix:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0px;
      }
      iron-collapse{
        display: none;
      }
      .can-edit  iron-collapse{
        display: block;
      }
      iron-collapse paper-input{
        width: calc(100% - 37px);
        float: left;
        margin-right: 3px;
      }
      iron-collapse paper-icon-button{
        margin-top: 0px;
      }
      paper-button{
        font-size: 14px;
        width: 100%;
        margin: auto;
        color: var(--secondary-color);
        text-decoration: underline;
        text-transform: none;
        padding: 0px;
        margin-top: 10px;
      }
    </style>

    <goodiefy-user-data
      firebase-app="[[app.firebaseApp]]"
      uid="[[item.user]]"
      user="{{user}}"></goodiefy-user-data>

    <div class$="underline [[computeEditable(app, item.user)]]">
      <div class$="entry clearfix [[computeEditable(app, item.user)]]">

        <user-avatar class="horizontal"
        cloud-name="[[app.config.cloudinary.cloudName]]"
        user-name="[[user.name]]"
        user-image="[[user.imgMeta]]">
        <div class="avatar-info avatar-name">
          <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[user.name]]" short-name></formatted-user-name>
          <div class="vertical-line">|</div>
          <div class="chat-date">
            [[getDate(app, item.timestamp)]]
          </div>
        </div>
        </user-avatar>

        
        <div class="comment">
          [[item.comment]]
          <div class="edit-delete-holder">
            <paper-button on-click="deleteComment">[[localize('DetailHelpingHandDeleteComment')]]</paper-button>
            <paper-button on-click="openEditCollpase">[[localize('DetailHelpingHandEditComment')]]</paper-button>
          </div>
        </div>
      </div>
      <iron-collapse id="collapse">
        <div class="clearfix">
          <paper-input no-label-float on-keydown="checkForEnterEdit" value="{{item.comment}}" placeholder="[[localize('DetailHelpingHandPlaceholder')]]"></paper-input>
          <paper-icon-button on-click="editComment" icon="goodiefy-icons:sent-message"></paper-icon-button>
        </div>
      </iron-collapse>
    </div>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'user-chat-item',

        behaviors: [
          Polymer.AppLocalizeBehavior
        ],

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },
          resources: {
            type: Object,
            notify: true
          },
          location: {
            type: String
          },
          editableComment: {
            type: String,
            value: 'can-edit'
          },
          editableOn: {
            type: Boolean,
            value: false
          },
          path: {
            type: String
          }
        },

        computeEditable: function(app, user){
          if(!app || !app.firebaseUser){
            return;
          }
          if(app.firebaseUser.uid == user && this.editableOn){
            return this.editableComment;
          }
        },

        openEditCollpase: function() {
          this.$.collapse.toggle();
          this.$.collapse.querySelector('paper-input').focus();
        },

        editComment: function(){
          var editKey = this.item.key;
          var editedComment = {};
          var editedCommentLocation;

          editedComment['comment'] = this.item.comment;
          editedCommentLocation = this.app.firebaseApp.database().ref();
          editedCommentLocation = editedCommentLocation.child(this.location +'/' + this.itemExist + '/' + editKey);

          editedCommentLocation.update(editedComment);
          this.$.collapse.toggle();

          if(this.receiver != this.app.firebaseUser.uid){
            if(!this.path){
              this.set('path', this.route.path)
            }
            this.app.sendMessage(this.location + 'EDIT', editedComment['comment'], this.title, this.app.user.userData.name, this.receiver, this.itemExist, this.path);
          }
        },

        deleteComment: function(e){
          var deleteKey = this.item.key;
          var deleteLocation = this.app.firebaseApp.database().ref();

          deleteLocation.child(this.location+'/' + this.itemExist + '/' + deleteKey).set(null);

          if(this.receiver != this.app.firebaseUser.uid){
            if(!this.path){
              this.set('path', this.route.path)
            }
            this.app.sendMessage(this.location + 'DELETE', 'no message', this.title, this.app.user.userData.name, this.receiver, this.itemExist, this.path);
          }
        },

        checkForEnterEdit: function(e){
          if (e.keyCode === 13) {
            this.editComment(e);
          }
        },

        getDate: function(app, timestamp){
          if(timestamp && app){
            var returnDate = new Date(- timestamp);
            return app.getFormattedDate(returnDate);
          }
        },
      });
    })();
  </script>
</dom-module>
