<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_account/user-avatar.html">

<link rel="import" href="user-chat-item.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="user-chat">
  <template>
    <style include="shared-styles">

      .helping-hand-logged-out{
        font-size: 14px;
        padding: 10px;
        color: var(--primary-text-color);
      }
      .content-padding{
        @apply(--user-chat-padding);
      }
      .detail-header{
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
        @apply(--user-chat-header);
      }
      .detail-content{
        padding-bottom: 16px;
        position: relative;
      }
      paper-icon-button{
        color: white;
        background: var(--app-secondary-color);
        border-radius: 3px;
        float: left;
        margin-top: 10px;
        padding: 5px;
        width: 34px;
        height: 34px
      }
      user-avatar{
        float: left;
        margin-right: 20px;
      }
      #chatInput{
        width: calc(100% - 97px);
        float: left;
        margin-right: 3px;
        padding-top: 10px;
      }
      .clearfix:after {
        content: ".";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0px;
      }
      paper-button{
        font-size: 14px;
        text-transform: none;
        text-align: center;
        display: block;
      }
    </style>
    <app-location route="{{route}}"></app-location>

    <div class="detail-header content-padding">[[label]]</div>
    <div class="detail-content content-helping-hand content-padding">
      <template is="dom-repeat" id="helpingHandsRepeater" items="[[helpingHandsArray]]">
        <user-chat-item item="[[item]]" path="[[path]]" location="[[location]]" route="{{route}}" editable-on="[[editableOn]]" item-exist="{{itemExist}}" title="{{title}}" receiver="{{receiver}}" app="{{app}}" language="[[language]]" resources="[[resources]]"></user-chat-item>
      </template>
      <template is="dom-if" if="[[!allCommentsLoaded]]">
        <paper-button class="tertiary" on-up="nextPage">[[localize('ListingLoadMore')]]</paper-button>
      </template>
      <template is="dom-if" if="[[app.firebaseUser]]">
        <div class="entry clearfix">

          <user-avatar class="horizontal"
            cloud-name="[[app.config.cloudinary.cloudName]]"
            user-name="[[app.user.userData.name]]"
            user-image="[[app.user.userData.imgMeta]]"></user-avatar>

          <paper-input no-label-float on-keydown="checkForEnter" on-keyup="renderNew" id="chatInput" value="{{helpingHandNewComment}}" placeholder="[[localize('DetailHelpingHandPlaceholder')]]" style$="[[inputCss]]"></paper-input>
          <paper-icon-button on-click="saveComment" icon="goodiefy-icons:sent-message"></paper-icon-button>
        </div>
        </template>
        <template is="dom-if" if="[[!app.firebaseUser]]">
          <div class="helping-hand-logged-out">[[localize('DetailHelpingHandLoggedOut')]]</div>
        </template>
    </div>
  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'user-chat',

        behaviors: [
          Polymer.AppLocalizeBehavior
        ],

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },
          resources: {
            type: Object,
            notify: true
          },
          label: {
            type: String
          },
          location: {
            type: String
          },
          helpingHands: {
            type: Object,
            observer: 'computeHelpingHands'
          },
          editableComment: {
            type: String,
            value: 'can-edit'
          },
          initialLimit: {
            type: Number,
            value: 3
          },
          page: {
            type: Number,
            value: 0
          },
          itemsPerLoad: {
            type: Number,
            value: 10
          },
          allCommentsLoaded: {
            type: Boolean,
            value: true
          },
          hiddenKey: {
            type: String,
            value: 'hidden'
          },
          editableOn: {
            type: Boolean,
            value: false
          },
          path: {
            type: String
          }
        },

        observers: ['computeItemLocation(app.firebaseApp, itemExist, page, location)]]' ,'resetPage(itemExist)'],

        _loaded: function(data){
          this.set('sharedData', this.itemData);
          if(Object.keys(data).length > 0){
            this.set('dataLoaded', true);
          }
        },

        loginToContinue: function(){
          this.app.pushNotification({
            message: this.localize('DetailLoginToContinue')
          });
        },

        nextPage: function(){
          this.set('page', this.page + 1);
        },

        resetPage: function(){
          this.set('page', 0);
        },

        saveComment: function(){
          if(!this.helpingHandNewComment){
            return;
          }
          var newComment = {};
          newComment['comment'] = this.helpingHandNewComment;
          newComment['user'] = this.app.firebaseUser.uid;
          newComment['timestamp'] = firebase.database.ServerValue.TIMESTAMP;
          var newCommentLocation = this.app.firebaseApp.database().ref();
          newCommentLocation = newCommentLocation.child(this.location + '/' + this.itemExist).push();
          newCommentLocation.set(newComment);

          if(newCommentLocation){
            newCommentLocation.child('timestamp').once('value', function(snapshot){
              newCommentLocation.child('timestamp').set(- snapshot.val());
            })
          }

          if(this.receiver != this.app.firebaseUser.uid){
            if(!this.path){
              this.set('path', this.route.path)
            }
            this.app.sendMessage(this.location + 'ADD', this.helpingHandNewComment, this.title, this.app.user.userData.name, this.receiver, this.itemExist, this.path);
          }
          this.helpingHandNewComment = '';
        },


        checkForEnter: function(e){
          if (e.keyCode === 13) {
            this.saveComment();
          }
        },

        renderNew: function(){
          if(this.inputCss == "-webkit-transform: rotateZ(0deg);"){
            this.set('inputCss', "");
          } else {
            this.set('inputCss', "-webkit-transform: rotateZ(0deg);");
          }
        },

        computeHelpingHands: function(helpingHandsObject){
          this.set('helpingHandsArray', []);
          this.set('helpingHandsArray', this.convertToArray(helpingHandsObject));
        },

        convertToArray: function(object) {
          if(object){
            var arr = Object.keys(object).map(function (key) {
              var help = new Array();
              help = object[key];
              help['key'] = key;
              help['opened'] = false;
              return help;
            });
            return arr.filter(function(element){return !element[this.hiddenKey]}.bind(this));
          } else {
            return new Array();
          }
        },

        computeItemLocation: function(firebaseApp, item, page, location) {
          this.set('helpingHands', {});
          var limit = this.page * this.itemsPerLoad + this.initialLimit;
          if(firebaseApp && item && item != ''){
            var loadingRef = firebaseApp.database().ref();
            loadingRef.child(location + '/' + item).on('value', function(snap){
              this.set('helpingHandsArray', []);
              this.set('helpingHands', {});
              if(snap.exists()){
                if(Object.keys(snap.val()).length <= limit) {
                  this.set('allCommentsLoaded', true);
                } else {
                  this.set('allCommentsLoaded', false);
                }
              } else {
                this.set('allCommentsLoaded', true);
              }

              loadingRef.child(location + '/' + item).orderByChild('timestamp').limitToFirst(limit).on('value', function(snapshot){
                if(snapshot.exists()){
                  var keys = Object.keys(snapshot.val());
                  for (var i = keys.length - 1; i >= 0; i--) {
                    var key = keys[i];
                    this.set('helpingHands.' + key, snapshot.val()[key]);
                  }
                  if(keys[keys.length -1] == this.lastElement){
                    this.set('allItemsLoaded', true);
                  }
                  this.computeHelpingHands(this.helpingHands);
                }
              }.bind(this));
            }.bind(this));
          }
        }

      });
    })();
  </script>
</dom-module>
