<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="detail-bring-success">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        background: var(--primary-background-color);
        font-size: 12px;
      }
      .bring-success-content-description{
        margin-bottom: 10px;
      }
      .content-container{
        max-width: 600px;
        padding: 25px;
      }
      .title{
        font-size: 22px;
        margin-bottom: 10px
        line-height: initial;
      }
      paper-button{
        font-size: 16px;
        margin-bottom: 30px;
      }
      img.bring-image{
        width: 80%;
      }
      .image-holder{
        text-align: center;
        margin: 25px;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <div class="content-container">
      <h1 class="title">[[localize('BringSuccessTitle')]]</h1>
      <div class="image-holder">
        <img class="bring-image" src="../../images/bestaetigung.png">
      </div>
      <div class="bring-success-content-description">[[localize('BringSuccessDescriptionUpper')]]</div>
      <div class="actions">
        <paper-button on-click="backToMyGoodiefy" class="primary fullwidth">[[localize('BringSuccessPrimaryButton')]]</paper-button>
      </div>

    </div>


  </template>

  <script>

    Polymer({

      is: 'detail-bring-success',

      behaviors: [Polymer.AppLocalizeBehavior],

      ready: function() {
        this.set('loaded', true);
      },

      properties: {
        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        loaded: {
          type: Boolean,
          notify: true,
          value: false
        }
      },

      backToMyGoodiefy: function(){
        this.set('route.path', '/account/my-goodiefy');
      }
    });
  </script>

</dom-module>
