<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">

<link rel="import" href="../_behaviors/matching.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="detail-bring-overview">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        background: var(--primary-background-color);
        font-size: 12px;
      }
      .bring-overview-content-description{
        margin-bottom: 10px;
      }

      .content-container {
        max-width: 600px;
        padding: 25px;
      }

      .title{
        font-size: 22px;
        margin-bottom: 10px;
        line-height: initial;
      }
      .sub-title{
        font-size: 18px;
      }
      paper-button{
        font-size: 16px;
      }
      paper-button.primary{
        margin-top: 10px;
      }
      .padding{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      paper-radio-group{
        width: 100%;
        --paper-radio-group-item-padding: 12px 0px;
      }
      paper-radio-button{
        width: 50%;
      }
    </style>
    <app-location route="{{currentRoute}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:dataType"
      data="{{routeData}}"></app-route>

    <div class="content-container">
      <h1 class="title">[[localize('BringOverviewTitle')]]</h1>

      <h2 class="sub-title">[[localize('BringOverviewSubTitle')]]</h2>
      <div class="item-properties">
        <strong>[[localize('MatchItemTitleLabel')]]</strong> [[itemData.title]]<br />
        <strong>[[localize('MatchAmountLabel')]]</strong> [[conditions.amount]][[localize('units', 'item', itemData.amountUnit)]]<br />
        <strong>[[localize('MatchPriceLabel')]]</strong> [[getFormattedNumber(conditions.price, itemData.currency)]]<br />
        <strong>[[localize('MatchBonusLabel')]]</strong> [[getFormattedNumber(conditions.bonus, itemData.currency)]]<br />
        <strong>[[localize('MatchDeliveryCostsLabel')]]</strong> [[getFormattedNumber(conditions.deliveryCosts, itemData.currency)]]<br />
      </div>
      <div class="padding" hidden$="[[computeDeliverySelectionVisible(itemData)]]">
        <div class="sub-title">[[localize('MatchChooseDelivery')]]</div>
        <paper-radio-group allow-empty-selection selected="{{selectedDelivery}}">
          <paper-radio-button name="shipping">[[localize('delivery', 'item', 'Versand')]]</paper-radio-button>
          <paper-radio-button name="handingOver">[[localize('delivery', 'item', 'Uebergabe')]]</paper-radio-button>
        </paper-radio-group>
      </div>

      <div class="sub-title padding">[[localize('MatchYouGet')]] [[computeFormattedPrice(conditions.price, conditions.bonus, conditions.deliveryCosts, app.config, itemData.currency)]]</div>

      <div class="bring-overview-content-description">[[localize('BringOverviewDescription')]]</div>

      <paper-button on-click="completeMatch" disabled$="[[!selectedDelivery]]" class="primary fullwidth">[[localize('BringOverviewPrimaryButton', 'dataType', dataType)]]</paper-button>
      <paper-button on-click="back" class="tertiary fullwidth">[[localize('BringOverviewCancelButton')]]</paper-button>
    </div>


  </template>

  <script>

    Polymer({

      is: 'detail-bring-overview',

      behaviors: [
        Polymer.AppLocalizeBehavior,
        GMBehaviors.Matching
      ],

      properties: {

        pageName: {
          type: String,
          value: 'bring-overview'
        },

        searcher: {
          type: String,
          computed: '_searcherUid(itemData)'
        },

        bringer: {
          type: String,
          computed: '_bringerUid(app.firebaseUser.uid)'
        },

        successRedirect: {
          type: String,
          value: '/detail/bring-success/requests'
        }
      },


      _computeDeliveryAddress: function(onComplete) {
        if (this.selectedDelivery == 'shipping') {
          this.ref.child('itemAddresses').child(this.dataType).child(this.itemKey).once('value', function(snapshot){
              if(snapshot.exists()){
                var deliveryAddress = snapshot.val()['shipping'];
                deliveryAddress['name'] = snapshot.val().name;
                this.ref.child('matchItem').child(this.itemKey).child('deliveryAddress').set(deliveryAddress, onComplete);
              } else {
                onComplete({error: 'no address'});
              }
            }, 
            function(error){
            if(error){
              onComplete(error);
            }
          }, this);
          return;
        }

        if (this.selectedDelivery == 'handingOver') {

          this.ref.child('itemAddresses').child(this.dataType).child(this.itemKey).once('value', function(snapshot){
              if(snapshot.exists()){
               var deliveryAddress = snapshot.val()['handingOver'];
                deliveryAddress['name'] = snapshot.val().name;
                this.ref.child('matchItem').child(this.itemKey).child('deliveryAddress').set(deliveryAddress, onComplete);
              } else {
                onComplete({error: 'no address'});
              }
            }, 
            function(error){
            if(error){
              onComplete(error);
            }
          }, this);

          return;
        }
      },

      _searcherUid: function(itemData) {
        if (!itemData) {
          return;
        }

        return itemData.createdBy;
      },

      _bringerUid: function(uid) {
        return uid;
      },

    });

  </script>

</dom-module>
