<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="detail-bring">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        background: var(--primary-background-color);
        font-size: 12px;
      }
      .bring-content-description{
        margin-bottom: 10px;
      }
      .content-container{
        max-width: 600px;
        padding: 25px;
      }

      .title{
        font-size: 22px;
        margin-bottom: 10px;
        line-height: initial;
      }
      .sub-title{
        font-size: 18px;
      }
      paper-button{
        font-size: 16px;
      }
      img.bring-image{
        width: 80%;
      }
      .image-holder{
        text-align: center;
        margin: 25px;
      }

      a{
        text-decoration: none;
      }

    </style>
    <app-route
      route="{{route}}"
      pattern="/:dataType"
      data="{{routeData}}"></app-route>

    <div class="content-container">
      <h1 class="title">[[localize('BringTitle')]]</h1>
      <div class="image-holder">
        <img class="bring-image" src="../../images/bestaetigung.png">
      </div>
      <div class="bring-content-description">[[localize('BringUpperDesription')]]</div>
      <div class="bring-content-description">[[localize('BringLowerDescription')]]</div>

      <div class="actions">
        <a href="/detail/bring-overview/[[itemKey]]/[[routeData.dataType]]">
          <paper-button class="primary fullwidth">[[localize('BringGetButton')]]</paper-button>
        </a>
        <paper-button on-click="back" class="tertiary fullwidth">[[localize('BringCancelButton')]]</paper-button>
      </div>
    </div>


  </template>

  <script>

    Polymer({

      is: 'detail-bring',

      behaviors: [Polymer.AppLocalizeBehavior],

      ready: function() {
        this.set('loaded', true);
      },

      properties: {
        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        loaded: {
          type: Boolean,
          notify: true,
          value: false
        }
      },

      back: function(){
        var location = window.location.href;
        window.history.go(-1);
        this.goBack(location);
      },

      goBack: function(oldLocation){
        setTimeout(function(){
          if(oldLocation == window.location){
            this.back();
          }
        }.bind(this), 30);
      }
    });

  </script>

</dom-module>
