<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">

<link rel="import" href="../_behaviors/matching.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="detail-buy">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        background: var(--primary-background-color);
        font-size: 12px;
      }
      .buy-content-description{
        margin-bottom: 10px;
      }
      .content-container {
        max-width: 600px;
        padding: 25px;
      }
      .title{
        font-size: 24px;
        margin-bottom: 10px
      }
      .sub-title{
        font-size: 18px;
      }
      paper-button{
        font-size: 16px;
      }
      .padding{
        padding-top: 10px;
        padding-bottom: 10px;
      }
      paper-radio-group{
        width: 100%;
        --paper-radio-group-item-padding: 12px 0px;
      }
      paper-radio-button{
        width: 50%;
      }
    </style>

    <app-location route="{{currentRoute}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/buy/:dataType/:itemId"
      data="{{routeData}}"></app-route>

    <div class="content-container">
      <h1 class="title">[[localize('BuyTitle')]]</h1>
      <div class="buy-content-description">[[localize('BuyDescriptionUpper')]]</div>

      <div class="item-properties">
        <h2 class="sub-title">[[localize('BuySubTitle')]]</h2>

        <strong>[[localize('MatchItemTitleLabel')]]</strong> [[itemData.title]]<br>
        <strong>[[localize('MatchAmountLabel')]]</strong> [[conditions.amount]][[localize('units', 'item', itemData.amountUnit)]]<br>
        <strong>[[localize('MatchPriceLabel')]]</strong> [[getFormattedNumber(conditions.price, itemData.currency)]]<br>
        <strong>[[localize('MatchBonusLabel')]]</strong> [[getFormattedNumber(conditions.bonus, itemData.currency)]]<br>
        <strong>[[localize('MatchDeliveryCostsLabel')]]</strong> [[getFormattedNumber(conditions.deliveryCosts, itemData.currency)]]<br>
      </div>

      <div class="padding" hidden$="[[computeDeliverySelectionVisible(itemData)]]">
        <div class="sub-title">[[localize('MatchChooseDelivery')]]</div>
        <paper-radio-group allow-empty-selection selected="{{selectedDelivery}}">
          <paper-radio-button name="shipping">[[localize('delivery', 'item', 'Versand')]]</paper-radio-button>
          <paper-radio-button name="handingOver">[[localize('delivery', 'item', 'Uebergabe')]]</paper-radio-button>
        </paper-radio-group>
      </div>

      <div class="sub-title" padding>[[localize('MatchTotalPrice')]] [[computeFormattedPrice(conditions.price, conditions.bonus, conditions.deliveryCosts, app.config, itemData.currency)]]</div>

      <div class="actions">
        <paper-button on-click="completeMatch" disabled$="[[!selectedDelivery]]" class="primary fullwidth">[[localize('BuyPrimaryButton')]]</paper-button>
        <paper-button on-click="back" class="tertiary fullwidth">[[localize('BuyCancelButton')]]</paper-button>
      </div>
    </div>
  </template>

  <script>

    Polymer({

      is: 'detail-buy',

      behaviors: [
        Polymer.AppLocalizeBehavior,
        GMBehaviors.Matching
      ],

      properties: {

        pageName: {
          type: String,
          value: 'buy'
        },

        searcher: {
          type: String,
          computed: '_searcherUid(app.firebaseUser.uid)'
        },

        bringer: {
          type: String,
          computed: '_bringerUid(itemData)'
        },

        successRedirect: {
          type: String,
          computed: '_successRedirect(itemKey)'
        }

      },

      _computeDeliveryAddress: function(onComplete) {
        if (this.selectedDelivery == 'shipping') {
          var standardAddress = this.app.user.addresses.collection[this.app.user.addresses.standard];
          var addressObject = {};
          addressObject.name =  this.app.user.userData.name;
          addressObject.city =  standardAddress.city;
          addressObject.street =  standardAddress.street;
          addressObject.country =  standardAddress.land;
          this.ref.child('matchItem').child(this.itemKey).child('deliveryAddress').set(addressObject, onComplete);
          return;
        }

        if (this.selectedDelivery == 'handingOver') {

          this.ref.child('itemAddresses').child(this.dataType).child(this.itemKey).once('value', function(snapshot){
              if(snapshot.exists()){
                var deliveryAddress = snapshot.val()['handingOver'];
                deliveryAddress['name'] = snapshot.val().name;
                this.ref.child('matchItem').child(this.itemKey).child('deliveryAddress').set(deliveryAddress, onComplete);
              } else {
                onComplete({error: 'no address'});
              }
            }, 
            function(error){
            if(error){
              onComplete(error);
            }
          }, this);
          return;
        }
      },

      _searcherUid: function(uid) {
        return uid;
      },

      _bringerUid: function(itemData) {
        if (!itemData) {
          return;
        }

        return itemData.createdBy;
      },

      _successRedirect: function(itemKey) {
        return '/detail/pay/' + itemKey;
      }

    });
  </script>

</dom-module>
