<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../_account/_const.html">

<dom-module id="detail-pay-success">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        background: var(--primary-background-color);
        font-size: 12px;
      }
      .pay-success-content-description{
        margin-bottom: 10px;
      }
      .content-container {
        max-width: 600px;
        padding: 25px;
      }
      .title{
        font-size: 24px;
        margin-bottom: 10px
      }
      .sub-title{
        font-size: 18px;
      }
      paper-button{
        font-size: 16px;
        margin: 50px 0px;
      }
      .spinner-holder{
        text-align: center;
        padding: 40px;
      }
    </style>
    <app-location route="{{currentRoute}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/pay-success/:itemKey"
      data="{{routeData}}">
      </app-route>

    <div hidden$="[[dataLoaded]]" class="spinner-holder">
      <paper-spinner active="[[!dataLoaded]]"></paper-spinner>
    </div>
    <div class="content-container" hidden$="[[!dataLoaded]]">
      <h1 class="title">[[localize('PaySuccessTitle')]]</h1>
      <div class="pay-success-content-description">[[localize('PaySuccessDescriptionUpper')]]</div>
      <div class="pay-success-content-description">[[localize('PaySuccessDescriptionLower')]]</div>

      <div class="actions">
        <paper-button on-click="backToMyGoodiefy" class="primary fullwidth">[[localize('PaySuccessPrimaryButton')]]</paper-button>
      </div>
    </div>


  </template>

  <script>

    Polymer({

      is: 'detail-pay-success',

      behaviors: [Polymer.AppLocalizeBehavior],

      ready: function() {
        this.set('loaded', true);
      },

      properties: {
        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        loaded: {
          type: Boolean,
          notify: true,
          value: false
        },
        dataLoaded: {
          type: Boolean,
          value: false
        },
      },

      observers: ['_pageChanged(routeData, app)', '_loadData(itemKey, app.firebaseApp, app.firebaseUser.uid)'],


      _loadData: function(itemKey, firebaseApp, uid){
        if(itemKey && firebaseApp && uid){
          if(!this.ref){
            this.set('ref', firebaseApp.database().ref());
          }
          this.ref.child('matchItem/' + this.itemKey).once('value', function(snapshot){
            var itemData = snapshot.val();
            if(!itemData.paidTimestamp) {
              this.set('title', itemData.title);
              if(itemData.bringer != this.app.firebaseUser.uid){
                  this.set('receiver', itemData.bringer);
              }else{
                  this.set('receiver', itemData.searcher);
              }
              this.updateStatus();
            } else {
              this.set('dataLoaded', true);
            }
          }.bind(this));
        }
      },

      _pageChanged: function(routeData, app){
        if(routeData){
          if(routeData.itemKey){
            this.set('itemKey', routeData.itemKey);
            this.set('dataLoaded', false);
          } else {
            this.set('itemKey', undefined);
          }
        }
      },

      updateStatus: function(){
        this.set('dataLoaded', true);
        var updateObject = {};

        updateObject['matchItem/' + this.itemKey + '/matchStatus'] = PAID_STATE;
        updateObject['matchItem/' + this.itemKey + '/paidTimestamp'] = firebase.database.ServerValue.TIMESTAMP;
        updateObject['matches/' + this.itemKey + '/matchStatus'] = PAID_STATE;
        updateObject['matches/' + this.itemKey + '/paidTimestamp'] = firebase.database.ServerValue.TIMESTAMP;

        this.ref.update(updateObject, function(error){
          if(error){
            this.app.pushNotification({
              message: this.localize('MatchSaveErrorMessage')
            });
          }else{
            if(this.receiver != this.app.firebaseUser.uid){
              this.app.sendMessage('matchPAID', 'no message', this.title, this.app.user.userData.name, this.receiver, this.itemKey, '/account/for-you/' + this.itemKey);
            }
          }
        }.bind(this))
      },

      backToMyGoodiefy: function(){
        this.set('currentRoute.path', '/account/my-goodiefy');
      }
    });
  </script>

</dom-module>
