<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_behaviors/computing.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../_account/_const.html">

<dom-module id="detail-pay">

  <template>

    <style include="shared-styles">
      :host {
        display: block;
        background: var(--primary-background-color);
        font-size: 12px;
      }
      .pay-content-description{
        margin-bottom: 10px;
      }
      .content-container {
        max-width: 600px;
        padding: 25px;
      }
      .title{
        font-size: 24px;
        margin-bottom: 10px
      }
      .sub-title{
        font-size: 18px;
      }
      paper-button{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        padding: 6px;
      }
      paper-button.primary{
        margin-top: 10px;
      }
      paper-button.secondary{
        text-decoration: underline;
        border: none;
        margin: 10px 0px;
      }
      .spinner-holder{
        text-align: center;
        padding: 40px;
      }

      .paypal-form .paypal-button:before{
        content:none;
      }

      .paypal-form .paypal-button:after{
        content:none;
      }
      .paypal-form form {
        margin: 10px auto;
      }
      .paypal-form .paypal-button {
        cursor: pointer;
        display: block;
        background-color: var(--app-secondary-color);
        border: 0;
        color: #fff;
        padding: 5px 0px;
        border-radius: 3px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        width: 100%;
        min-width: 150px;
        max-width: 250px;
      }
    </style>

    <div hidden$="[[dataLoaded]]" class="spinner-holder">
      <paper-spinner active="[[!dataLoaded]]"></paper-spinner>
    </div>

    <div class="content-container" hidden$="[[!dataLoaded]]">
      <h1 class="title">[[localize('PayTitle')]]</h1>
      <div class="pay-content-description">[[localize('PayDescriptionUpper')]]</div>
      <div class="pay-content-description">[[localize('PayDescriptionLower')]]</div>

      <h2 class="sub-title">[[localize('PaySubTitle')]]</h2>

      <div class="item-properties">
        <strong>[[localize('MatchItemTitleLabel')]]</strong> [[itemData.title]]<br>
        <strong>[[localize('MatchAmountLabel')]]</strong> [[conditions.amount]][[localize('units', 'item', itemData.amountUnit)]]<br>
        <strong>[[localize('MatchPriceLabel')]]</strong> [[getFormattedNumber(conditions.price, itemData.currency)]]<br>
        <strong>[[localize('MatchBonusLabel')]]</strong> [[getFormattedNumber(conditions.bonus, itemData.currency)]]<br>
        <strong>[[localize('MatchDeliveryCostsLabel')]]</strong> [[getFormattedNumber(conditions.deliveryCosts, itemData.currency)]]<br>
      </div>
      <div class="sub-title">[[localize('MatchTotalPrice')]] [[getFormattedNumber(conditions.total, itemData.currency)]]</div>
      <div id="paypalForm" class="paypal-form"></div>
    </div>
  </template>

  <script>

    Polymer({

      is: 'detail-pay',

      behaviors: [
        Polymer.AppLocalizeBehavior,
        GMBehaviors.Computing
      ],

      properties: {
        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String,
          notify: true
        },

        resources: {
          type: Object,
          notify: true
        },

        itemData: {
          type: Object,
          value: null
        },

        dataLoaded: {
          type: Boolean,
          value: false
        },

        loaded: {
          type: Boolean,
          notify: true,
          value: false
        },

        waitForResponse: {
          type: Boolean,
          value: false
        }
      },

      ready: function(){
        this.set('loaded', true);
      },

      observers: ['_itemChanged(itemKey, app)', '_loadData(itemKey, app.firebaseApp, app.firebaseUser.uid)', '_loadCurrentMatchConditions(itemData)'],

      checkStatus: function(){
        if(this.itemData.paidTimestamp){
          this.app.pushNotification({
            message: this.localize('MatchAlreadyPaidErrorMessage')
          });
        } else {
          this.initPayment();
        }
      },

      initPayment: function(){
        this.set('waitForResponse', true);
        if(this.itemData.matchStatus != ACCEPTED_STATE){
          this.app.pushNotification({
            message: this.localize('MatchWrongStatusError')
          });
          return;
        }

        this.ref.child('users').child(this.itemData.createdBy).child('userData').child('paypalMail').once('value', function(snapshot){
          if(snapshot.exists()){

            var buttonData = {
              item_name: {
                value: this.itemData.title
              },
              amount: {
                value: this.conditions.total
              },
              currency_code: {
                value: this.itemData.currency
              },
              return:{
                value: window.location.protocol + '//' + window.location.host + '/detail/pay-success/' + this.itemKey
              },
              no_shipping: {
                value: 1
              }
            };
            if(this.app.config.paypalEndpoint){
              buttonData['env'] = {
                value: 'sandbox'
              }
            }
            if(Polymer.dom(this.root).querySelector('form')){
              Polymer.dom(this.$.paypalForm).removeChild(Polymer.dom(this.root).querySelector('form'));
            }
            Polymer.dom(this.$.paypalForm).appendChild(PAYPAL.apps.ButtonFactory.create(snapshot.val(), buttonData));
          }
        }.bind(this));
      },

      _loadCurrentMatchConditions: function(itemData){
        if(itemData){
          this.set('dataLoaded', true)
          if(itemData.acceptedConditions){
            this.set('conditions', itemData.acceptedConditions);
          }
        } else {
          this.set('dataLoaded', false);
        }
      },

      _loadData: function(itemKey, firebaseApp, uid){
        if(itemKey && firebaseApp && uid){

          if(!this.ref){
            this.set('ref', firebaseApp.database().ref());
          }
          this.ref.child('matchItem').child(itemKey).once('value', function(snapshot){
            if(snapshot.exists()){
              this.set('itemData', snapshot.val());
              this.checkStatus();
            }
          }.bind(this));
        }
      },

      _itemChanged: function(itemKey, app){
        if(!itemKey){
          this.set('itemData', undefined);
          this.set('currency', undefined);
          this.set('conditions', undefined);
        }
      },
    });
  </script>

</dom-module>
