<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../../bower_components/juicy-html/juicy-html.html">

<link rel="import" href="../_behaviors/localization-helper.html">

<link rel="import" href="formatted-user-reviews.html">
<link rel="import" href="formatted-user-name.html">
<link rel="import" href="../_account/user-avatar.html">

<link rel="import" href="../helper/animated-button.html">
<link rel="import" href="../helper/conditional-link.html">
<link rel="import" href="../helper/app-slider.html">
<link rel="import" href="../helper/google-translate.html">
<link rel="import" href="../helper/string.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="detail-request-offer">
  <template>
    <style include="shared-styles">

      :host{
        display: block;
      }

      :host([preview]) .sales-locations {
        margin-bottom: 45px;
      }

      h1 {
        margin-top: -10px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 24px;
      }

      .item-detail {
        max-width: 600px;
      }

      #mapHolder,
      .map-holder{
        height: 200px;
      }
      .no-price{
        color: var(--secondary-color);
      }

    </style>

    <div class="no-longer-active-message-holder" hidden$="[[!detailItem.status.canceled]]">[[localize('DetailPageNoLongerActiveMessage')]]</div>
    <div class="item-detail-header" style$="background: [[localize('ListColor', 'listType', detailItem.itemType)]];">[[detailItem.title]]</div>

    <div class="item-detail content-container" hidden$="[[detailItem.status.canceled]]">

      <app-slider>
        <template is="dom-repeat" items="{{getImages(detailItem.images)}}">
          <cloudinary-img
            class="slider-item"
            enable-fallback-img
            fallback-img="[[app.config.cloudinary.fallbackImg]]"
            cloud-name="[[app.config.cloudinary.cloudName]]"
            path="[[item.path]]"
            transformation-params="[[computeTransformationParams(item)]]"
            sizes="(min-width: 1024px) 50vw, 100vw" alt=""></cloudinary-img>
        </template>
        <template is="dom-if" if="[[!detailItem.images]]">
          <img
            class="slider-item"
            src="[[app.config.cloudinary.fallbackImg]]"
            sizes="(min-width: 1024px) 50vw, 100vw" alt=""></img>
        </template>
      </app-slider>

      <section class="content-container-section translateable clearfix">

        <a href$="/account/user-info/[[uid]]">
          <user-avatar
            cloud-name="[[app.config.cloudinary.cloudName]]"
            user-name="[[user.name]]"
            user-image="[[user.imgMeta]]">
            <div class="avatar-info avatar-name avatar-reviews">
              <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[user.name]]" short-name></formatted-user-name>
              <formatted-user-reviews firebase-app="[[app.firebaseApp]]" uid="[[uid]]"></formatted-user-reviews>
            </div>
          </user-avatar>
        </a>

        <h1 class="detail-title">
         <google-translate
           app="{{app}}"
           language-into="[[app.googleTranslateInto]]"
           language="{{language}}"
           resources="[[resources]]"
           language-from="[[languageFrom]]"
           source-text="[[detailItem.title]]">[[detailItem.title]]</google-translate>
        </h1>
        <div class="item-property">
          <template is="dom-if" if="[[detailItem.price]]">
            [[getFormattedNumber(detailItem.price, detailItem.currency)]]
          </template>
          <template is="dom-if" if="[[!detailItem.price]]">
            <h3 class="no-price">[[localize('DetailNoPriceMessage')]]</h3>
          </template>
        </div>
        <div class="item-property description">
          <google-translate
            drop-down-on
            detect-language-on
            app="{{app}}"
            language-into="{{app.googleTranslateInto}}"
            language="{{language}}" resources="[[resources]]"
            language-from="{{languageFrom}}"
            source-text="[[_formatDescription(detailItem.description)]]"><template is="juicy-html" content="[[_formatDescription(detailItem.description)]]"></template></google-translate>
        </div>
      </section>

      <section class="content-container-section clearfix">
        <div class="item-property-container left">
          <!-- <div class="detail-info">Kategorien [[convertToArrayFromObject(detailItem.categories)]]</div> -->
          <template is="dom-if" if="[[detailItem.bonus]]">
            <div class="item-property">
              <strong>[[localize('DetailBonusLabel')]] </strong>[[getFormattedNumber(detailItem.bonus, detailItem.currency)]]
            </div>
          </template>
          <div class="item-property"><strong>[[localize('DetailAmount')]] </strong>[[detailItem.amount]]</div>
          <div class="item-property"><strong>[[localize('DetailDeliveryOptions')]] </strong>[[_formatDeliveryOptions(detailItem.delivery, localize)]]</div>
          <template is="dom-if" if="[[detailItem.deliveryLocation]]">
            <div class="item-property">
              <strong>[[localize('DetailDeliveryLocation')]] </strong>[[sharedData.deliveryLocation.city]]
              <div>[[localize('country','country',sharedData.deliveryLocation.country)]]</div>
            </div>
          </template>
          <template is="dom-if" if="[[detailItem.delivery.shipping.costs]]">
            <div class="item-property"><strong>[[localize('DetailDeliveryCosts')]] </strong>[[getFormattedNumber(detailItem.delivery.shipping.costs,detailItem.currency)]]</div>
          </template>
        </div>
        <div class="item-property-container right">
          <div class="item-property">
            <template is="dom-if" if="[[detailItem.tags]]">
              <strong>[[localize('DetailTagLabel')]] </strong>
            </template>
            <template is="dom-repeat" items="[[detailItem.tags]]">[[item]] </template>
          </div>
        </div>
      </section>

      <section class="sales-locations">
        <template is="dom-if" if="[[detailItem.salelocation]]" restamp>
          <div class="infos">
            <h2>[[localize('DetailLocationsLabel')]]</h2>
            <template is="dom-repeat" items="[[convertToArray(detailItem.salelocation)]]">
              <div class="detail-content location-item">
                <div class="item-property"><strong>[[item.store]]</strong></div>
                <div class="item-property">[[item.street]]</div>
                <div class="item-property">[[item.city]]</div>
                <div class="item-property">[[localize('country', 'country', item.country)]]</div>
              </div>
            </template>
          </div>
        </template>
        <template is="dom-if" if="[[hasCoordinates]]" on-dom-change="recomputeMap">
          <template is="dom-if" if="[[visible]]" on-dom-change="recomputeMap" restamp>
            <div class="map-holder" id="mapHolder"></div>
          </template>
        </template>
        <template is="dom-if" if="[[hasCoordinates]]" restamp>
          [[computeMarkers(detailItem.salelocation, app.googleApiLoaded)]]
        </template>
      </section>

      <section hidden$=[[preview]] class="content-container-section helping-hand social-media">
        <helping-hands
          app="{{app}}"
          language="{{language}}"
          resources="[[resources]]"
          item-exist="[[detailKey]]"
          title="[[detailItem.title]]"
          receiver="[[detailItem.createdBy]]"></helping-hands>
        <social-media
          app="{{app}}"
          language="{{language}}"
          resources="[[resources]]"
          route="{{route}}"
          shared-data="{{detailItem}}"></social-media>
      </section>
      <template is="dom-if" if="[[detailItem.price]]">
        <div hidden$=[[preview]] id="getButton">
          <conditional-link app="{{app}}" link="[[computeGetLink(detailItem)]]">
             <animated-button app="{{app}}" my-icon="[[myIcon]]">[[localize('DetailGetButton', 'dataType', detailItem.itemType)]]</animated-button>
          </conditional-link>
        </div>
      </template>
    </div>
  </template>
  <script>

    Polymer({
      is: 'detail-request-offer',

      attached: function() {
        if (!this.resourcesLoadComplete) {
          Polymer.RenderStatus.afterNextRender(this, function() {
            this.importHref(this.resolveUrl('lazy-resources.html'), function() {
              this.set('resourcesLoadComplete', true);
            }.bind(this));
          }.bind(this));
        }
      },

      behaviors: [
        Polymer.AppLocalizeBehavior,
        GMBehaviors.LocalizationHelper
      ],

      properties: {
        app: {
          type: Object,
          notify: true
        },
        language: {
          type: String,
          notify: true
        },
        myIcon: {
          type: String,
          value: 'goodiefy-icons:work',
          notify: true
        },
        route: {
          type: String,
          observer: 'recomputeMap'
        },

        detailItem: {
          type: Object
        },

        user: {
          type: Object,
          notify: true
        },

        uid: {
          type: String,
          notify: true
        },

        hasCoordinates: {
          type: Boolean,
          computed: 'computeMapNeeded(detailItem.salelocation)'
        },
        visible: {
          type: Boolean
        },

        preview: {
          type: Boolean,
          value: false
        },

        resourcesLoadComplete: {
          type: Boolean,
          value: false
        }
      },

      _formatDescription: function(description) {
        return GMHelpers.StringHelper.nl2br(description)
      },

      _formatDeliveryOptions: function(delivery, localize) {
        var keys;

        if (!localize) {
          return '';
        }

        keys = Object.keys(delivery);

        for(var i=0; i<keys.length; i++) {
          keys[i] = localize(keys[i]);
        }

        return keys.join(', ');
      },

      getImages: function(images) {
        if(images){
          var arr = Object.keys(images).map(function (key) {
            return images[key];
          });
          return arr;
        }
        return '';
      },

      computeGetLink: function(item){
        if(item.itemType == 'requests'){
          return '/detail/bring/' + item.__key__ + '/' + item.itemType;
        }
        if(item.itemType == 'offers'){
          return '/detail/buy/' + item.__key__ + '/' + item.itemType;
        }
      },

      computeTransformationParams: function(item) {
        if (item.coordinates) { // custom crop
          var c = item.coordinates.custom[0];

          return 'x_' + c[0] + ',y_' + c[1] + ',w_' + c[2] + ',h_' + c[3] + ',c_crop/w_auto:100:1024,dpr_auto';
        }

        return 'w_auto:100:1024,dpr_auto/ar_2.0,c_fill,g_auto'; // auto crop
      },

      convertToArray: function(object) {
        if(object){
          var arr = Object.keys(object).map(function (key) {
            var help = new Array();
            help = object[key];
            help['key'] = key;
            return help;
          });
          return arr;
        } else {
          return new Array();
        }
      },

      convertToArrayFromObject: function(object){
        if(object){
          var arr = Object.keys(object).map(function (key) {
            return key;
          });
          var result = ''
          for (var i = arr.length - 1; i >= 0; i--) {
            if(i != arr.length - 1) {
              result = result + ', '
            }
            result = result + arr[i];
          };
          return result;
        } else {
          return '';
        }
      },

      computeMapNeeded: function(saleslocations){
        if(saleslocations){
          var hasCoordinates = false;
          for (var i = saleslocations.length - 1; i >= 0; i--) {
            if(saleslocations[i].longitude && saleslocations[i].latitude){
              hasCoordinates = true;
            }
          };
        return hasCoordinates;
        } else {
          return false;
        }
      },

      getLatitude: function(routeLocations){
        if(routeLocations){
          for (var i = routeLocations.length - 1; i >= 0; i--) {
            if(routeLocations[i].latitude){
              return routeLocations[i].latitude;
            }
          }
        }
      },

      getLongitude: function(routeLocations){
        if(routeLocations){
          for (var i = routeLocations.length - 1; i >= 0; i--) {
            if(routeLocations[i].longitude){
              return routeLocations[i].longitude;
            }
          }
        }
      },

      getMapZoom: function(){
        return this.app.config.googleMapStandardZoom;
      },

      recomputeMap: function(){
        if(this.app && this.detailItem){
          this.computeMarkers(this.detailItem.salelocation, this.app.googleApiLoaded);
        }
        if(this.map){
          google.maps.event.trigger(this.map,'resize');
        }
      },

      computeMarkers: function(routePoints, loaded){
        var latLngObject;
        if(!routePoints || !loaded || !this.$$('#mapHolder')){
          return;
        }
        if(this.getLatitude(routePoints) && this.getLongitude(routePoints)) {
          latLngObject = {lat: this.getLatitude(routePoints), lng: this.getLongitude(routePoints)};
        }
        var mapOptions = {
          zoom: this.getMapZoom(),
          scrollwheel: true,
          navigationControl: false,
          mapTypeControl: false,
          scaleControl: false,
          disableDefaultUI: true,
          mapTypeId: 'roadmap',
        };
        if(latLngObject){
          mapOptions.center = latLngObject;
        }

        if(!this.map){
          this.map = null;
          var map = new google.maps.Map(this.$$('#mapHolder'), mapOptions);
          this.map = map;
        } else {
          this.map.setOptions(mapOptions);
        }

        this.markers = [];

        if(!mapOptions.center && routePoints[0]){
          this.setMapCenter(routePoints[0].city + ' ,' + routePoints[0].country);
        }
        for (var i = routePoints.length - 1; i >= 0; i--) {
          if(routePoints[i].latitude && routePoints[i].longitude){
            this.markers.push(new google.maps.Marker({
              position: {lat: routePoints[i].latitude, lng: routePoints[i].longitude},
              map: this.map
            }));
          }
        }
        if (this.map && this.markers.length > 0) {
          var latLngBounds = new google.maps.LatLngBounds(this.markers[0].position, this.markers[0].position);

          for (var i = this.markers.length - 1; i >= 0; i--) {
            latLngBounds.extend(this.markers[i].position);
          }
          if (this.markers.length > 0) {
            this.map.fitBounds(latLngBounds);
          }
          this.map.setCenter(latLngBounds.getCenter());
          var listener = google.maps.event.addListener(this.map, "idle", function() {
            if(this.map){
              if (this.map.getZoom() > this.getMapZoom()) this.map.setZoom(this.getMapZoom());
            }
            google.maps.event.removeListener(listener);
          }.bind(this));
        }
        if(this.map){
          google.maps.event.trigger(this.map,'resize');
        }
      },

      setMapCenter: function(address){
        if(!this.goecodeService){
          this.goecodeService = new google.maps.Geocoder();
        }
        this.goecodeService.geocode({'address': address}, function(results, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            this.map.setCenter(results[0].geometry.location);
          }
        }.bind(this));
      }
    });
  </script>
</dom-module>
