<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../../bower_components/juicy-html/juicy-html.html">

<link rel="import" href="../_behaviors/localization-helper.html">
<link rel="import" href="../_account/user-avatar.html">

<link rel="import" href="formatted-user-name.html">
<link rel="import" href="formatted-user-reviews.html">

<link rel="import" href="../helper/google-translate.html">
<link rel="import" href="../helper/string.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="detail-route">
  <template>
    <style include="shared-styles">
      :host{
        display: block;
      }

      :host([preview]) .item-properties {
        margin-bottom: 45px;
      }

      .static-map{
        max-width: 100%;
      }

      social-media {
        padding-bottom: 50px;
      }

      </style>

      <div class="item-detail-header" style$="background: [[localize('ListColor', 'listType', detailItem.itemType)]];">
      [[detailItem.title]]</div>

      <div class="item-detail content-container" hidden$="[[detailItem.status.canceled]]">

        <img class="static-map" src$="[[computeMapUrl(detailItem.salelocation, app.config.googleApiKey)]]">

        <section class="content-container-section translateable clearfix">
          <!-- computeEditButtonHidden überall rein -->

          <a href$="/account/user-info/[[uid]]">
            <user-avatar
              cloud-name="[[app.config.cloudinary.cloudName]]"
              user-name="[[user.name]]"
              user-image="[[user.imgMeta]]">
              <div class="avatar-info avatar-name avatar-reviews">
                <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[user.name]]" short-name></formatted-user-name>
                <formatted-user-reviews firebase-app="[[app.firebaseApp]]" uid="[[uid]]"></formatted-user-reviews>
              </div>
            </user-avatar>
          </a>

          <h1 class="detail-title">
            <google-translate app="{{app}}" language-into="[[app.googleTranslateInto]]" language="{{language}}" resources="[[resources]]" language-from="[[languageFrom]]" source-text="[[detailItem.title]]">[[detailItem.title]]</google-translate>
          </h1>
          <div class="item-property">[[getStartEndLocation(detailItem.salelocation)]]</div>
          <div class="item-property">[[_formatDurationOfTravel(detailItem.startDate, detailItem.endDate, localize)]]</div>
          <div class="item-property description">
            <google-translate
              app="{{app}}"
              drop-down-on
              language-into="{{app.googleTranslateInto}}"
              language="{{language}}"
              resources="[[resources]]"
              language-from="{{languageFrom}}"
              detect-language-on
              source-text="[[_formatDescription(detailItem.description)]]"><template is="juicy-html" content="[[_formatDescription(detailItem.description)]]"></template></google-translate>
          </div>
        </section>

          <!-- <div class="detail-info">Kategorien [[convertToArrayFromObject(detailItem.categories)]]</div> -->

        <section class="content-container-section item-properties">
          <div class="item-property">
            <strong>[[localize('DetailStartLocation')]]</strong> [[getLocation(detailItem.salelocation, 0)]]
          </div>
          <template is="dom-if" if="[[getLocation(detailItem.salelocation, -1)]]">
            <div class="item-property">
              <strong>[[localize('DetailEndLocation')]]</strong> [[getLocation(detailItem.salelocation, -1)]]
            </div>
          </template>
          <template is="dom-if" if="[[getStopLocations(detailItem.salelocation)]]">
            <div class="item-property">
              <strong>[[localize('DetailStopLocation')]]</strong> [[getStopLocations(detailItem.salelocation)]]
            </div>
          </template>
          <div class="item-property">
            <strong>[[localize('DetailDeliveryOptions')]]</strong> [[_formatDeliveryOptions(detailItem.delivery, localize)]]
          </div>
          <template is="dom-if" if="[[detailItem.delivery.shipping.costs]]">
            <div class="item-property">
              <strong>[[localize('DetailDeliveryCosts')]]</strong> [[getFormattedNumber(detailItem.delivery.shipping.costs, detailItem.currency)]]
            </div>
          </template>
        </section>

        <section hidden$=[[preview]] class="content-container-section helping-hand social-media">
          <helping-hands app="{{app}}" language="{{language}}" resources="[[resources]]" item-exist="[[detailKey]]" title="[[detailItem.title]]" receiver="[[detailItem.createdBy]]"></helping-hands>
          <social-media app="{{app}}" language="{{language}}" route="{{route}}" resources="[[resources]]" shared-data="{{detailItem}}"></social-media>
        </section>
      </div>

  </template>
  <script>

      Polymer({
        is: 'detail-route',

        behaviors: [
          Polymer.AppLocalizeBehavior,
          GMBehaviors.LocalizationHelper
        ],

        attached: function() {
          if (!this.resourcesLoadComplete) {
            Polymer.RenderStatus.afterNextRender(this, function() {
              this.importHref(this.resolveUrl('lazy-resources.html'), function() {
                this.set('resourcesLoadComplete', true);
              }.bind(this));
            }.bind(this));
          }
        },

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },

          route: {
            type: String
          },

          detailItem: {
            type: Object
          },

          user: {
            type: Object,
            notify: true
          },

          uid: {
            type: String,
            notify: true
          },

          preview: {
            type: Boolean,
            value: false
          },

          resourcesLoadComplete: {
            type: Boolean,
            value: false
          }
        },

        _formatDeliveryOptions: function(delivery, localize) {
          var keys;

          if (!localize) {
            return '';
          }

          keys = Object.keys(delivery);

          for(var i=0; i<keys.length; i++) {
            keys[i] = localize(keys[i]);
          }

          return keys.join(', ');
        },

        _formatDurationOfTravel: function(startDate, endDate, localize) {
          var res = [];

          if (!localize) {
            return '';
          }

          if (startDate) {
            res.push(this.getFormattedDate(new Date(startDate)));
          }

          if (endDate) {
            res.push(this.getFormattedDate(new Date(endDate)));
          }

          return res.join(' - ');

        },

        _formatDescription: function(description) {
          return GMHelpers.StringHelper.nl2br(description)
        },

        computeMapUrl: function(salelocation, apiKey){
          var mapUrl = 'https://maps.googleapis.com/maps/api/staticmap?&size=640x400&scale=2&language=' + this.language + '&path=weight:3|color:blue';
          var markerString = '';
          if(!salelocation){
            return;
          }
          for (var i = salelocation.length - 1; i >= 0; i--) {
            if(!salelocation[i].city) {
              continue;
            }
            var location = salelocation[i].city.replace(' ', '+') + ',' + salelocation[i].country;
            mapUrl += '|' + location;
            markerString += '&markers='
            if(i == salelocation.length-1){
              markerString += 'color:red|label:B|';
            } else {
              markerString += 'color:green|';
            }
            if(i == 0){
              markerString += 'label:A|';
            }
            markerString +=  location;
          }
          return (mapUrl + markerString + '&key=' + apiKey);
        },

        getLocation: function(routeInfo, position){
          if(position<0 && routeInfo){
            position=routeInfo.length-1;
          }
          if(routeInfo){
            if(routeInfo[position]){
            return routeInfo[position].city;
            }
          }
          return null;
        },

        getStartEndLocation: function(routeInfo){
          var startPoint = this.getLocation(routeInfo, 0);
          var endPoint = this.getLocation(routeInfo, -1);
          if(startPoint != endPoint){
            return startPoint + ' - ' + endPoint;
          } else {
            return startPoint;
          }
        },

        getStopLocations: function(routeInfo){
          var result = '';
          if(routeInfo){
            if(routeInfo.length > 2){
              for (var i = 1; i < routeInfo.length - 1; i++) {
                result = result + routeInfo[i].city;
                if(i != routeInfo.length-2){
                  result = result + ', ';
                }
              }
            return result;
            }
          }
          return result;
        },

        convertToArrayFromObject: function(object){
          if(object){
            var arr = Object.keys(object).map(function (key) {
              return key;
            });
            var result = ''
            for (var i = arr.length - 1; i >= 0; i--) {
              if(i != arr.length - 1) {
                result = result + ', '
              }
              result = result + arr[i];
            };
            return result;
          } else {
            return '';
          }
        }

      });
  </script>
</dom-module>
