<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="social-media-facebook.html">
<link rel="import" href="social-media-whatsapp.html">
<link rel="import" href="social-media-twitter.html">


<dom-module id="social-media">
  <template>
    <style>
      :host {
        display: block;
      }

      h2 {
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        padding: 0;
      }

      .content-container {
        text-align: center;
      }

      .share-description {
        font-size: 14px;
      }

      .share-icons {
        padding: 15px 0;
      }

      .published-info {
        font-size: 12px;
        color: var(--app-secondary-text-color);
      }

    </style>

    <div class="content-container">
      <h2 class="share-header">[[localize('DetailShareLabel')]]</h2>
      <div class="share-description">[[localize('DetailShareDescription')]]</div>
      <div class="share-icons">
        <social-media-facebook app="{{app}}" route="{{route}}" item="{{sharedData}}"></social-media-facebook>
        <social-media-whatsapp app="{{app}}" route="{{route}}" item="{{sharedData}}"></social-media-whatsapp>
        <social-media-twitter  app="{{app}}" route="{{route}}" item="{{sharedData}}"></social-media-twitter>
      </div>
      <div class="detail-info published-info">[[localize('DetailActiveDate', 'date', activeDate)]]</div>
    </div>

  </template>
  <script>

    Polymer({
      is: 'social-media',

      behaviors: [
          Polymer.AppLocalizeBehavior
      ],

      properties: {

        app: {
            type: Object,
            notify: true
        },

        user: {
          type: Object,
          observer: 'computeUserInitials'
        },

        uid:{
          type: String
        },

        path: {
          type: String,
          computed: '_pathFromMeta(user.imgMeta)'
        },

        activeDate: {
          type: String,
          computed: 'getTime(sharedData.activeDate, app)'
        },
      },

      computeLink: function(uid, noLink){
        if(noLink){
          this.set('notActive', 'not-active');
          return '';
        } else {
          // bleibt url so???
          return '/account/user-info/' + uid;
        }
      },

      getTime: function(timestamp) {
        return this.app.getFormattedDate(new Date(timestamp));
      },

      _pathFromMeta: function(imgMeta) {
        if (!imgMeta || !imgMeta.path) {
          return null;
        }
        return imgMeta.path;
      },

      computeUserInitials: function(user) {
        if (!user.name) {
          return '';
        }

        var nameArray = user.name.trim().split(' ');
        var initials = nameArray[0][0];

        if (nameArray.length > 1) {
          initials = initials + nameArray[nameArray.length-1][0];
        }

        this.set('userInitials', initials);
      }

    });
  </script>
</dom-module>
