<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<link rel="import" href="review-stars.html">
<link rel="import" href="../_data/goodiefy-review-data.html">

<dom-module id="formatted-user-reviews">
    <template>
        <style is="custom-style">
            :host {
                display: block;
            }

            review-stars{
              --review-stars-icons: {
                @apply(--review-stars-size);
              };
            }
        </style>


        
        <goodiefy-review-data firebase-app="[[firebaseApp]]" uid="[[uid]]" reviews="{{reviews}}"></goodiefy-review-data>
        <review-stars reviews="[[reviews]]"></review-stars>
        
    </template>
    <script>
        (function() {
            'use strict'

            Polymer({
                is: "formatted-user-reviews",
            });

        })();
    </script>
</dom-module>
