<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="formatted-user-name">
  <template>
    <style is="custom-style">
      :host {
        display: block;
        @apply(--formatted-user-name);
      }
      :host([small]) {
        font-size: 12px;
        @apply(--small-formatted-user-name);
      };
      .name {
        @apply(--formatted-user-name-container);
      }
    </style>

    <div class="name">[[displayName]]</div>

  </template>
  <script>
    (function() {
      'use strict'

      Polymer({

        is: "formatted-user-name",

        properties: {
          name: {
            type: String,
            observer: 'setName'
          },
          shortName: {
            type: Boolean,
            value: false,
            observer: 'formatUserName'
          }
        },

        setName: function(){
          this.formatUserName(this.shortName);
        },

        formatUserName: function(shortName){
          if(this.name){
            var formatedName = this.name;
            if(shortName){
              var nameComponents = formatedName.split(' ');
              if(nameComponents.length > 1){
                nameComponents[nameComponents.length - 1] = nameComponents[nameComponents.length - 1].charAt(0) + '.';
              }
              formatedName = nameComponents.join(' ');
            }
            this.set('displayName', formatedName);
          }
        }
      });
    })();
  </script>
</dom-module>
