<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../helper/user-chat.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<dom-module id="helping-hands">
  <template>
    <style>
    :host {
      display: block;
    }
    </style>
    <user-chat
      editable-on
      app="{{app}}"
      label="[[localize('DetailHelpingHandLabel')]]"
      location="{{location}}"
      language="{{language}}"
      resources="[[resources]]"
      item-exist="{{itemExist}}"
      title="{{title}}"
      receiver="{{receiver}}"></user-chat>

  </template>
  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'helping-hands',

        behaviors: [Polymer.AppLocalizeBehavior],

        properties: {
          app: {
            type: Object,
            notify: true
          },
          language: {
            type: String,
            notify: true
          },
          resources:{
            type: Object,
            notify: true
          },
          location: {
            type: String,
            value: 'helpingHands',
            notify: true
          }
        }

      });
    })();
  </script>
</dom-module>
