<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="review-stars">
    <template>
        <style is="custom-style">
            :host {
                display: block;
                color: gold;

                @apply(--review-stars);
            }

            :host([small]) {
                font-size: 10px;

                @apply(--small-review-stars);
            };

            :host([editable]) .review-icon{
                width: 19%;
                height: 25px;
                @apply(--editable-formatted-user-review-icon);
            };

            .reviews {
                font-size: 10px;
                @apply(--review-stars-container);
            }
            .review-icon {
                width: 13px;
                height: 13px;
                vertical-align: middle;
                @apply(--review-stars-icons);
            }
        </style>
        <div id="reviewContainer" class="reviews">
            <template is="dom-repeat" items="{{reviewIcons}}">
                <iron-icon on-tap="setStars" class="review-icon" icon="[[item]]"></iron-icon>
            </template>
        </div>
    </template>
    <script>
        (function() {
            'use strict'

            Polymer({

                is: "review-stars",

                properties: {
                    score: {
                        type: Number,
                        notify: true
                    },
                    reviews: {
                        type: Object,
                        observer: '_computeScore',
                        value: {}
                    },
                    reviewIcons: {
                        type: Array,
                        value: []
                    },
                    editable: {
                        type: Boolean,
                        value: false,
                        reflectToAttribute: true
                    },
                    hiddenKey: {
                        type: String,
                        value: 'hidden'
                    }
                },

                observers: ['_computeIcons(score, editable)'],

                setStars: function(e){
                    if (this.editable){
                        this.set('score', e.model.__data__.index + 1);
                    }
                },

                _computeIcons: function(newScore, editable){
                    var newIcons = [];
                    for (var i = 4; i >= 0; i--) {
                        if(newScore >= i + 1){
                            newIcons[i] = 'goodiefy-icons:star';
                        } else {
                            if(newScore > 0 && newScore > i){
                                newIcons[i] = 'goodiefy-icons:star-half';
                            } else {
                                newIcons[i] = 'goodiefy-icons:star-border';
                            }
                        }
                    };
                    this.set('reviewIcons', newIcons);

                    if(this.score == 0 && !editable){
                        this.$.reviewContainer.style.display = 'none';
                    } else {
                        this.$.reviewContainer.style.display = 'inherit';
                    }
                },

                _computeScore: function(newReviews){
                    var reviewers = 0;
                    var accumulatedScore = 0;
                    if(newReviews && Object.keys(newReviews).length > 0){
                        for (var i = Object.keys(newReviews).length - 1; i >= 0; i--) {
                            if(newReviews[Object.keys(newReviews)[i]].stars && ! newReviews[Object.keys(newReviews)[i]][this.hiddenKey]){
                                accumulatedScore = accumulatedScore + parseInt(newReviews[Object.keys(newReviews)[i]].stars);
                                reviewers = reviewers + 1;
                            }
                        };
                        this.set('score', (accumulatedScore / reviewers));
                    } else {
                        this.set('score', 0);
                    }
                }
            });
        })();
    </script>
</dom-module>
