<dom-module id="social-media-whatsapp">

  <template>

    <style>
      :host {
      }
      iron-icon{
        width: 40px;
        height: 40px;
      }
      a{
        text-decoration: none;
      }
    </style>
    <a href$="[[whatsappURI]]">
      <iron-icon src="../../../../../images/whatsapp-circle-black.svg"></iron-icon>
    </a>

  </template>

  <script>

    Polymer({

      is: 'social-media-whatsapp',

      ready: function() {
        this.whatsappURI = "whatsapp://send?text=" + window.location.href;
      },

      properties: {
        app: {
          type: Object,
          notify: true
        }
      }

    });
  </script>

</dom-module>

