<dom-module id="social-media-twitter">

  <template>

    <style>
      :host {
      }
      iron-icon{
        width: 40px;
        height: 40px;
      }
      a{
        text-decoration: none;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <a href$="[[twitterLink]]" target="_blank">
      <iron-icon src="../../../../../images/twitter-circle-black.svg"></iron-icon>
    </a>

  </template>

  <script>

    Polymer({

      is: 'social-media-twitter',

      properties: {
        app: {
          type: Object,
          notify: true
        },

        route: {
          type: Object
        },

        item: {
          type: Object,
          observer: '_setData'
        }
      },

      observers: ['_setData(item, app.config, route)'],

      _setData: function(item, config, route){
        if(!item || !item.title || !item.description || !config || !route) {
          return;
        }

        var twitterURL = "https://twitter.com/intent/tweet?";
        // twitterURL += "?hashtags=";
        // twitterURL += "GoodiefyMe,Goodiefy";
        twitterURL += "text=";
        twitterURL += encodeURIComponent("Help me find this item #GoodiefyMe #Goodiefy\n"); //to be changed later -> Sven
        twitterURL += "&url=";

        var url = config.socialMediaServer;
        url += "?title=";
        url += encodeURIComponent(item.title);
        url += "&description="
        url += encodeURIComponent(item.description);
        if(item.images && item.images[0] && item.images[0].url){
          url += "&imgurl=";
          url += item.images[0].url;
        }
        url += "&document=";
        url += encodeURIComponent((route.prefix + route.path).replace("/",""));

        this.twitterLink = twitterURL + encodeURIComponent(url);
      }

    });
  </script>

</dom-module>

