<dom-module id="social-media-facebook">

  <template>

    <style>
      :host {
      }
      iron-icon{
        width: 40px;
        height: 40px;
      }
      a{
        text-decoration: none;
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <a href$="[[facebookURL]]" target="_blank">
      <iron-icon src="../../../../../images/facebook-circle-black.svg"></iron-icon>
    </a>

  </template>

  <script>

    Polymer({

      is: 'social-media-facebook',

      properties: {
        app: {
          type: Object,
          notify: true
        },

        route: {
          type: Object
        },

        item: {
          type: Object,
        }
      },

      observers: ['_setData(item, app.config, route)'],

      ready: function() {

      },

      _setData: function(item, config, route){
        if(!item || !item.title || !item.description || !config || !route) {
          return;
        }

        var url = config.socialMediaServer;
        url += '?title=';
        url += encodeURIComponent(item.title);
        url +="&description=";
        url += encodeURIComponent(item.description);
        if(item.images && item.images[0] && item.images[0].url){
          url += "&imgurl=";
          url += item.images[0].url;
        }
        url += "&document=";
        url += encodeURIComponent((route.prefix + route.path).replace("/",""));
        //url += "&seed=" + Math.random(); //crawled a new every time
        this.getDimensions(url, item);
      },

      getDimensions: function(url, item){
        var img = new Image();
        if(item.images && item.images[0] && item.images[0].url){
          img.src = item.images[0].url;
        }
        else{
          img.width = 0;
          img.height = 0;
        }
        this.sleep(500).then(function(){
          url += "&dimensions="
          url += img.width + "x" + img.height;
           this.facebookURL = "https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(url);
        }.bind(this));
      },

      sleep: function (time) {
        return new Promise(function(resolve) {
          setTimeout(resolve, time)
        });
      }
    });
  </script>

</dom-module>

