<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-amount">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-a11y-keys
      id="a11yNextStep"
      target="[[amountInput]]"
      keys="enter alt+right"
      on-keys-pressed="_onNextStepAction"></iron-a11y-keys>
    <iron-a11y-keys
      id="a11yPreviousStep"
      target="[[amountInput]]"
      keys="alt+left"
      on-keys-pressed="_onPreviousStepAction"></iron-a11y-keys>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateAmountTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateAmountDescription', 'dataType', itemType)]]</h2>

      <paper-input
        id="amountInput"
        auto-validate
        prevent-invalid-input
        placeholder$="[[localize('amount')]]"
        allowed-pattern="^[0-9]*([,.])*[0-9]*?$"
        pattern="^[0-9]*([,.])*[0-9]*?$"
        char-counter
        on-value-changed="_amountChanged"
        value="{{amount}}">

        <div suffix>[[localize('pieces')]]</div>
      </paper-input>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-amount',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_amountSourceChanged(item.amount)'
      ],

      properties: {

        amount: {
          type: Number
        },

        amountInput: {
          type: Object,
          value: function() {
            return this.$.amountInput;
          }
        }

      },

      _amountSourceChanged: function(amount) {
        if (!amount) {
          return;
        }

        this.set('amount', amount);
      },

      _amountChanged: function(e) {
        var amount = e.detail.value;

        if (this._amountValid(amount)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update();
          } else {
            this._fireStepValid('amount');
          }
        } else {
          this._fireStepInvalid('amount');
        }
      },

      _amountValid: function(amount) {
        return !isNaN(parseInt(amount)) && amount > 0;
      },

      update: function() {
        this.set('item.amount', this.amount);
      },

      valid: function() {
        return this._amountValid(this.amount);
      }
    });

  </script>
</dom-module>
