<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-bonus">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateBonusPageTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateBonusPageDescription', 'dataType', itemType)]]</h2>

      <paper-input
        id="bonus"
        auto-validate
        placeholder="Bonus"
        min="0"
        prevent-invalid-input 
        allowed-pattern="^[0-9]*([,.]\d{0,2})?$"
        pattern="^[0-9]*([,.]\d{0,2})?$"
        on-value-changed="_bonusChanged"
        value="{{bonus}}">

        <div suffix>[[item.currency]]</div>
      </paper-input>
    </div>

  </template>
  <script>
    Polymer({
      is: 'create-bonus',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      properties: {

        bonus: {
          type: Number
        }

      },

      observers: [
        '_bonusSourceChanged(item.bonus)'
      ],

      _bonusSourceChanged: function(bonus) {
        if (!bonus) {
          return;
        }

        this.set('bonus', bonus);
      },

      _bonusChanged: function(e) {
        var bonus = e.detail.value;

        bonus = parseFloat(bonus.toString().replace(',', '.'));

        if (!bonus) {
          bonus = 0.0;
        }

        if (this._bonusValid(bonus)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update(bonus);
          } else {
            this._fireStepValid('bonus');
          }
        } else {
          this._fireStepInvalid('bonus');
        }
      },

      _bonusValid: function(bonus) {
        return !bonus || (!isNaN(parseFloat(bonus)) && /^[0-9]*([.]\d{0,2})?$/.test(bonus));
      },

      update: function(bonus) {
        if(!this.bonus){
          bonus = 0;
        } else {
          if (!bonus && bonus != 0 ) {
            bonus = parseFloat(this.bonus.toString().replace(',', '.'));
          }
        }

        this.set('item.bonus', parseFloat(bonus.toFixed(2)));
      },

      valid: function() {
        var bonus = this.bonus ? parseFloat(this.bonus.toString().replace(',', '.')) : this.bonus;
        return this._bonusValid(bonus);
      }

    });
  </script>
</dom-module>
