<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../helper/convert-data.html">

<link rel="import" href="../_data/goodiefy-category-data.html">
<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-category">
  <template>

    <style  include="shared-styles">

      :host {
        display: block;
      }

      paper-dropdown-menu, paper-listbox {
        width: 100%;
      }

      paper-dropdown-menu {
        margin: auto;
        display: block;
      }

    </style>

    <iron-a11y-keys
      id="a11yNextStep"
      target="[[categoryDropDown]]"
      keys="enter alt+right"
      on-keys-pressed="_onNextStepAction"></iron-a11y-keys>
    <iron-a11y-keys
      id="a11yPreviousStep"
      target="[[categoryDropDown]]"
      keys="alt+left"
      on-keys-pressed="_onPreviousStepAction"></iron-a11y-keys>

    <goodiefy-category-data
      firebase-app="[[createStepFirebaseApp]]"
      categories="{{categories}}"></goodiefy-category-data>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateCategoryTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateCategoryDescription', 'dataType', itemType)]]</h2>

      <paper-dropdown-menu stop-keyboard-event-propagation id="categoryDropDown" label$="[[localize('EditCreateCategoryLabel')]]" placeholder$="[[localize('EditCreateCategoryPlaceholder')]]">
        <paper-listbox id="categoryListBox" class="dropdown-content" attr-for-selected="value" selected="{{category}}">
          <template is="dom-repeat" items="[[categoriesArr]]">
            <paper-item value="[[item.translationKey]]">[[localize(item.translationKey, 'type', 'headline')]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-category',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_categorySourceChanged(item.category)',
        '_firebaseAppchanged(firebaseApp)'
      ],

      properties: {

        createStepFirebaseApp: { // fetch categories when -> ready()
          type: Object
        },

        category: {
          type: String,
          observer: '_categoryChanged'
        },

        categories: {
          type: Object
        },

        categoriesArr: {
          type: Array,
          computed: '_computeCategoriesArr(categories)'
        },

        categoryDropDown: {
          type: Object,
          value: function() {
            return this.$.categoryDropDown;
          }
        }

      },

      _firebaseAppchanged: function(firebaseApp) {
        this.set('createStepFirebaseApp', firebaseApp);
      },

      _categorySourceChanged: function(category) {
        if (!category) {
          return;
        }

        this.set('category', category);
      },

      _categoryChanged: function(category) {
        if (this._categoryValid(category)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update();
          } else {
            this._fireStepValid('category');
          }
        } else {
          this._fireStepInvalid('category');
        }
      },

      _categoryValid: function(category) {
        return (typeof category === 'string') && category !== '';
      },

      _computeCategoriesArr: function(categories) {
        return GMHelpers.ConvertDataHelper.objectToArray(categories, 'translationKey');
      },

      update: function() {
        this.set('item.category', this.category);
      },

      valid: function() {
        return this._categoryValid(this.category);
      }

    });

  </script>
</dom-module>
