<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../helper/object-helper.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-delivery">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }

      .delivery-options {
        max-width: 300px;
        margin: auto;
      }

      .delivery-options paper-button {
        color: #000;
        border: 1px solid #000;
        border-radius: 5px;
        width: 140px;
        height: 90px;
        text-align: center;
      }

      .delivery-options paper-button[active] {
        border-width: 3px;
      }

      .delivery-options paper-button.shipping-action {
        float: left;
      }

      .delivery-options paper-button.handingover-action {
        float: right;
      }

      .delivery-options paper-button .label {
        font-size: 20px;
      }

    </style>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateDeliveryTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateDeliveryDescription', 'dataType', itemType)]]</h2>

      <section class="delivery-options clearfix">
        <paper-button toggles active="{{shippingActive}}" class="shipping-action" on-tap="_toggleShippingAction">
          <div class="label-icon">
            <iron-icon icon="goodiefy-icons:local-shipping"></iron-icon>
            <div class="label">[[localize('shipping')]]</div>
          </div>
        </paper-button>
        <paper-button toggles active={{handingOverActive}} class="handingover-action" on-tap="_toogleHandingOverAction">
          <div class="label-icon">
            <iron-icon icon="goodiefy-icons:group"></iron-icon>
  					<div class="label">[[localize('handingOver')]]</div>
          </div>
        </paper-button>
      </section>

      <section hidden$="[[!shippingActive]]" class="shipping-form">
        <h3>[[localize('shipping')]]</h3>
        <paper-input
          id="shippingCost"
          auto-validate
          prevent-invalid-input
          min="0"
          allowed-pattern="^[0-9]*([,.]\d{0,2})?$"
          pattern="^[0-9]*([,.]\d{0,2})?$"
          error-message="error"
          label="[[localize('EditCreateMaxDeliveryCostLabel')]]"
          placeholder="[[localize('EditCreateMaxDeliveryCostPlaceholder')]]"
          value="{{shipping.costs}}">

          <div suffix>[[item.currency]]</div>
        </paper-input>
        <template is="dom-if" if="[[withShippingAddress]]">
          <paper-input
            id="shippingStreet"
            label="[[localize('AccountStreetLabel')]]"
            placeholder="[[localize('AccountStreetLabel')]]"
            minlength=[[minStreetLength]]
            value="{{shipping.street}}"></paper-input>
          <paper-input
            id="shippingCity"
            label="[[localize('AccountCityLabel')]]"
            placeholder="[[localize('AccountCityLabel')]]"
            minLength="[[minCityLength]]"
            value="{{shipping.city}}"></paper-input>
          <country-select
            app="{{app}}"
            language="{{language}}"
            resources="[[resources]]"
            value="{{shipping.country}}"></country-select>
        </template>
      </section>

      <section hidden$=[[!handingOverActive]] class="handing-over-form">
        <h3>[[localize('handingOver')]]</h3>
        <paper-input
          id="handingOverStreet"
          label="[[localize('AccountStreetLabel')]]"
          placeholder="[[localize('AccountStreetLabel')]]"
          minlength=[[minStreetLength]]
          value="{{handingOver.street}}"></paper-input>
        <paper-input
          id="handingOverCity"
          label="[[localize('AccountCityLabel')]]"
          placeholder="[[localize('AccountCityLabel')]]"
          minLength="[[minCityLength]]"
          value="{{handingOver.city}}"></paper-input>
        <country-select
          app="{{app}}"
          language="{{language}}"
          resources="[[resources]]"
          value="{{handingOver.country}}"></country-select>
      </section>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-delivery',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_deliverySourceChanged(item.delivery)',
        '_shippingChanged(shipping.*)',
        '_handingOverChanged(handingOver.*)'
      ],

      properties: {

        shippingActive: {
          type: Boolean
        },

        handingOverActive: {
          type: Boolean
        },

        shipping: {
          type: Object,
          value: function() {
            return {};
          }
        },

        handingOver: {
          type: Object,
          value: function() {
            return {};
          }
        },

        minStreetLength: {
          type: Number,
          readOnly: true,
          value: 1
        },

        minCityLength: {
          type: Number,
          readOnly: true,
          value: 1
        },

        withShippingAddress: {
          type: Boolean,
          value: false
        }

      },

      _deliverySourceChanged: function(delivery) {
        if (!delivery) {
          return;
        }

        if (delivery.shipping) {
          this.set('shippingActive', true);

          this.set('shipping', delivery.shipping);
        }

        if (delivery.handingOver) {
          this.set('handingOverActive', true);

          this.set('handingOver', delivery.handingOver);
        }
      },

      _toggleShippingAction: function(e) {
        if (this.shippingActive) {
          if (this.shipping) {
            if(this.withShippingAddress){
              this._setStandardShippingAddress(this.shipping);
            }
            this._updateShipping(this.shipping);
          }
        } else {
          this.set('item.delivery.shipping', null);
          this.set('shipping', {});
        }
      },

      _toogleHandingOverAction: function(e) {
        if (this.handingOverActive) {
          if (this.handingOver) {
            this._updateHandingOver(this.handingOver);
          }
        } else {
          this.set('item.delivery.handingOver', null);
          this.set('handingOver', {});
        }
      },

      _setStandardShippingAddress: function(shipping){
        var standardAddress = this.app.user.addresses.collection[this.app.user.addresses.standard];
        this.set('item.delivery.shipping.city', standardAddress.city);
        this.set('shipping.city', standardAddress.city);
        this.set('item.delivery.shipping.street', standardAddress.street);
        this.set('shipping.street', standardAddress.street);
        this.set('item.delivery.shipping.country', standardAddress.land);
        this.set('shipping.country', standardAddress.land);
        this.set('shipping', JSON.parse(JSON.stringify(shipping)));
      },

      _shippingChanged: function(shippingChangeObject) {
        var shipping = shippingChangeObject.base;

        if (shipping && shipping.costs) {
          shipping.costs = parseFloat(shipping.costs.toString().replace(',', '.'));
        }

        if (this._shippingValid(shipping)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this._updateShipping(shipping);
          } else {
            this._fireStepValid('shipping');
          }
        } else {
          this._fireStepInvalid('shipping');
        }
      },

      _shippingValid: function(shipping) {
        return !GMHelpers.ObjectHelper.objectEmpty(shipping) &&
               !isNaN(parseFloat(shipping.costs)) && (!this.withShippingAddress || (
               /^[0-9]*([.]\d{0,2})?$/.test(shipping.costs) &&
               shipping.street &&
               shipping.city &&
               shipping.country &&
               shipping.street.length >= this.minStreetLength &&
               shipping.city.length >= this.minCityLength));
      },

      _handingOverChanged: function(handingOverChangeObject) {
        var handingOver = handingOverChangeObject.base;

        if (this._handingOverValid(handingOver)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this._updateHandingOver(handingOver);
          } else {
            this._fireStepValid('handingOver');
          }
        } else {
          this._fireStepInvalid('handingOver');
        }
      },

      _handingOverValid: function(handingOver) {
        return !GMHelpers.ObjectHelper.objectEmpty(handingOver) &&
               handingOver.street &&
               handingOver.city &&
               handingOver.country &&
               handingOver.street.length >= this.minStreetLength &&
               handingOver.city.length >= this.minCityLength;
      },

      _updateShipping: function(shipping) {
        var shipping = { // path notify
          shipping: shipping
        };

        if (shipping.shipping.costs) {
          shipping.shipping.costs = parseFloat(shipping.shipping.costs);
        }

        if (this.item.delivery && this.item.delivery.handingOver) { // keep other delivery options
          shipping.handingOver = this.item.delivery.handingOver;
        }

        this.set('item.delivery', shipping);
      },

      _updateHandingOver: function(handingOver) {
        var handingOver = { // path notify
          handingOver: handingOver
        }

        if (this.item.delivery && this.item.delivery.shipping) { // keep other delivery options
          handingOver.shipping = this.item.delivery.shipping;
        }

        this.set('item.delivery', handingOver);
      },

      update: function() {
        this._updateShipping(this.shipping);
        this._updateHandingOver(this.handingOver);
      },

      valid: function() {
        return (!this.shippingActive || this._shippingValid(this.shipping)) && (!this.handingOverActive || this._handingOverValid(this.handingOver)) && (this.handingOverActive || this.shippingActive);
      }

    });

  </script>
</dom-module>
