<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-description">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-a11y-keys
      id="a11yNextStep"
      target="[[descriptionTextarea]]"
      keys="alt+enter alt+right"
      on-keys-pressed="_onNextStepAction"></iron-a11y-keys>
    <iron-a11y-keys
      id="a11yPreviousStep"
      target="[[descriptionTextarea]]"
      keys="alt+left"
      on-keys-pressed="_onPreviousStepAction"></iron-a11y-keys>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateDescriptionTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateDescriptionDescription', 'dataType', itemType)]]</h2>

      <paper-textarea
        id="descriptionTextarea"
        auto-validate
        char-counter
        placeholder="[[localize('description')]]"
        on-value-changed="_descriptionChanged"
        minLength="[[minLength]]"
        maxlength="[[maxlength]]"
        value="{{description}}"></paper-textarea>

    </div>

  </template>
  <script>
    Polymer({
      is: 'create-description',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_descriptionSourceChanged(item.description)'
      ],

      properties: {

        description: {
          type: String
        },

        descriptionTextarea: {
          type: Object,
          value: function() {
            return this.$.descriptionTextarea;
          }
        },

        minLength: {
          type: Number,
          readOnly: true,
          value: 5
        },

        maxLength: {
          type: Number,
          readOnly: true,
          value: 10000
        }

      },

      _descriptionSourceChanged: function(description) {
        if (!description) {
          return;
        }

        this.set('description', description);
      },

      _descriptionChanged: function(e) {
        var description = e.detail.value;

        if (this._descriptionValid(description)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update();
          } else {
            this._fireStepValid('title');
          }
        } else {
          this._fireStepInvalid('description');
        }

      },

      /*
       * String, chars >= minLength, chars <= maxLength
       */
      _descriptionValid: function(description) {
        return (typeof description === 'string') && description.length >= this.minLength && description.length <= this.maxLength;
      },

      update: function() {
        this.set('item.description', this.description);
      },

      valid: function() {
        return this._descriptionValid(this.description);
      }

    });
  </script>
</dom-module>
