<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-date-picker/paper-date-picker.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-duration-of-travel">
  <template>

    <style include="shared-styles paper-date-picker-dialog-style">

      :host {
        display: block;
      }

      paper-input {
        display: block;
      }

      paper-date-picker {
        overflow: hidden;
      }

    </style>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateDurationOfTravelTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateDurationOfTravelDescription', 'dataType', itemType)]]</h2>

      <paper-input
        id="startDate"
        readonly
        label="[[localize('EditCreateRouteTimespanStart')]]"
        value="{{startDate}}"
        focused="{{startDateFocus}}"
        auto-validate></paper-input>
      <paper-dialog id="startDateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_startDateDialogClosed">
				<paper-date-picker id="startPicker" locale="[[language]]" date="{{startDatePicker}}"></paper-date-picker>
				<div class="actions">
          <paper-button class="primary" autofocus dialog-confirm>[[localize('EditCreateRouteAcceptButton')]]</paper-button>
					<paper-button class="primary" dialog-dismiss>[[localize('EditCreateRouteCancelButton')]]</paper-button>
				</div>
			</paper-dialog>

      <paper-input
        id="endDate"
        readonly
        label="[[localize('EditCreateRouteTimespanEnd')]]"
        value="{{endDate}}"
        focused="{{endDateFocus}}"
        auto-validate></paper-input>
      <paper-dialog id="endDateDialog" class="paper-date-picker-dialog" on-iron-overlay-closed="_endDateDialogClosed">
				<paper-date-picker id="endPicker" locale="[[language]]" date="{{endDatePicker}}"></paper-date-picker>
				<div class="actions">
          <paper-button class="primary" autofocus dialog-confirm>[[localize('EditCreateRouteAcceptButton')]]</paper-button>
					<paper-button class="primary" dialog-dismiss>[[localize('EditCreateRouteCancelButton')]]</paper-button>
				</div>
			</paper-dialog>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-duration-of-travel',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_startEndSourceChanged(item.startDate, item.endDate)',
        '_startDatePickerChanged(startDatePicker, item.lifecycle)',
        '_endDatePickerChanged(endDatePicker, item.lifecycle)'
      ],

      properties: {

        app: {
          type: Object,
          notify: true
        },

        language: {
          type: String
        },

        startDate: {
          type: String
        },

        startDatePicker: {
          type: Date
        },

        endDate: {
          type: String
        },

        endDatePicker: {
          type: Date
        },

        startDateFocus: {
          type: Boolean,
          observer: '_inputStartDateFocusChanged',
          value: false
        },

        endDateFocus: {
          type: Boolean,
          observer: '_inputEndDateFocusChanged',
          value: false
        }

      },

      _startEndSourceChanged: function(startDate, endDate) {
        if (startDate) {
          this.set('startDatePicker', new Date(startDate));
        }

        if (endDate) {
          this.set('endDatePicker', new Date(endDate));
        }
      },

      _startDatePickerChanged: function(startDatePicker, lifecycle) {
        if (this._startDateValid(startDatePicker)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) { // dont bind when "published"
            this._updateStartDate(startDatePicker);
          }
          this.set('startDate', this._formatDate(startDatePicker));
        } else {
          this._fireStepInvalid('startDate');
        }
      },

      _endDatePickerChanged: function(endDatePicker, lifecycle) {
        if (this._endDateValid(endDatePicker)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) { // dont bind when "published"
            this._updateEndDate(endDatePicker);
          }
          this.set('endDate', this._formatDate(endDatePicker));
        } else {
          this._fireStepInvalid('endDate');
        }
      },

      _inputStartDateFocusChanged: function(focused) {
        if (focused) {
          this.$.startDateDialog.open();
        }
      },

      _inputEndDateFocusChanged: function(focused) {
        if (focused) {
          this.$.endDateDialog.open();
        }
      },

      _startDateDialogClosed: function(e) {
        if (e.detail.confirmed) {
          this._updateStartDate(this.startDatePicker);
          this.set('startDate', this._formatDate(this.startDatePicker)); // displaying
        }
      },

      _endDateDialogClosed: function(e) {
        if (e.detail.confirmed) {
          this._updateEndDate(this.endDatePicker);
          this.set('endDate', this._formatDate(this.endDatePicker)); // displaying
        }
      },

      _formatDate: function(date) {
        return this.app.getFormattedDate(date);
      },

      _startDateValid: function(startDate) {
        return Date.parse(startDate) != NaN;
      },

      _endDateValid: function(endDate) {
        return Date.parse(endDate) != NaN;
      },

      _updateStartDate: function(startDatePicker) {
        this.set('item.startDate', Date.parse(startDatePicker));
      },

      _updateEndDate: function(endDatePicker) {
        this.set('item.endDate', Date.parse(endDatePicker));
      },

      valid: function() {
        return this._startDateValid(this.startDatePicker) &&
               this._endDateValid(this.endDatePicker) &&
               this.startDatePicker < this.endDatePicker;
      },

      update: function() {
        this._updateStartDate(this.startDatePicker);
        this._updateEndDate(this.endDatePicker);
      }

    });
  </script>
</dom-module>
