<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/cloudinary-upload/behaviors/upload.html">
<link rel="import" href="../../bower_components/cloudinary-upload/cloudinary-img.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-images">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }

      .actions {
        border: 1px solid black;
        border-radius: 20px;
        height: 130px;
        text-align: center;
      }

      .actions .upload-image-action {
        margin-top: 32px;
      }

      .actions label {
        display: block;
        font-size: 12px;
      }

      .max-number-notice {
        font-size: 12px;
        text-align: center;
      }

      .upload-preview {
        margin-top: 1em;
      }

      .upload-preview .upload-item {
        text-align: center;
        position: relative;
      }

      .upload-preview .upload-item .remove-image-action {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 55px;
      }

    </style>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateImagesTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateImagesDescription', 'dataType', itemType)]]</h2>

      <div class="actions">
        <paper-icon-button class="upload-image-action" noink raised icon="goodiefy-icons:add-circle" disabled$="[[!readyForUpload]]" on-tap="_openImageUploadHandler"></paper-icon-button>
        <label>[[localize('EditCreateUploadImages')]]</label>
      </div>
      <div class="upload-preview">
        <template is="dom-repeat" items="[[images]]">
          <section class="upload-item">
            <cloudinary-img cloud-name="goodiefy-me" path="[[item.path]]" transformation-params="w_100,h_100,c_fit,dpr_auto" sizes="" alt=""></cloudinary-img>
            <paper-icon-button class="remove-image-action" item="[[item.key]]" on-tap="_removeImageAction" icon="goodiefy-icons:delete" alt="Remove Image"></paper-icon-button>
          </section>
        </template>
      </div>
      <div class="max-number-notice">Max [[maxImages]] Images</div>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-images',

      ready: function() {
        this._setCloudinaryConfig('goodiefy-me', 'ka2n5rsr'); // config
      },

      behaviors: [
        CreateBehavior.Steps,
        CloudinaryBehavior.Upload,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_uploadResultChanged(result)',
        '_imagesSourceChanged(item.images)'
      ],

      properties: {

        images: {
          type: Array,
          value: function() {
            return [];
          }
        },

        maxImages: {
          type: Number,
          readOnly: true,
          value: 5
        }

      },

      _setCloudinaryConfig: function(cloudName, uploadPreset) {
        this.set('cloudName', cloudName);
        this.set('uploadPreset', uploadPreset);
        this.set('uploadOptions', {
          cropping: 'server',
          multiple: false,
          max_files: this.maxImages,
          cropping_aspect_ratio: 1.5
        });
      },

      _imagesSourceChanged: function(images) {
        if (!images) {
          return;
        }

        this.set('images', images);
      },

      _openImageUploadHandler: function() {
        this.openUploadWidget();
      },

      _uploadResultChanged: function(result) {
        this.set('images', this.images ? this.images.concat(result) : result);
        this._imageContainerChanged(this.images);
      },

      _removeImageAction: function(e) {
        this.removeImage(e.model.__data__.index);
      },

      _imageContainerChanged: function(images) {
        if (this._imagesValid(images)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update();
          } else {
            this._fireStepValid('images');
          }
        } else {
          this._fireStepInvalid('images');
        }
      },

      _imagesValid: function(images) {
        return true; //images && images.length > 0;
      },

      update: function() {
        this.set('item.images', this.images);
      },

      removeImage: function(index) {
        var images = this.images.slice();

        images.splice(index, 1);
        this.set('item.images', images);
      },

      valid: function() {
        return this._imagesValid(this.images);
      }

    });

  </script>
</dom-module>
