<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../helper/object-helper.html">
<link rel="import" href="../helper/sales-locations.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-locations">
  <template>

    <style  include="shared-styles">

      :host {
        display: block;
      }

    </style>

    <iron-a11y-keys
      id="a11yNextStep"
      target="[[salesLocationContainer]]"
      keys="alt+right"
      on-keys-pressed="_onNextStepAction"></iron-a11y-keys>
    <iron-a11y-keys
      id="a11yPreviousStep"
      target="[[salesLocationContainer]]"
      keys="alt+left"
      on-keys-pressed="_onPreviousStepAction"></iron-a11y-keys>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateSalesLocationTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateSalesLocationDescription', 'dataType', itemType)]]</h2>

      <sales-locations
        id="salesLocationsContainer"
        app="{{app}}"
        language="[[language]]"
        resources="[[resources]]"
        sales-locations={{locations}}></sales-locations>

    </div>

  </template>
  <script>
    Polymer({
      is: 'create-locations',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_locationsChanged(locations.splices)',
        '_locationsSourceChanged(item.salelocation)'
      ],

      properties: {

        locations: {
          type: Array,
          value: function() {
            return [];
          }
        },

        salesLocationContainer: {
          type: Object,
          value: function() {
            return this.$.salesLocationContainer
          }
        },

        required: {
          type: Boolean,
          value: false
        }
      },

      _locationsChanged: function(locationsSplices) {
        var locations;

        if (!locationsSplices) {
          return;
        }

        locations = locationsSplices.indexSplices[0].object;

        if (this._locationsValid(locations)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update();
          } else {
            this._fireStepValid('salelocation');
          }
        } else {
          this._fireStepInvalid('salelocation');
        }
      },

      _locationsSourceChanged: function(locations) {
        if (!locations) {
          return;
        }

        if (!locations || locations.length == 0) {
          return;
        }

        this.set('locations', locations);
      },

      _locationsValid: function(locations) {
        if (!locations || locations.length == 0) {
          if(this.required){
            return false;
          }
          return true;
        }

        for(var i=0; i<locations.length; i++) {
          var location = JSON.parse(JSON.stringify(locations[i]))
          delete location.lifecycle;
          if (GMHelpers.ObjectHelper.objectEmpty(location)) {
            return false;
          }
        }

        return true;
      },

      update: function() {
        this.set('item.salelocation', []);
        this.set('item.salelocation', this.locations);
      },

      valid: function() {
        return this._locationsValid(this.locations);
      }

    });
  </script>
</dom-module>
