<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-price">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-a11y-keys
      id="a11yNextStep"
      target="[[priceInput]]"
      keys="enter alt+right"
      on-keys-pressed="_onNextStepAction"></iron-a11y-keys>
    <iron-a11y-keys
      id="a11yPreviousStep"
      target="[[priceInput]]"
      keys="alt+left"
      on-keys-pressed="_onPreviousStepAction"></iron-a11y-keys>

    <div class="create-steps-content">

      <h1>[[localize('EditCreatePriceTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreatePriceDescription', 'dataType', itemType)]]</h2>

      <paper-input
        id="priceInput"
        auto-validate
        prevent-invalid-input
        placeholder="[[localize('price')]]"
        min="0"
        allowed-pattern="^[0-9]*([,.]\d{0,2})?$"
        pattern="^[0-9]*([,.]\d{0,2})?$"
        on-value-changed="_priceChanged"
        value="{{price}}">

        <div suffix>[[item.currency]]</div>
      </paper-input>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-price',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_priceSourceChanged(item.price)'
      ],

      properties: {

        price: {
          type: Number
        },

        priceInput: {
          type: Object,
          value: function() {
            return this.$.priceInput;
          }
        }

      },

      _priceSourceChanged: function(price) {
        if (!price || isNaN(price)) {
          return;
        }

        this.set('price', price)
      },

      _priceChanged: function(e) {
        var price = e.detail.value;

        price = parseFloat(price.toString().replace(',', '.'));

        if (this._priceValid(price)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update(price);
          } else {
            this._fireStepValid('price');
          }
        } else {
          this._fireStepInvalid('price');
        }
      },

      _priceValid: function(price) {
        return !price || (!isNaN(parseFloat(price)) && /^[0-9]*([.]\d{0,2})?$/.test(price));
      },

      update: function(price) {
        if (!price) {
          price = parseFloat(this.price.toString().replace(',', '.'));
        }

        this.set('item.price', parseFloat(price.toFixed(2)));
      },

      valid: function() {
        var price = this.price ? parseFloat(this.price.toString().replace(',', '.')) : this.price;
        return this._priceValid(this.price);
      }
    });

  </script>
</dom-module>
