<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-tags/paper-tags-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-tags">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }

      .actions {
        text-align: center;
      }
    </style>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateTagsTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateTagsDescription', 'dataType', itemType)]]</h2>

      <paper-tags-input
        label="[[localize('tagSelectionLabel')]]"
        value="{{tag}}"
        items="{{tags}}"
        minlength="[[minLength]]"
        maxlength="[[maxLength]]"></paper-tags-input>
      <div class="actions">
        <paper-button class="primary" on-tap="_addTagAction">[[localize('add')]]</paper-button>
      </div>

    </div>

  </template>
  <script>

    Polymer({
      is: 'create-tags',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_tagsSourceChanged(item.tags)',
        '_tagsChanged(tags.splices)'
      ],

      properties: {

        minLength: {
          type: Number,
          readOnly: true,
          value: 2
        },

        maxLength: {
          type: Number,
          readOnly: true,
          value: 30
        },

        tag: {
          type: String
        },

        tags: {
          type: Array,
          value: function() {
            return [];
          }
        }

      },

      _tagsSourceChanged: function(tags) {
        if (!tags) {
          return;
        }

        this.set('tags', tags);
      },

      _tagsChanged: function(tags) {
        var tagsObject;

        if (!tags) {
          return;
        }

        tagsObject = this._removeInvalidTags(tags);

        if (this._tagsValid(tagsObject)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) {
            this.update(tagsObject);
          } else {
            this._fireStepValid('tags');
          }
        } else {
          this._fireStepInvalid('tags');
        }
      },

      _tagValid: function(tag) {
        return tag && tag.length >= this.minLength && tag.length <= this.maxLength;
      },

      _tagsValid: function(tags) {
        return true;
        // if (!tags) {
        //   return false;
        // }

        // return tags.length > 0;
      },

      _removeInvalidTags: function(tagsSplices) {
        var indexSplices = tagsSplices.indexSplices[0];
        var tagsObject = indexSplices.object;

        if (indexSplices.addedCount > 0) {
          if (!this._tagValid(tagsObject[indexSplices.index])) {
            tagsObject.splice(indexSplices.index, 1);
          }
        }

        return tagsObject;
      },

      _addTagAction: function(e) {
        if (!this.tag) {
          return;
        }

        this.push('tags', this.tag);
        this.set('tag', '');
      },

      update: function(tags) {
        if (!tags || tags.length === 0) {
          tags = this.tags;
        }

        this.set('item.tags', []);
        this.set('item.tags', tags);
      },

      valid: function() {
        return this._tagsValid(this.tags);
      }

    });

  </script>
</dom-module>
