<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="create-step-behavior.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="create-title">
  <template>

    <style  include="shared-styles">
      :host {
        display: block;
      }
    </style>

    <iron-a11y-keys
      id="a11yNextStep"
      target="[[titleInput]]"
      keys="enter alt+right"
      on-keys-pressed="_onNextStepAction"></iron-a11y-keys>
    <iron-a11y-keys
      id="a11yPreviousStep"
      target="[[titleInput]]"
      keys="alt+left"
      on-keys-pressed="_onPreviousStepAction"></iron-a11y-keys>

    <div class="create-steps-content">

      <h1>[[localize('EditCreateTitleTitle', 'dataType', itemType)]]</h1>
      <h2>[[localize('EditCreateTitleDescription', 'dataType', itemType)]]</h2>

      <paper-input
        id="titleInput"
        auto-validate
        char-counter
        placeholder="Title"
        minlength="[[minLength]]"
        maxlength="[[maxLength]]"
        on-value-changed="_titleChanged"
        value="{{title}}"></paper-input>

    </div>

  </template>
  <script>
    Polymer({
      is: 'create-title',

      behaviors: [
        CreateBehavior.Steps,
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_titleSourceChanged(item.title)'
      ],

      properties: {

        title: {
          type: String
        },

        titleInput: {
          type: Object,
          value: function() {
            return this.$.titleInput;
          }
        },

        minLength: {
          type: Number,
          readOnly: true,
          value: 3
        },

        maxLength: {
          type: Number,
          readOnly: true,
          value: 256
        }
      },

      _titleSourceChanged: function(title) { // load title
        if (!title) {
          return;
        }

        this.set('title', title);
      },

      _titleChanged: function(e) {
        var title = e.detail.value;

        if (this._titleValid(title)) {
          if (this._checkLifecycleStatus(this.item, DRAFT_STATUS)) { // dont bind when "published"
            this.update();
          } else {
            this._fireStepValid('title');
          }
        } else {
          this._fireStepInvalid('title');
        }
      },

      /*
       * String, chars >= 3, chars <= 256
       */
      _titleValid: function(title) {
        return (typeof title === 'string') && title.length >= this.minLength && title.length <= this.maxLength;
      },

      update: function() {
        this.set('item.title', this.title);
      },

      valid: function() {
        return this._titleValid(this.title);
      }
    });
  </script>
</dom-module>
