<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="create-actions-styles">
  <template>
    <style>

      .actions {
        margin-top: 50px;
        margin-bottom: 30px;
      }

      .item-actions .preview-action,
      .item-actions .delete-action {
        width: 49%;
      }

      .item-actions .preview-action {
        float: left;
      }

      .item-actions .delete-action {
        float: right;
      }

      .preview-item {
        margin-top: -15px;
        position: absolute;
        left: 0;
        width: 100vw;
      }

    </style>
  </template>
</dom-module>
