<link rel="import" href="_title.html">
<link rel="import" href="_description.html">
<link rel="import" href="_images.html">
<link rel="import" href="_price.html">
<link rel="import" href="_bonus.html">
<link rel="import" href="_category.html">
<link rel="import" href="_amount.html">
<link rel="import" href="_locations.html">
<link rel="import" href="_delivery.html">
<link rel="import" href="_tags.html">
<link rel="import" href="_duration-of-travel.html">
