<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="../_data/goodiefy-create-item.html">

<link rel="import" href="create-behavior.html">

<link rel="import" href="_title.html">
<link rel="import" href="_description.html">
<link rel="import" href="_images.html">
<link rel="import" href="_price.html">
<link rel="import" href="_bonus.html">
<link rel="import" href="_category.html">
<link rel="import" href="_amount.html">
<link rel="import" href="_locations.html">
<link rel="import" href="_delivery.html">
<link rel="import" href="_tags.html">
<link rel="import" href="_duration-of-travel.html">

<link rel="import" href="../_detail/_route.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="create-actions-styles.html">

<dom-module id="create-route">
  <template>
    <style  include="shared-styles create-actions-styles">
      :host {
        display: block;
      }
    </style>

    <app-location route="{{currentRoute}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:section/:key/:lifecycle"
      data="{{routeData}}"></app-route>

    <goodiefy-create-item-data
      id="createItem"
      uid="[[uid]]"
      firebase-app="[[app.firebaseApp]]"
      name="[[app.user.userData.name]]"
      key={{routeData.key}}
      item="{{item}}"
      lifecycle="[[routeData.lifecycle]]"
      node-name="[[nodeName]]"></goodiefy-create-item-data>

    <iron-pages
      id="createItemSteps"
      selected-item="{{activeStep}}"
      selected="[[routeData.section]]"
      attr-for-selected="name"
      fallback-selection="title">

      <section name="title">
        <create-title
          class="step"
          item-type="[[itemType]]"
          language="[[language]]"
          resources="[[resources]]"
          item="{{item}}"></create-title>
      </section>
      <section name="description">
        <create-description
          class="step"
          item-type="[[itemType]]"
          language="[[language]]"
          resources="[[resources]]"
          item="{{item}}"></create-description>
      </section>
      <section name="duration-of-travel">
        <create-duration-of-travel
          class="step"
          app="{{app}}"
          language="[[language]]"
          item-type="[[itemType]]"
          language="[[language]]"
          resources="[[resources]]"
          item="{{item}}"></create-duration-of-travel>
      </section>
      <section name="sales-locations">
        <create-locations
          class="step"
          app="{{app}}"
          required
          item-type="[[itemType]]"
          language="[[language]]"
          resources="[[resources]]"
          item="{{item}}"></create-locations>
      </section>
      <section name="delivery">
        <create-delivery
          class="step"
          app="{{app}}"
          item-type="[[itemType]]"
          language="[[language]]"
          resources="[[resources]]"
          item="{{item}}"></create-delivery>
      </section>
      <section name="preview">
        <detail-route
          preview
          class="preview-item"
          app="{{app}}"
          route="{{subroute}}"
          language="{{language}}"
          resources="[[resources]]"
          detail-item="[[item]]"
          user="[[user]]"
          uid="[[item.createdBy]]"></detail-route>
        <div class="actions actions-fixed">
          <paper-button on-tap="_closePreviewAction" class="primary">[[localize('ClosePreviewMode')]]</paper-button>
        </div>
      </section>
    </iron-pages>

    <div hidden$=[[previewOpened]] class="actions create-steps-content">
      <div class="next-page">
        <paper-button id="nextPage" hidden$="[[_isLastPage(activeStep)]]" disabled$="[[!_nextPageActionAllowed(activeStep, item.*)]]" class="primary fullwidth" on-tap="_nextPageAction">[[localize('EditCreateNextButton')]]</paper-button>
      </div>
      <div class="item-actions clearfix">
        <paper-button id="publishAction" disabled$=[[!saveActionEnabled]] class="publish-action primary fullwidth" on-tap="_publishAction">[[localize('EditCreateSavePublishButton', 'lifecycle', item.lifecycle)]]</paper-button>

        <paper-button id="previewAction" disabled$=[[!saveActionEnabled]] class="preview-action secondary" on-tap="_previewAction">[[localize('EditCreatePreviewLabel')]]</paper-button>
        <paper-button id="deleteAction" class="delete-action secondary" on-tap="_deleteConfirmAction">[[localize('EditCreateDeleteLabel')]]</paper-button>
      </div>
      <div class="previous-page">
        <paper-button id="previousPage" disabled$="[[_isFirstPage(activeStep)]]"  class="primary fullwidth" class="fullwidth" on-tap="_previousPageAction">[[localize('EditCreatePrevButton')]]</paper-button>
      </div>
    </div>

    <paper-dialog id="confirmRemove" on-iron-overlay-closed="_closeConfirmRemoveAction">
      <h4>[[localize('ConfirmDeleteItemHeadline')]]</h4>
      <p>[[localize('ConfirmDeleteItemText')]]</p>
      <div class="actions">
        <paper-button id="dialogDeleteAction" class="primary" dialog-confirm>[[localize('ConfirmDelete')]]</paper-button>
        <paper-button id="dialogDeleteDismissAction" class="secondary" dialog-dismiss autofocus>[[localize('ConfirmCancel')]]</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
    Polymer({
      is: 'create-route',

      behaviors: [
        CreateBehavior.Create,
        Polymer.AppLocalizeBehavior
      ],

      properties: {
        nodeName: {
          type: String,
          readOnly: true,
          value: 'routes'
        },

        redirectPath: {
          type: String,
          readOnly: true,
          value: 'route-success'
        },

        itemType: {
          type: String,
          readOnly: true,
          value: 'route'
        }
      }
    });
  </script>
</dom-module>
