<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-detail-data">

  <script>
    Polymer({
      is: 'goodiefy-detail-data',

      properties: {

        firebaseApp: {
          type: Object,
        },

        key: {
          type: String,
          notify: true
        },

        dataType: {
          type: String,
          notify: true
        },

        detailItem: {
          type: Object,
          notify: true
        },

        prevDataType: {
          type: String
        },

        prevKey: {
          type: String
        }

      },

      observers: ['_fetchDetailItem(firebaseApp, dataType, key)'],

      attached: function(){
        if(!this.query){
          this._fetchDetailItem(this.firebaseApp, this.dataType, this.key);
        }
      },

      detached: function(){
        if(this.query){
          this.firebaseApp.database().ref(this.dataType + '/published/' + this.key).off("value", this.query, this);
          this.query = null;
        }
      },

      _fetchDetailItem: function(firebaseApp, dataType, key) {
        if (!firebaseApp || !dataType || !key) {
          return;
        }
        if(this.query){
          firebaseApp.database().ref(this.prevDataType + '/' + this.prevKey).off("value", this.query, this);
          this.prevDataType = dataType;
          this.prevKey = key;
        }
        this.query = firebaseApp.database().ref(this.dataType + '/published/' + this.key).on('value', function(snapshot) {
          if(snapshot.exists()){
            var help = snapshot.val();
            help['__key__'] = key;
            help['itemType'] = dataType;
            this.set('detailItem', help);
            this.debounce('detail-data-loaded', function() {
              this.fire('detail-data-loaded', help);
            });
          }
        }, this);
      }
    
    });
  </script>

</dom-module>