<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-filter-data">

  <script>
    Polymer({
      is: 'goodiefy-filter-data',

      properties: {
        user: {
          type: Object,
        },

        filterNode: {
          type:String
        },

        app: {
          type: Object,
          notify: true
        },

        filter: {
          type: Object,
          notify: true
        }

      },

      observers: ['_fetchFilter(user)', 'checkForUser(app)', 'updateFilter(app.filters, filterNode, app.filters.*)'],

      updateFilter: function(filters, filterNode, changes){
        if(filters){
          if(filterNode && filters[filterNode]){
            this.set('filter', filters[filterNode]);
          } else {
            this.set('filter', {});
          }
        } else {
          this.set('filter', {});
        }
      },

      checkForUser: function(app){
        if(!app || !app.firebaseUser){
          this._fetchFilter(null);
        }
      },

      _fetchFilter: function(user) {
        if(user && user.filters){
          this.set('app.filters', user.filters);
        } else {
          this.set('app.filters', {});
        }
      },

      saveFilter: function(){
        if(this.app.filters){
          this.set('app.filters.' + this.filterNode, JSON.parse(JSON.stringify(this.filter)));
          if(this.app.firebaseUser && this.app.firebaseApp && this.filterNode){
            this.app.firebaseApp.database().ref('users').child(this.app.firebaseUser.uid).child('filters').child(this.filterNode).set(this.filter);
          }
        }
      },
    
    });
  </script>

</dom-module>