<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-tutorial-data">

  <script>

  // evtl mit category-data zu image-data zusammenfassen und über nodenamen (homeTeaser, content/tutorial unterscheiden 

    Polymer({

      is: 'goodiefy-tutorial-data',

      properties: {

        firebaseApp: {
          type: Object,
          observer: '_fetchTutorial'
        },

        tutorialNodeName: {
          type: String,
          value: 'content/tutorial'
        },

        tutorials: {
          type: Array,
          notify: true
        }

      },

      _fetchTutorial: function(firebaseApp) {
        if (!firebaseApp) {
          return;
        }

        firebaseApp.database().ref(this.tutorialNodeName).on('value', function(snapshot) {
          this.set('tutorials', snapshot.val());
        }, this);
      }

    });

  </script>

</dom-module>
