<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-user-data">

  <script>
    Polymer({
      is: 'goodiefy-user-data',

      observers: [
        '_fetchUser(firebaseApp, uid)'
      ],

      properties: {

        firebaseApp: {
          type: Object
        },

        uid: {
          type: String,
          observer: '_uidChanged'
        },

        userNodeName: {
          type: String,
          readOnly: true,
          value: 'users'
        },

        user: {
          type: Object,
          notify: true
        },

        full: {
          type: Boolean,
          value: false
        }

      },

      _uidChanged: function(){
        this.set('user', {});
      },

      _fetchUser: function(firebaseApp, uid) {
        if (!firebaseApp || !uid) {
          return;
        }

        var path = this.userNodeName + '/' + uid

        if(!this.full){
          path = path + '/userData';
        }

        if(this.oldPath){
          firebaseApp.database().ref(this.oldPath).off('value', this.query, this);
          this.oldPath = path
        }

        this.query = firebaseApp.database().ref(path).on('value', function(snapshot) {
          this.set('user', snapshot.val());
        }, this);
      }
    });
  </script>

</dom-module>
