<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-user-info-data">

  <script>
    Polymer({
      is: 'goodiefy-user-info-data',

      properties: {

        firebaseApp: {
          type: Object,
        },

        uid: {
          type: String,
          notify: true
        },

        userInfo: {
          type: Object,
          notify: true
        },

        prevUid: {
          type: String
        },

        limit: {
          type: Number,
          value: 100
        }

      },

      observers: ['_fetchReviews(firebaseApp, uid)'],

      ready: function(){
        if(this.firebaseApp && this.uid){
          this._fetchReviews(this.firebaseApp , this.uid)
        }
      },

      attached: function(){
        if(!this.query){
          this._fetchReviews(this.firebaseApp, this.uid);
        }
      },

      detached: function(){
        if(this.query){
          this.firebaseApp.database().ref('users/' + this.uid + '/userInfo').off("value", this.query, this);
          this.query = null;
        }
      },

      _fetchReviews: function(firebaseApp, uid) {
        if (!firebaseApp || !uid) {
          return;
        }
        if(this.query){
          firebaseApp.database().ref('users/' + this.prevUid + '/userInfo').off("value", this.query, this);
          this.prevUid = uid;
        }
        this.query = firebaseApp.database().ref('users/' + this.uid + '/userInfo').limitToFirst(this.limit).on('value', function(snapshot) {
          if(snapshot.exists()){
            var help = snapshot.val();
            this.set('userInfo', help);
            this.debounce('user-info-data-loaded', function() {
              this.fire('user-info-data-loaded', help);
            });
          } else {
            this.set('userInfo', {});
            this.debounce('user-info-data-loaded', function() {
              this.fire('user-info-data-loaded', {});
            });
          }
        }, this);
      }
    
    });
  </script>

</dom-module>