<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-category-data">

  <script>

    Polymer({

      is: 'goodiefy-category-data',

      properties: {

        firebaseApp: {
          type: Object,
          observer: '_fetchCategories'
        },

        categoryNodeName: {
          type: String,
          value: 'categories'
        },

        categories: {
          type: Array,
          notify: true
        }

      },

      _fetchCategories: function(firebaseApp) {
        if (!firebaseApp) {
          return;
        }

        firebaseApp.database().ref(this.categoryNodeName).on('value', function(snapshot) {
          this.set('categories', snapshot.val());
        }, this);

      }

    });

  </script>

</dom-module>
