<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../helper/object-helper.html">

<dom-module id="goodiefy-create-item-data">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

  </template>
  <script>
    Polymer({
      is: 'goodiefy-create-item-data',

      observers: [
        '_readyToCreate(item.*, node, key)'
      ],

      properties: {
        firebaseApp: {
          type: Object
        },

        key: {
          type: String,
          notify: true,
          value: ''
        },

        uid: {
          type: String,
          value: ''
        },

        item: {
          type: Object,
          notify: true
        },

        lifecycle: {
          type: String,
          value: 'draft'
        },

        node: {
          type: Object,
          computed: '_computeNode(firebaseApp, uid, nodeName, lifecycle)'
        },

        nodeName: {
          type: String
        }
      },

      _readyToCreate: function(itemChangeObject, node, key) {
        var item;

        if (!itemChangeObject || !node) {
          return;
        }

        item = itemChangeObject.base;

        if (this.key && item && GMHelpers.ObjectHelper.objectEmpty(item)) {
          this.read(node, this.key);
          return;
        }

        if (!item || item.lifecycle !== 'draft') {
          return; // only draft mode syncing
        }

        if (!this.key) {
          this.create(item);
        } else {
          this.update(item);
        }

      },

      _computeNode: function(firebaseApp, uid, nodeName, lifecycle) {
        lifecycle = lifecycle ? lifecycle : 'draft';

        if (!firebaseApp || !uid || !nodeName || !lifecycle) {
          return null;
        }

        if (lifecycle === 'draft' && uid) {
          nodeName = 'users/' + uid + '/' + nodeName;
        }

        return firebaseApp.database().ref(nodeName + '/' + lifecycle);
      },

      _computeMetaValues: function(item, isRoute) {
        if (!item.bonus) {
          item.bonus = 0;
        }

        if (!item.price) {
          item.price = 0;
        }

        if(item.delivery && item.delivery.shipping && item.delivery.shipping.costs){
          item.deliveryCosts = item.delivery.shipping.costs;
        } else {
          item.deliveryCosts = 0;
        }

        item.maxDeliveryCosts = -item.deliveryCosts;
        item.minDeliveryCosts = item.deliveryCosts;
        item.negActiveDate = -item.activeDate;

        if(!isRoute) {
          item.minPrice = item.price;
          item.minPriceInclBonus = item.price + item.bonus;
          item.minPriceInclDeliveryCosts = item.price + item.deliveryCosts;

          item.maxPrice = -item.price;
          item.maxPriceInclBonus = -(item.price + item.bonus);
          item.maxPriceInclDeliveryCosts = -(item.price + item.deliveryCosts);

          item.maxBonus = -item.bonus;
          item.minBonus = item.bonus;
        }

        return item;
      },

      create: function(item, onComplete) {
        var newKey;

        if (this.key) {
          return; // already created
        }

        newKey = this.node.push(item, onComplete).key;

        this.set('key', newKey);
      },

      read: function(node, key, onError) {
        if (!node || !key) {
          return;
        }

        node.child(key).once('value', function(snapshot) {
          this.set('item', snapshot.val());
          this.set('key', snapshot.key);

          this.firebaseApp.database().ref().child('itemAddresses').child(this.nodeName).child(key).once('value', function(snap){
            if(snap.exists()){
              var delivery = snap.val();
              if(delivery.shipping){
                if(!this.item.delivery.shipping){
                  this.set('item.delivery.shipping', {});
                }
                this.set('item.delivery.shipping.city', delivery.shipping.city);
                this.set('item.delivery.shipping.street', delivery.shipping.street);
                this.set('item.delivery.shipping.country', delivery.shipping.country);
              }
              if(delivery.handingOver){
                if(!this.item.delivery.handingOver || this.item.delivery.handingOver == true){
                  this.set('item.delivery.handingOver', {});
                }
                if(delivery.handingOver != true) {
                  this.set('item.delivery.handingOver.city', delivery.handingOver.city);
                  this.set('item.delivery.handingOver.street', delivery.handingOver.street);
                  this.set('item.delivery.handingOver.country', delivery.handingOver.country);
                }
              }
              this.set('item' , JSON.parse(JSON.stringify(this.item)));
            }
          }, this);
        }, function(error) {
          if (onError) {
            onError(error);
          } else {
            console.error('Permission denied error!');
          }
        }, this);
      },

      update: function(item, onComplete) {
        if (!this.key) {
          return; // exception key missing
        }
        var deliveryUpdateObject = {};
        if (item.lifecycle !== 'draft') { // drafts dont need meta values
          item = this._computeMetaValues(item, (this.nodeName === 'routes'));
          if(item.delivery){
            deliveryUpdateObject = JSON.parse(JSON.stringify(item.delivery));
            deliveryUpdateObject['name'] = this.name;
            if(deliveryUpdateObject.shipping){
              deliveryUpdateObject.shipping['costs'] = null;
              if(item.delivery.shipping){
                item.delivery.shipping.city = null;
                item.delivery.shipping.street = null;
                item.delivery.shipping.country = null;
              }
            }
            if(deliveryUpdateObject.handingOver && (deliveryUpdateObject.handingOver.street || deliveryUpdateObject.handingOver.city || deliveryUpdateObject.country)){
              item.delivery.handingOver = true
            }
          }
        }

        this.node.child(this.key).update(item, function(error) {
          if (error) {
            onComplete(error);
          } else {
            this.firebaseApp.database().ref().child('itemAddresses').child(this.nodeName).child(this.key).update(deliveryUpdateObject, onComplete)
          }
        }.bind(this));
      },

      delete: function(onComplete) {
        if (!this.key) {
          return;
        }

        this.node.child(this.key).remove(onComplete);
      },

      publish: function(item, onComplete) {
        var updates = {};

        if (!this.key) {
          return; // exception key missing
        }

        item.lifecycle = 'published';
        item.activeDate = new Date().getTime();
        item.negActiveDate = item.activeDate * -1;

        item = this._computeMetaValues(item, (this.nodeName === 'routes'));

        var deliveryUpdateObject = {};
        if(item.delivery){
          deliveryUpdateObject = JSON.parse(JSON.stringify(item.delivery));
          deliveryUpdateObject['name'] = this.name;
          if(deliveryUpdateObject.shipping){
            deliveryUpdateObject.shipping['costs'] = null;
            if(item.delivery.shipping){
              item.delivery.shipping.city = null;
              item.delivery.shipping.street = null;
              item.delivery.shipping.country = null;
            }
          }
          if(deliveryUpdateObject.handingOver && (deliveryUpdateObject.handingOver.street || deliveryUpdateObject.handingOver.city || deliveryUpdateObject.country)){
            item.delivery.handingOver = true;
          }
        }

        updates['users/' + this.uid + '/' + this.nodeName + '/draft/' + this.key] = null;
        updates[this.nodeName + '/published/' + this.key] = item;
        updates['itemAddresses/' +  this.nodeName + '/' + this.key] = deliveryUpdateObject;

        this.firebaseApp.database().ref().update(updates, onComplete);
      }

    });
  </script>
</dom-module>
