<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="goodiefy-config-data">
  <script>

    Polymer({
      is: 'goodiefy-config-data',

      observers: [
        '_fetchConfig(firebaseApp)'
      ],

      properties: {

        firebaseApp: {
          type: Object
        },

        configNodeName: {
          type: String,
          readOnly: true,
          value: '_admin/config'
        },

        config: {
          type: Object,
          notify: true
        }

      },

      _fetchConfig: function(firebaseApp) {
        if (!firebaseApp) {
          return;
        }

        firebaseApp.database().ref(this.configNodeName).once('value', function(snapshot) {
          this.set('config', snapshot.val());
        }, this);
      }

    });

  </script>
</dom-module>
