<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<!-- should be lazy loaded -->
<link rel="import" href="_content/goodiefy-plus.html">
<link rel="import" href="_content/faq.html">
<link rel="import" href="_content/tutorial.html">
<link rel="import" href="_content/contact.html">
<link rel="import" href="_content/data-privacy.html">
<link rel="import" href="_content/impress.html">

<dom-module id="goodiefy-content">
  <template>

    <app-route
      route="{{route}}"
      pattern="/:type"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>

    <div class="content-container">
      <iron-pages
        selected="[[routeData.type]]"
        attr-for-selected="name">

        <section name="goodiefy-plus">
          <template is="dom-if" if="[[_renderPage(routeData.type, 'goodiefy-plus')]]">
            <goodiefy-plus app="{{app}}" language="{{language}}" resources="[[resources]]" route="{{subroute}}">
              <paper-spinner active></paper-spinner>
            </goodiefy-plus>
          </template>
        </section>

        <section name="faq">
          <template is="dom-if" if="[[_renderPage(routeData.type, 'faq')]]">
            <gm-faq app="{{app}}" language="{{language}}" resources="[[resources]]" route="{{subroute}}">
              <paper-spinner active></paper-spinner>
            </gm-faq>
          </template>
        </section>

        <section name="tutorial">
          <template is="dom-if" if="[[_renderPage(routeData.type, 'tutorial')]]">
            <gm-tutorial app="{{app}}" language="{{language}}" resources="[[resources]]" route="{{subroute}}">
              <paper-spinner active></paper-spinner>
            </gm-tutorial>
          </template>
        </section>

        <section name="contact">
          <template is="dom-if" if="[[_renderPage(routeData.type, 'contact')]]">
            <contact-page app="{{app}}" language="{{language}}">
              <paper-spinner active></paper-spinner>
            </contact-page>
          </template>
        </section>

        <section name="data-privacy">
          <template is="dom-if" if="[[_renderPage(routeData.type, 'data-privacy')]]">
            <data-privacy-page app="{{app}}" language="{{language}}">
              <paper-spinner active></paper-spinner>
            </data-privacy-page>
          </template>
        </section>

        <section name="impress">
          <template is="dom-if" if="[[_renderPage(routeData.type, 'impress')]]">
            <impress-page app="{{app}}" language="{{language}}">
              <paper-spinner active></paper-spinner>
            </impress-page>
          </template>
        </section>

      </iron-pages>

    </div>

  </template>
  <script>
    Polymer({
      is: 'goodiefy-content',

      properties: {

        app: {
          type: Object,
          notify: true
        },

        route: {
          type: Object,
          notify: true
        },

        routeData: {
          type: Object,
          notify: true
        },

        subroute: {
          type: Object
        },

        visible:{
          type: Boolean
        }
      },

      observers: [
        '_categoryChanged(routeData.type, visible)'
      ],

      _renderPage: function(type, name) {
        return type === name;
      },

      _categoryChanged: function(type, visible) {
        if (visible) {
          if (!type) {
            this.fire('show-invalid-url-warning');
          } else {
            this.debounce('change-section', function() {
              // Notify the category and the page's title
              this.fire('change-section', {
                category: type
              });
            });
          }
        }
      },

    });
  </script>
</dom-module>
