<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="shared-styles.html">

<dom-module id="goodiefy-account">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
      }

      .content-container {
        max-width: 768px;
      }

      .navigation.my-goodiefy-navigation a {
        text-decoration: none;
        color: #000;
      }

      .navigation.my-goodiefy-navigation paper-icon-item {
        border-bottom: 1px solid #9e9e9e;
        display: block;
        position: relative;
        min-height: 25px;
        padding: 10px 20px;
      }

      .navigation.my-goodiefy-navigation paper-icon-item paper-icon-button {
        position: absolute;
        right: 0;
        top: 0;
      }

      .profile-info {
        cursor: pointer;
        background: #fffcef;
        border-bottom: 1px solid var(--app-secondary-text-color);
      }

      .profile-info user-avatar {
        --user-avatar-dimensions: 50px;
        margin: auto;
      }

      .avatar-name {
        margin-top: 20px;
      }

      @media (min-width: 768px) {

        .navigation-block {
          float: left;
          width: 50%;
        }

        .navigation.my-goodiefy-navigation paper-icon-item {
          border: 0;
        }

        .navigation.my-goodiefy-navigation paper-icon-item paper-icon-button {
          display: none;
        }

        .profile-info {
          border-bottom: 0;
        }
      }

    </style>

    <app-route
      route="{{route}}"
      pattern="/:type"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>

    <iron-pages
      selected="[[routeData.type]]"
      attr-for-selected="name"
      fallback-selection="my-goodiefy">

      <section class="navigation my-goodiefy-navigation" name="my-goodiefy">

        <header class="profile-info" on-tap="redirectToUserInfoPage">
          <user-avatar
            cloud-name="[[app.config.cloudinary.cloudName]]"
            user-name="[[app.user.userData.name]]"
            user-image="[[app.user.userData.imgMeta]]">
            <div class="avatar-info avatar-name">
              <formatted-user-name firebase-app="[[app.firebaseApp]]" name="[[app.user.userData.name]]"></formatted-user-name>
            </div>
          </user-avatar>
        </header>

        <div class="content-container">
          <section class="navigation-block">
            <a href="/list/favorites">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyWatchlistLabel')]]</paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>

            <a href="/account/for-you">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyIBringLabel')]]
                  <list-counter cnt="[[cntMatches]]" icon="goodiefy-icons:black-arrow"></list-counter>
                </paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>

            <a href="/account/for-me">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyYouBringLabel')]]
                  <list-counter cnt="[[cntYouBring]]" icon="goodiefy-icons:black-arrow"></list-counter>
                </paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>

            <a href="/list/my-items/requests">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyRequestLabel')]]</paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>

            <a href="/list/my-items/offers">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyOfferLabel')]]</paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>

            <a href="/list/my-items/routes">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyRouteLabel')]]</paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>
          </section>

          <section class="navigation-block">
            <a href="/account/messages">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyMessagesLabel')]]
                  <list-counter cnt="[[cntMessages]]" icon="goodiefy-icons:email"></list-counter>
                </paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>

             <a href="/account/my-account">
              <paper-icon-item>
                <paper-item-body>[[localize('MyGoodiefyAccountLabel')]]</paper-item-body>
                <paper-icon-button icon="goodiefy-icons:chevron-right" alt=""></paper-icon-button>
              </paper-icon-item>
            </a>
          </section>
        </div>

      </section>
      <section class="content-container" name="login">
        <app-login app="{{app}}" language="{{language}}" resources="[[resources]]" email="{{email}}">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </app-login>
      </section>

      <section class="content-container" name="reset-password">
        <app-reset-password app="{{app}}" language="{{language}}" resources="[[resources]]" email="{{email}}">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </app-reset-password>
      </section>

      <section class="content-container" name="register">
        <app-register app="{{app}}" language="{{language}}" resources="[[resources]]" email="{{email}}">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </app-register>
      </section>

      <section class="content-container" name="delete">
        <app-delete-account app="{{app}}" language="{{language}}" resources="[[resources]]">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </app-delete-account>
      </section>

      <section class="content-container" name="user-info">
        <user-info-page app="{{app}}" route="[[subroute]]" language="{{language}}" resources="[[resources]]">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </user-info-page>
      </section>

      <section class="content-container" name="review">
        <review-input app="{{app}}" route="[[subroute]]" language="{{language}}" resources="[[resources]]">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </review-input>
      </section>

      <section name="my-account">
        <user-account app="{{app}}" route="[[subroute]]" language="{{language}}" resources="[[resources]]">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </user-account>
      </section>

      <section class="content-container" name="missing-data">
        <app-missing-user-data app="{{app}}" language="{{language}}" resources="[[resources]]">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </app-missing-user-data>
      </section>

      <section class="content-container" name="messages">
        <list-my-messages cnt-messages="{{cntMessages}}" app="{{app}}" language="{{language}}" resources="[[resources]]">
          <div class="spinner-container">
            <paper-spinner active></paper-spinner>
          </div>
        </list-my-messages>
      </section>

      <section name="for-you">
        <listing-for-you
          app="{{app}}"
          route="{{route}}"
          data-type="matches"
          language="{{language}}"
          resources="[[resources]]"
          cnt-matches="{{cntMatches}}"></listing-for-you>
      </section>

      <section name="for-me">
        <listing-for-me
          app="{{app}}"
          route="{{route}}"
          data-type="matches"
          language="{{language}}"
          resources="[[resources]]"
          cnt-matches="{{cntYouBring}}"></listing-for-me>
      </section>
    </iron-pages>

  </template>
  <script>

    Polymer({
      is: 'goodiefy-account',

      behaviors: [
        Polymer.AppLocalizeBehavior
      ],

      attached: function() {
        if (!this.resourcesLoadComplete) {
          Polymer.RenderStatus.afterNextRender(this, function() {
            this.importHref(this.resolveUrl('_account/lazy-resources.html'), function() {
              this.set('resourcesLoadComplete', true);
            }.bind(this));
          }.bind(this));
        }
      },

      redirectToUserInfoPage: function(){
        if(this.app.firebaseUser){
          this.set('route.path', "/user-info/" +this.app.firebaseUser.uid);
        }
      },

      properties: {

        app: {
          type: Object,
          notify: true
        },

        route: {
          type: Object,
          notify: true
        },

        routeData: {
          type: Object,
          notify: true
        },

        subroute: {
          type: Object
        },

        cntMatches: {
          type: Number
        },

        cntYouBring: {
          type: Number
        },

        resourcesLoadComplete: {
          type: Boolean,
          value: false
        }

      }

    });

  </script>
</dom-module>
