<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="_list/list-requests-offers-routes.html">
<link rel="import" href="_list/list-just-for-you.html">
<link rel="import" href="_list/list-favorites.html">
<link rel="import" href="_list/list-route-success.html">
<link rel="import" href="_list/list-offer-success.html">
<link rel="import" href="_list/list-request-success.html">
<link rel="import" href="_list/list-my-items.html">
<link rel="import" href="_list/list-category.html">

<dom-module id="goodiefy-list">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-route
      route="[[route]]"
      pattern="/:category"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>

    <iron-pages
      selected="[[listName]]"
      attr-for-selected="name"
      selected-attribute="visible"
      role="list">

      <div name="requests">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'requests')]]">
          <list-requests-offers-routes visible="[[_renderPage(listName, visible, 'requests')]]" name="requests" list-type="requests" filter-node="requests" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-requests-offers-routes>
        </template>
      </div>

      <div name="offers">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'offers')]]">
          <list-requests-offers-routes visible="[[_renderPage(listName, visible, 'offers')]]" name="offers" list-type="offers" filter-node="offers" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-requests-offers-routes>
        </template>
      </div>

      <div name="routes">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'routes')]]">
          <list-requests-offers-routes visible="[[_renderPage(listName, visible, 'routes')]]" name="routes" list-type="routes" filter-node="routes" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-requests-offers-routes>
        </template>
      </div>

      <div name="category">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'category')]]">
          <list-category visible="[[_renderPage(listName, visible, 'category')]]" name="category" route="{{subroute}}" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-category>
        </template>
      </div>

      <div name="just-for-you">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'just-for-you')]]">
          <list-just-for-you nearby-products="[[nearbyProducts]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-just-for-you>
        </template>
      </div>

      <div name="favorites">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'favorites')]]">
          <list-favorites app="{{app}}" language="{{language}}" resources="[[resources]]"></list-favorites>
        </template>
      </div>

      <div name="route-success">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'route-success')]]">
          <list-route-success visible="[[_renderPage(listName, visible, 'route-success')]]" name="route-success" route="{{subroute}}" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-route-success>
        </template>
      </div>

      <div name="offer-success">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'offer-success')]]">
          <list-offer-success visible="[[_renderPage(listName, visible, 'offer-success')]]" name="offer-success" route="{{subroute}}" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-offer-success>
        </template>
      </div>

      <div name="request-success">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'request-success')]]">
          <list-request-success visible="[[_renderPage(listName, visible, 'request-success')]]" name="request-success" route="{{subroute}}" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-request-success>
        </template>
      </div>

      <div name="my-items">
        <template is="dom-if" if="[[_renderPage(listName, visible, 'my-items')]]">
          <list-my-items route="{{subroute}}" app="{{app}}" language="{{language}}" resources="[[resources]]"></list-my-items route="{{subroute}}">
        </template>
      </div>

    </iron-pages>
  </template>
  <script>

    Polymer({
      is: 'goodiefy-list',

      properties: {
        route: {
          type: Object
        },

        routeData: {
          type: Object
        },

        app:{
          type: Object
        },

        visible: {
          type: Boolean
        },

        oldCategory: {
          type: String
        },

        language: {
          type: String,
          notify: true,
        },

        resources:{
          type: Object,
          notify: true
        }
      },

      observers: [
        '_categoryChanged(routeData.category, visible)',
      ],

      _renderPage: function(type, visible, name){
        return type == name && visible;
      },

      _categoryChanged: function(category, visible) {
        if (visible) {
          if (!category) {
            this.fire('show-invalid-url-warning');
          } else {
            this.set('listName', category);
            this.debounce('change-section', function() {
              // Notify the category and the page's title
              if (category === 'my-items' || category === 'favorites') {
                this.fire('change-section', {
                  category: 'account'
                });           
              } else {
                this.fire('change-section', {
                  category: category
                });
              }

            });
          }
        }
      },
    });
  </script>
</dom-module>
