<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">

<link rel="import" href="helper/conditional-link.html">

<link rel="import" href="shared-styles.html">

<dom-module id="goodiefy-create">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      paper-progress {
        width: 100%;
        --paper-progress-active-color: var(--app-secondary-text-color);
        --paper-progress-height: 15px;
      }

      .content-container {
        max-width: 800px;
      }

      .teaser {
        text-align: center;
        padding: 20px;
      }

      .teaser img {
        width: 50%;
        max-width: 300px;
      }

      .teaser h1,
      .teaser h2 {
        text-align: center;
        margin: 0;
      }

      .teaser h1 {
        text-transform: uppercase;
        font-size: 24px;
      }

      .teaser h2 {
        font-size: 12px;
        font-weight: normal;
      }

      .actions a {
        display: inline-block;
      }

      .actions .create-request {
        display: block;
      }

      .actions .create-request paper-button {
        width: 100%;
      }

      .actions .create-offer,
      .actions .create-route {
        width: 50%;
        float: left;
      }

      .actions .create-offer {
        text-align: right;
      }

      .actions .create-offer paper-button,
      .actions .create-route paper-button {
        width: 97%;
        border-color: #000;
        color: #000;
      }

    </style>

    <app-route
      route="{{route}}"
      pattern="/:type"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>

    <paper-progress value="[[progress]]"></paper-progress>
    <div class="content-container">
      <iron-pages
        selected="[[routeData.type]]"
        attr-for-selected="name"
        fallback-selection="intro">

        <section name="intro">
          <div class="teaser">
            <img src="/images/create-intro.jpg" alt="">
            <h1>[[localize('CreateSelectCaption')]]</h1>
            <h2>[[localize('CreateSelectDescription')]]</h2>
          </div>
          <div class="actions spacer clearfix">
            <conditional-link class="create-request" app={{app}} link="/create/request">
              <paper-button class="primary">[[localize('CreateSelectRequest')]]</paper-button>
            </conditional-link>
            <conditional-link class="create-route" app={{app}} link="/create/route">
              <paper-button class="secondary">[[localize('CreateSelectRoute')]]</paper-button>
            </conditional-link>
            <conditional-link class="create-offer" app={{app}} link="/create/offer">
              <paper-button class="secondary">[[localize('CreateSelectOffer')]]</paper-button>
            </conditional-link>
          </div>
        </section>
        <section name="request">
          <template is="dom-if" if="[[_renderRequest(routeData.type)]]" restamp>
            <create-request
              app="{{app}}"
              uid="[[uid]]"
              route="{{subroute}}"
              progress={{progress}}
              language="[[language]]"
              resources="[[resources]]"></create-request>
          </template>
        </section>
        <section name="offer">
          <template is="dom-if" if="[[_renderOffer(routeData.type)]]" restamp>
            <create-offer
              app="{{app}}"
              uid="[[uid]]"
              route="{{subroute}}"
              progress={{progress}}
              language="[[language]]"
              resources="[[resources]]"></create-offer>
          </template>
        </section>
        <section name="route">
          <template is="dom-if" if="[[_renderRoute(routeData.type)]]" restamp>
            <create-route
              app="{{app}}"
              uid="[[uid]]"
              route="{{subroute}}"
              progress={{progress}}
              language="[[language]]"
              resources="[[resources]]"></create-route>
          </template>
        </section>
      </iron-pages>

    </div>

  </template>
  <script>

    Polymer({
      is: 'goodiefy-create',

      behaviors:[
        Polymer.AppLocalizeBehavior
      ],

      observers: [
        '_createPageChanged(routeData.type)'
      ],

      properties: {

        app: {
          type: Object,
          notify: true
        },

        uid: {
          type: String
        },

        route: {
          type: Object,
          notify: true
        },

        routeData: {
          type: Object,
          notify: true
        },

        subroute: {
          type: Object
        },

        progress: {
          type: Number,
          value: 0
        },

        resourcesLoadComplete: {
          type: Boolean,
          value: false
        }
      },

      _createPageChanged: function(type) {
        if (!type) {
          this.set('progress', 0);
          return;
        }

        if (type == 'intro') {
          this.set('progress', 0);
        }

        this._lazyLoadResources();
      },

      _lazyLoadResources: function() {
        if (!this.resourcesLoadComplete) {

          Polymer.RenderStatus.afterNextRender(this, function() {
            this.importHref(this.resolveUrl('_create/lazy-resources.html'), function() {
              this.set('resourcesLoadComplete', true);
            }.bind(this));
          }.bind(this));

        }
      },

      _renderRequest: function(type) {
        return type === 'request';
      },

      _renderOffer: function(type) {
        return type === 'offer';
      },

      _renderRoute: function(type) {
        return type === 'route';
      }

    });
  </script>
</dom-module>
