<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="_data/goodiefy-detail-data.html">
<link rel="import" href="_data/goodiefy-user-data.html">

<!-- lazy loader?? afterNextRender?? -->
<link rel="import" href="_detail/_request-offer.html">
<link rel="import" href="_detail/_route.html">
<link rel="import" href="_detail/_pay.html">
<link rel="import" href="_detail/_pay-success.html">
<link rel="import" href="_detail/_buy.html">
<link rel="import" href="_detail/_bring.html">
<link rel="import" href="_detail/_bring-overview.html">
<link rel="import" href="_detail/_bring-success.html">

<dom-module id="goodiefy-detail">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <app-route
      route="{{route}}"
      pattern="/:type/:key"
      data="{{routeData}}"
      tail="{{subroute}}">
      </app-route>

    <goodiefy-detail-data
      id="detailData"
      firebase-app="[[app.firebaseApp]]"
      data-type="[[dataType]]"
      key="[[routeData.key]]"
      detail-item="{{detailItem}}"></goodiefy-detail-data>

    <goodiefy-user-data
      id="userData"
      firebase-app="[[app.firebaseApp]]"
      uid="[[itemCreator]]"
      user="{{user}}"></goodiefy-user-data>

    <iron-pages
      selected="[[detailType]]"
      attr-for-selected="name">

      <section name="requests-offers">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'requests-offers', detailItem)]]" restamp>
          <detail-request-offer
            app="{{app}}"
            visible="[[_renderPage(visible, detailType, 'requests-offers')]]"
            route="{{subroute}}"
            language="{{language}}"
            detail-key="[[routeData.key]]"
            resources="[[resources]]"
            detail-item="[[detailItem]]"
            user="[[user]]"
            uid="[[detailItem.createdBy]]"></detail-request-offer>
        </template>
      </section>

      <section name="routes">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'routes', detailItem)]]" restamp>
        <detail-route
          app="{{app}}"
          route="{{subroute}}"
          language="{{language}}"
          detail-key="[[routeData.key]]"
          resources="[[resources]]"
          detail-item="[[detailItem]]"
          user="[[user]]"
          uid="[[detailItem.createdBy]]"></detail-route>
          </template>
      </section>

      <section name="bring">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'bring')]]" restamp>
          <detail-bring
            app="{{app}}"
            item-key="[[routeData.key]]"
            route="{{subroute}}" language="{{language}}"
            resources="[[resources]]"></detail-bring>
        </template>
      </section>

      <section name="bring-overview">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'bring-overview')]]" restamp>
          <detail-bring-overview
            app="{{app}}"
            item-data="[[detailItem]]"
            data-type="{{dataType}}"
            item-key="[[routeData.key]]"
            route="{{subroute}}"
            language="{{language}}"
            resources="[[resources]]"></detail-bring-overview>
        </template>
      </section>

      <section name="bring-success">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'bring-success')]]" restamp>
          <detail-bring-success
            app="{{app}}"
            language="{{language}}"
            resources="[[resources]]"></detail-bring-success>
        </template>
      </section>

      <section name="buy">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'buy')]]" restamp>
          <detail-buy
            app="{{app}}"
            item-data="[[detailItem]]"
            data-type="{{dataType}}"
            item-key="[[routeData.key]]"
            route="{{subroute}}"
            language="{{language}}"
            resources="[[resources]]"></detail-buy>
        </template>
      </section>

      <section name="pay">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'pay')]]" restamp>
          <detail-pay
            app="{{app}}"
            item-key="[[routeData.key]]"
            language="{{language}}"
            resources="[[resources]]"></detail-pay>
        </template>
      </section>

      <section name="pay-success">
        <template is="dom-if" if="[[_renderPage(visible, detailType, 'pay-success')]]" restamp>
          <detail-pay-success
            app="{{app}}"
            route="{{route}}"
            language="{{language}}"
            resources="[[resources]]"></detail-pay-success>
        </template>
      </section>

      </template>
  <script>

    Polymer({
      is: 'goodiefy-detail',

      properties: {

        app: {
          type: Object,
          notify: true
        },

        route: {
          type: Object,
          notify: true
        },

        routeData: {
          type: Object
        },

        detailItem: {
          type: Object
        },

        user: {
          type: Object
        },

        visible: {
          type: Boolean
        },

        itemCreator: {
          type: String,
          notify: true,
          computed: 'setItemCreator(detailItem)'
        }

      },

      observers: ['checkType(routeData.type)'],

      setItemCreator: function(item){
        return item.createdBy;
      },

      _renderPage: function(visible, type, name) {
        return (Boolean)(visible && type === name);
      },

      checkType: function(type){
          if ((type === 'requests') || (type === 'offers')){
            this.set('detailType', 'requests-offers');
            this.set('dataType', type);
          }
          else if(type === 'routes'){
            this.set('dataType', 'routes');
            this.set('detailType', 'routes');
          } else {
            this.set('detailType', type);
          }
      }

    });
  </script>
</dom-module>
