<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="_data/goodiefy-category-data.html">
<link rel="import" href="_list/category-tile.html">
<link rel="import" href="shared-styles.html">

<dom-module id="goodiefy-home">
  <template>
    <style include="shared-styles">

      :host {
        display: block;
      }

      @media (min-width: 768px) {

        .teaser {
          padding: 10px;
        }

      }

    </style>

    <goodiefy-category-data
      firebase-app="[[firebaseApp]]"
      category-node-name="homeTeaser"
      categories="{{categories}}"></goodiefy-category-data>

    <div class="spinner-container" hidden$="[[categories.0]]">
      <paper-spinner active></paper-spinner>
    </div>

    <div class="content-container teaser clearfix">
      <template is="dom-repeat" items="[[categories]]" initial-count="4">
        <a href$="[[item.url]]">
          <category-tile category="[[item]]">
            <h3 class="teaser-headline">[[localize(item.translationKey, 'type', 'headline')]]</h3>
            <p class="teaser-description"><strong>[[localize(item.translationKey, 'type', 'description')]]</strong></p>
          </category-tile>
        </a>
      </template>
    </div>

  </template>

  <script>
    Polymer({
      is: 'goodiefy-home',

      behaviors: [
        Polymer.AppLocalizeBehavior
      ],

      properties: {

        firebaseApp: {
          type: Object
        },

        categories: {
          type: Array,
          value: function() {
            return [];
          }
        }

      }

    });
  </script>
</dom-module>
