<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../bower_components/polymerfire/firebase.html">
<link rel="import" href="../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../bower_components/polymerfire/firebase-auth.html">
<link rel="import" href="../bower_components/google-apis/google-maps-api.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">


<link rel="import" href="_filter/goodiefy-filter-drawer.html">
<link rel="import" href="_filter/goodiefy-search-drawer.html">

<link rel="import" href="goodiefy-home.html">

<link rel="import" href="_behaviors/messaging.html">
<link rel="import" href="_behaviors/send-message-behavior.html">
<link rel="import" href="_behaviors/localization-helper.html">

<link rel="import" href="helper/firebase-env.html">

<link rel="import" href="helper/app-filter-button.html">
<link rel="import" href="helper/app-favorites-button.html">
<link rel="import" href="helper/app-filter-button.html">
<link rel="import" href="helper/app-search-button.html">

<link rel="import" href="_data/goodiefy-config-data.html">

<link rel="import" href="goodiefy-icons.html">
<link rel="import" href="shared-styles.html">

<!-- Intl polyfill -->
<script src="../bower_components/intl/dist/Intl.min.js"></script>

<dom-module id="goodiefy-app">
  <template>
    <style include="shared-styles">
      :host {
        --app-primary-color: #363842;
        --app-secondary-color: #f25f5c;
        --active-color: var(--app-secondary-color);
        --secondary-color: var(--app-secondary-color);
        --primary-color: var(--app-primary-color);
        --app-primary-text-color: #000;
        --app-secondary-text-color: #9e9e9e;
        --app-accent-color: #e91e63;
        --default-primary-color: var(--app-secondary-color); /* paper-input-tags */

        display: block;
      }

      app-drawer-layout {
        background: #fff;
      }

      app-header {
        color: #fff;
      }

      app-toolbar {
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      paper-spinner {
        --paper-spinner-color: var(--app-secondary-color);
      }

      .main-toolbar {
        height: 66px;
        border-bottom: solid 2px var(--app-secondary-color);
      }

      .main-toolbar .actions {
        width: 110px;
      }

      .main-toolbar .toolbar-right {
        text-align: right;
      }

      .main-toolbar [main-title] {
        text-align: center;
      }

      .main-toolbar [main-title] img {
          width: 70px;
          margin-top: 7px;
          height: auto;
      }

      .sub-toolbar {
        text-align: center;
        height: auto;
        line-height: 38px;
        font-size: 16px;
      }

      .toolbar-spacer {
        height: 38px;
      }

      app-drawer.navigation-drawer {
        --app-drawer-content-container: {
          background: #fffcef;
        }
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: #000;
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: var(--app-secondary-color);
      }

      .drawer-list a.login-logout-action {
        display: block;
        text-align: center;
        color: var(--app-secondary-text-color);
      }

      .drawer-list iron-icon {
        margin-right: 20px;
      }

      app-drawer app-toolbar {
        color: #fff;
        border-bottom: solid 2px var(--app-secondary-color);
        background: var(--app-primary-color);
      }

      app-drawer app-toolbar .logo {
        max-width: 150px;
      }

      .filter-drawer [main-title] {
        text-align: left;
        font-size: 18px;
      }

      .navigation-wrapper {
        height: calc(100% - 40px);
        overflow: auto;
      }

      .drawer-menu-footer {
        border-top: solid 2px var(--app-secondary-color);
        padding: 10px;
      }

      .drawer-menu-footer li {
        width: 33.3%;
        text-align: center;
        font-size: 12px;
        float: left;
      }

      .drawer-menu-footer a {
        color: var(--app-secondary-text-color);
      }

      .navigation-wrapper app-toolbar {
        height: 105px;
      }

      .navigation-wrapper app-toolbar user-avatar {
        margin-left: 8px;
        --user-avatar-dimensions: 65px;
        cursor: pointer;
      }

    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"></app-route>
    <app-route
      route="{{subroute}}"
      pattern="/:pageLayer2"
      data="{{RouteDataLayer2}}"
      tail="{{subrouteLayer2}}"></app-route>
    <app-route
      route="{{subrouteLayer2}}"
      pattern="/:pageLayer3"
      data="{{RouteDataLayer3}}"></app-route>

    <firebase-env
      firebase-app="{{app.firebaseApp}}"
      env-loaded="{{app.firebaseReady}}"></firebase-env>
    <firebase-auth
      id="firebaseLogin"
      app="[[app.firebaseApp]]"
      user="{{app.firebaseUser}}"></firebase-auth>

    <google-maps-api
      id="googleMapsApiElement"
      library-loaded="{{app.googleApiLoaded}}"
      api-key="[[app.config.googleApiKey]]"
      version="3.exp"
      libraries="places"></google-maps-api>

    <goodiefy-user-data full
      firebase-app="[[app.firebaseApp]]"
      uid="[[app.firebaseUser.uid]]"
      user="{{app.user}}"></goodiefy-user-data>
    <goodiefy-config-data
      firebase-app="[[app.firebaseApp]]"
      config="{{app.config}}"></goodiefy-config-data>

    <background-filter nearby-products="{{nearbyProducts}}" app="{{app}}" language="{{language}}" resources="[[resources]]"></background-filter>

    <message-notifier firebase-app="[[app.firebaseApp]]" app="{{app}}" language="{{language}}" resources="[[resources]]"></message-notifier>

    <app-drawer-layout fullbleed force-narrow>
      <!-- Drawer content -->
      <app-drawer id="drawer" class="navigation-drawer" swipe-open>
        <div class="navigation-wrapper drawer-scrollable">
          <app-toolbar>
            <img class="logo" src="../images/goodiefy-text.png">
              <user-avatar
                on-tap="redirectToUserInfoPage"
                cloud-name="[[app.config.cloudinary.cloudName]]"
                user-name="[[app.user.userData.name]]"
                user-image="[[app.user.userData.imgMeta]]"></user-avatar>
          </app-toolbar>
          <iron-selector selected="[[categoryName]]" attr-for-selected="name" class="drawer-list" fallback-selection="[[page]]" role="navigation">
            <a name="home" href="/"><iron-icon icon="goodiefy-icons:home"></iron-icon>[[localize('MenuHomeLabel')]]</a>
            <a name="requests" href="/list/requests"><iron-icon icon="goodiefy-icons:filter-tilt-shift"></iron-icon>[[localize('MenuDiscoverLabel')]]</a>
            <a name="offers" href="/list/offers"><iron-icon icon="goodiefy-icons:local-offer"></iron-icon>[[localize('MenuOffersLabel')]]</a>
            <a name="routes" href="/list/routes"><iron-icon icon="goodiefy-icons:timeline"></iron-icon>[[localize('MenuTravelingLabel')]]</a>
            <a name="create" href="/create/intro"><iron-icon icon="goodiefy-icons:queue"></iron-icon>[[localize('MenuCreateLabel')]]</a>
            <a name="just-for-you" href="/list/just-for-you"><iron-icon icon="goodiefy-icons:loyalty"></iron-icon>[[localize('MenuJustForYouLabel')]]</a>
            <a name="goodiefy-plus" href="/content/goodiefy-plus"><iron-icon icon="goodiefy-icons:add-circle-outline"></iron-icon>[[localize('goodiefyPlusPageHeader')]]</a>
            <a name="account" href="/account/my-goodiefy"><iron-icon icon="goodiefy-icons:assignment-ind"></iron-icon>[[localize('MenuAccountLabel')]]</a>
            <a href="https://goodiefy.me/blog/" target="_blank"><iron-icon icon="goodiefy-icons:forum"></iron-icon>[[localize('MenuBlogLabel')]]</a>
            <a name="faq" href="/content/faq"><iron-icon icon="goodiefy-icons:live-help"></iron-icon>[[localize('MenuFAQsLabel')]]</a>
            <a class="login-logout-action" name="login" href="/account/login">
              <template is="dom-if" if="[[!app.firebaseUser]]">[[localize('login')]]</template>
              <template is="dom-if" if="[[app.firebaseUser]]">[[localize('logout')]]</template>
            </a>
          </iron-selector>
        </div>
        <ul class="drawer-menu-footer clearfix">
          <li>
            <a name="content" href="/content/contact">[[localize('MenuContactLabel')]]</a>
          </li>
          <li>
            <a name="content" href="/content/data-privacy">[[localize('MenuDatenschutzLabel')]]</a>
          </li>
          <li>
            <a name="content" href="/content/impress">[[localize('MenuImpressumLabel')]]</a>
          </li>
        </ul>
      </app-drawer>

      <app-drawer id="filterDrawer" align="right" disable-swipe>
        <div class="filter-drawer drawer-scrollable">
          <app-toolbar class="filter-toolbar">
            <div class="actions">
            </div>
            <div main-title>[[localize('FilterDrawerHeadline')]]</div>
            <div class="actions">
              <paper-icon-button icon="goodiefy-icons:close" on-tap="toggleFilterDrawer"></paper-icon-button>
            </div>
          </app-toolbar>
          <template is="dom-if" if="[[equal(page, 'list')]]">
            <goodiefy-filter-drawer
              app="{{app}}"
              route="{{subroute}}"
              language="{{language}}"
              resources="[[resources]]"></goodiefy-filter-drawer>
          </template>
        </div>
      </app-drawer>

      <app-drawer id="searchDrawer" align="right" disable-swipe>
        <div class="filter-drawer search-drawer-wrapper">
          <app-toolbar class="filter-toolbar">
            <div class="actions">
            </div>
            <div main-title>[[localize('SearchDrawerHeadline')]]</div>
            <div class="actions">
              <paper-icon-button icon="goodiefy-icons:close" on-tap="toggleSearchDrawer"></paper-icon-button>
            </div>
          </app-toolbar>
          <template is="dom-if" if="[[equal(page, 'list')]]">
            <goodiefy-search-drawer
              app="{{app}}"
              route="{{subroute}}"
              language="{{language}}"
              resources="[[resources]]"></goodiefy-search-drawer>
          </template>
        </div>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout id="headerLayout" has-scrolling-region>

        <app-header condenses reveals effects="waterfall" id="header">
          <div>
            <app-toolbar class="main-toolbar">
              <div class="actions toolbar-left">
                <paper-icon-button icon="goodiefy-icons:menu" drawer-toggle></paper-icon-button>
                <paper-icon-button icon="goodiefy-icons:arrow-back" on-tap="back" hidden="[[backButtonHidden]]"></paper-icon-button>
              </div>
              <div main-title><img  src="../images/goodiefy-logo-visual.png" alt=""></div>
              <div class="actions toolbar-right">
                <app-favorites-button app="{{app}}" route="{{route}}"></app-favorites-button>
                <app-filter-button app="{{app}}" route="{{route}}"></app-filter-button>
                <app-search-button app="{{app}}" route="{{route}}"></app-search-button>
              </div>
            </app-toolbar>
            <app-toolbar class="sub-toolbar">
              <template is="dom-if" if="[[localize('pageTitle', 'main', page, 'pageLayer2', pageLayer2, 'pageLayer3', pageLayer3)]" on-dom-change="_resetLayout">
                <div class="page-title" main-title>[[localize('pageTitle', 'main', page, 'pageLayer2', pageLayer2, 'pageLayer3', pageLayer3)]]</div>
              </template>
            </app-toolbar>
            <div id="toolbarSpacer" class="toolbar-spacer"></div>
          </div>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            selected-attribute="visible"
            fallback-selection="404"
            role="main">
          <goodiefy-home
            name="home"
            firebase-app="[[app.firebaseApp]]"
            categories="[[categories]]"
            language="{{language}}"
            resources="[[resources]]">
            <div class="spinner-container">
              <paper-spinner active></paper-spinner>
            </div>
          </goodiefy-home>
          <goodiefy-create name="create" app="{{app}}" route="{{subroute}}" language="{{language}}" uid="[[app.firebaseUser.uid]]" resources="[[resources]]">
             <div class="spinner-container">
              <paper-spinner active></paper-spinner>
            </div>
          </goodiefy-create>
          <goodiefy-list name="list" app="{{app}}" route="{{subroute}}" language="{{language}}" resources="[[resources]]" nearby-products="[[nearbyProducts]]">
             <div class="spinner-container">
              <paper-spinner active></paper-spinner>
            </div>
          </goodiefy-list>
          <goodiefy-content name="content" app="{{app}}" route="{{subroute}}" language="{{language}}" resources="[[resources]]">
             <div class="spinner-container">
              <paper-spinner active></paper-spinner>
            </div>
          </goodiefy-content>
          <goodiefy-detail
            name="detail" app="{{app}}"
            route="{{subroute}}"
            language="{{language}}"
            resources="[[resources]]">
            <div class="spinner-container">
              <paper-spinner active></paper-spinner>
            </div>
          </goodiefy-detail>
          <goodiefy-account
            name="account"
            app="{{app}}"
            route="{{subroute}}"
            language="{{language}}"
            resources="[[resources]]">
            <div class="spinner-container">
              <paper-spinner active></paper-spinner>
            </div>
          </goodiefy-account>
          <goodiefy-404 name="404"></goodiefy-404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <paper-toast id="appMessaging" text="[[message]]">
      <a id="appMessagingAction" hidden$="[[!actionText]]" on-click="_actionHandler">[[actionText]]</a>
      <a id="appMessagingIconAction" hidden$="[[!actionIcon]]" on-click="_actionHandler"><iron-icon icon="[[actionIcon]]"></iron-icon></a>
      <a id="appMessagingClose" hidden$="[[!actionText && !actionIcon]]" on-click="_closeHandler"><iron-icon icon="close"></iron-icon></a>
    </paper-toast>
  </template>

  <script>
    Polymer({
      is: 'goodiefy-app',

      behaviors: [
        GMBehaviors.Messaging,
        GMBehaviors.SentMessageBehavior,
        GMBehaviors.LocalizationHelper,
        Polymer.AppLocalizeBehavior
      ],

      listeners: {
        'change-section': '_onChangeSection',
        'show-invalid-url-warning': '_onFallbackSelectionTriggered',
        'toggle-filter-drawer': 'toggleFilterDrawer',
        'toggle-search-drawer': 'toggleSearchDrawer'
      },

      observers: [
        '_loadUserResources(app.firebaseUser)',
        '_routePageChanged(routeData.page)',
        '_resetLayout(localize, route.path)',
        '_subRouteChanged(RouteDataLayer2, "pageLayer2")',
        '_subRouteChanged(RouteDataLayer3, "pageLayer3")',
        '_securePages(page, pageLayer2, app.config)',
        '_setUserStandardData(app.user, app.firebaseUser.uid, app.firebaseApp)',
        '_hideBackButton(page, pageLayer2, pageLayer3, app.config)',
        '_checkIfJustLoggedIn(app.firebaseUser, startedOnLogInPageFlag)'
      ],

      ready: function() {
        this.set('app.getScrollTarget', function() {
          return this.$.header.scrollTarget;
        }.bind(this));

        // allow app to send notifications
        this.app.pushNotification = this.pushMessage.bind(this);

        // allow app to sent messages to users
        this.app.sendMessage = this.sendMessage.bind(this);

        // allow app to localize dates
        this.app.getFormattedDate = this.getFormattedDate;
      },

      properties: {

        app: {
          type: Object,
          value: function() {
            return {}
          }
        },

        route: {
          observer: "_setInitialRoutePath"
        },

        page: {
          type: String,
          reflectToAttribute: true,
          observer: '_pageChanged'
        },

        pageLayer2: {
          type: String,
          value: ''
        },

        pageLayer3: {
          type: String,
          value: ''
        },

        language: {
          type: String,
          value: 'de'
        },

        resources: {
          type: Object,
          notify: true,
          computed: 'computeResources(app.config.locales)'
        },

        backButtonHidden: {
          type: Boolean,
          value: true
        }
      },

      equal: function(str1, str2){
        return str1 == str2;
      },

      _setInitialRoutePath: function(newRoute, oldRoute){
        if(!this.initialRoute){
          this.set('initialRoute', newRoute.path);
          if(newRoute.path === "/account/login"){
            this.set('startedOnLogInPageFlag', true);
          }
        }
      },

      _checkIfJustLoggedIn: function(user, startedOnLogInPageFlag){
        if(user && startedOnLogInPageFlag){
          this.set('route.path', '/');
          this.set('startedOnLogInPageFlag', false);
        }
      },

      getUserData: function(user, key){
        if(user && user.userData && user.userData[key]){
          return user.userData[key]
        } else {
          return undefined;
        }
      },

      redirectToUserInfoPage: function(){
        if(this.app.firebaseUser){
          this.set('route.path', "/account/user-info/" +this.app.firebaseUser.uid);
        }
      },

      _hideBackButton: function(page, subPage, subSubPage, config){
        if(page && config.pagesWithBackButton){
          if(config.pagesWithBackButton[page]) {
            if(config.pagesWithBackButton[page] === true) {
              this.set('backButtonHidden', false);
              return;
            } else {
              if(config.pagesWithBackButton[page][subPage]) {
                if(config.pagesWithBackButton[page][subPage] === true){
                  this.set('backButtonHidden', false);
                  return;
                } else {
                  if(config.pagesWithBackButton[page][subPage][subSubPage] === true){
                    this.set('backButtonHidden', false);
                    return;
                  }
                }
              }
            }
          }
        }
        this.set('backButtonHidden', true);
      },

      _securePages: function(page, subPage, config){
        if(page && config.securedPages){
          if(!this.app.firebaseUser){
            if(config.securedPages[page]) {
              if(config.securedPages[page] === true) {
                this.set('route.path', '/account/login');
              } else {
                if(config.securedPages[page][subPage] === true){
                  this.set('route.path', '/account/login');
                }
              }
            }
          }
        }
      },

      _loadUserResources: function(firebaseUser) {
        if (!firebaseUser) {
          return;
        }

        if (!this.userResourcesLoadComplete) {

          Polymer.RenderStatus.afterNextRender(this, function() {
            this.importHref(this.resolveUrl('lazy-user-resources.html'), function() {
              this.set('userResourcesLoadComplete', true);
            }.bind(this), null, null, true);
          }.bind(this));


        }
      },

      toggleFilterDrawer: function(){
        this.$.filterDrawer.toggle();
      },

      toggleSearchDrawer: function(){
        this.$.searchDrawer.toggle();
      },

      computeResources: function(locales){
        if(locales){
          return locales;
        }
      },

      _resetLayout: function(){
        this.$.headerLayout.resetLayout();
        if(this.localize && this.route.path){
          this.$.toolbarSpacer.hidden = true;
        }
        this.$.headerLayout.resetLayout();

      },

      _subRouteChanged: function(RouteData, key){
        if(RouteData[key]){
          this.set(key, RouteData[key]);
        } else {
          this.set(key, '');
        }
      },

      _routePageChanged: function(page) {
        /*if (this.page === 'home') {
          Polymer.AppLayout.scroll({ top: 0, behavior: 'silent' });
        }*/

        if (this.page === 'list') {
          this._listScrollTop = window.pageYOffset;
        }

        this.page = page || 'home';

        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      },

      _onChangeSection: function(event) {

        var detail = event.detail;
        // Scroll to the top of the page when navigating to a non-list page. For list view,
        // scroll to the last saved position only if the category has not changed.
        var scrollTop = 0;
        if (this.page === 'list' && this.categoryName === detail.category) {
          scrollTop = this._listScrollTop;
        }
        // Use `Polymer.AppLayout.scroll` with `behavior: 'silent'` to disable header scroll
        // effects during the scroll.
        Polymer.AppLayout.scroll({ top: scrollTop, behavior: 'silent' });
        this.set('categoryName', detail.category || '');
      },

      _onFallbackSelectionTriggered: function() {
        this.page = '404';
      },

      _pageChanged: function(page) {
        // Load page import on demand. Show 404 page if fails
        if (page != 'home') {
          var resolvedPageUrl = this.resolveUrl('goodiefy-' + page + '.html');
          this.importHref(resolvedPageUrl, null, this._showPage404, true);
        }
      },

      _showPage404: function() {
        this.page = '404';
      },

      _setUserStandardData: function(user, uid, app) {
        if(user && user.userData && uid && app){
          var ref = app.database().ref();

          var updateObjet = {};
          if(user.userData){
            if(!user.userData.registeredTimestamp){
              updateObjet['userData/registeredTimestamp'] = firebase.database.ServerValue.TIMESTAMP;
            }
            if(user.userData.notifications == undefined){
              updateObjet['userData/notifications'] = true;
            }
            if(user.userData.currency == undefined){
              updateObjet['userData/currency'] = 'EUR';
            }
            if(!user.email || user.email != this.app.firebaseUser.email){
              updateObjet['email'] = this.app.firebaseUser.email;
            }
          } else {
            if(this.app.firebaseUser){
              updateObjet['userData/registeredTimestamp'] = firebase.database.ServerValue.TIMESTAMP;
              updateObjet['userData/notifications'] = true;
              updateObjet['userData/currency'] = 'EUR';
              updateObjet['email'] = this.app.firebaseUser.email;
            }
          }
          if(user.filters){
            if(!user.filters.backgroundFilter){
              updateObjet['filters/backgroundFilter/currentLocation'] = true;
            }
          } else {
            updateObjet['filters/backgroundFilter/currentLocation'] = true;
          }
          ref.child('users').child(this.app.firebaseUser.uid).update(updateObjet);
        }
      },

      back: function(){
        var location = window.location.href;
        window.history.go(-1);
        this.goBack(location);
      },

      goBack: function(oldLocation){
        setTimeout(function(){
            if(oldLocation == window.location){
                this.back();
            }
        }.bind(this), 30);
      }
    });
  </script>
</dom-module>
