<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="shared-styles">
  <template>
    <style>

      [hidden] {
        display: none !important;
      }

      img {
        max-width: 100%;
      }

      ul, li {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      h1 {
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 28px;
      }

      h2 {
        font-weight: normal;
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      a {
        text-decoration: none;
      }

      paper-input,
      paper-textarea,
      paper-tags-input,
      paper-dropdown-menu {
        --paper-input-container-focus-color: #000;
      }

      paper-button {
        margin: 5px 0;
        color: #fff;
      }

      paper-button[disabled]{
        opacity: 0.5;
      }

      paper-button.fullwidth {
        width: 100%
      }

      paper-button.primary {
        background-color: var(--app-secondary-color);
      }

      paper-button.fullwidth {
        width: 100%;
      }

      paper-button.secondary {
        color: var(--app-secondary-color);
        border: solid 2px var(--app-secondary-color);
      }
      .tertiary {
        color: var(--app-secondary-color);
        text-decoration: underline;
        width: auto;
        margin-top: 0px;
      }

      paper-tabs {
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      paper-tab {
        min-height: 70px;
        text-align: center;
        border-right: solid 1px var(--divider-color);
      }

      paper-tab:last-child {
        border-right: 0;
      }

      paper-tab.iron-selected {
        color: var(--active-color);
      }

      paper-tab .counter {
        font-size: 18px;
      }

      paper-dialog .buttons{
        padding-right: 24px !important;
      }

      paper-dialog.fullsize {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        overflow: auto;
      }

      paper-dialog-scrollable {
        --paper-dialog-scrollable: {
          margin: auto;
        };
      }

      category-tile .teaser-headline {
        margin: 0;
        font-weight: normal;
        font-size: 24px;
      }

      category-tile .teaser-description {
        margin: 0;
        font-size: 12px;
      }

      category-tile .teaser-description strong {
        font-weight: normal;
      }

      user-avatar {
        --user-avatar-dimensions: 40px;
      }

      user-avatar.large {
        --user-avatar-dimensions: 80px;
        margin: auto;
        padding: 15px;
      }

      a user-avatar .avatar-info {
        color: white;
        padding-top: 18px;
        left: 50px;
      }

      a user-avatar {
        margin-top: -4px;
        top: -40px;
        left: 0;
      }

      user-avatar.horizontal formatted-user-name {
        float: left;
      }

      user-avatar .avatar-info {
        font-size: 12px;
        position: absolute;
        padding-top: 5px;
        padding-bottom: 5px;
        top: 0;
        left: 60px;
        white-space: nowrap;
      }

      .avatar-info {
        font-size: 28px;
        left: 0;
        white-space: nowrap;
      }

      .drawer-scrollable {
        overflow: auto;
        max-height: 100%;
      }

      .content-container {
        max-width: 1280px;
        margin: auto;
      }

      .create-steps-content {
        padding: 0 30px;
      }

      .create-steps-content h1,
      .create-steps-content h2 {
        font-weight: normal;
      }

      .create-steps-content h1 {
        font-size: 25px;
      }

      .create-steps-content h2 {
        font-size: 12px;
      }

      .actions {
        max-width: 800px;
        margin: 0 auto;
      }

      .actions.spacer {
        padding: 0 20px;
      }

      .actions a {
        text-decoration: none;
      }

      .actions.actions-fixed {
        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%);
        white-space: nowrap;
      }

      .list-item {
        color: var(--app-secondary-text-color);
      }

      .list-item .image-container {
        text-align: center;
      }

      .list-item .details {
        padding: 5px 10px;
        padding-top: 0;
      }

      .list-item .item-title {
        font-size: 16px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 10px;
      }

      .list-item .item-properties {
        font-size: 10px;
      }

      .item-content {
        padding: 20px;
      }

      .item-detail {
        max-width: 600px;
      }

      .item-detail .detail-title {
        margin-top: -25px;
      }

      .item-detail-header {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: uppercase;
        background: #ffd654;
        color: white;
      }

      .item-detail .item-property-container {
        width: 50%;
      }

      .item-detail .item-property-container.left {
        float: left;
      }

      .item-detail .item-property-container.right {
        float: right;
      }

      .item-detail .item-property {
        font-size: 12px;
        line-height: 16px;
      }

      .item-detail .item-property.description {
        margin: 1em 0;
      }

      .item-detail .content-container-section {
        padding-left: 20px;
        padding-right: 20px;
      }

      .item-detail .sales-locations {
        margin-top: 1em;
        background: #e1dfdf;
      }

      .item-detail .sales-locations .infos {
        padding: 20px;
        padding-bottom: 10px;
      }

      .item-detail .sales-locations .infos .detail-content {
        margin-bottom: 10px;
      }

      .item-detail .sales-locations .infos h2 {
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: normal;

      }

      .item-detail .content-container-section.helping-hand,
      .item-detail social-media {
        margin-top: 45px;
      }

      .item-detail social-media {
        padding-bottom: 50px;
      }

      .content-container-section.translateable {
        position: relative;
      }

      .content-container-section.translateable google-translate {
        --translate-actions: {
          position: absolute;
          top: 0;
          right: 15px;
          width: 30px;
        }
      }

      .subtitle{
        text-align: center;
        margin-bottom: 20px;
      }

      .create-steps-content h1 {
        margin-top: 50px;
        margin-bottom: 0;
      }

      .create-steps-content h2 {
        margin-top: 10px;
        margin-bottom: 50px;
      }

      .static-content {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 45px;
      }

      .static-content h1,
      .static-content h2 {
        color: #000;
        text-align: center;
      }

      .static-content .description {
        font-size: 14px;
      }

      .static-content category-tile .description {
        text-align: left;
        color: var(--app-secondary-text-color);
      }

      .static-content .header-description,
      .static-content .sign-up-button {
        text-align: center;
      }

      .static-content  category-tile {
        --category-tile-padding: 20px;
      }

      .spinner-container {
        text-align: center;
        padding-top: 25px;
      }

      .clearfix:before,
      .clearfix:after {
        content:"";
        display:table;
      }
      .clearfix:after {
        clear:both;
      }

    </style>
  </template>
</dom-module>
